[2020-04-17 22:27] wdwatkins commented on #430
👏  nice!  The visuals look great.

For applications that don't have data for the entire period, it looks like they just show nothing.  Is it possible to have them just start whenever they have data?  So make the reference point whenever each application first has data, rather than a fixed point for all apps?

I will have the long-term data uploaded shortly.  I pulled it just by year and month, but

[2020-04-20 14:45] mhines-usgs commented on #419
latest from tableau suggesting its something on our side..
![image](https://user-images.githubusercontent.com/6920344/79764894-92cc2800-82eb-11ea-9d48-2bd0b8125553.png)

and the person from usgs service desk telling me to go to DOI :hair-pulling:
![image](https://user-images.githubusercontent.com/6920344/79764964-a6778e80-82eb-11ea-877d-5e62e7871881.png)

[2020-04-20 15:08] mhines-usgs commented on #430
I'll have to look into that, I am not sure. Do you have an example?

If you have it in CSV I can use that, for now I cannot use any of the parquet files until the Athena stuff is sorted out.

[2020-04-20 15:28] mhines-usgs commented on #430
oh I think I see what you mean, the apps that are just flat lined or have nothing appearing in the heatmap? I can dig around but I'm not sure what would cause them to show nothing at all other than lack of data..

[2020-04-20 15:36] mhines-usgs commented on #430
weird, yes, there is a lot of 0 data there, for example, in the nwis web ng beta until 2019, but it seems like that breaks the trend view and heatmap view altogether rather than picking up like you would like. I can try filtering the 0s out maybe.

[2020-04-20 17:39] wdwatkins commented on #430
The zeros are an artifact from the Google Analytics API, it does that when there is no data (NG beta is the new site pages that were just released last year).  I just uploaded a csv of the new data, `long_term_monthly.csv`.  I filtered out the zeros from that one.

[2020-04-20 17:51] mhines-usgs commented on #430
thanks, grabbing that to try that out. I tried filtering in Tableau and it looks exactly the same. If it is the same with this dataset, i'll dig around in their forums to see if there is something I'm misusing/misunderstanding in that calculation window i posted above.

[2020-04-20 21:24] mhines-usgs commented on #430
@wdwatkins do you mind summarizing it daily instead of monthly? could you also include the fiscal year in the data too, if possible?

[2020-04-20 21:26] mhines-usgs commented on #430
ah, nevermind, it's handling it just fine!

[2020-04-20 21:52] mhines-usgs commented on #430
what I did lose though was the Fiscal Year column if you might be able to add that back in?

[2020-04-20 23:15] wdwatkins commented on #430
I uploaded a new version

[2020-04-21 18:30] lindsayplatt opened #449 "New branch for deploying WBEEP with multiple factors visible"
Related to adding new factors at the end of this quarter. We need a solution for how to navigate to all 3 factors (water storage, water use, and water temperature) from the existing URL (labs.waterdata.usgs.gov/estimated-availability).

Create a new feature branch for us to deploy these new changes to (just in case we need to switch and deploy a change to the existing prod site in the meantime). P

[2020-04-21 18:34] lindsayplatt opened #450 "Create two placeholder views to represent new factors"
Related to adding new factors at the end of this quarter. We need a solution for how to navigate to all 3 factors (water storage, water use, and water temperature) from the existing URL (labs.waterdata.usgs.gov/estimated-availability).

In order to demonstrate this new navigation, we should use two placeholder vizzies to represent the view & technology that would be used. They should be very bare-

[2020-04-21 18:41] lindsayplatt opened #451 "Explore & choose an option for the new navigation"
Related to adding new factors at the end of this quarter. We need a solution for how to navigate to all 3 factors (water storage, water use, and water temperature) from the existing URL (labs.waterdata.usgs.gov/estimated-availability).

- [x] Identify possibilities for how the new navigation could work (e.g. URL could show storage as a default with tabs on the top that allow you to choose a differ

[2020-04-21 20:38] abriggs-usgs commented on #449
For this task, I am leaning toward the creation of a new repository and using the Nuxt framework to scaffold the application. I'm thinking this changeover would take one workday, if there are no issues. If I try and it seems like a massive time consuming hole, we can change tactics and go with our standard Vue architecture. Creating a new repository will leave the existing application untouched un

[2020-04-21 20:41] abriggs-usgs commented on #451
For this task, I think the best choice would be to use three routes: 1) https://labs.waterdata.usgs.gov/estimated-availability/natural-water-storage, 2) https://labs.waterdata.usgs.gov/estimated-availability/temperature-prediction, and 3) https://labs.waterdata.usgs.gov/estimated-availability/water-use. We will need to change the default/root route of the application so that users who have bookmar

[2020-04-21 21:01] abriggs-usgs commented on #450
I am favoring the addition of buttons at the top of the page that look like tabs for the navigation to the three views. Something along the lines of . . . (the styling is open for change)
![image](https://user-images.githubusercontent.com/36997804/79913491-4ebf4d00-83e9-11ea-8290-4379315f7cc0.png)

[2020-04-22 15:16] mhines-usgs commented on #440
she said any of the 'zigzag' plots would be ideal to use this FY instead.
i addressed this in some changes on the dashboards.

[2020-04-22 15:35] #310 closed

[2020-04-22 15:35] #432 closed, assigned to wdwatkins

[2020-04-22 15:36] mwernimont opened #452 "NGWMN - Map SRWMD water levels"

[2020-04-22 15:36] mwernimont opened #453 "NGWMN - Map Nestle water level web services"

[2020-04-22 15:38] #388 closed

[2020-04-22 15:59] mwernimont opened #454 "Create Egret Image for DeCicco"

[2020-04-22 17:01] lindsayplatt commented on #443
@wdwatkins I think it is safe to call this one complete?

Outcomes:
- ~2500 visits since January 15th
- 30% of visits interacted with the page in some way (i.e. interacted with the map, went to the Q&A page, etc)
- 14% of visits went to the Q&A page

[2020-04-22 17:30] wdwatkins commented on #443
yep

[2020-04-22 17:30] #443 closed, assigned to wdwatkins

[2020-04-22 20:39] mhines-usgs commented on #419
it was an apostrophe in my password.

😠

[2020-04-23 15:05] mhines-usgs opened #455 "Update waterwatch treatments"
- [x] update with data from today so it has more of the network represented (lots missing in Feb due to iced out gages)
- [x] thin/lighten state lines
- [x] thin/lighten rivers
- [x] make normal dots easier to read from background color
- [x] re-fake area in CA/OR with low data
- [x] make the area in the southeast have a few more black dots concentrated in one state

[2020-04-23 16:12] mhines-usgs commented on #455
meet with jen 4/23 @12 to chat about these, she has some ideas to include.

[2020-04-23 16:26] mwernimont commented on #454
Progress thus far: https://github.com/mwernimont/GraphicDesign/tree/master/People/DeCicco/EGRET

[2020-04-23 18:23] #444 closed, assigned to mhines-usgs

[2020-04-23 20:48] wdwatkins opened #456 "Get dashboard ready for advertising for beta use"
Before we release for internal use:

Dashboard updates nightly
- [x] finish off #431
- [x] #448 , and set job to run nightly, and adjust Jenkinsfile files to new directory structure for Athena

---------
- [x] Sharepoint form connection works #419
- [x] Settle on how relative trends are computed and verify its working as expected in Tableau #430

[2020-04-23 21:00] wdwatkins opened #457 "Create map view of traffic"
Probably traffic by state over a time period.  Could have a view of absolute traffic, and the traffic proportional to population code used in the current dashboard.

David will pull data for this first

[2020-04-23 21:01] wdwatkins opened #458 "Setup content groupings for pages in major products"
Will need to work with POs on this.

Questions:

- Should groupings be applied in Google Analytics, or in the pipeline?  in GA would be more elegant going forward and make them useful in the UI, but they wouldn't be retroactive.  To apply in pipeline, could maybe set up a spreadsheet of regexes and group names that could be programmatically applied
- Which products are worthwhile?  And what groups

[2020-04-23 21:19] wdwatkins commented on #428
Data should be ready to go here: https://wma-analytics-data.s3-us-west-2.amazonaws.com/dashboard/test/parquet/year_month_week/year_month_week_traffic.parquet

[2020-04-24 14:02] #452 closed, assigned to mwernimont

[2020-04-24 14:35] mwernimont commented on #454
Accepted Image
![egret-02](https://user-images.githubusercontent.com/6390096/80224098-dafe8980-860e-11ea-88fc-aeb9d306304f.png)

[2020-04-24 14:35] #454 closed, assigned to mwernimont

[2020-04-24 14:35] mwernimont opened #459 "Create HASP Image for DeCicco"

[2020-04-29 14:31] lindsayplatt commented on #442
Rough shape outlines are in [this folder](https://doimspp.sharepoint.com/:f:/r/sites/gs-wma-iidd-makerspace/Shared%20Documents/Project%20-%20River%20Conditions%20Animation/FY20_Q2?csf=1&web=1&e=NfC40I). Please name the new images with the same pattern, just drop the `_data` part (e.g. `callout_5_data.png` becomes `callout_5.png`). The size has slightly changed, so there is a new base map image tha

[2020-04-30 14:09] mwernimont commented on #442
@lindsayplatt put the callouts into that folder for review

[2020-04-30 14:09] #459 closed, assigned to mwernimont

[2020-04-30 16:39] lindsayplatt commented on #442
@mwernimont could you shrink the FL shape a little bit? Otherwise 👍

![image](https://user-images.githubusercontent.com/13220910/80736043-3630f000-8ad7-11ea-9193-35c6af086527.png)

[2020-05-01 16:29] wdwatkins opened #460 "Replace old viz header/footers, move to labs"
For all old vizzies hosted on CIDA and OWI domains, we need to

a) copy them to ~~labs.waterdata.usgs.gov/vizlab~~ labs.waterdata.usgs.gov/visualizations (hosted in S3)
b) Swap out the header/footer for the lab version.  @abriggs-usgs  has already done this for waterservices home page https://internal.cida.usgs.gov/jira/browse/NWED-1282
c) Should probably do a global search and replace in all the

[2020-05-01 19:24] wdwatkins commented on #460
Once the re-headered versions are up on labs, we can set up redirects from the old addresses.

[2020-05-04 16:10] lindsayplatt commented on #442
Callouts are great and incorporated into the group sponsor-approved animation. 👍

[2020-05-04 16:10] #442 closed, assigned to mwernimont

[2020-05-05 20:04] mhines-usgs commented on #419
just replaced the data source for this with the sharepoint list here
https://doimspp.sharepoint.com/sites/gs-wma-iidd-makerspace/Lists/Google%20Analytics%20Annotations

I believe this is currently only editable by Makerspace people? So we may need to consider inviting people or somehow making it more broadly available - maybe migrating to IIDD SharePoint or? Not sure how broad it needs to be

http

[2020-05-05 20:04] mhines-usgs commented on #419
There is no "live" connection with the SharePoint list option, but I set it to update every day at 4am. Hopefully that is frequently enough. There are only three options it seems?

![image](https://user-images.githubusercontent.com/6920344/81110954-eb9de200-8ee1-11ea-8679-1ff9c66afb42.png)

[2020-05-05 23:07] mhines-usgs commented on #431
each of the parquet files in s3 now has a table in the analytics_test database in athena
stashing the bulk column add details here

[code]

[2020-05-06 20:00] abriggs-usgs commented on #451
Pull Request - https://github.com/usgs-makerspace/wbeep-viz/pull/359
Made changes to the URLs and related routing mostly matching what was noted above. The exact naming of the URLs is a minor chance (at this point), and can be altered if needed.

[2020-05-06 20:06] abriggs-usgs commented on #450
Pull Request - https://github.com/usgs-makerspace/wbeep-viz/pull/359

Added place holder views. They are just text at the moment. I was going to add place holder maps, but then I thought it would be better to wait on that until we started the actual implementation since to add the base maps is a minor task, but exactly what we would like to add may be different depending on implementation. If othe

[2020-05-06 20:24] abriggs-usgs commented on #449
Pull Request - https://github.com/usgs-makerspace/wbeep-viz/pull/359

Okay, I totally changed my plan on this on. After working with Nuxt for a couple days, I found that it did many nice things that would have been great to add to our applications. However, it also completely changed the build process including how Vue implements environment variables. Since we made extensive use of environment va

[2020-05-06 21:59] mhines-usgs commented on #419
The nightly refresh failed, and I've been emailing with someone at the CHS help desk about it. He thinks the driver might be the problem.. he reinstalled and wasn't sure if the server needed to restart or not, and has not restarted yet. When I tried to refresh it again from the Tableau Server side after he reinstalled the driver, it fails the same way still.

So either he has to restart something

[2020-05-07 14:05] lindsayplatt commented on #450
I think text is fine - the new iteration that starts today will be creating the content anyways :)

[2020-05-07 14:06] lindsayplatt commented on #450
I would call this complete 👍

[2020-05-07 14:06] #450 closed, assigned to abriggs-usgs

[2020-05-07 14:10] lindsayplatt commented on #449
Cool - I'd like to talk strategy for developing water use and water temp simultaneously at today's meeting. However, I think that is beyond this task. We've got a way to deploy our current changes to test while still being able to make a change to natural water storage and push it out to prod thanks to the feature toggles, so 👍

[2020-05-07 14:10] #449 closed, assigned to abriggs-usgs

[2020-05-07 14:11] lindsayplatt commented on #451
You say the URL words are a minor change "at this point" - should we be concerned about a time where changing them does not become minor? I anticipate WBEEP MT wanting to weigh in on the URL naming conventions.

[2020-05-07 14:15] lindsayplatt opened #461 "Water temp: Create CSVs of stream temp data for 4 different days"
Use temperature data from Steve and save 4 CSVs - one representing each season. Include date in filename to do parsing.

Put into S3 - see different buckets and follow the same pattern as natural water storage.

[2020-05-07 14:16] abriggs-usgs commented on #451
Yeah, that is what I mean. Once we start to hand out the URL to people to test, we won't be able to come back and change them . . . well we can, we will just be stuck with rerouting the old URLs to the new ones.

[2020-05-07 14:21] lindsayplatt opened #462 "Water temp: Create GeoJSON of stream reaches"
Using the [shapefile of stream reaches](https://doimspp.sharepoint.com/:f:/r/sites/gs-wma-iidd-makerspace/Shared%20Documents/Project%20-%20WBEEP%20NHM/Availability%20factor%20-%20water%20temperature/data?csf=1&web=1&e=TaQ2S2), create a GeoJSON file. We should probably script this (a la [wbeep-processing](https://github.com/usgs-makerspace/wbeep-processing)) because the reaches may be updated sligh

[2020-05-07 14:25] lindsayplatt opened #463 "Water temp: Create tiles of streams using Tippecanoe"
Using GeoJSON created in #462, create vector tiles using Tippecanoe 🛶

Best to create a Jenkins job as part of this. See existing process for going from GeoJSON to tiles in [wbeep-processing](https://github.com/usgs-makerspace/wbeep-processing)

[2020-05-07 14:27] lindsayplatt opened #464 "Water temp: Join data to tiles"
Once we have the tiles (#463) and the data (#461), choose one of the days and join its data to the tiles (again, examples in [wbeep-processing](https://github.com/usgs-makerspace/wbeep-processing)). Make it pretty easy to swap out the day that is being used in the join (similar to how we do it now with natural water storage) so that we can build with a different day to see how it looks.

[2020-05-07 14:34] lindsayplatt opened #465 "Water temp: Add Mapbox framework for the temp map"
We know we are going to use MapBox to create a map of CONUS with stream reaches as tiles. This issue is about getting an initial MapBox framework with a basic CONUS view ready and on test. Later steps will include displaying the stream network and iterating on basemaps that make sense to display underneath the streams.

[2020-05-07 14:37] lindsayplatt opened #466 "Water temp: Display stream network on map"
Time to add the tiles created in #463/#464 and add them to the map set up in #465. Push to test.

[2020-05-07 14:39] lindsayplatt opened #467 "Water temp: Create basic color ramp for the data values"
After #466, color the reaches based on their temperature values with a very basic blue to red ramp (0 = blue, 30 = red). Push to test.

Iterating on the colors used will happen in a different task.

[2020-05-07 14:42] lindsayplatt opened #468 "Water temp: Iterate on basemaps shown under stream network"
What basemaps look good underneath our colored stream reaches? After #467, iterate on what basemaps are used (cities, terrain, etc). Share options that you think look good with the group to help hone in on a final decision. Keep in mind that while the blue-red color ramp will likely change, the reaches will be colored by their data no matter what.

[2020-05-07 14:46] lindsayplatt opened #469 "Water temp: Add placeholder intro text"
We will iterate on the exact language later, but the goal of this issue is to create a place on/near/next to (however you would like to implement it) the map for introductory text about water temperature and water quality. Use the text that we have right now in slide 2 of the [concept map](https://doimspp.sharepoint.com/:p:/r/sites/gs-wma-iidd-makerspace/Shared%20Documents/Project%20-%20WBEEP%20NH

[2020-05-07 14:50] lindsayplatt opened #470 "Water temp: Iterate on colors for absolute temperature"
Spend time changing the color ramp to illustrate water temperature. I think you could also change the ramp breaks - maybe it's not even a continuous scale (0-5 = dark blue, 6-10 = blue, and so on). Just explore.

Basic blue to red might be right in the end, but we want to make sure we truly agree with that. Share the examples you like with the team for feedback.

[2020-05-07 14:59] lindsayplatt opened #471 "Water temp: Create example of a button zooming to a region to highlight an example"
We don't have examples for these scenarios yet, but it would be good to test out that technical implementation of this. See slide 3 of the [concept map](https://doimspp.sharepoint.com/:p:/r/sites/gs-wma-iidd-makerspace/Shared%20Documents/Project%20-%20WBEEP%20NHM/Availability%20factor%20-%20water%20temperature/Pitch_for_WBEEP_MT.pptx?d=w5dba08180de340c2be37fd19d7d9a4da&csf=1&web=1&e=tgGKHm) for an

[2020-05-07 15:39] mhines-usgs commented on #431
as I'm replacing data connections to the Athena published connection, it seems like I have to use a data extract rather than live connection, which hopefully should be OK since we are only updating the data once a day, in order to use several of the calculated field functions like makedate. https://community.tableau.com/thread/193967

[2020-05-07 16:12] lindsayplatt opened #472 "Water use: Get example WU data"
Reformat (if needed) data from WU team. Right now, we only have thermoelectric.

[2020-05-07 16:12] lindsayplatt opened #473 "Water use: Get example spatial data"
At first, they had the wu & spatial data together. Should be separate now. Reformat as needed. Where should we put it?

[2020-05-07 16:14] lindsayplatt opened #474 "Water use: Make simple bar chart"
Make simple bar chart in R to make sure the data will make sense that way. Will this water use data even look good as a regular bar chart? Need to do this check before we try to make a radial chart. Test out monthly vs daily views, too.

[2020-05-07 16:16] lindsayplatt opened #475 "Water use: Make a radial chart in d3"
Needs #474 to happen first. Current understanding of what is needed is pretty vague, so this will be pretty exploratory. We may need to break this out into multiple tasks later. Also, I am unsure of how data needs to be formatted to be optimal for this type of chart. See slide 3 in our [concept pitch](https://doimspp.sharepoint.com/:p:/r/sites/gs-wma-iidd-makerspace/Shared%20Documents/Project%20-%

[2020-05-07 16:18] lindsayplatt opened #476 "Water use: Make map with data as bubbles"
We know that we want a bubble map view of the data right now. It will go below the radial charts. We basically want to recreate https://owi.usgs.gov/vizlab/water-use-15 in a MapBox map (or maybe not, maybe we want d3?). Either way, we want to create a map with bubble data.

[2020-05-07 16:20] lindsayplatt opened #477 "Water use: Make the radial chart into a "play" button"
Make the radial chart into a "play" button and link to map circles to cycle through monthly data. Depends on #475 being complete. We want to actually have that radial chart operate as a button to play the animation. See slide 4 in our [concept pitch](https://doimspp.sharepoint.com/:p:/r/sites/gs-wma-iidd-makerspace/Shared%20Documents/Project%20-%20WBEEP%20NHM/Availability%20factor%20-%20water%20us

[2020-05-07 18:37] mhines-usgs commented on #455
![control_jet_final](https://user-images.githubusercontent.com/6920344/81331892-e2d71880-9067-11ea-8c33-1503342d7265.png)
![treatment1_brown_blue_final](https://user-images.githubusercontent.com/6920344/81331905-e5d20900-9067-11ea-906f-5df8b5d873ec.png)

[2020-05-07 18:38] #455 closed, assigned to mhines-usgs

[2020-05-07 18:40] mhines-usgs commented on #419
He had something misspelled i guess? anyway, it's finally working.. at least on the manual forced refresh. tonight will be the true test I suppose.

[code]

[2020-05-07 18:41] #419 closed, assigned to mhines-usgs

[2020-05-07 18:41] #439 closed, assigned to nobody

[2020-05-07 18:41] #438 closed, assigned to nobody

[2020-05-07 18:41] #436 closed, assigned to nobody

[2020-05-07 18:42] #411 closed

[2020-05-07 18:42] #440 closed, assigned to nobody

[2020-05-07 18:51] lindsayplatt opened #478 "Water use: animate map dots through time"
Get mapbox to animate the dots through time. Do this before #477.

[2020-05-07 19:15] mhines-usgs commented on #462
working on a quick and dirty tile set for @abriggs-usgs, just sharing what the network looks like after using mapshaper to turn the shp into geojson

![image](https://user-images.githubusercontent.com/6920344/81335470-47e13d00-906d-11ea-9ab8-5285e70754c9.png)

[2020-05-07 21:03] lindsayplatt commented on #451
After this iteration, I will loop in the WBEEP MT to have a conversation about names, so that we can finalize before any of this gets shared more broadly.

[2020-05-07 21:03] #451 closed, assigned to nobody

[2020-05-07 22:15] mhines-usgs commented on #462
@abriggs-usgs there are some quick and dirty (naked, meaning no temp data yet) tiles i made using these steps:

using the original shapefile from lindsay,
putting it through arcmap to get it into EPSG:4326,
uploading to mapshaper to get geojson,
run geojson through tippecanoe to generate the pbfs, (only zooms 0-6)
pushed to s3 from the command line

they're in s3://maptiles-prod-website/segAllConu

[2020-05-07 22:26] abriggs-usgs commented on #462
Nice! The zoom levels to 6 is a probably a fine start. I am guessing that with the stretch goal 'zoom to area' we will need more levels, but that won't be for a while.

[2020-05-08 21:41] mhines-usgs commented on #462
Created an R script to convert the shapefile into EPSG:4326 so mapbox will like it,

Created a Jenkinsfile to run that conversion as well as the ogr2ogr conversion to geojson

Created a Jenkins file to run them
https://jenkins.wma.chs.usgs.gov/job/MakerSpace/job/waterTemp_streams_convert_shp_to_geojson/
https://github.com/usgs-makerspace/wbeep-processing/pull/153

[2020-05-08 21:46] lindsayplatt commented on #461
Created by taking Steve's example data that was sent and running:

[code]

[2020-05-08 21:48] lindsayplatt commented on #461
Put the 4 CSVs on the `prod-owi-resources` bucket under wbeep. Our existing process joins data from `/model_output_csv/` in that bucket to the tiles. So, I created `/wtr_model_output_csv/` (where wtr = water temperature). The 4 CSVs created using the code above are at that location. Once we get to the operational data part, we will send our cleaned/transformed data to `/wtr_model_output_csv/`.

[2020-05-08 21:51] lindsayplatt commented on #464
Data now available at `/wtr_model_output_csv/` per https://github.com/usgs-makerspace/makerspace-sandbox/issues/461!

[2020-05-08 22:17] mhines-usgs commented on #463
Created the naked tiles using a Jenkinsfile
https://jenkins.wma.chs.usgs.gov/job/MakerSpace/view/Water%20Temp/job/tippecanoe_build_segsAllConus_tileset/1/console

Tiles went to: s3://prod-owi-resources/resources/Application/wbeep/test/segsAllConus/tilesSegsAllConus

Tested with code in my fork but will modify to point at master in the canonical repo and make a PR

[2020-05-08 22:27] mhines-usgs commented on #463
PR https://github.com/usgs-makerspace/wbeep-processing/pull/153

[2020-05-08 22:55] mhines-usgs commented on #464
Created a jenkinsfile to do the tile join, initially with just the fall csv, but i can think up a better scheme so we could switch them around as needed (perhaps with a pre-populated drop down list?) but eventually we'll need it to pull the date from somewhere like we do with the original water availability tile model output.

part of the other PR https://github.com/usgs-makerspace/wbeep-processin

[2020-05-08 22:57] mhines-usgs commented on #464
tiles showed up where expected: s3://wbeep-test-website/waterTemperature/tiles/ (this spot can change or it should be 'protected' during the project build if this is a good spot, let me know, @abriggs-usgs ) - modified jenkinsfile to use canonical and committed that change.

[2020-05-09 12:00] abriggs-usgs commented on #465
Pull Request -  https://github.com/usgs-makerspace/wbeep-viz/pull/361

Nothing exciting here, just adds the base maps.

[2020-05-09 12:23] abriggs-usgs commented on #464
This is pretty close to the right location. But because we had to nest the application inside the 'estimated-availability' folder so that it could be deployed to 'labs' the needed location should be  s3://wbeep-test-website/estimated-availability/tiles/waterTemperature. Since the 'tiles' folder is already protected from deletion during the build, your tiles should be safe there.

[2020-05-09 13:19] mhines-usgs commented on #464
OK, I'll adjust that, I knew there was some nuance I was forgetting! thanks. 🙃

[2020-05-11 14:40] mhines-usgs commented on #464
right now in order to change the date we want to look at, just have to adjust this line here and re-run the tile join job
https://github.com/usgs-makerspace/wbeep-processing/pull/153/commits/4b531093dd4e7944036524d0c2de117f81cb47b2#diff-dca6d7fb6500f5f37bf316f0c445c98aR32

[2020-05-11 14:41] mhines-usgs commented on #464
Adjusted here: https://github.com/usgs-makerspace/wbeep-processing/pull/153/commits/5d58e70996e152da66f8f0eb9a9831e20241d5e9

[2020-05-11 14:46] mhines-usgs commented on #462
if we want to change the zoom level, that's pretty easy, change the 6 here to something else https://github.com/usgs-makerspace/wbeep-processing/pull/153/files#diff-354c4d4a6fcc765301afc417f6e4b4abR44

[2020-05-11 15:34] mhines-usgs commented on #461
@lindsayplatt hey - any chance you could do a switcharoo in your file so that the nhm_seg field that we're joining with the 'naked' stream segments tiles is the first field in the csv? I manually changed the 10-25 date csv after noticing that the data weren't showing up in the final tiles from my processing and that did work, so now i see the temp data in the final files
![image](https://user-imag

[2020-05-11 16:15] lindsayplatt commented on #461
Should be updated now! And updated the code above to reflect this change with rearranging columns.

[2020-05-11 16:51] abriggs-usgs commented on #466
Pull Request - https://github.com/usgs-makerspace/wbeep-viz/pull/363

This adds the tiles Megan and Lindsay created to the Temperature Prediction Map

[2020-05-11 16:57] lindsayplatt commented on #472
Actually ended up merging this one with #473 bc we wanted a geojson with bubble sizes and locations for the map (#476). Manually ran code that transformed the withdrawal values into appropriately sized radii for the d3 bubbles. Then, joined with the HUC12 centroid dataset.

[2020-05-11 18:28] mhines-usgs opened #479 "Water temp: Improvements to tile-making process"
- [x] currently hardcoded to create tiles for a single dated csv file, at some point when we have updating data, will need to revamp the tile-join process to pick up latest and re-generate tiles with latest data
- [ ] not scheduled right now, once we know the schedule we can schedule the job or trigger in some way
- [ ] none of the 3 jobs are triggered or linked right now by any changes or timers,

[2020-05-11 20:26] abriggs-usgs commented on #467
Pull Request -  https://github.com/usgs-makerspace/wbeep-viz/pull/364

This is pull request is not intended to be the final product. What it does, is show that Mapbox expressions can make a continuous color gradient straight from GeoJSON data. It allow shows is that there is some awkwardness in this approach. But I wanted people to get a sense of the advantages and limitations.

[2020-05-11 23:25] wdwatkins commented on #448
done with https://github.com/usgs-makerspace/analytics_pipeline/pull/4

[2020-05-11 23:25] #448 closed, assigned to nobody

[2020-05-12 19:54] mhines-usgs opened #480 "Create small makerspace jenkins node"
the makerspace node is beefy in order to work with large geospatial datasets, and we don't need all those resources for most of our work.

should be information here on how to create another node https://code.chs.usgs.gov/ctek/documentation/-/blob/master/apps/jenkins/README.md

[2020-05-12 19:54] mhines-usgs opened #481 "Convert jobs that aren't using makerspace jenkins nodes to use makerspace jenkins nodes"
email from Ivan on 5/12 about this
linked to this repo with more details: https://code.chs.usgs.gov/ctek/documentation/-/blob/master/apps/jenkins/README.md

effectively any makerspace job in this view should be modified: https://jenkins.wma.chs.usgs.gov/label/project:any/

[2020-05-13 12:57] abriggs-usgs commented on #467
Pull Request - https://github.com/usgs-makerspace/wbeep-viz/pull/367

Based on the imperfect solution in the previous pull request, which used Mapbox expressions to create a continuous scale. I decided to go with a 20 step bracketed scale, which in effect creates a continuous color ramp. I also added a set of input fields so that we can test out any set of Hex color values 'on the fly'.

[2020-05-13 15:35] abriggs-usgs commented on #467
Pull Request - https://github.com/usgs-makerspace/wbeep-viz/pull/368

Added button for three sample 20 step color ramps and a toggle to darken the background

[2020-05-13 18:28] mhines-usgs commented on #431
all the existing plots are now using athena as data source. moving on to the other two plots (geo and bar graph for exec dash)

[2020-05-13 18:29] mhines-usgs commented on #456
I switched to the athena data source and updated the iow and flagship apps plots to use the backfill=false as a filter. the heat map tables also are updated with the new data. all pushed up to tableau server too (internal)

[2020-05-13 19:13] mhines-usgs commented on #457
created a few quick views, 1 with a geographic view of the states and then a list of states and countries with session totals for now, noted in Teams that the data file doesn't seem to have the year/month/week field built in, but can go back and adjust when it is there

https://tableau.chs.usgs.gov/#/views/AnalyticsDashboardExploration-Embedded/GeographicDashboard

[2020-05-13 21:52] mhines-usgs commented on #428
added a portfolio view dashboard that has 5 different toggleable options, all apps, top 10, top 5, IoW apps and Flagship apps. it also has a switch to go between year/month/week.

if we wanted fiscal quarter toggle, i can try to add that too now (per the mockup https://davidwatkins897092.invisionapp.com/freehand/exec-council-dashboard-JDtMtf11z?v=zHvmtVrkQXNVllYjItmERw%3D%3D&linkshare=urlcopied) a

[2020-05-13 22:02] mhines-usgs commented on #428
nevermind the quarters, we don't have the data here for that!

[2020-05-14 15:09] abriggs-usgs commented on #471
Pull Request - https://github.com/usgs-makerspace/wbeep-viz/pull/370

This is intended to be an example of what can be done, not a final product. That said, I added three buttons that allow the user to jump to a region of interest. In each 'region of interest' I have added highlights to stream 'reaches'. The highlights are determined by temperature, with the 'salmon habitat' highlighting areas tha

[2020-05-14 15:23] mhines-usgs commented on #434
i added a new plot called page load/exit rate to the workbook with the new exit rate column and added that to the response time dashboard too as an option in the drop down list.

[2020-05-14 15:23] mhines-usgs commented on #434
![image](https://user-images.githubusercontent.com/6920344/81953133-eff68900-95cc-11ea-985d-1eeba881b07d.png)

[2020-05-14 15:24] mhines-usgs commented on #434
one weird thing I'll look at later, i think some of the exit rates might be over 100, but i thought that was a percentage, but maybe it's not. let me know @wdwatkins

[2020-05-14 16:07] wdwatkins commented on #434
Yes, it is a percentage

[2020-05-14 16:41] mhines-usgs commented on #441
Subscriptions work as explained by the CA folks who originally requested them https://doimspp.sharepoint.com/:b:/r/sites/gs-chs-community/Shared%20Documents/Tableau/Tableau%20Subscriptions%20and%20Alerts.pdf?csf=1&web=1&e=ddsBIn

The limitation is that the people who can create/receive alerts/subscriptions also must have a tableau account. I also have noticed that there is no subscription button o

[2020-05-14 16:59] mhines-usgs commented on #441
Just messaged with someone and they just didn't have it enabled! It's enabled now. :)

[2020-05-14 19:59] #453 closed, assigned to mwernimont

[2020-05-15 14:16] lindsayplatt commented on #465
Yay base maps! 👏

[2020-05-15 14:16] #465 closed, assigned to abriggs-usgs

[2020-05-15 14:17] #461 closed, assigned to lindsayplatt

[2020-05-15 14:19] lindsayplatt commented on #463
Done for now! We may get fancy later and add information about stream order to size the streams differently based on order (or filter some out).

[2020-05-15 14:19] #463 closed, assigned to mhines-usgs

[2020-05-15 14:20] lindsayplatt commented on #462
already in use, so done 👍

[2020-05-15 14:20] #462 closed, assigned to mhines-usgs

[2020-05-15 14:20] lindsayplatt commented on #464
👏

[2020-05-15 14:20] #464 closed, assigned to mhines-usgs

[2020-05-15 14:23] lindsayplatt commented on #466
displayed! may get fancy in the future and style or filter based on stream order.

[2020-05-15 14:23] #466 closed, assigned to abriggs-usgs

[2020-05-15 14:24] lindsayplatt commented on #471
Button works and should be a useful tool for explaining this idea to the rest of the WBEEP team!

[2020-05-15 14:24] #471 closed, assigned to abriggs-usgs

[2020-05-15 14:25] lindsayplatt commented on #467
Streams colored by temp ✔ Additional color work will be done in #470

[2020-05-15 14:25] #467 closed, assigned to abriggs-usgs

[2020-05-15 14:26] lindsayplatt commented on #470
@abriggs-usgs can you summarize the feedback from the crit for colors here?

[2020-05-15 14:27] lindsayplatt commented on #476
Working more on the underlying data, but there are bubbles on the map using Canvas!

[2020-05-15 14:27] #476 closed, assigned to mwernimont

[2020-05-15 14:40] lindsayplatt opened #482 "Water temp: improvements to navigation between data views"
Aaron worked on setting up navigation between the different data views in #451. It was shared at the crit yesterday and there was great feedback on improvements. This issue is about making those improvements.

Crit Feedback included two points and two sub-points (which might be better saved for another tickets)
1) The navigation tabs - would like these converted to a full-page-width 'nav-bar' (ple

[2020-05-15 14:41] abriggs-usgs commented on #470
Sure.

It seemed the consensus was that it was too early in the design process to make a firm decision on the color ramp.

In general, people leaned toward a color pallet that would emphasize the extremes, because, in our current understanding of the project, those will be the areas that are of interest to most users. Some people felt that a blue to red gradient ramp would best express the idea of

[2020-05-15 15:07] lindsayplatt commented on #470
Putting this in blocked because we have some bad data where most of the country is very cold in October (even FL). Waiting on fixed data.

[2020-05-15 15:10] lindsayplatt commented on #470
I disagree with that conclusion a little bit. I'm not sure we will ever have a "story" for this visualization, but understanding if we want users to see all data or if we want to emphasize extremes or something could be informed by our color palette work. It's a bit cyclical

[2020-05-15 15:15] lindsayplatt commented on #472
Blocked for now. While we have example data we are working with, some of the values are negative and the modeling team is working on that now.

[2020-05-15 15:32] lindsayplatt commented on #472
On that note, I was emailed a very detailed explanation of why that select number of plants had implausible negative withdrawal values. The advice is to zero those negatives out. Unblocked now. I need to just make that adjustment in our data and re-upload.

[2020-05-15 15:44] abriggs-usgs commented on #470
Maybe what, I mean, I need to understand the story. I was under the impression that this new feature was temperature prediction. It seems that the data we have now is measured temperature. I guess, I was assuming the data we have now is the baseline (what the temperature really is today) and that we would eventually move to data that is predicting what the temperature will be at some point in the

[2020-05-15 16:26] lindsayplatt commented on #470
Ah yes, seems to be a bit of a misunderstanding. This will only be near-real time temperatures (not measured though, they are modeled). Predictions are a separate component to WBEEP with a future deadline. As in, they fit under the WBEEP umbrella and will probably be added as a data view with `water-predictions`/`water-projections` or something.

[2020-05-15 16:28] abriggs-usgs commented on #470
Ah, gotcha. Much clearer now.

[2020-05-15 17:25] abriggs-usgs commented on #482
Here is the current consensus of the the navbar look.
![image](https://user-images.githubusercontent.com/36997804/82078704-35878480-96a7-11ea-923f-1baf4eb1cd8a.png)
NOTE! the navbar is the same color as the USGS header (it may appear darker on your screen)

Mobile Version -
![image](https://user-images.githubusercontent.com/36997804/82080554-67e6b100-96aa-11ea-99b8-1d70d650c14a.png)

[2020-05-15 17:28] lindsayplatt commented on #482
I think that is the one I changed to actually be black. This one is the one that is a diff blue:

![image](https://user-images.githubusercontent.com/13220910/82078898-8a2aff80-96a7-11ea-9f8c-9f3b15c2632b.png)

[2020-05-18 14:41] lindsayplatt commented on #469
I'm thinking about this more and it seems like for consistency between the two daily updating maps, we should add this text just as we do the current app:

![image](https://user-images.githubusercontent.com/13220910/82226117-b59e2c00-98eb-11ea-8d67-c76bc2969f7f.png)

[2020-05-18 17:48] abriggs-usgs commented on #469
I agree with your vote on consistency, though I am not confident that what we have for Water Storage is really the best possible solution. Personally, I would leave the option open, if someone has the time and desire, to explore other options for temperature. Then consistency could arise from retrofitting Water Storage to match Water Temperature.

[2020-05-18 18:23] lindsayplatt commented on #469
Would that exploration be something you would be willing to take on this iteration? If not, I'd like to implement this version now so that we have something to share with the WBEEP management team. Then, we can have a follow-up issue for rethinking the intro text pop-up. Personally, it's not awful, and while it could be better, we do have tons of other work going on.

[2020-05-18 18:31] abriggs-usgs commented on #469
Sounds reasonable. Yes, I would love to mess with the look, but I can't promise I will have time so, sounds fair just to implement the old version.

[2020-05-18 18:43] lindsayplatt commented on #469
How about I create a totally separate issue right now that captures playing with the look. That way, we don't forget and you don't feel any pressure to try to fit some of that in here.

[2020-05-18 18:56] lindsayplatt opened #483 "Water temp: explore alternatives for intro text"
This can apply to both the newer water temp map and the existing water storage map (we would like some consistency between the daily updating maps). This idea came out of #469. Currently looks like this:

![image](https://user-images.githubusercontent.com/13220910/82249384-4afee780-990f-11ea-90d0-735f0d2cc797.png)

[2020-05-18 19:29] wdwatkins commented on #458
Talked to Shawna last week—the content groupings will just be set up for NWIS web, and done in Google Analytics, so no extra work needed in the pipeline beyond pulling the groups from the API.  The groups have not yet been implemented in GA yet

[2020-05-18 20:36] lindsayplatt commented on #478
Issue with scaling - we scaled circle area by water use, but that doesn't actually show them changing. Hayley suggested looking into Flannery's compensation to deal with the issue of a lack of visual difference between sizes.

[From this resource.](https://makingmaps.net/2007/08/28/perceptual-scaling-of-map-symbols/)
![image](https://user-images.githubusercontent.com/13220910/82257281-5f49e100-991

[2020-05-18 20:40] lindsayplatt commented on #478
Equation (same as what hayley shared with me in chat) https://gis.stackexchange.com/a/97903

[2020-05-19 20:49] #447 closed, assigned to wdwatkins

[2020-05-19 20:52] wdwatkins commented on #458
Need to pull content groupings from the API -- don't need to wait on new groups for this

[2020-05-19 21:04] wdwatkins commented on #445
Done here: https://github.com/usgs-makerspace/analytics_pipeline/blob/master/R/pull_GA_data.R#L70

[2020-05-19 21:04] #445 closed, assigned to wdwatkins

[2020-05-19 21:06] #430 closed, assigned to nobody

[2020-05-19 21:27] wdwatkins commented on #431
So apparently the refresh schedule "Early weekday mornings" actually refreshes at 9 PM?
![image](https://user-images.githubusercontent.com/13987349/82380164-deeab500-99dc-11ea-85c9-41e4481173c9.png)

[2020-05-19 21:30] mhines-usgs commented on #431
for me it's 11pm! so yeah, I guess so? seems like a time-zone issue maybe or maybe it's UTC early morning?

[2020-05-19 21:34] wdwatkins commented on #431
Yeah, I bet you're right, the server probably runs on UTC.  Sounds like schedules have to be modified by admins: https://help.tableau.com/current/server/en-us/schedule_manage_create.htm. So I guess we'll need Dionne or someone to change this?  This is making the data be a day old since the refresh doesn't happen until the evening.

[2020-05-19 21:35] mhines-usgs commented on #431
ahh ok, sure I can reach out and ask for a custom schedule. do you have a suggestion that would work with when the Jenkins job runs?

[2020-05-19 21:43] mhines-usgs commented on #431
Just looked at that Jenkins job timing, seems like 4am CT, so maybe at 5am CT / 10 UTC to give it time to run?

[2020-05-19 21:50] wdwatkins commented on #431
Yeah that sounds good

[2020-05-19 21:56] #434 closed, assigned to mhines-usgs

[2020-05-19 22:01] wdwatkins commented on #428
bar chart looks good

[2020-05-19 22:01] #428 closed, assigned to mhines-usgs

[2020-05-19 22:12] mhines-usgs commented on #480
read the readme and then pinged ivan to see if i should just copy and paste the details for the project:any node and he suggested it's a lot to copy and not mess up, so he suggested he would take care of it. made a ctek ticket to capture it https://internal.cida.usgs.gov/jira/browse/CTEK-109

[2020-05-19 22:16] wdwatkins commented on #456
In the year-over-year dashboard, it looks like the years in the selection box are fiscal years, but the calendar runs January-January.  This causes a line to be filled in for FY20:
![image](https://user-images.githubusercontent.com/13987349/82383882-92ef3e80-99e3-11ea-88bf-5d15412d4892.png)
Can the axis be made to run october-october so there isn't the gap in the data to get filled in?

[2020-05-19 22:25] mhines-usgs commented on #456
It's strange I know, it has all the same settings as the other plots that actually display correctly. I will look into it more and if I can't figure it out in a little while, I'll try bundling up an example and posting to the Tableau forums for help.

[2020-05-19 22:26] wdwatkins commented on #456
Worst case scenario, just change the Year selections to say fiscal year, so that is clear to the user

[2020-05-19 22:35] wdwatkins commented on #457
Can you add an application selector here?  Looks great otherwise.

I'm going to look into adding the regionality metric from the current dashboard, maybe some way of detecting spikes in traffic from particular states (these would be new columns in the current dataset)

[2020-05-19 22:39] wdwatkins opened #484 "Create cloudformation template(s) for Athena databases"
Ultimately we'll want to be able to re-create the Athena databases with CloudFormation, due to the policy changes around the AWS console and for general reproducibility.  This will have to wait on the issues Andrew is experiencing with Tableau server not liking CloudFormation-created dbs though.

[2020-05-19 22:46] mhines-usgs commented on #457
Definitely! Would a general default to All be OK with the user option to deselect all and pick one or more apps to include?

[2020-05-19 23:02] wdwatkins commented on #457
It might be best to only allow a single app at a time, probably defaulting to NWIS web (Legacy).  Summing all apps will basically just reflect NWIS web like the other views.  Other metrics won't lend themselves to being summed either.

[2020-05-20 14:23] mhines-usgs commented on #457
Ok, I added that single-app control and pushed to both servers.

[2020-05-20 14:26] mhines-usgs commented on #431
sent in this help request which was assigned to someone but i haven't heard anything back yet
[code]

[2020-05-20 14:35] mhines-usgs commented on #480
team:makerspace-small is the name of the new node

[2020-05-20 15:12] mhines-usgs commented on #480
switched the wbeep-viz build and that failed with a docker issue, asking ivan to take a look.

[2020-05-20 15:41] abriggs-usgs commented on #482
Pull Request - https://github.com/usgs-makerspace/wbeep-viz/pull/380

Here are the new versions of the actual application
![image](https://user-images.githubusercontent.com/36997804/82466971-af908280-9a86-11ea-8da1-6aa587e01056.png)

![image](https://user-images.githubusercontent.com/36997804/82464905-3ee86680-9a84-11ea-90f6-9b2e80f936a5.png)

[2020-05-20 15:42] mhines-usgs commented on #480
it was missing an option, noted in the ticket CTEK-109.

[2020-05-20 16:03] mhines-usgs commented on #456
Seems like if I change the axis to use months instead of specific days, it then works out with starting on Oct 1 and avoids the nasty connected gap for 2020/partial years.

Do you think this would be as useful for the use case as the daily view? I could provide it as an alternative view?

![image](https://user-images.githubusercontent.com/6920344/82469404-92a97e80-9a89-11ea-88d6-d8b31dd6c88f.png)

[2020-05-20 16:11] mhines-usgs commented on #456
I guess once I create that view, I can use the axis to drill in, which then gives this look...

![image](https://user-images.githubusercontent.com/6920344/82470157-98ec2a80-9a8a-11ea-80fa-cd09ce77e6e2.png)

basically top axis shows the month and bottom day of date...

[2020-05-20 16:12] mhines-usgs commented on #456
i can push this new view up to internal for you to check out.

[2020-05-20 16:30] mhines-usgs commented on #456
https://tableau.chs.usgs.gov/#/views/AnalyticsDashboardExploration-Embedded/YearoverYearDashboard?:iid=2

[2020-05-20 16:32] mhines-usgs commented on #456
In this daily view, with the months on top, clicking on the [-] button when you hover over the axis on top will go back to the monthly view, where you can then switch back to daily view with a click on the [+] on the daily axis

[2020-05-20 18:23] wdwatkins commented on #456
Nice!  This seems good to me, would be thing to get feedback on tomorrow for sure

[2020-05-20 20:33] mhines-usgs commented on #431
![image](https://user-images.githubusercontent.com/6920344/82494486-4113ea80-9aaf-11ea-8799-7bf8d489f2b0.png)

i'll switch these over before I quit for today!

[2020-05-20 20:44] mhines-usgs commented on #431
this is done now.

[2020-05-20 22:24] abriggs-usgs commented on #469
Pull Request - https://github.com/usgs-makerspace/wbeep-viz/pull/382

Since the 'subtitle' box is linked to the 'About This Map' box, it seems reasonable to bring that feature too.
![image](https://user-images.githubusercontent.com/36997804/82503304-a02d2b80-9abe-11ea-9e4d-f3e3b59d34e0.png)

[2020-05-21 13:34] abriggs-usgs commented on #482
Additional Pull Request- https://github.com/usgs-makerspace/wbeep-viz/pull/383

Realized that the changes added removed the old header which we wanted to save so that we could update WBEEP-Water-Storage without showing the new features to users. This pull request returns that functionality.

[2020-05-21 16:50] abriggs-usgs commented on #482
Pull Request - https://github.com/usgs-makerspace/wbeep-viz/pull/385

This adds a usability fix. Only the text in a router link is active and clickable, that made the target are very small on the mobile version. This changes the active area full area around the text.

[2020-05-21 17:47] wdwatkins opened #485 "Comments from demo"
- [x] Add reference sessions values to the trends plots in the hover
- [x] Provide a filter on response times plots to allow users to toggle # of samples

[2020-05-21 17:50] lindsayplatt commented on #482
Sweet 🎊

[2020-05-21 17:54] lindsayplatt commented on #469
It would eventually have the date, too.

[2020-05-21 17:58] lindsayplatt opened #486 "WBEEP: loading screen change"
From #482: _Loading screen - adjust to only cover map, or fix glitch where nav bar shows prior to map load_

Having the whole screen change to the "loading" splash screen when changing data views is a bit disorienting. Instead, it would make more sense for just the part between the nav bar and footer area to switch to the "loading" view (the part between the red lines below)

![image](https://user

[2020-05-21 18:00] lindsayplatt commented on #482
Moved the part about the loading screen to #486. We will get to the Q/A pages eventually. The other stuff on this issue is now 👍

[2020-05-21 18:00] #482 closed, assigned to abriggs-usgs

[2020-05-21 18:42] #469 closed, assigned to mhines-usgs, abriggs-usgs

[2020-05-21 18:48] lindsayplatt commented on #474
This was done and it does look like radial is the way we want to go. Creating a new issue to capture the ongoing work related to other approaches for the radial view to make it more clear. See #487

[2020-05-21 18:48] #474 closed, assigned to lindsayplatt

[2020-05-21 18:51] lindsayplatt opened #487 "Water use: Continued exploration of radial charts"
We like radial charts, but need to make sure people "get it". What else can we do?

See current examples with the prefix `radial_test` [here](https://doimspp.sharepoint.com/:f:/r/sites/gs-wma-iidd-makerspace/Shared%20Documents/Project%20-%20WBEEP%20NHM/Availability%20factor%20-%20water%20use?csf=1&web=1&e=naYUDr)

[2020-05-21 18:56] lindsayplatt opened #488 "Water use: should we animate daily values for each plant on a map?"
#478 revealed that the animated dots as they are currently implemented aren't super interesting.... what other options do we have?

Tried out the flannery compensation method (see [flannery](https://doimspp.sharepoint.com/:v:/r/sites/gs-wma-iidd-makerspace/Shared%20Documents/Project%20-%20WBEEP%20NHM/Availability%20factor%20-%20water%20use/wu_scale_flannery.mp4?csf=1&web=1&e=c320tT) compared to [a

[2020-05-21 18:58] lindsayplatt commented on #478
Did the flannery method (see [this video](https://doimspp.sharepoint.com/:v:/r/sites/gs-wma-iidd-makerspace/Shared%20Documents/Project%20-%20WBEEP%20NHM/Availability%20factor%20-%20water%20use/wu_scale_flannery.mp4?csf=1&web=1&e=rNU45H) compared to [this one](https://doimspp.sharepoint.com/:v:/r/sites/gs-wma-iidd-makerspace/Shared%20Documents/Project%20-%20WBEEP%20NHM/Availability%20factor%20-%20w

[2020-05-21 18:58] #478 closed, assigned to lindsayplatt

[2020-05-21 18:59] lindsayplatt commented on #472
Unblocked and completed.

[2020-05-21 18:59] #472 closed, assigned to lindsayplatt

[2020-05-21 19:00] #473 closed, assigned to lindsayplatt

[2020-05-21 19:17] lindsayplatt commented on #487
riffing off dot idea + bar chart idea – use bucket icons to represent X mgd and then stack them for each day to show how much water was used. Color each stack based on whether the day was above or below the threshold (annual avg?)

[2020-05-21 19:23] mhines-usgs commented on #481
moved just wbeep-viz and wbeep-processing at this point, not sure if there are any other jobs listed in the any view other than vizlab test? Can that job just get deleted? @wdwatkins

[2020-05-21 19:23] #480 closed, assigned to mhines-usgs

[2020-05-21 20:02] #475 closed, assigned to nobody

[2020-05-21 20:41] wdwatkins commented on #481
Yeah, we don't need to keep that around

-------------------------------------------------------------------
David Watkins
USGS Water Mission Area
Data Science Branch
Davis, CA (Pacific Time)
wwatkins@usgs.gov<mailto:wwatkins@usgs.gov> | 740-312-6591

________________________________
From: Megan Hines <notifications@github.com>
Sent: Thursday, May 21, 2020 12:23 PM
To: usgs-makerspace/makerspace-s

[2020-05-21 20:44] mhines-usgs commented on #481
k, ill delete the job

[2020-05-21 21:29] wdwatkins opened #489 "Geographic views - regionality, metric to see spikes from certain areas"
Will need to pull data for both, and explore metrics for increases in traffic by state

Visuals would probably be a simple map, and maybe a heat table like with the Flagship/IOW trends views

[2020-05-21 21:30] wdwatkins opened #490 "NWIS web content groups and top sites"
Pull content groups and isolate site page views (content groups might be useful here?)

Explore visuals for content groups, but a line chart probably works

Some kind of list for top sites probably.

[2020-05-21 21:32] wdwatkins opened #491 "Explore other ways to group users"
Could group by 1st session or not, possibly other things?

Lower priority since we don't have internal/external anymore

[2020-05-21 21:34] wdwatkins opened #492 "Product start dates"
POs can define useful start dates for some products.  This could be useful just as a visual marker on some charts, or the data could be clipped in the pipeline as is done already

[2020-05-21 21:38] wdwatkins opened #493 "Average for page load across all pages"
It would be useful to display an average page load across all pages for an application.  This could be done in the pipeline, or maybe in Tableau?

[2020-05-21 21:52] wdwatkins opened #494 "Categorize application by trend bin for week/month/year"
Calculate YOY change for particular periods (week, month, year?)  Add a category column based on this to control for a visual and/or let Tableau roll up for the BAN view

[2020-05-22 16:43] mhines-usgs commented on #485
On both the internal and public servers, I added the same hover text to both the graph view and tabular views

![image](https://user-images.githubusercontent.com/6920344/82690139-498c3280-9c21-11ea-9453-91962f71b28b.png)

On both the internal and public servers, I added a filter slider adjustment that can be toggled to increase the # of samples needed in order to update the plot. I set it to curre

[2020-05-22 20:22] wdwatkins commented on #446
@mhines-usgs I just uploaded s3://wma-analytics-data/dashboard/test/parquet/summary_numbers/summary_numbers.parquet.  If you can filter to one of the four time periods, group by a field (say dayOfWeek) and then sum the sessions or newSessions column this should cover most of what we whiteboarded.  Does this format work?

We could consider adding a selection for different applications too maybe?

[2020-05-26 21:34] lindsayplatt opened #495 "Water-use: switch out data"
Update from Ken that they will be using surface-water sourced only TE data. We currently have data that includes groundwater. See [this message](https://teams.microsoft.com/l/message/19:c504076d1ccb4f9c877308fdaca60893@thread.skype/1590528341064?tenantId=0693b5ba-4b18-4d7b-9341-f32f400a5494&groupId=39751d35-3a2c-4e8a-b2ad-be14bb4dbd1b&parentMessageId=1590528341064&teamName=GS-WMA-WBEEP&channelName

[2020-05-29 14:20] mhines-usgs commented on #493
Looking at this today to see how I could implement it in Tableau.

[2020-05-29 15:25] mhines-usgs commented on #493
If I'm understanding this correctly, are we talking about a single value for each application? Could I sum and average the current data I have in the page load 30 days dataset? Or would that be incorrect? (average of averages?)

[2020-05-29 21:32] wdwatkins commented on #493
You would need to account for the number of samples for each page.  So for each page, compute total load time (sample size x avg load time), sum that across all pages for each app, and divide that by the sum of sample sizes for each app

[2020-06-02 00:47] wdwatkins opened #496 "check on Google Analytics sampling levels"
How many of the data pulls are impacted by sampling?  Are they bulk usage numbers, or for specific content where the sampling could be a problem?

Should anti_sample be set to true for API calls?

[2020-06-02 00:50] wdwatkins opened #497 "Pull WDFN search console data"
Per 5/28 chat with Shawna:

Pull search console results for WDFN, filter by position and click through rate to determine keywords.  Group keywords to content group of landing page

[2020-06-02 21:54] mhines-usgs commented on #446
put this together today: https://tableau.chs.usgs.gov/#/views/AnalyticsDashboardExploration-Embedded/ECDashboard

if you click on any of the bar graph bars (device type, browser, day of week) it filters the other numbers based on that click, then if you click again it turns that filter off, or if you click on another bar, switches to that as a filter.

so far so good? i can continue adding the oth

[2020-06-02 21:56] mhines-usgs commented on #446
im going to play around to make the set more dynamic for the browsers, it's not quite what i want right now, i want it to be dynamic and for some reason, maybe because it's 1000 degrees in my office, i am struggling to figure that out right now :sweat:

I can also look at adding in application selections too, such as the same I put into some other views (flagship apps, iow apps, top 10/5 etc)

[2020-06-02 22:19] wdwatkins commented on #446
Looks like a good start for the visuals.  A few initial comments:

- make the boxes that are just showing a number, like applications monitored, more visually distinct from the bar charts where size has meaning
- replace `sessions` with `visits` and `new sessions` with `first-time visits`

[2020-06-03 20:41] wdwatkins commented on #446
Also, the hover box for the day of week plot appears to be showing summed new session percentages, can you remove that?
![image](https://user-images.githubusercontent.com/13987349/83686966-f8c0f600-a59f-11ea-9311-f5ba7344f663.png)

[2020-06-03 20:52] mhines-usgs commented on #446
weird, yes, adjusting things now and will drop that!

[2020-06-03 22:24] mhines-usgs commented on #446
adjusted the # boxes to be the other USGS green instead of the new USGS blue..
adjusted all the terms session as suggested.
figured out how to create a dynamic set toggle and add that for the applications. (https://community.tableau.com/thread/148403 for future reference)

[2020-06-04 15:06] mhines-usgs commented on #446
what is fun to see with the daily views is how much more mobile traffic happens on the weekends, presumably people on their phones on the couch

[2020-06-04 15:51] wdwatkins commented on #446
Hah, that's pretty cool.  Also Safari overtakes Chrome in the browser chart.  I somewhat wonder if iPhones are overrepresented in our users compared to the wider population.

[2020-06-04 17:04] wdwatkins commented on #446
Looking good though.  Can you also add some kind of axis label (visits) to the device type and browser bar charts?  And for the daily views chart, change views to visits and Sessions to Visits in the hover boxes?

[2020-06-05 19:19] mhines-usgs commented on #484
details for each table here: https://github.com/usgs-makerspace/makerspace-sandbox/issues/431#issuecomment-624352445

[2020-06-05 21:11] abriggs-usgs opened #498 "Jenkins Job Change - water storage tiles"
Since we are adding additional features to the WBEEP application a bit of reorganization is in order. The Water Storage Hydrologic Response Unit (HRU) tiles for the Water Storage feature used to have free reign in the 'tiles' folder Amazon Web Services (AWS). Since they will need to share the space with the Stream Temperature tiles let's bundle them into a folder called 'waterStorage'. This will r

[2020-06-05 21:17] abriggs-usgs opened #499 "New Jenkins Job for Stream Temperature Tiles"
Now that we have tested out a set of practice tiles for Stream Temperature, let's automate the process and deliver a set of tiles to each of our deployment tiers, test, qa, beta, and prod.

Completion Criteria

- [x] build and deploy tiles to each of the for tiers at the following locations
- [x] 'test' tier: https://wbeep-test-website.s3-us-west-2.amazonaws.com/estimated-availability/tiles/waterT

[2020-06-08 16:02] mhines-usgs opened #500 "Make month selection dynamically select/use last full month"
theres a helpful feature that works for this https://help.tableau.com/v10.3/pro/desktop/en-us/filtering.html#LatestDatePresets
![image](https://user-images.githubusercontent.com/6920344/87096630-dfe3da00-c208-11ea-9d83-23f550b5c7f1.png)
at the very bottom a little check box

[2020-06-08 16:04] mhines-usgs opened #501 "write up maintenance/documentation for dashboard. update metadata page with relevant info."
put documentation on readme for pipeline

[2020-06-10 22:01] mhines-usgs opened #502 "add % of total on hover on device and browser views"

[2020-06-10 22:04] mhines-usgs commented on #499
sorry Aaron, i wasn't following the conversation in Teams closely enough to realize you wrote this particular work up as a ticket, we have a job already, but the place where the tiles go should change though so they're not co-mingling into the existing water availability tileset in the /tiles/ directory. just to clarify this work. hopefully that makes sense. although it's not causing issues really

[2020-06-10 23:31] abriggs-usgs commented on #499
There is an issue for moving the water storage tiles into a new folder within the 'tiles' folder: https://github.com/usgs-makerspace/makerspace-sandbox/issues/498

[2020-06-11 18:32] mhines-usgs commented on #502
up on both dev/prod now

[2020-06-12 20:02] mhines-usgs opened #503 "add cloudfront cache invalidation into jenkins pipeline for gages-through-the-ages beta tier"
we should be able to add something like this to the jenkinsfile for the project so that when we deploy to beta, it also creates an invalidation on that distribution so we don't have to be confused or do it manually

aws cloudfront create-invalidation --distribution-id XXXXXXXXX --paths "/*" --profile chsprod

[2020-06-12 20:11] wdwatkins opened #504 "EC view changes from demo"
Tableau things:
- [x] Add dropdown to geographic view for other state metrics (parquets "state_week_vs_year" and state_traffic_population_percentages")
- [x] **List which apps are contained in 10% up/down etc categories**
- [x] Visually separate 'Trends summary' box a bit more; maybe it should go below the bar chart, since that chart goes with the higher up dropdowns?
- [x] **Change trends view to

[2020-06-12 20:18] mhines-usgs commented on #503
examples
https://github.com/kevintruong/asciidoc-blog/blob/fd31ffc0523590be212c2ae4c21c2abbccc408ae/Jenkinsfile#L127
https://github.com/ScalaConsultants/recru-app/blob/e10d429e6a15ebdf7403da4bc6cfe106efe3ecaa/Jenkinsfile#L81

[2020-06-15 14:51] mhines-usgs opened #505 "Build guidelines for prioritizing what visual elements need to be built first, and which style elements can be added later."
Additionally, it should include guidelines for what elements will be filled with watercolor (probs all natural features), and which will be inked (probs all science!). Also for maps. (EB, CN)

guidelines should include
- [x] what each visual element is
- [ ] which should be built first/priority
- [x] which should be watercolor
- [x] which should be inked
- [x]  etc

[2020-06-15 14:59] mhines-usgs opened #506 "Pick styling guidelines around typographic rules (use this for headers, and that for annotations)"
select fonts, sizes and other specifics for each type of text section
List of elements (h1, h2, p, caption)
Examples of styling for specific elements

- [x] h1
- [x] h2
- [x] p
- [x] captions
- [x] maps and graphics
- [x] Ink annotations
- [x] desktop and mobile layouts
- etc

[2020-06-15 14:59] cnell-usgs opened #507 "Draw static watercolor"

[2020-06-15 15:01] ellenbechtel opened #508 "Make Sankey for Uses Chapter"
Build the first draft of the Sankey in D3

- [x] make the nodes and links diagram

MVP: Design whole-system Sankey in Illustrator, in SVG

- [x] arrange the nodes and links correctly and aesthetically
- [x] make the links somewhat close to proportional to the actual data, if available
- [x] edit the widths of links to reflect flow state (normal, drought, and drought+release)
- [x] label nodes and

[2020-06-15 15:02] cnell-usgs opened #509 "Build the HTML, with static watercolor as full-screen hero banner."

[2020-06-15 15:03] cnell-usgs opened #510 "Fixed/parallax scrolling for title"
- [ ]  Fixed positioning for watercolor map as the intro text scrolls past.

[2020-06-15 15:06] cnell-usgs opened #511 "Think/Concept about context-setting of the DRB"
Some sort of inset map showing where the DRB is in the US? something else?

[2020-06-15 15:08] ellenbechtel opened #512 "Revisit Road Salt brief and dial in the vis concept"
- [x] Look at Lindsay's illustration idea for animating the concept of road salt runoff.
- [ ] Concept how we could implement that in the story and/or code
- [ ] Run the idea by AA (and JR) for approval

[2020-06-15 15:08] mhines-usgs opened #513 "Evaluate javascript scrolling libraries"
look at the world of javascript scrolling libraries and evaluate which might be best suited for our needs. bring examples to a demo?

[2020-06-15 15:11] cnell-usgs opened #514 "Design/sketch/find examples of how to integrate photos of the DRB in intro"
Show photos in addition to map illustration to give context
- [x] how to implement in aesthetically pleasing way

[2020-06-15 15:11] mhines-usgs opened #515 "Mobile-first design hot tips"
Share with the group best practices for mobile first design considerations before we get too far along in our development process.

- [ ] write css first?
- [ ] ?

[2020-06-15 15:13] ellenbechtel opened #516 "Make first draft of monitoring infographic"
- [x] Get [gages data](https://doimspp.sharepoint.com/:x:/r/sites/gs-wma-iidd-makerspace/_layouts/15/Doc.aspx?sourcedoc=%7B97C93EDB-238D-45FC-A5C7-D313BC410B7A%7D&file=Gages%20from%20drb.csv&action=default&mobileredirect=true&cid=32416126-cc10-451b-8cfb-dab0d1ff6902
)
- [x] Work with Megan to see what data and stats are the coolest
- [x] Mock them up with Marty to get a first draft of the infograp

[2020-06-15 15:14] cnell-usgs opened #517 "Find beautiful, high-res photos of the DRB"
- [x] look at photos from drone files
- [x] include multiple sites along river

[2020-06-15 15:15] mhines-usgs opened #518 "Pick styling guidelines around typographic rules (use this for headers, and that for annotations)"

[2020-06-15 15:16] #518 closed, assigned to nobody

[2020-06-15 15:17] mhines-usgs opened #519 "Make divs for images that will transition to show the geographic distinction between the Upper and Lower basins, using the original watercolor"

[2020-06-15 15:18] cnell-usgs opened #520 "Build a simple map (or still image) of the salt front area"
Everything will be monochrome-ish except the river, which should be filled with the watercolor texture/color from the intro static image.
- [x] still map zoomed to salt front area
- [x] simple design with focal points
- [x] watercolor texture/color from intro static image

[2020-06-15 15:18] mhines-usgs opened #521 "Build the transition between two placeholder images.  The final image will be the watercolor from the intro. "
Cannot do until https://github.com/usgs-makerspace/makerspace-sandbox/issues/519 is completed

[2020-06-15 15:20] cnell-usgs opened #522 "Figure out the best way to draw an inked “salt front” line on the map"
It should be able to move back and forth for the annual variation.

[2020-06-15 15:20] mhines-usgs opened #523 "Read this economics paper to see if there are any stats or data about economic value of trout/mussels."
this paper: https://onlinelibrary.wiley.com/doi/full/10.1111/j.1936-704X.2016.03222.x

This would be a perfect place to tie in that getting temperature right has economic impact as well as environmental. This might just look like picking out a couple of good numbers for an infographic (## trout!  $$$ dollars!) or data visualized in another way.

[2020-06-15 15:22] cnell-usgs opened #524 "Figure out the best way to draw the salt fronts higher up in the river"
...which will represent future positions of the salt front given sea level rise. 

[2020-06-15 15:22] mhines-usgs opened #525 "If no good economics data lend themselves to a good vis, fall back on drawing simple inked mussel and trout illustrations."
Do after https://github.com/usgs-makerspace/makerspace-sandbox/issues/523

[2020-06-15 15:23] ellenbechtel opened #526 "Prep accordions for methods, citations, or other sections needed at the bottom of the article"
- [x] Make accordions at the bottom for whatever extra stuff we'll need to put in on the bottom
- [ ] Set up any data citations we need to link to

[2020-06-15 15:24] mhines-usgs opened #527 "Inked illustration of a gage?"
Do after https://github.com/usgs-makerspace/makerspace-sandbox/issues/523 and https://github.com/usgs-makerspace/makerspace-sandbox/issues/525

[2020-06-15 15:26] mhines-usgs opened #528 "Make div for outro hero banner of the original watercolor still"

[2020-06-15 15:26] cnell-usgs opened #529 "Learn about drone-sediment applications in the DRB"
Talk with drones staff to get a better sense of how they analyze their data and what the data is used for
- [x] find images and videos for use
- [x] determine plan for visualizing analyses, image overlays
- [x] write out section narrative

[2020-06-15 15:28] mhines-usgs opened #530 "Align the inked addition of scientific things we’ve talked about, and make them appear sequentially (animate, or with scrolling)"
do after https://github.com/usgs-makerspace/makerspace-sandbox/issues/528

[2020-06-15 15:29] cnell-usgs opened #531 "Make div for full screen video to take over the background"
- [x] make div for full screen video
- [x] play automatically on a loop
- [x] uses limited bandwidth

[2020-06-15 15:31] cnell-usgs opened #532 "Inked annotations?"
To overlay on video or still images of sediment

[2020-06-15 16:05] mhines-usgs commented on #516
big numbers (more summary like at the bottom of the doc) https://doimspp.sharepoint.com/:w:/r/sites/gs-wma-iidd-makerspace/_layouts/15/Doc.aspx?sourcedoc=%7B7f5ee39c-96b6-475f-b382-3c268d77e81a%7D&action=editnew&cid=cf85e168-1ef9-4d5f-b0dc-4b5426047603
my latest draft in sharepoint https://doimspp.sharepoint.com/sites/gs-wma-iidd-makerspace/Shared%20Documents/Forms/AllItems.aspx?FolderCTID=0x01200

[2020-06-15 16:14] mhines-usgs commented on #516
@jread-usgs - are we hitting the mark with these numbers? i've reached out to Joe and Kendra to get updated numbers regarding station specifics if there have been updates since they shared the original spreadsheet with us, but in general does it seem like we're highlighting the right type of numbers for this section?

[2020-06-15 16:18] jordansread commented on #516
I think so, yes. There are a few that might be a bit in the weeds (like number of river miles the models are simulating), but the sensor counts and the temporal info seems like about the right level. We'll want to make sure these counts match the NGWOS counts, but that can be deferred to a little later (unless you are already getting those answers from joe and kendra).

[2020-06-15 16:21] mhines-usgs commented on #516
cool, we can work with the draft #s for now to template stuff, awaiting updates from Joe & Kendra. thanks for confirming! I did end up leaving off the # of miles and exact counts for reaches, but we could just drop them altogether since it's internal more or less. thank you!

[2020-06-15 16:29] mhines-usgs commented on #516
meeting with Marty on Weds 6/17 to hash out next steps

[2020-06-16 14:20] ellenbechtel commented on #508
**Here are some helpful links for drawing Sankeys in D3 Version 4:**
https://bl.ocks.org/d3noob/06e72deea99e7b4859841f305f63ba85
https://www.d3-graph-gallery.com/sankey

**Visual Inspiration for making Sankeys Look Good**
https://www.visualcinnamon.com/portfolio/adyen-report-2019

**Extra Plugins for Pretty-fying**
https://ricklupton.github.io/d3-sankey-diagram/

**In D3 Version 3 (not supremely h

[2020-06-17 15:55] mhines-usgs commented on #520
? what format should this exported in?
? what projection makes sense to use to be consistent throughout the views in the viz?  **we are using the native UTM Zone 18N for the entire viz.**

[2020-06-17 22:58] abriggs-usgs commented on #516
I really like the look of the ' latest draft in sharepoint', it has a fun yet retro news article sophistication. However, I would reconsider the 'hover' aspect, 1) hover is not mobile friendly, 2) requiring the user to do anything, reduces the likelihood of them actually seeing what we want them to see.

I could see having the each section highlight sequentially on a timer, and then allow the user

[2020-06-17 23:25] abriggs-usgs commented on #531
As a proof-of-concept, I deployed an example to http://delaware-basin-prod-website.s3-website-us-west-2.amazonaws.com/visualizations/delaware-basin-story/#/ . This uses the NPM module 'vue-responsive-video-background-player' which is an expansion on the standard HTML 5 'video poster' element. The 'expansion' includes a simple method of loading '.mp4' videos selectively based on screen resolution.

[2020-06-18 15:42] amrhoades commented on #523
@jread-usgs

I added text to the [DRB notes doc](https://teams.microsoft.com/l/file/F2BD0C3D-2E56-4AA5-A154-3DA953BA1F6A?tenantId=0693b5ba-4b18-4d7b-9341-f32f400a5494&fileType=docx&objectUrl=https%3A%2F%2Fdoimspp.sharepoint.com%2Fsites%2Fgs-wma-iidd-makerspace%2FShared%20Documents%2FProject%20-%20DRB%20Viz%20Story%2FDRB%20Viz%20Story%20Notes.docx&baseUrl=https%3A%2F%2Fdoimspp.sharepoint.com%2Fsite

[2020-06-18 16:28] mhines-usgs commented on #504
on each of the checklist items/points for our discussion at 1230ct
tableau things list:
1) no big deal, just waiting for data. not entirely sure if i can squeeze it into the same dropdown period but i have an idea and will try that before needing to check in again on that. just waiting for corrected data to show up in s3. (pipeline job seems to be failing)
2) done - now present in a hover over the

[2020-06-18 16:40] mhines-usgs commented on #520
as a point for discussion, here are a few versions made in arcmap, but it seems like we may need to generate svg of these or json to include in d3 so that they can be properly colored with the holistic color theme/viz theme we are looking for?

as a point of discussion before worrying about export format needed to inject in the viz, let's figure out what layers to include, here are my suggestions

[2020-06-18 17:15] mhines-usgs commented on #516
re: mobile - yes, i mentioned in teams this morning, but after meeting with Marty & Ellen yesterday, if Marty has time he would look at developing a wireframe/lightweight solution we might use, but he's not sure about his time yet. It may end up being all he can provide is a list of gotchas related to mobile first development for us.

[2020-06-18 17:50] wdwatkins commented on #504
@wdwatkins needs to fix the duplicate `REGION` field in the population percentage file

[2020-06-18 18:07] amrhoades commented on #523
From Jordan:

- Water quality is tied to the health of economically important aquatic species; water quality is tied to the health of protected aquatic species; temperature is a keystone water quality variable

- There are diverse thermal habitats/regimes in the DRB that support diverse aquatic life (introduce trout, mussels)

- Some factors that modify temperature (e.g., weather/climate) are not

[2020-06-18 18:17] amrhoades commented on #520
From planning:
Drinking water intakes?
What is the zoom level?
What is the format for these datasets be in? SVG

[2020-06-18 18:26] mhines-usgs commented on #520
- find water intakes to mark on the map
- use pdf from ellen to get the marks for each month

- we can pass example on to jordan to nail down the zoom level

[2020-06-18 19:22] mhines-usgs opened #533 "create svgs for each category of stations"
**stations and capabilities (these use data from Jan 2020, still awaiting potential updates)**
- [cameras](https://doimspp.sharepoint.com/:u:/r/sites/gs-wma-iidd-makerspace/Shared%20Documents/Project%20-%20DRB%20Viz%20Story/data/stations/svg/cameras.svg?csf=1&web=1&e=SI8oIU)
- [enhanced gages](https://doimspp.sharepoint.com/:u:/r/sites/gs-wma-iidd-makerspace/Shared%20Documents/Project%20-%20DRB%20

[2020-06-18 19:47] ellenbechtel commented on #508
I have some thoughts!

1) @jread-usgs I think it was you who said that the final sankey might be really hard to make look good.  I tried it using pure code.... and you're so right.  It's gonna be very complicated to get it positioned right.

<img width="257" alt="Capture" src="https://user-images.githubusercontent.com/25129074/85064453-93f9c400-b179-11ea-88e6-dd5573b88261.PNG">

So, I'm thinking t

[2020-06-18 20:47] wdwatkins commented on #504
One thing I forgot to add here—I think adding the date of the latest data came up during the demo.  Is that an easy thing to do?

[2020-06-18 20:49] mhines-usgs commented on #504
yeah i think so, basically i could look at one of the files that has the daily session data and just grab the max date?

[2020-06-18 20:52] wdwatkins commented on #504
That should do it

[2020-06-18 21:04] aappling-usgs commented on #508
I love the colors in your full-DRB mock-up, and I like how the two cities really stand out as major consumers of water.

I've been attempting some variants on key points to think about what's necessary and sufficient to set up the rest of the chapters. Here are some ways I think this chapter could go:

1. We use dams and canals to distribute water to those [humans] who need it. _Sankey or plumbing

[2020-06-18 21:26] mhines-usgs commented on #520
![image](https://user-images.githubusercontent.com/6920344/85071757-9827e080-b17d-11ea-9248-f983cd3d9b86.png)
from https://www.nj.gov/drbc/programs/basinwide/sotb2013/water_quantity.html

https://www.state.nj.us/drbc/library/images/salt-front.jpg

also emailed the person listed here to see if this is something they even share publicly (there is a note about intakes down on the bottom of the page).

[2020-06-18 21:28] jordansread commented on #508
Awesome work Ellen! This looks sharp.
My comments are separate from Alison’s enough so I don’t think they conflict.

I was thinking about your flubber morph idea. What if you morphed the real river network (the watercolor river fill) into this sankey? This would assume the sankey ended up being the choice (see Alison’s thoughts above) and that this diagram follows the intro, but if both were true,

[2020-06-19 14:39] aappling-usgs commented on #508
OK, I finished up my earlier comment laying out a few possible directions for this chapter.

The first two are compatible with a Sankey; (1) could be static (and would emphasize the basic fact of city water use rather than highlighting decision complexity) while (2) would benefit from dynamic transitions to show changing inputs over time. They also rely on subsequent chapters to introduce stakehol

[2020-06-19 15:30] ellenbechtel commented on #508
This is super helpful, @aappling-usgs .  As I started reading your first comment, I starting coming to another idea to meet the "illustrating multiple uses" part.   Do you see any promise in this direction?  Ignore the green-ness, it's just the only marker I had.

![sketch](https://user-images.githubusercontent.com/25129074/85150215-3ff5ea80-b220-11ea-9687-889404de5cb4.jpg)

I'll continue thinking

[2020-06-19 15:35] mhines-usgs commented on #520
Resources from Alison
https://www.nj.gov/drbc/library/documents/maps/DRB_SurfaceWaterWithdrawals.pdf
https://drbc.maps.arcgis.com/home/gallery.html?view=grid&sortOrder=asc&sortField=title
https://www.nj.gov/drbc/basin/map/
"I also just found a whole page of GIS applications and learned that "docket" seems to mean something about approval to withdraw or discharge water (I looked at the "DRBC Approv

[2020-06-19 16:00] jordansread commented on #508
that looks cool!

[2020-06-19 16:10] ellenbechtel commented on #508
An update on the original, showing rivers a little better and emphasizing that the reservoirs are "stops" along the tributaries that decide how much flow goes through.
<img width="296" alt="Capture2" src="https://user-images.githubusercontent.com/25129074/85154703-c8c35500-b225-11ea-85a7-450b9a8334ee.PNG">

[2020-06-19 16:11] mhines-usgs commented on #520
looks like i can import the dockets with this service https://drbc.maps.arcgis.com/home/item.html?id=e42133a3e99343fabe201a746ebfda69

[2020-06-19 16:18] wdwatkins commented on #460
@tworr got confirmation that we can move everything to labs.waterdata.usgs.gov/visualizations

[2020-06-19 16:27] aappling-usgs commented on #508
I like the multiple uses viz idea. What are the dots? Also, want to explore adding fish, fisherpeople, and boaters/swimmers?

[2020-06-19 16:32] abriggs-usgs commented on #460
I'm not sure if the plan is to move the files for the old visualizations to the new buckets or if there will be some redirection of URLs involved. If the plan is to physically move the contents to the new buckets, I don't think there would be any issues with that, provided that the visualizations are static applications. The new S3 buckets names follow the pattern water-visualizations-<tierName>-w

[2020-06-19 16:46] tworr commented on #460
That should work.  They are stand-alone with the exception that the following folders would need to be in the root /visualizations/ folder:  _fonts_, _img_, _js_, and _stylesheets_.  Those contain common elements for the current VID plus USWDS assets.  If that will end up conflicting with future visualizations, I can copy those folders to each of the older viz products to make them truly stand-alo

[2020-06-19 17:00] mhines-usgs commented on #516
drop the hover idea, how about using the scrollytelling/parallax environment shift the view. (assuming this could work for mobile too?)

[2020-06-19 17:34] abriggs-usgs commented on #460
hmm. I am not sure of the repercussions of having other folders at the root. I'm not sure because there is some CHS bucket configuration magic that restricts access to various folders. I'm thinking what will happen is that any folder in the 'visualizations' will be accessible publicly if someone were to type something like labs.waterdata.usgs.gov/visualizations/img. But I'm not sure if that is an

[2020-06-19 17:45] abriggs-usgs commented on #516
I was thinking the scrollytelling would be an option for mobile. I still like the auto play idea for desktop. Vue makes it quite easy to select code sections based on screen width. So having different play styles on mobile and desktop is an option. There is a school of thought that seeks to standardize the experience across platforms, and that school would be against the idea. But, I think if ther

[2020-06-19 17:53] tworr commented on #460
I can test it out and see if it works.  If not it's easy enough to copy the supporting assets into each folder and adjust the references.

[2020-06-19 18:04] jordansread commented on #516
Aaron, can you add more to the reason to do autoplay instead of scroll-advance on desktop? I think I am coming into this with the assumption that the user will already be familiar at this point in the viz with advancing things w/ scroll.

[2020-06-19 19:00] abriggs-usgs commented on #516
Sure. Mainly it was a reference to Megan's 'my latest draft in sharepoint' linked above. I like the sort of 'retro newsprint' feel of the mockup and was looking for a way to preserve that (if that aesthetic was the direction in which we were headed). Unfortunately, I don't see an easy path to maintaining that 'look' on a narrow screen and still have readability, but for those devices, I can see an

[2020-06-19 19:04] abriggs-usgs commented on #460
Oh, just a reminder, beta and prod work through CloudFront, so you will have to force the CloudFront cache to 'invalidate' in order to see the changes at the URL. If you are patient, it invalidates daily, sometime early in the morning, and your changes will be available then.

[2020-06-19 19:32] mhines-usgs commented on #520
I made a couple of options for some of these because I wasn't sure what would be most useful - i also kept the boundary in everything to help with lining it up, but if you want anything else, just let me know

**states without labels - polygon file with more coastal detail**
- [just states with drb outline ](https://doimspp.sharepoint.com/:u:/r/sites/gs-wma-iidd-makerspace/Shared%20Documents/Proje

[2020-06-19 19:42] ellenbechtel commented on #508
Dots are just vague visual reference to a "trace" or "influence" ... maybe a different temperature, maybe a trace chemical, maybe some sediment, or some other measure of the water quality changing.  The focus here is *quality*, since it doesn't really encode flow *quantity*.

Here are three more sketches of it, with variations on labeling and dots and flow loops.  I'd put this idea closer to the "

[2020-06-19 20:06] ellenbechtel commented on #508
@aappling-usgs What do we think of these categorizations?  My train of thought has wandered to see what might be possible closer to the data-driven end of the spectrum of visuals.

Aside from how interesting it is that the categorization schema that USGS uses for water use metrics has changed, I wonder if we can take water use data, give each category an encoding (a visual cue, as well as a qualit

[2020-06-19 20:09] jordansread commented on #516
gotcha. I was thinking that scrolling can advance things in a similar way as auto-play, but you as the scroller would have more control over how long you look at certain things, and you could go backwards. I wasn't assuming it would have to impact the style (although it could and I can see ways where you'd change things to better align with one or the other).

[2020-06-19 20:13] aappling-usgs commented on #508
Love it. I think a conceptual diagram would be _sufficient_ for the water users idea - and we won't be able to capture the non-human or recreational users with the water use data - but I'm definitely intrigued and looking forward to your sketch. If we can make it work, data is always cooler than not-data IMO.

BTW - we've spent a lot of time with these water use data in the past - linking to our t

[2020-06-19 20:19] aappling-usgs commented on #508
A couple of minor thoughts:

You're working with a pretty rectangular design aesthetic here - that's totally cool for now, but I'm also curious if you have any watercolorey versions in mind if we decide to go for adding this figure to the viz.

Also, this might be getting more literal than necessary, but the boaters, birds, and fish don't really take water out and then return it - would there be a

[2020-06-19 20:39] ellenbechtel commented on #508
Totally hear you on your last comments.  I agree that if we're making any sort of visual diagram, we shouldn't be misleading people by insuating "fish take water out and put it back in."  Future versions will definitely have that part thought through better.

And, agree, rectangles are just easier to draw in Illustrator...low investment right now.  Future versions will definitely be organic.

[2020-06-19 20:51] ellenbechtel commented on #508
Okay, a crappy brain dump.

![image](https://user-images.githubusercontent.com/25129074/85178688-2028eb80-b24d-11ea-99fd-ad3fe3acc1ef.png)

With encoding like:
![image](https://user-images.githubusercontent.com/25129074/85178438-7ba6a980-b24c-11ea-8728-f58720c89e99.png)

I'm with you on the sentiment of trying to be data driven.  However, I'm not sure if this categorization hits all the things we

[2020-06-19 21:00] aappling-usgs commented on #508
Cool! My gut says to stay simple and elegant on this one. Kinda curious how many numbers we could attach using that economics paper that Colleen found, but also comfortable with a numbers-free graphic here.

[2020-06-22 19:58] ellenbechtel commented on #508
My gut says the same - let's keep it simple.  What about something like this?  We could make a list of a bunch of common activities and their general impact on water quality/quantity, then have an interactive table that lets users sort by category (ag, industry, municipal, etc) or impact (temperature, salinity, sediment, etc) and see all the things that have that impact.  Or all the things that do

[2020-06-22 20:39] ellenbechtel commented on #508
One quick update on the individual sankey, which we can tweak to show how flux in inputs means that we have to flux outputs.

![image](https://user-images.githubusercontent.com/25129074/85332922-c4f23580-b4a6-11ea-84c7-9fcffab153c4.png)

We could encode the text for inputs, central text, and outputs to change for a few different activities.  Such as.... (coming in a few mins)

[2020-06-22 21:48] ellenbechtel commented on #508
Maybe a rotating slidedeck (auto-transitioning every 3 seconds or so) to show a sankey for each kind of water quality/quantity impact?  Some examples are:

![image](https://user-images.githubusercontent.com/25129074/85338286-fa4f5100-b4af-11ea-8de1-595a051b8441.png)

![image](https://user-images.githubusercontent.com/25129074/85338302-0509e600-b4b0-11ea-8fb7-82fba04fe1e0.png)

![image](https://use

[2020-06-23 14:34] mwernimont opened #534 "Gages Through the Ages Placeholder Social Media"
Social Media Video Guidleines: https://sproutsocial.com/insights/social-media-video-specs-guide/
Social Media Image Guidleines: https://sproutsocial.com/insights/social-media-image-sizes-guide/

Facebook:
- [x] Shared Link Image 1200 X 628
- [x] Gif (used the same guidelines as the images) 1200 X 628
- [x] Video 1280 X 720 https://sproutsocial.com/insights/social-media-video-specs-guide/#facebook

[2020-06-23 17:59] mwernimont commented on #534
Where I stored the preliminary assests:
https://doimspp.sharepoint.com/:f:/s/gs-wma-iidd-makerspace/EkErlkZTAVZFu0Rsc3l3xV8BPWIwcULuwJi7imb3jyXwqA?e=WhnESM

[2020-06-23 20:30] mhines-usgs commented on #504
manually updated the state_week_vs_year.parquet for now in s3, the job seems to fail often with the time out issue. i updated the ec dashboard on both tableau server instances but with the data changes i have to go repair a few things on the old views and copy over some of the changes i made on the ec dashboard over to the 'more detailed' dashboard.

[2020-06-23 20:50] abriggs-usgs commented on #513
Pull Request - https://github.com/usgs-makerspace/delaware-basin-story/pull/13

In this request I added several demonstrations of scrolls and scroll based triggers. I also investigate several, of the many, scroll libraries made for Vue. In the end, I found that using the JavaScript Intersection Application Program Interface (API), combined with the use of Vue custom directives, gave me the tools I

[2020-06-23 21:36] wdwatkins commented on #504
Yeah, I think adding anti-sample calls substantially increased the amount of data being pull from NWIS web.  There is an option to cache calls on disk that I think can be added fairly easily that I want to try.  That should eliminate duplicate API calls that happen when we rerun the job on the same day, and in some cases when the anti-sample method makes the same calls day after day since it has t

[2020-06-23 22:20] mhines-usgs commented on #504
corresponding edits made to the more detailed views and pushed up to both tableau servers. going to do some documentation but if you have time to skim over the changes and if you have feedback or want to talk through them sometime tomorrow, feel free to throw a calendar event my way?

[2020-06-23 22:25] wdwatkins commented on #504
Sounds good.  I'll go through the 'metadata' page too, I think we may want to add to that for the EC view.  Or otherwise have some text for Nate et al to refer too.

[2020-06-23 22:27] mhines-usgs commented on #504
perfect, thank you!

[2020-06-24 14:18] abriggs-usgs commented on #513
I was mulling over some concerns related to the above and decided to look more deeply.
First there seems to be a degree of imprecision related to the term ‘parallax scroll’. In a strict sense, it seems, at least in the view of W3 Schools that parallax scrolling is any scroll where the element in the foreground does not move at the same rate as the background. However, not every on agrees. In this

[2020-06-24 14:34] ellenbechtel commented on #513
OH fascinating.  You're saying that it's not just the CSS property for fixed elements (like text scrolling over a fixed image, or text moving at a different rate than the scroll rate) that causes issues on mobile, and should likely be turned off.   It's that that issue rolls over into most scrolling libraries too?  Is that because scrolling libraries take advantage of the CSS-fixed property? Or is

[2020-06-24 14:37] mwernimont opened #535 "Gages IOS Mobile Issue: Slider Zoom Level Off (iPhone 6 Chrome)"
- [x] Colorado Slider has whole state of Colorado showing on any Mobile Device.

![MicrosoftTeams-image](https://user-images.githubusercontent.com/6390096/85577236-ae5ef200-b5fe-11ea-8600-a75d24a55c31.png)

Zoom on iPhone 6 is too far in on the Colorado Slider, should look more like this:

![MicrosoftTeams-image (1)](https://user-images.githubusercontent.com/6390096/85577845-3644fc00-b5ff-11ea-93b

[2020-06-24 14:39] mwernimont opened #536 "Gages IOS Mobile Issue: 2018 text on sliders move as you compare maps"
As a user slides the compare element the 2018 text moves as well.  Not the intended functionality.

- [x] Create a User experience where the 2018 text does not move as the user compares the maps on mobile

[2020-06-24 14:46] mwernimont opened #537 "Add Scales to the Slider Maps."
- [x] Add Mapbox-gl Scale to Atlanta Before and After Maps.
- [x] Add Mapbox-gl Scale to Colorado Before and After Maps.

I believe we will need to add a scale to all 4 maps for a seamless experience, but could be wrong...

https://docs.mapbox.com/mapbox-gl-js/api/markers/#scalecontrol

[2020-06-24 14:48] abriggs-usgs commented on #513
I think so. My understanding that the 'onscroll' event is fired so frequently when the users scrolls that it is a huge drain on mobile devices' processing capacity. So, both Android and iOS limit the number of times the 'onscroll' will fire during any given scroll. On Android systems the 'onscroll' is truly limited, and it just fires less often, producing 'jumpy' playback. On iOS, it caches all th

[2020-06-24 14:57] ellenbechtel commented on #513
OH wow.  Got it.  Sounds like we need to address this all together, because if we are designing mobile-first, we might not have as much leverage to make our things scrolly-triggered and instead would need to have looped animation built-in.  Let's bring this up at demo!  Thanks for looking into this.

[2020-06-24 15:06] mwernimont opened #538 "Update the voice and tense of the methods to agree"
(digitization reads as instructions, gage count reads as past tense method)

Assuming someone will create more harmonious text for all the methods, this ticket is to update that said text in the methods component text json file.

[2020-06-24 15:07] mwernimont opened #539 "Add links to other relevant visualizations in footer (e.g., water use)​"
When these links are decided upon, we will need to create our footer component as we can't touch the USGS one, and put all the links inside the component.

- [x] Create Footer Component
- [x] Create Footer Text Content JSON file? (add link urls to .env file)
- [x] Add Footer content to component
- [x] Add component to rest of the viz

[2020-06-24 15:10] mwernimont opened #540 "Push code to prod bucket"
We will need the viz pushed to prod for release.

Jenkins:
https://jenkins.wma.chs.usgs.gov/job/MakerSpace/job/gages-through-the-ages-unified-s3-build-deploy/build?delay=0sec

- [x] Modify the code in 'App.vue' to turn off the 'WorkInProgressWarning' component (code is set to automatically remove the banner on a build to 'prod'. Tested locally, but this will be the first real attempt)
- [ ] Check

[2020-06-24 15:15] mwernimont opened #541 "Analytics: Events (e.g., slider and bar interactions)"
Have some GA Events fired when a user interacts with the bar chart and when a user interacts with the sliders

- [x] Event for the SVG bar chart
- [x] Event for slider use

[2020-06-24 15:17] mwernimont opened #542 "Analytics​: Link out clicks (and destination)​"
- [x] Create GA events for each link in the viz, so we can see which ones are clicked and where the user is going.

[2020-06-24 15:23] mwernimont opened #543 "Add Annotated Bar Chart"
We are taking the bar chart from the SVG animation and annotating a few years to help explain dips and increases through out the years.

- [x] Add annotations to SVG bar chart.  (Most likely will be via Illustrator, but I am sure people have ways of making this happen.)
- [x] Get Static Annotated Barchart in the component Aaron already created called AnnotatedTimeline.vue
- [x] Add component to re

[2020-06-24 15:30] amrhoades commented on #539
@jread-usgs can you add the links that you would like included in the issue comments?

[2020-06-24 15:43] ellenbechtel commented on #508
Okay, here's what we've decided.  I'm updating the checklist in the original issue to reflect the following:

MVP | Nice To Have
-- | --
Intro and the Uses chapter make written AND visual   reference to the big picture concept that 1) water is important and 2) water   in the DRB is used by many different users.       -                  Visual could be a slideroom/array of   pictures of people/anim

[2020-06-24 16:31] ellenbechtel commented on #507
Some screenshots!

With background texture, underneath everything
![image](https://user-images.githubusercontent.com/25129074/85593892-71eac080-b615-11ea-98c4-c3c2f7e7bea4.png)

With texture on top, blended with Multiply 100%
![image](https://user-images.githubusercontent.com/25129074/85595127-8ed3c380-b616-11ea-8ff1-32841bf6c9d4.png)

[2020-06-24 16:56] cnell-usgs commented on #507
current view:
![drb_watercolor_status](https://user-images.githubusercontent.com/17803537/85610334-87afb400-b61c-11ea-86d5-9d4ceba7ce71.png)

working on color schemes with @ellenbechtel (#506) , refining river boundary, and sketch options for chapters. To do:
- [ ] refine/include river reaches
- [ ] think about mobile vs desktop. Are there separate images? How does the watercolor translate to a fu

[2020-06-24 18:17] jordansread commented on #539
Yes, link and thumbnail for https://owi.usgs.gov/vizlab/water-use-15/ and https://owi.usgs.gov/vizlab/hurricane-maria/ (assuming they will be at owi, otherwise update the links w/ the new labs urls)

[2020-06-24 18:27] ellenbechtel commented on #507
We've got some color pallets to choose from! @jread-usgs and @aappling-usgs we'd love to get your opinions.

First, a few things.

**Before cementing the color choice**: I first make sure that visuals work in grayscale/BW, both because of accessibility for colorblind folks and so that the visual works on its function alone, and color treatment merely emphasized and enhances, rather than trying to

[2020-06-24 18:31] jordansread commented on #507
I *LOVE* the first two. I also like the last one. All of them are great and you both clearly have a better eye for this than me, so would be happy with any of these choices.

The first one is a little easier to see right now since the example is in water color already, but like I said, all of them are :+1:

[2020-06-24 19:06] ellenbechtel commented on #507
Excellent!  Great to hear.  @aappling-usgs thoughts?

[2020-06-24 19:20] mhines-usgs commented on #501
Created this readme to capture a few things https://github.com/usgs-makerspace/analytics_pipeline/blob/master/tableau_dashboard.md

I did review and update/remove a little of the metadata page, but David suggested he would also review that and make suggestions. Happy to make changes anytime.

[2020-06-24 19:28] mhines-usgs commented on #504
specific thoughts on feedback
- language OK for date of last update?
- left the legend off the geographic map views, but can add back if think it's needed.
- geographic lists currently do not update either with different views selected, but if that would be desired, i can address that, wasn't sure how useful that info is?
- defaults ok?
- to fill white space around the tiny trends plot, made it bi

[2020-06-24 19:37] aappling-usgs commented on #507
Wow, yes, these are all great, and I agree with your 2 favorites. Is the idea that you'd keep the gray background for the viz, or do these colors need to be visible against something lighter like the papers Colleen has been experimenting with?

[2020-06-24 20:08] ellenbechtel commented on #507
Oh sorry!  Same answer as before, with the sankey - the dark gray is just the default background color in Illustrator.

![image](https://user-images.githubusercontent.com/25129074/85621072-b3d62f80-b632-11ea-9999-f2dcae74952b.png)

But, you bring up an interesting point about background.  No urgent decision to make here, but looking ahead, color choices for various elements are something that Coll

[2020-06-24 20:18] mwernimont commented on #535
On first initial loads I cannot replicate this error even with the screen at the size of an iPhone 6 (375x667), but have experienced this when just resizing the viz.

Sooooo believe the solution would be using the mapbox-gl .resize() function https://docs.mapbox.com/mapbox-gl-js/api/map/#map.event:resize when we detect a screen size change.  Which we could do using the https://developer.mozilla.or

[2020-06-24 21:41] wdwatkins commented on #501
Looks good.  Ugh that the password will have to be updated when your AD rotates, I hadn't thought of that 👎   If only there were service accounts...

[2020-06-24 21:46] mhines-usgs commented on #501
i do have service accounts but now they force password expiration there too, but not as often i think?

[2020-06-24 21:55] wdwatkins commented on #501
Mmm that could be good if it is at least less frequent.  It always feels weird to have personal credentials used in non-personal stuff.

[2020-06-24 22:23] mhines-usgs opened #544 "Get a service account set up for the analytics dashboard"
currently my credentials are used for the sharepoint connection, can we use a service account instead?

[2020-06-24 22:24] mhines-usgs commented on #501
i made a task to look into it, another concern i'd have is that i'd have to be able to add that user to the WMA team i think, so maybe it won't work, but i put it in the work queue

[2020-06-24 22:28] mhines-usgs commented on #504
- [x]  add back all months selection on trends view plots
- [x] all trends use PREVIOUS duh
- [x] week over year percent change - make a diverging color ramp from 0 from week over year
- [x] text about the geographic view that explains the views more
- [x] on geo views, extend the state/country lists to update too for other choices (not just visits)
- [x]  population ratios - same thing diverge fr

[2020-06-24 22:38] mhines-usgs commented on #504
the checked off changes for the EC Dashboard are up on tableau.chs.usgs.gov - for some reason I'm unable to change the connection details at the moment (getting an error message) and push it to the tableau.usgs.gov server with the workbook open from the internal server. i'll try again tomorrow before reaching out to them for help :( that's the way i usually 'deploy' changes to both servers after m

[2020-06-24 23:36] abriggs-usgs commented on #539
Pull Request - https://github.com/usgs-makerspace/gages-through-the-ages/pull/95
View on mobile
![image](https://user-images.githubusercontent.com/36997804/85637088-d9b9ff00-b647-11ea-93cf-5e0c53763e12.png)

View on desktop - break point 700px
![image](https://user-images.githubusercontent.com/36997804/85637150-079f4380-b648-11ea-9568-644bc4e88247.png)

[2020-06-25 14:16] mhines-usgs commented on #504
was able to push this up this morning. i'm going to do another task for gcmrc quick this morning before addressing the correlated changes needed in the other workbook, and adding to the documentation about how to edit data source paths and republish changes to both servers.

[2020-06-25 14:45] abriggs-usgs commented on #543
Initial draft
![image](https://user-images.githubusercontent.com/36997804/85741900-6c9a7e00-b6c8-11ea-8949-17b9c2b459ab.png)

[2020-06-25 15:13] abriggs-usgs commented on #541
Pull Request - https://github.com/usgs-makerspace/gages-through-the-ages/pull/96

Added Google Analytics tracking to the slider for Atlanta and Colorado.

[2020-06-25 15:27] abriggs-usgs commented on #543
Pull Request - https://github.com/usgs-makerspace/gages-through-the-ages/pull/97 actually it is  . . . https://github.com/usgs-makerspace/gages-through-the-ages/pull/98

This preliminary pull request that adds the above timeline to the application for purposes of review.
![image](https://user-images.githubusercontent.com/36997804/85749444-7a530200-b6ce-11ea-9b2c-968773045948.png)

[2020-06-25 15:58] abriggs-usgs commented on #536
I'll see if I can get the issue to show in BrowserStack, if not, will have to resort to more primitive methods.

[2020-06-25 16:30] wdwatkins commented on #504
Can you change the flagship apps trends Y axis to "Year-over-year percent change in visits"?  And is it easy to make the actual numbers appear in the heat-table hover, in addition to the percent changes?

[2020-06-25 16:36] mhines-usgs commented on #504
Yes to both. Assuming we want to do the same for all of those (IoW too?) across both workbooks?

[2020-06-25 16:40] abriggs-usgs commented on #536
Android devices slide smoothly in both Chrome and Samsung Internet

iPhone6 with Chrome and Safari slide as expected using iOS 9

iPhone7 with iOS 10 show jitters on the slide

Conclusion: this issue is related to units using iOS 10 and higher

[2020-06-25 16:51] cnell-usgs commented on #507
Yesterday American Rivers released a story about the DRB (river of the year!) that also uses the watercolor look: https://storymaps.arcgis.com/stories/4f8b7c5cf5db49a59360f4cfcd7f2a78

They did a nice job with the watercolor, however, the content and use of the map to aid the story is very different from what we are working on. This definitely warrants discussion as we move forward, and thinking a

[2020-06-25 16:56] abriggs-usgs commented on #536
I did an internet search for issues related to the Mapbox.gl JS, mapbox-gl-compare and iOS. I didn't find any, which may mean this is simply a rare issue that no one else has reported. I did a limited search of Mapbox's Github repositories for any issues related to the above terms, but didn't find any.

At this point my assessment is that this is an issue related to the way iOS systems process eve

[2020-06-25 17:03] abriggs-usgs commented on #507
Dang, what are the chances that someone else would issue a visualization on the Delaware River with watercolor a month before we do?!?

As a point of learning, their adaption to mobile is interesting, though I'm not sure it is completely effective.

[2020-06-25 18:09] wdwatkins commented on #504
Some explanatory text for the geographic views:

**Visits**: Total visits per state during the specified time period.  Tends to be affected by state population.
**Traffic share to population share ratio**: The ratio of a state's share of visits over a time period and the state's share of population in 2019.  Negative values indicate a state is underrepresented in visits compared to its population,

[2020-06-25 18:42] mhines-usgs commented on #504
pushed above changes for explanatory text and names of views in the parameter selection to tableau.chs.usgs.gov but again hitting that error after not getting it earlier this morning on the tableau.usgs.gov server when I attempt to change to it. will try restarting before going to chs to get help/complain...

[2020-06-25 19:52] mhines-usgs commented on #504
figured out the connection issue and all the checked off changes are now up on both servers

[2020-06-25 20:21] mhines-usgs commented on #501
publishing workflow PR https://github.com/usgs-makerspace/analytics_pipeline/pull/28

[2020-06-25 23:31] abriggs-usgs commented on #542
Investigating a better way of tracking using Google Tag Manager - this is a preliminary pull request: https://github.com/usgs-makerspace/gages-through-the-ages/pull/99

[2020-06-25 23:50] abriggs-usgs commented on #542
Holy Cow - it worked on the first try!
![image](https://user-images.githubusercontent.com/36997804/85806464-b4df8d80-b714-11ea-8b38-e1b163b74fb9.png)

[2020-06-26 12:56] abriggs-usgs commented on #535
Hmm. Not sure if resize would help for a problem on the initial load, but if the ResizeObserver is as well implemented as at the IntersectionObserver, then changing the code to try it would be easy enough. Problem is, I'm not sure how to test the result, since when I used BrowserStack for testing, I didn't see this issue. Hard to fix a problem we can't see.

[2020-06-26 13:31] abriggs-usgs commented on #542
Found out that better practice was to have a container for each application; deleted the original test container and created a new one which needed new ids -- Pull Request https://github.com/usgs-makerspace/gages-through-the-ages/pull/100

[2020-06-26 14:22] mhines-usgs opened #545 "update application names in sharepoint list and update flagship app views"
We'll need to change the app names in Sharepoint and Tableau tomorrow to reflect these.
Drop from Flagship view:

NWIS Mobile
NWIS Mapper
Add to flagship view:
NWISWeb (All)

dependent on the code being merged and data making their way to athena

[2020-06-26 14:36] amrhoades commented on #538
Updated text:

Historic urban extents were digitized using an ArcToolbox tool, "PDF to TIFF Conversion Tool". Each separate page of the provided PDF was converted into a geotiff format "TIF file" that was imported as a raster layer into ArcMap 10.7. After adding the TIF file into the current GIS project, the Georeferencing tool "Fit to Display" was used to pull the raster into the area of interest

[2020-06-26 14:36] amrhoades commented on #538
@abriggs-usgs ready to update!

[2020-06-26 14:51] abriggs-usgs commented on #538
Pull Request - https://github.com/usgs-makerspace/gages-through-the-ages/pull/101

[2020-06-26 16:17] abriggs-usgs commented on #542
Pull Request - https://github.com/usgs-makerspace/gages-through-the-ages/pull/102

I removed some of the existing Google Analytics tracking as a test to see if the new Google Tab Manager settings will pick them up.

[2020-06-26 16:28] amrhoades opened #546 "Create annotated bar chart"
Create a polished annotated bar chart for the gages viz story.

Mock-up
![ideas-04](https://user-images.githubusercontent.com/22282376/85878991-970f3880-b7a7-11ea-8a72-5dc1ca99119f.jpg)

Instructions from Jordan:

- text is too long, we (you or me) probably need to shorten each call out on the top
- make annotated bar chart look great and fit in w/ the rest of the viz (http://water-visualizations-

[2020-06-26 17:14] abriggs-usgs commented on #546
Related issue -  https://github.com/usgs-makerspace/makerspace-sandbox/issues/543

[2020-06-26 17:43] jordansread commented on #546
Couple of additions:
- the "you and me" is a "Alicia or Jordan"
- This screencap doesn't show Embudo gage in 1889 (in the issue Aaron linked it does #543 ), but we'll want that call out included
- I'm also thinking we probably need some indication of time on the bottom in addition to the eras. If it wasn't clear, the initial draft is a starting point, but is likely incomplete

[2020-06-26 18:25] ellenbechtel commented on #546
Is there an existing SVG file of this bar chart that I can pull into Illustrator?  Or do I need to figure out how to export it from the test site?

[2020-06-26 18:47] abriggs-usgs commented on #546
Marty created one from, as you mentioned, the SVG path in the code, but he is not here until Monday . . . If you don't want to poke around the code, I can get you the path. Unfortunately, my Illustrator skills are lacking, so I'm not much help beyond that.

[2020-06-26 18:51] jordansread commented on #546
I sent Ellen the svg via chat

[2020-06-26 19:14] ellenbechtel commented on #546
Color?
![image](https://user-images.githubusercontent.com/25129074/85892649-4e637980-b7bf-11ea-8994-d03b0f0770ba.png)

Grayscale?
![image](https://user-images.githubusercontent.com/25129074/85892694-63d8a380-b7bf-11ea-9695-da4dd42a7b88.png)

Era Lines instead of Era Blocks?
![image](https://user-images.githubusercontent.com/25129074/85892892-c29e1d00-b7bf-11ea-891e-0e5242254b38.png)

[2020-06-26 19:25] jordansread commented on #546
Very cool! Personally, I like the last one (grayscale).

A couple of thoughts
- can you bump the highlighted bars for "budget cuts and network optimization" to start on that peak year (I think 1968) and go to the local minimum (I think it is 1974)?
- can you skip the middle highlight of "budget cuts"
- can you find a way to call out the establishment of the first USGS gage in 1889 at Embudo, NM?

[2020-06-26 20:15] abriggs-usgs commented on #546
Just a question, is there a reason to go with the sort of 'pencil drawn' look with the pointer lines? With the exception of the 'rolling' Gages Through the Age text on the actual SVG bar graph everything feels quite linear, and it seems like we should maintain that feel. Also, to me the text is quite high in the visual field leaving distracting white space between the focal points. Perhaps this co

[2020-06-26 22:11] abriggs-usgs commented on #542
Update to the above. The Google Analytics Realtime View keeps  giving me the error, 'cannot connect to server, try later'. Not being that familiar with Google Analytics, I'm not sure of the nature of the problem but it seem that I can't check if this is working until that resolves. So I'll just add a summary placeholder and pick this up again at a later date.

Created a Google Tag Manager account

[2020-06-29 12:16] ellenbechtel commented on #546
Definitely!  Great points, Aaron.

The one last thing I'm struggling with is how to not let the annotations crowd each other out.  Here are a few options of how it could be done. I like the first one best, since it uses the same color blue as the sliders and highlights the uptick in the last 20 years, but open to trying whatever else comes to mind!

![image](https://user-images.githubusercontent.c

[2020-06-29 12:46] amrhoades commented on #546
Thanks Ellen!

I like the first one too.

If you're able to make the changes that Jordan requested we can pop this into the test URL and see what it looks like with the rest of the story. Thanks for making this happen with such a short turn around!

*We may need to tweak some of the annotations later this week based on reviewer feedback. Jordan or I will add the tweaks in this issue.

[2020-06-29 12:53] jordansread commented on #546
hmm...I cannot unsee the flatter (fewer return lines) text you had in the first version and I preferred that personally. I didn't really have issue with some white space, and it felt like some useful breathing room.

I think I still have the preference of the original one and my issue with the first option presented here is that I was considering that blue to be an "action color" (i.e., you can **

[2020-06-29 13:08] abriggs-usgs commented on #546
Cool, I like the blue idea. Building on that, I might suggest changing the 'era lines' to blue so that we can carry that highlight  across that visual space. Also, we need to add some indication of the first gage. Which, I think,  actually works out pretty well as the added blue on the far left gives the eye a starting point, that then grows heaver to the right, which for those of us in the world

[2020-06-29 13:50] ellenbechtel opened #547 "FOR DEMO: make monitoring chapter draft"
- [ ] make map that updates based on "active" class placed on interesting stats

- [ ] Style it and make it beautiful

- [ ] push to a solo github page to show to sponsors at demo

[2020-06-29 13:56] cnell-usgs opened #548 "Trout and mussel drawings for temperature chapter"
- [x] brook trout
- [x] mussel
- [x] animation of trout losing color with changing temperatures

[2020-06-29 15:04] abriggs-usgs opened #549 "Set up Google Tag Manger"
Google Tag Manager is an amazing advance that allows 'auto' tagging of code for monitoring with Google Analytics without hard coding.

- [x] Add set up a container in Google Tag Manager
- [x] Add the code to the project so that Tag Manager can connect with the project
- [x] Set up link tracking

[2020-06-29 15:07] ellenbechtel commented on #546
Hmm, I think Jordan's feedback was about restricting the use of blue in this static image, since blue means "this thing is interactive!"  I agree that using blue here would be confusing then, since elsewhere it's an action signifier but here it's not.  I think there are other ways to make a strategic visual connection between the annotation text and its respective bar area without using the blue,

[2020-06-29 15:16] abriggs-usgs commented on #546
Weird, Jordan and I must have commented at the exact same time, as I didn't see his feed back. Disregard any conflicts.  😊

[2020-06-29 15:22] abriggs-usgs opened #550 "Add initial Images to Project for Review"
Time to get some of the hard work into the project so that we can start to see how it looks on different screen sizes.

- [x] Add the watercolor into image (and any others available to the application
- [x] Set up selective loading of different images

[2020-06-29 15:26] ellenbechtel commented on #546
Funny how that happens :)

Okay here are some other ideas!

1. Remove the middle cuts, add Embudo, give some more negative space
![image](https://user-images.githubusercontent.com/25129074/86023907-50fde300-b9fa-11ea-9b49-d0d39573e10f.png)

2. Give even more negative space, and remove all return lines.  In this, I think the lines are too long to be easily read, so if we go with the fewest return-l

[2020-06-29 15:57] jordansread commented on #546
I want to put in a quick fuse request while style is still in flux.

I think this is great
![image](https://user-images.githubusercontent.com/2349007/86028053-1181c780-b9f7-11ea-820e-986e6a8662a0.png)

And if you can make the changes I suggested above

- can you bump the highlighted bars for "budget cuts and network optimization" to start on that peak year (I think 1968) and go to the local minimu

[2020-06-29 17:08] mwernimont opened #551 "Gages IOS Mobile Issue: Jittery Scroll Action for Map Sliders"
IOS users are reporting a jittery action when sliding the mapbox slider.  From reports it seems to be mainly a Chrome issue, Megan said Safari was just fine on her iPhone.

- [x] Create a smooth scrolling situation if possible.

[2020-06-29 18:30] amrhoades opened #552 "Gages through the ages - updated social media content"
Social Media Video Guidleines: https://sproutsocial.com/insights/social-media-video-specs-guide/
Social Media Image Guidleines: https://sproutsocial.com/insights/social-media-image-sizes-guide/

Facebook:

 Shared Link Image 1200 X 628
 Gif (used the same guidelines as the images) 1200 X 628
 Video 1280 X 720 https://sproutsocial.com/insights/social-media-video-specs-guide/#facebook

Twitter:

 In

[2020-06-29 18:35] amrhoades commented on #552
Here are the updates I have thus far:

- If the social campaign goes well, the animations will probably be seen more than the viz itself, therefore, having GIFs w/o the USGS attribution (e.g., the GA slider) might lose us hard fought visual identity. **Action: add USGS logo to GIFs**

- Similar to the first point, a URL on the GIF is pretty helpful so people know where to go if someone just shares

[2020-06-29 18:39] jordansread commented on #552
For

I am assuming that the custom one that Colleen is working on would meet this charge, and also be a good candidate for the national social accounts. I think the early part of that effort was to design a single still image so we'd know whether the GIF effort would be a good investment.

[2020-06-29 18:41] ellenbechtel commented on #546
Final thoughts?
![image](https://user-images.githubusercontent.com/25129074/86043323-8b757900-ba16-11ea-9997-b1a823ab05a3.png)

High-res version getting uploaded as soon as it gets the thumbs-up!

[2020-06-29 18:41] jordansread commented on #552
and clarification on the above - I'm pretty sure we can do 1:1 ratio videos for insta that are 1080 x 1080. I think that is the preferred size if our content fits that aspect ratio since you end up with more pixels in the end. We've had a few snafus with the national account not knowing how to change the default aspect when they post, so if deviating from a default, we want to make sure we make a

[2020-06-29 18:42] jordansread commented on #546
Ship it!! nice

Editing quick while you are exporting a final res

Can you make sure the dash style is the same for all of these?
![image](https://user-images.githubusercontent.com/2349007/86043631-9af0c400-ba0e-11ea-99b9-ed5ab1231716.png)

looks like "0--1" then "0-1" then "65 - P" (I think all are unique and should all be the same?)

[2020-06-29 18:46] lindsayplatt commented on #552
There are two ways to use the national accounts' reach: 1. Request that they make an original post (on Twitter, IG, or FB) or 2. Ask them to retweet/share/etc a post that our water account makes. AFAIK you can just email/message Scott Horvath (or the MS Team) if you want a repost. If you want them to add an original post to their queue, we will need to submit a request form (see [here](https://att

[2020-06-29 18:49] mwernimont commented on #535
![Screen Shot 2020-06-29 at 1 44 13 PM](https://user-images.githubusercontent.com/6390096/86043934-fde25b00-ba0e-11ea-98e1-fd5fe3d793bf.png)
 iPhone 6 emulator shows the slider ending up looking as it should, also merged this functionality https://github.com/mwernimont/gages-through-the-ages/commit/f75f0355f6f7f314e73aa53ea715d61d4b88c988 that has the map keep the consistent bounds when manually r

[2020-06-29 18:51] ellenbechtel commented on #546
[annotatedBarChart.zip](https://github.com/usgs-makerspace/makerspace-sandbox/files/4847456/annotatedBarChart.zip)

^ Contains JPG, PNG, and SVG of the chart, with the dashes fixed!

[2020-06-29 18:57] amrhoades commented on #546
@mwernimont can you add to test?

[2020-06-29 19:34] mwernimont commented on #546
@amrhoades http://water-visualizations-test-website.s3-website-us-west-2.amazonaws.com/visualizations/gages-through-the-ages/#/

[2020-06-29 19:35] mwernimont commented on #546
We may need to think of a different approach for mobile, as this long bar chart doesn't translate well on smaller screens from my testing.  Could section it up by eras for mobile, so three images instead of one?

[2020-06-29 19:44] ellenbechtel commented on #546
@mwernimont  Sure, want me to send three panels?

[2020-06-29 19:45] mwernimont commented on #546
If you are cool with that.

[2020-06-29 19:56] ellenbechtel commented on #546
Definitely. Here's one way to do it.  Note that I had to make a call about where to slice up the 2nd and 3rd panel (ie, include the upper annotations about budget cuts vs. include lower annotations about eras).  Should we separate them differently?  Or do 4th panel?  Open to whatever.

![image](https://user-images.githubusercontent.com/25129074/86050016-2c693180-ba21-11ea-8d62-7321a90e31d3.png)

!

[2020-06-29 19:59] mwernimont commented on #546
@jread-usgs do you like this idea, or does breaking up the chart destroy something we are trying to show in this part of the visual?

Its just hard to read any of our cool annotations on mobile currently, so just through out my first idea, up for others. Idk maybe only show this part of the vizzy on the screens that can support it?

[2020-06-29 19:59] mwernimont commented on #546
Also @ellenbechtel thanks for the speedy mockups

[2020-06-29 20:05] abriggs-usgs commented on #549
Pull Request -  https://github.com/usgs-makerspace/delaware-basin-story/pull/15 This request connects the container called 'delaware-basin-story' to the visualization. Also added an additional Pull Request to remove the old custom link tracking that was in the footer: https://github.com/usgs-makerspace/delaware-basin-story/pull/16

[2020-06-29 20:24] jordansread commented on #546
Just coming up to speed. Is another option to have a mobile version that may not look quite as good, but has a much larger font and some truncated text to squeeze in? So that the whole plot can be seen at once?

[2020-06-29 20:25] ellenbechtel commented on #546
What if the image can start full size in upper right, but the x-overflow is set to scroll?  Just spitballing!

[2020-06-29 20:34] jordansread commented on #546
Not sure I am fully catching the idea here - you'd see the more modern content full size, but the left would be clipped and you'd scroll left? If this is correct, you'd see the last image you shared above, but could scroll to reveal the others?

If so, it makes me want to use _vertical_ scroll to scroll from the early days to the modern ones, revealing fresh eras as it goes...but that seems a lot

[2020-06-29 21:19] abriggs-usgs opened #553 "Add Author Meta Tags"
Let's give credit where credit is do and add some information about the visualization so that browsers can pick it up.

- [x] add meta data to the visualization about the authors
- [x] right before release update with current information

[2020-06-29 22:41] abriggs-usgs opened #554 "Update Author Meta Tags"
Let's give credit where credit is due.

- [x] Use JSON-LD to add meta data to the visualization that includes all contributors

[2020-06-29 22:59] abriggs-usgs commented on #554
What follows is the JSON-LD content, as proposed:

<script type='application/ld+json'>
{
  "@context": "http://www.schema.org",
  "@type": "WebSite",
  "name": "Gages Through the Ages",
  "url": "https://labs.waterdata.usgs.gov/visualizations/gages-through-the-ages/",
  "about": "A visualization explaining the changing distribution of U.S. Geological Survey gages (monitoring locations) over time",

[2020-06-29 23:20] abriggs-usgs commented on #554
After consulting with members of the Internet of Water team I added the above meta information as JSON-LD, I know very little about this topic and am operating on their advice.  Because when I look up the function of JSON-LD I find generally ambiguous and unhelpful answers such as - 'JSON-LD annotates elements on a page, structuring the data, which can then be used by search engines to disambiguat

[2020-06-29 23:39] abriggs-usgs commented on #553
Here is the current information- this will need to be updated prior to release, but it is the structure is there and the final changes should be minor.

<script type='application/ld+json'>
{
  "@context": "http://www.schema.org",
  "@type": "WebSite",
  "name": "Delaware Basin Story",
  "url": "https://labs.waterdata.usgs.gov/visualizations/delware-basin-story/",
  "about": "A visualization explor

[2020-06-29 23:49] abriggs-usgs commented on #553
Pull Request - https://github.com/usgs-makerspace/delaware-basin-story/pull/17

This adds the basic structure, some minor tweaks are needed prior to release.  So I'll put this into the backlog for visitation at a later date.

[2020-06-30 12:45] ellenbechtel commented on #546
You could do that, or start at the earliest year and scroll right.  It's a little weird, and not seen much on the web, so it wouldn't be super intuitive to people.  But, the best alternative is to chop it into 3-4 frames and stack those frames vertically, and I'm not sure if that kind of flow is more or less intuitive than a scroll on mobile.

[2020-06-30 15:24] jordansread commented on #546
I think chopping seems like a good pragmatic solution, but we'll want to see how it works. Can we keep it to 3 images instead of 4? One for each era?

[2020-06-30 15:49] ellenbechtel commented on #546
You got it!  Are the three I posted above okay?

[2020-06-30 16:07] jordansread commented on #546
sure

[2020-06-30 16:18] ellenbechtel commented on #546
[mobile.zip](https://github.com/usgs-makerspace/makerspace-sandbox/files/4853131/mobile.zip)
Zip of all three panels in jpg, png, and svg form.  Tried to keep them all the same dimensions and centering, but let me know if they turn out weird!

[2020-06-30 17:01] mwernimont opened #555 "Add links to important text. What and where shall it go?"
What text in our viz needs to be a link to further resources.  For example I know we have a need to link out to NWIS, but is there anything elsr?

- [x] NWIS https://waterdata.usgs.gov/nwis Text in viz to use as link: "National Water Information System"

[2020-06-30 17:12] mwernimont commented on #555
@jread-usgs Do we have any other text that we want to use as a link somewhere in the viz?

[2020-06-30 17:36] ellenbechtel commented on #506
@jread-usgs @amrhoades @aappling-usgs

Colleen and I are making a style guide in parallel with the other pieces we're making for the demo next Monday.  We'd love your thoughts!  I'm specifically paying attention to typographic styling right now, and by the end of the day will have some more examples of styling for graphic elements (visuals, annotations, map additions, etc).   I'd love to paste the

[2020-06-30 17:49] ellenbechtel commented on #506
**Maps and Annotations**
Maps edges could be softened with a mask overlay, which could provide some opacity fade and some brush texture fade. Background would have some paper texture and would be an offwhite to distinguish it from the rest of the page.

Ink annotations would be vector lines with a stroke, which would be animated.

Annotation keywords would be the handwritten font, supporting text

[2020-06-30 19:30] #539 closed, assigned to jordansread, abriggs-usgs

[2020-06-30 19:30] #534 closed, assigned to mwernimont

[2020-06-30 19:30] #541 closed, assigned to abriggs-usgs

[2020-06-30 19:31] #538 closed, assigned to amrhoades

[2020-06-30 19:31] #542 closed, assigned to abriggs-usgs

[2020-06-30 19:31] #537 closed, assigned to mwernimont

[2020-06-30 19:31] #554 closed, assigned to abriggs-usgs

[2020-06-30 19:35] aappling-usgs commented on #506
I don't feel a need to be true to the limitations of watercolor. White text seems fine to me. I see black text on the Salt Front example above - any concerns about mixing the two? (I think I'm OK with the mixing...)

[2020-06-30 19:42] ellenbechtel commented on #506
I feel fine about it too.  I think people won't be thinking about it too much, but I'll put some more thought into it and make some guidelines around what should symbolize/mean what (like, all subheaders are Noto Bold, but all Section Headers are Noto Bold in white with background...or something like that).

JR?

[2020-06-30 19:43] aappling-usgs commented on #506
I am saying this as less-artistic team member rather than as project champion, but the dark yellow layered under blue or green, e.g.:
![image](https://user-images.githubusercontent.com/12039957/86169720-0a86b200-bae8-11ea-82fe-f7e076b27efa.png)
does strike me as a bit...muddy, icky? Maybe that's a fitting analogy for river water, and/or maybe it'll take on more of a rainbow feel in context, but th

[2020-06-30 19:45] ellenbechtel commented on #506
Haha! I did try it with a few single-color versions, and liked the extra dimension that the neutral beige brings to the more vibrant blue.  Check them out side-by-side:

![image](https://user-images.githubusercontent.com/25129074/86170187-bc25e300-bae8-11ea-8f36-96ceeedd83a0.png)
 They aren't bad!  I just leaned towards the mixier-color, and mixing a lot of vibrant colors can sometimes get overwhe

[2020-06-30 19:52] aappling-usgs commented on #506
I see what you mean - the third one is noticeably more interesting.

[2020-06-30 19:59] abriggs-usgs commented on #542
Even though this is closed, just wanted update that I did check and to my eyes the link clicks and their destination are being recorded.
![image](https://user-images.githubusercontent.com/36997804/86171428-5171a900-bae2-11ea-9aa0-7c55bd151b76.png)

[2020-06-30 20:04] mwernimont commented on #542
That will be handy ^

[2020-06-30 20:10] mwernimont commented on #536
Sigh...well thought I was onto something as Safari let me still mess with the map elements, but realizing JR is on Chrome while this happens.  I got Safari to play ball, but can't really test IOS Chrome mobile myself...this is a bit difficult of a situation

[2020-06-30 20:11] ellenbechtel commented on #550
Possible Hero Banner, waiting for final map
![Artboard 1-100](https://user-images.githubusercontent.com/25129074/86186702-bbe91000-bb07-11ea-9ec7-544033913c5d.jpg)
![Artboard 5-100](https://user-images.githubusercontent.com/25129074/86186705-bd1a3d00-bb07-11ea-9d21-501cfd509134.jpg)

Possible Intro
![Artboard 2-100](https://user-images.githubusercontent.com/25129074/86186716-c3101e00-bb07-11ea-9d1

[2020-06-30 20:12] ellenbechtel commented on #506
I pasted these in Issue #550 (which is where we're keeping most-recent stills of what we've got so we can easily compile a document for Monday's demo), but wanted to share them with you too since they are relevant to this Style Guide.

Possible Hero Banner, waiting for final map
![image](https://user-images.githubusercontent.com/25129074/86172265-17a5a000-baec-11ea-9596-cea6b542ca7d.png)

Possible

[2020-06-30 20:20] ellenbechtel commented on #550
Typographic guidelines
![image](https://user-images.githubusercontent.com/25129074/86172650-baf6b500-baec-11ea-8c53-2e113cfa9227.png)

Shapes for button highlights or other pullout backgrounds
![image](https://user-images.githubusercontent.com/25129074/86172681-ca75fe00-baec-11ea-9886-a2314de52206.png)

Section headers and body text
![image](https://user-images.githubusercontent.com/25129074/86173

[2020-06-30 20:21] jordansread commented on #506
looks beautiful!

[2020-06-30 20:29] mwernimont commented on #536
Aaron is going to double check browser stack, I initially used it to test the iPhone 6S and didn't see anything peculiar, but two eyes are better than 1.

[2020-06-30 20:58] cnell-usgs commented on #548
Trout drawing with different color fills
![swimming-01](https://user-images.githubusercontent.com/17803537/86176384-7702b080-baea-11ea-830e-1bb4b0a7e541.png)

[2020-06-30 21:11] abriggs-usgs commented on #536
I checked this on Browserstack which is a real iPhone that loads our site and then screen shares with us. I'm not seeing the issue reported. I can share a video in teams if people have and interest in seeing it (this comment refers to the text moving, which I am not sure if it is different from the jitters). The jitters, as reported initially, are still there, but what I am seeing is quite minor,

[2020-07-01 00:43] cnell-usgs commented on #550
![trout and mussels-01](https://user-images.githubusercontent.com/17803537/86190414-eb008100-bb09-11ea-8a66-eebfe031bbc2.png)

[2020-07-01 01:14] cnell-usgs commented on #548
Those look dark and can/should be lightened up a bit. Fish is loosely based on brook trout, Salvelinus fontinalis, the only native trout species. Brook trout are identified by red spots with blue halos and pinkish-orange fins with white edge.

Brook trout are used as bioindicators for water temperature and quality, requiring colder water with more dissolved oxygen than co-occurring trout species.

[2020-07-01 10:43] jordansread commented on #506
I was in a meeting during this dialogue so I didn't have a chance to weigh in on the colors. Personally, I LOVE this
![image](https://user-images.githubusercontent.com/2349007/86235039-6fc8ba80-bb5d-11ea-867c-6e4f8226ff49.png)
and the depth it has reminds me of real (beautiful) lakes and streams.

This looks great

[2020-07-01 13:37] abriggs-usgs opened #556 "Viz release technical check-list"
Since the Gages Through the Ages Visualization is next on the agenda for public release, I thought it would work to start assembling the 'viz release technical check-list' here.

- [x] Create a comprehensive checklist so that we can just check the boxes and be confident that we have accomplished everything we need to have a trouble free public release
- [x] Find a place to store the checklist and

[2020-07-01 13:51] abriggs-usgs commented on #556
I'm gonna start a list of ideas that are on my mind at the moment; we can sort and filter later. So here it goes.
stuff for analytics
- go to analytics.google and create a 'property' under vislab so that you have an ID
- go to https://tagmanager.google.com/#/home and under the usgs-makerspace account create a new container
- go back to the application and the code that links the application to the

[2020-07-01 14:08] mwernimont commented on #556
I thought we had a GA ID already?

[2020-07-01 14:10] abriggs-usgs commented on #556
True, we are making a list for future applications while the information is fresh in our minds. So everything in the list should be pretty much done for Gages. This is in preparation for the Viz Release Checklist meeting on Thursday. So feel free to make note of anything that you have done recently that could apply to future applications.

[2020-07-01 14:48] lindsayplatt commented on #556
Social media:
* Contact Web Comm to create social media campaign plan (need lead time in order to plan & get approved, ~2 weeks)
* Decide what level of broadcast is needed (national accounts? just water? every platform? just Twitter?) - Sponsor + Web Comm should decide
* Generate social media content (GIFs, images, videos) to accompany posts

[2020-07-01 16:12] ellenbechtel commented on #516
Here are some mockups for what the monitoring graphic could look like, based on Megan's numbers and sketches and the new style guide

**Desktop**
![Desktop-5-Monitoring1](https://user-images.githubusercontent.com/25129074/86266852-d2d54400-bb93-11ea-9bf6-02f5059cfa9d.jpg)

![Desktop-5-Monitoring2](https://user-images.githubusercontent.com/25129074/86266900-e41e5080-bb93-11ea-9cf6-4ef50df14eff.jpg)

[2020-07-01 16:13] ellenbechtel commented on #550
Issue #516 has these too, but here are shots for the demo

**Desktop**
![Desktop-5-Monitoring1](https://user-images.githubusercontent.com/25129074/86266852-d2d54400-bb93-11ea-9bf6-02f5059cfa9d.jpg)

![Desktop-5-Monitoring2](https://user-images.githubusercontent.com/25129074/86266900-e41e5080-bb93-11ea-9cf6-4ef50df14eff.jpg)

![Desktop-5-Monitoring3](https://user-images.githubusercontent.com/251290

[2020-07-01 16:15] ellenbechtel commented on #508
Here's the latest, but I'd like to do a better job indicating that the reservoirs are actually reservoirs, and making a distinction between the watercolor river flow and the inked reservoir names.

![Sankey](https://user-images.githubusercontent.com/25129074/86267370-981fdb80-bb94-11ea-90d0-1d341e09ca24.png)

[2020-07-01 17:31] abriggs-usgs opened #557 "Make the SVG Map Load First"
Since most of the components our the Gages visualization are smaller than the SVG map, they all render to the user's screen faster than the map. This isn't what want. We want the map to be the first think (besides the header) to show. Luckily Vue gives us a way to make that happen.

- [x] Make the main SVG be the first thing to load, under the headers, of course.

[2020-07-01 17:41] abriggs-usgs commented on #557
Pull Request - https://github.com/usgs-makerspace/gages-through-the-ages/pull/121

This uses a combination of the Vuex store, computed properties, selective Webpack chunking, and conditional component loading, so that the Main SVG is given first load priority and prevents any of the other components from loading until that happens. This should dramatically change the our Lighthouse scores.

[2020-07-02 14:35] mwernimont commented on #556
Social Media Video Guidleines: https://sproutsocial.com/insights/social-media-video-specs-guide/
Social Media Image Guidleines: https://sproutsocial.com/insights/social-media-image-sizes-guide/

[2020-07-02 14:37] lindsayplatt commented on #556
* data cited and processing methods written out (available on viz)

[2020-07-02 14:39] ellenbechtel commented on #506
Folder of individual files / images so far
[DRBimagesSoFar.zip](https://github.com/usgs-makerspace/makerspace-sandbox/files/4864967/DRBimagesSoFar.zip)

[2020-07-02 14:40] #547 closed, assigned to ellenbechtel

[2020-07-02 14:41] #505 closed, assigned to cnell-usgs, ellenbechtel

[2020-07-02 14:47] lindsayplatt commented on #556
Post-release:

* Web traffic analytics
* Social media post analytics
* Team retrospective

[2020-07-02 14:53] lindsayplatt commented on #556
## **_Completed draft list_**

### Performance testing (when - early and often)

#### during project setup
- Add website banner that says "THIS IS A WORK IN PROGRESS, DO NOT USE, NOT RELEASED" (included in base template)
- Check that the 'robots' meta tag is added to stop indexing of beta (if the base template was used, this is included)
#### after the first major component has been added
- Push p

[2020-07-02 16:35] cnell-usgs commented on #517
The following images are taken from drone videos. These are snapshots, but the final choices can be refined for high-res

Montague:
![DJI_0005_mont aerial1286](https://user-images.githubusercontent.com/17803537/86385720-59eaf080-bc56-11ea-8452-44adc5a2e05d.jpg)

![DJI_0005_mont aerial0217](https://user-images.githubusercontent.com/17803537/86385700-4d669800-bc56-11ea-8c8d-9a401718c14f.jpg)
![DJI_0

[2020-07-02 16:55] cnell-usgs commented on #517
Related to #511  and #514

[2020-07-06 14:41] jordansread commented on #556
Nice work.

yes, we need to do this.

[2020-07-06 20:56] mhines-usgs opened #558 "Create several more dates for WaterWatch treatments"
Hi Megan- Looks like your currently out of the office, so no need to respond until you're back and caught up. But we'd like another couple of days maps generated (both the control and treatments). We need to have a few different days showing different patterns. The days we need are: 10/11/2019, 7/8/2019, and 6/20/2020. They can look just like the last versions you created, in terms of design. We m

[2020-07-06 22:11] mhines-usgs commented on #558
it's not entirely clear how to get the historical data for specific dates. Lindsay has an alternate way to get historical data but it's not the same thing as the site itself. I asked Emily if she can connect me with the right person to see if they can help me get the exact data they want.

[2020-07-07 13:43] mhines-usgs commented on #558
Reached out to xjian@usgs.gov to ask for the specific dates after hearing back from Emily this morning.

[2020-07-07 13:44] mhines-usgs commented on #545
the change was done on 6/26 and pushed to both servers, and updated in Sharepoint

[2020-07-07 14:00] amrhoades commented on #551
@mwernimont heyo! What's the status of this issue?

[2020-07-07 14:04] amrhoades commented on #546
![MicrosoftTeams-image (2)](https://user-images.githubusercontent.com/22282376/86793123-2682da00-c039-11ea-9a48-85c302808204.png)

Edits to annotations @ellenbechtel 👍

[2020-07-07 14:07] #535 closed, assigned to mwernimont

[2020-07-07 14:07] #557 closed, assigned to abriggs-usgs

[2020-07-07 14:10] ellenbechtel commented on #546
On in!  These are edits to the original, which we had made some changes on for the mobile version.  @mwernimont can you confirm that I should make the above changes for the desktop, **but for mobile, make the same text changes but keep the other visual elements of the mobile design (pasted below)?**

<img width="1068" alt="Screen Shot 2020-07-01 at 2 03 18 PM" src="https://user-images.githubuserco

[2020-07-07 14:24] mwernimont commented on #546
I can do it @ellenbechtel

[2020-07-07 14:25] mwernimont commented on #546
Waiting for final final final feedback before implementing changes.

[2020-07-07 14:26] ellenbechtel commented on #546
@mwernimont you mean you want to do all the edits? Or just the mobile ones?  Either way is fine!

[2020-07-07 14:26] mwernimont commented on #546
I'll do all da edits.

[2020-07-07 14:26] ellenbechtel commented on #546
you da bomb

[2020-07-07 14:28] #536 closed, assigned to nobody

[2020-07-07 14:48] mwernimont commented on #552
https://doimspp.sharepoint.com/sites/gs-wma-iidd-makerspace/Shared%20Documents/Forms/AllItems.aspx?FolderCTID=0x0120007E5845A5DF00934EAC3B8A00E860A7F3&viewid=66bc5c5d%2Daa1c%2D4456%2D9a76%2D1ba08de17cf8&id=%2Fsites%2Fgs%2Dwma%2Diidd%2Dmakerspace%2FShared%20Documents%2FProject%20%2D%20Gages%20Through%20Ages%2Fsocial%5Fmedia%2FRelease%5FFiles

[2020-07-07 19:43] lindsayplatt commented on #556
Just to clarify - we need an IPDS for every viz? Or does it depend?

[2020-07-07 19:46] jordansread commented on #556
For every "web site" release, so any hosted viz. Not every social media file though.

[2020-07-07 21:06] ellenbechtel commented on #508
What do we think about these three views? These were relatively easy style edits, and we can edit again once we look at water budget data and discuss feedback about flow from the demo with Kendra and Brian.  But wanted to get a sense if this was in line with where this is headed.

View 1: Normal flow!
![image](https://user-images.githubusercontent.com/25129074/86842718-9d3cc900-c073-11ea-87b0-5510

[2020-07-07 21:49] abriggs-usgs commented on #556
@wdwatkins would you mind taking a peek at the 'completed draft' a couple sections up and see if there is anything of which you can think to add?

[2020-07-07 21:55] mhines-usgs commented on #558
Got the data. making maps.

[2020-07-07 22:18] wdwatkins commented on #556
I added a bullet about testing to the analytics section.  Looks good though!

[2020-07-08 12:56] abriggs-usgs commented on #556
@jread-usgs and @amrhoades I went through the above draft and added some 'when to start this part' guidelines, but I was struggling with the words to describe the starting point for the 'steps to public release.' Right now, I have used the words "when project criteria are complete and the application is 'finished'". But in retrospect, I feel that for most projects this would be a vague rather than

[2020-07-08 13:32] aappling-usgs commented on #508
I love the use of brown and blue to contribute the different sources/volumes of water. I also really like the Gaging Station icons, though I am confused about why Trenton varies between light and dark gray - does that change have a physical meaning?

Maybe this is a difference between what works best for static vs animated versions of this visual, but I had been imagining that we'd show releases f

[2020-07-08 15:32] cnell-usgs commented on #548
Another view with mussels and trout looking sad because of suboptimal water temperature
![Asset 15](https://user-images.githubusercontent.com/17803537/86938601-39afab80-c106-11ea-9da9-fd4f4e4155f9.png)

[2020-07-08 15:39] cnell-usgs commented on #512
This still requires attention. During the demo Kendra mentioned that upper basin salinity levels have been increasing over time, leading to shifting salinity baselines. This point may be useful in integrating road salt with the salt front chapter.

Slides for inspiration: https://www.state.nj.us/drbc/library/documents/RFAC/052418/PWD_WaterSupplyPlanning_Hesson.pdf

[2020-07-08 15:59] cnell-usgs commented on #529
After the demo on 7/6/2020 it was suggested that the sediment section be traded for a section on flow. This is partially due to the limited applications of drones to sediment in the DRB, limitations on current drone use, and interesting potential content about flow that would strengthen the narrative earlier on.

[2020-07-08 17:36] mhines-usgs commented on #558
![2019_07_08](https://user-images.githubusercontent.com/6920344/86951807-a54e4480-c117-11ea-91a1-79543c1e5541.png)
![2019_10_11](https://user-images.githubusercontent.com/6920344/86951813-a7180800-c117-11ea-88e1-b5e0688224bd.png)
![2020_06_20](https://user-images.githubusercontent.com/6920344/86951816-a7b09e80-c117-11ea-8a04-9c6befc9cd0d.png)

[2020-07-08 17:40] mhines-usgs commented on #558
will need to wait for emily to return from AL/OOO to get feedback on whether the data need additional tweaking to the data to mimic fake events for their testing needs.

[2020-07-08 17:46] mhines-usgs commented on #558
updated the notebook page here on continued efforts https://doimspp.sharepoint.com/sites/gs-wma-iidd-makerspace/_layouts/15/Doc.aspx?sourcedoc={2ab8fc24-7601-455f-8424-4ec124c3a253}&action=edit&wd=target%28FY20%20Portfolio.one%7C09f1903b-3350-426d-9baa-39412653371d%2FAB%20Prototype%7C7d24b7cc-8d5e-45f4-92f8-22c94c782eeb%2F%29

[2020-07-08 17:49] cnell-usgs commented on #550
Photos of DRB in #517

[2020-07-08 17:52] cnell-usgs commented on #511
Using backdrop of surrounding states and ocean in initial views of the DRB watercolor to give context #550 & #507. Also including real photos of the DRB in addition to drawn map to show what it looks like there #517 .

[2020-07-08 18:01] mhines-usgs commented on #558
Feedback from Emily right away!
Megan- these look great. Thank you. I have two requests: 1) could you doctor up the 'lows' in each by adding ~10-15 low (brown) dots in the northwest, southeast, and northwest (areas in each map where is there is already a lot of relatively lower conditions. Just to clarify, the extra dots only need to be added to one region in each map- and you can just choose an a

[2020-07-08 19:01] mhines-usgs commented on #558
modified 7/8 + control with same modified data
![2019_07_08](https://user-images.githubusercontent.com/6920344/86961606-1d703680-c127-11ea-9881-cc1e182e3840.png)

![2019_07_08_control](https://user-images.githubusercontent.com/6920344/86959432-6de59500-c123-11ea-8b2e-ec81445a77be.png)

[2020-07-08 19:46] mhines-usgs commented on #558
![2019_10_11](https://user-images.githubusercontent.com/6920344/86963234-cc157680-c129-11ea-94e1-39783d7a52d3.png)
![2019_10_11_control](https://user-images.githubusercontent.com/6920344/86963236-cd46a380-c129-11ea-95ac-8b2927695e63.png)

[2020-07-08 20:04] mhines-usgs commented on #558
![2020_06_20](https://user-images.githubusercontent.com/6920344/86964752-30d1d080-c12c-11ea-80a9-9d39eeecab60.png)
![2020_06_20_control](https://user-images.githubusercontent.com/6920344/86964759-33342a80-c12c-11ea-8abd-c15446fd92c6.png)

[2020-07-08 20:32] amrhoades commented on #555
Link to NWIS text linked to:  **the National Water Information System (NWIS)**
Link to https://pubs.usgs.gov/fs/2014/3034/pdf/fs2014-3034.pdf text linked to: **quantify the nation's flowing waters** 

[2020-07-08 20:33] amrhoades commented on #555
@jread-usgs any other links? NOAA? NGWOS?

[2020-07-08 20:54] mhines-usgs commented on #498
pr to change where final tiles for water storage go: https://github.com/usgs-makerspace/wbeep-processing/pull/157/files

[2020-07-08 21:16] mhines-usgs commented on #498
pr to change the env files https://github.com/usgs-makerspace/wbeep-viz/pull/408

[2020-07-08 21:23] mhines-usgs opened #559 "Reminder when going to prod! cut release and update scheduled jobs for wbeep-processing when ready to switch tile location"
manually ran the tippecanoe tile join job for each tier to get the tiles into the s3://wbeep-XXX-website/estimated-availability/tiles/waterStorage/ area. once we merge and run the wbeep-viz project to switch up the location from the changes to the env files, we can cut a release on wbeep-processing and update the jenkins jobs that use a release version to use that latest release.

- [ ] cut wbeep-

[2020-07-08 21:24] mhines-usgs commented on #498
we'll have to cut a release of wbeep-processing and update the scheduled jobs to use that new version once we merge the env files changes and re-run that release on wbeep-viz. for now i ran the tile join job on each tier from origin/master. created https://github.com/usgs-makerspace/makerspace-sandbox/issues/559 to capture that

[2020-07-08 21:36] mhines-usgs commented on #479
assumptions being made here to achieve this task (can be modified later):
- model output will be done upstream and when it is processing the data, it will generate a date file called date.txt containing only the date in YYYY-MM-DD format, and place it in s3://prod-owi-resources/resources/Application/wbeep/${TIER}/waterTemperature/date.txt
- with the example data we have so far, the date is also in

[2020-07-09 13:51] ellenbechtel opened #560 "Interactions and Transitions Hub"
Let's make a list!

**Do Now**

- [x] Uses Chapter: Carousel of DRB photos to show diversity of water use AB - https://github.com/usgs-makerspace/makerspace-sandbox/issues/561 (in review)
- [x] Uses (maybe Flow?) Chapter: Sankey transitions between 3 views. (MVP = a nice fade from still to still, NTH = using D3 to transition vectors) AB (EB) - https://github.com/usgs-makerspace/makerspace-sandbox/

[2020-07-09 14:49] abriggs-usgs opened #561 "Carousel of DRB Photos"
To capture the many uses of the Delaware River Basin, let's add a selection of photos.

- [x] Create a image slider/carousel/other that will give users a sense of the vast variety of uses in the DRB

[2020-07-09 14:54] abriggs-usgs opened #562 "Add MVP transitions to Monitoring Section"
We have the vision of a map that transitions as the user scrolls through text. Let's do it!

- [x] add highlights to 'big numbers' on scroll
- [x] change the map image in conjunction with scroll

[2020-07-09 15:00] abriggs-usgs opened #563 "Sankey Transitions"
The Sankey diagrams play a big role in the Delaware River Story, so let's put some time into making them look great

- [x] Make a Minimal Viable Product transition using CSS fades
- [x] Investigate more sophisticated transitions

[2020-07-09 15:07] amrhoades commented on #551
@mwernimont @abriggs-usgs  - per our conversation a couple of days ago. You both communicated that this is an iOS 8 or later issue and that there probably isn't a fix that could be implemented without much more research. We agreed that, although not ideal, it doesn't alter the user experience enough to keep us from releasing the product.

Next steps:

- [ ] get buy-in from @jread-usgs that this kn

[2020-07-09 15:11] amrhoades commented on #556
@abriggs-usgs - the gate should be: **confirmation from the project champion that the product, in it's current form, is ready**.

[2020-07-09 15:12] amrhoades commented on #556
@abriggs-usgs  - I'm going to remove the Gages label since this list is for all projects, not just gages.

[2020-07-09 15:14] abriggs-usgs commented on #551
The 'log known bug on internal website and in Github' is complete.

[2020-07-09 15:18] amrhoades opened #564 "Text and placement of viz elements finalized"
- [x] ?remove CO?
- [x] placement of annotated bar chart
- [x] new text added
- [x] text reviewed by Alicia and Jen for grammar and flow
- [x] references added
- [ ] appropriate links verified

[2020-07-09 15:19] amrhoades commented on #564
@jread-usgs please add to the list as you see fit. Thanks!

[2020-07-09 15:22] amrhoades opened #565 "Text and viz element placement updated on Test/beta"
Once @jread-usgs gives the green light:

- [ ] add updates to test
- [ ] push to beta
- [ ] Jordan review on beta - provide any final changes
- [ ] Jordan final - yes, release to prod!

[2020-07-09 15:26] abriggs-usgs opened #566 "Steps to Public Release"
This Issue Serves as a template - to use, (choose to edit the issue then) copy and paste what follows into a new issue at the start of each project.

### Performance testing (when - early and often)

#### during project setup
- [ ] Add website banner that says "THIS IS A WORK IN PROGRESS, DO NOT USE, NOT RELEASED" (included in base template)
- [ ] Check that the 'robots' meta tag is added to stop

[2020-07-09 15:28] ellenbechtel commented on #507
Alright! A few options.  Just made a whole bunch that we can play with.

The things I'm thinking about are:
- Making sure the inside of the DRB doesn't look like the ocean
- Making sure the inside of the DRB is light enough for ink to stand out over it
- Making sure the edges of the DRB aren't too pixelated
- Making sure that the beautiful watercolor texture doesn't make it too hard to read text.

[2020-07-09 15:30] amrhoades opened #567 "Post-release work"
- [ ] Team retrospective
- [ ] Web traffic analysis (probably wait a couple weeks)
- [ ] Social media post analysis (probably wait a couple weeks)

[2020-07-09 15:31] abriggs-usgs commented on #556
I created https://github.com/usgs-makerspace/makerspace-sandbox/issues/566 and placed it in the 'ideas' column with the label 'Makerspace processes.' The thought is that issue 566 can be used a template to create a new issue at the start of each project that will capture the entirety of the Public Release Process.

[2020-07-09 15:34] abriggs-usgs opened #568 "Steps to Public Release - DRB Story"
### Performance testing (when - early and often)

#### during project setup
- [x] Add website banner that says "THIS IS A WORK IN PROGRESS, DO NOT USE, NOT RELEASED" (included in base template)
- [x] Check that the 'robots' meta tag is added to stop indexing of beta (if the base template was used, this is included)
#### after the first major component has been added
- [x] Push preliminary website

[2020-07-09 15:35] jordansread commented on #551
I understand this is a wontfix, but want to know two things. What percentage of mobile traffic (approx) will see this - Is it most or nearly all iPhone users or a small fraction of iPhones that are at or above that version? Is this bug due to mapbox in the slider vs two static images or a vector image that isn’t meant to “slip” or pan by default?

[2020-07-09 16:09] abriggs-usgs commented on #551
Here is a partial answer (based on various internet sources, so buyer beware):

'What percentage of mobile traffic?' Iphone users represent roughly half of the mobile web traffic, the vast majority of these (90%+) will have a unit with an operating system on which the issue will be seen.

'Is this bug due to mapbox . . . ?' I searched the Mapbox repository for issues related to what we were seeing

[2020-07-09 16:28] amrhoades commented on #551
Pulled user data numbers from 2 past vizzies:

drought viz - 9% iOS
water use - 7.6% iOS

All users were using iOS 8 or newer

[2020-07-09 17:02] tworr commented on #460
All visualizations are in place and redirected with the exception of ca_drought and water-use-15.  A redirect request is pending for ca_drought and I am doing further analysis on water-use-15 to determine whether more targeted redirects are necessary/possible.

[2020-07-09 17:06] mhines-usgs commented on #479
Doesn't really seem like we're ready to trigger the jobs yet since there is no model output job at this point that should trigger the tile-regeneration/re-join process. We also probably don't need to schedule anything yet for the same reason.

[2020-07-09 17:24] mhines-usgs commented on #479
pr to add notifications and work with date file https://github.com/usgs-makerspace/wbeep-processing/pull/158

[2020-07-09 17:27] mhines-usgs commented on #479
testing from my fork.

[2020-07-09 17:29] ellenbechtel commented on #508
Good points, AA.  What do you think about this version, showing a single release from Cannonsville?

As for the gaging station, I had "faded out" words that might not be the main focus of the story at that point.  Those are all up to change based on the text!  But for example, if we're talking in View 2 about the gaging stations, we should fade out the other labels and make the gaging stations sol

[2020-07-09 17:37] ellenbechtel commented on #508
You make an interesting point about marking "very low but not bad" vs "painfully low, not legal."

My concern is that for the sake of this visual, unless we make the change drastic enough, people might not be able to notice that the three states of river flow (plenty of flow, low, and painfully low).   The current version does that.  But it's not super obvious. What do you think?

![image](https:/

[2020-07-09 17:59] amrhoades commented on #551
David just reached out with this update:

Actually the older water use viz got more traffic.  It has 25% iOS users.  I'd probably expect a higher percentage of mobile users for something that gets a big push from reddit or other social media

**so we may have a quarter or more users on iOS 8 or newer**

[2020-07-09 18:14] aappling-usgs commented on #508
I liked the combo of side-by-side brown and blue in the reservoir release image - what do you think about bringing that part back? I think the just-Cannonsville version of that one could be pretty cool because you could have one vertical blue strip running through the channel that would show that Cannonsville's release affects flow all along the rest of the mainstem.

![](https://user-images.githu

[2020-07-09 18:16] aappling-usgs commented on #508
I like the use of the gaging station icon width to indicate "legally sufficient" and then have the images show plenty, too low, and just right. I think you're doing that in both of the 3-panel versions you shared in your last comment, so I'm confused about

to distinguish the second set from the first set - can you spell out for me what is different?

[2020-07-09 18:18] aappling-usgs commented on #508
Oh, wait, now I see it - the second set has "just right" on the righthand side, whereas in the first set the markings still extend beyond the channel width. I like the second set better for that.

[2020-07-09 18:23] jordansread commented on #508
This may be related to my comment during the demo, which was asking how physically realistic it should look vs communicate the different water masses. I noted that this isn't how water looks or flows in a channel, and also that it contrasts with how we'd be showing the salt wedge in the later sections. I am supportive of making comprehension vs realism tradeoffs, I just wanted to make sure the tra

[2020-07-09 18:36] aappling-usgs commented on #508
Got it. I'm not especially worried about that loss of realism in light of all the other simplifications that are happening here, but if one version fits better with the salt wedge graphic then I'm supportive of that choice.

[2020-07-09 19:19] mhines-usgs commented on #558
Emily liked this for now
![image](https://user-images.githubusercontent.com/6920344/87081533-26c4d600-c1ef-11ea-946e-5da4da625978.png)

[2020-07-09 21:55] mhines-usgs commented on #479
works now, driven by whatever date file is in s3://prod-owi-resources/resources/Application/wbeep/${TIER}/waterTemperature/date.txt, will grab that correlated csv and then use that date to drive the join.

[2020-07-09 22:03] mhines-usgs opened #569 "Once wbeep temperature data is building, set up triggers between jobs"
from https://github.com/usgs-makerspace/makerspace-sandbox/issues/479

- [x] after model processing job exists and is pumping out model csv somewhere, we can trigger the tile-join job by that job

[2020-07-09 22:05] mhines-usgs commented on #479
rather than leave this ticket open, i pushed that acceptance criteria over here in the work queue https://github.com/usgs-makerspace/makerspace-sandbox/issues/569

[2020-07-09 22:37] mhines-usgs commented on #486
@abriggs-usgs when trying to run the wbeep-viz locally i'm getting this error, not sure if i should try wiping out my whole node modules and starting over? or if you are aware of this?
![image](https://user-images.githubusercontent.com/6920344/87097436-e1ae9d00-c20a-11ea-8810-8cfe63b05b08.png)

[2020-07-09 22:50] mhines-usgs commented on #486
nevermind, I wiped it out and re-installed and it worked the next time!

[2020-07-10 11:37] ellenbechtel commented on #507
Feedback from crit that I'll incorporate for demo today:

The favorite was this direction with a bunch of modifications
![image](https://user-images.githubusercontent.com/25129074/87150352-dcd80080-c27f-11ea-8338-51fa22be043f.png)

- We like the light state background.
- Make the DRB land lighter (but still mostly green) and the ocean lighter (but still dark and mostly blue)
- Can we experiment wi

[2020-07-10 11:41] jordansread commented on #507
Maybe this is already being discussed, but I wanted to point out that it looks like the Atlantic Ocean is labeled as the Delaware River Basin. I know that is kind of a "duh, people will figure it out", but I think it should be taken into account.

[2020-07-10 12:47] abriggs-usgs commented on #562
The intent of this issue is to get a handle on the technical feasibility of a desired feature in the application. The primary focus here is how to trigger various events as the user scrolls. For the methods section, I used the Intersection Observer API in conjunction with a highly implemented NPM package, vue-observe-visibility, which allows methods to be easily triggered when the target element i

[2020-07-10 13:08] abriggs-usgs commented on #486
Just as a guess, I updated the eslint package, which was a 'major' version change so that may have been behind it. I when I tested things, I didn't get any errors, so hopefully this was just a weird blip. But keep me posted, if you see any other issues.

[2020-07-10 13:19] abriggs-usgs commented on #507
lol. That ☝ is a good point and great example of how being too close and familiar with a topic shades our ability to see some things. I totally over looked that point, as I am in the 'This is the Delaware story' mindset. But people outside that space will most likely be like 'hey that is a map of the Eastern Seaboard.'

[2020-07-10 14:00] cnell-usgs commented on #517
Here are the photos we have gathered thus far @aappling-usgs @amrhoades @jread-usgs

[2020-07-10 14:21] aappling-usgs commented on #517
Those are pretty. The Penns Landing photo might work for capturing the idea of industrial/urban water users.

[2020-07-10 14:25] aappling-usgs commented on #517
Brief mention in here of a "thriving bald eagle population": https://stateimpact.npr.org/pennsylvania/2011/12/27/5692/ (no pics there, though)

[2020-07-10 17:38] cnell-usgs commented on #517
Yes! The overwintering bald eagle population near Port Jervis is the largest on the east coast.

https://www.state.nj.us/drbc/edweb/bald-eagle.html

[2020-07-10 18:36] abriggs-usgs commented on #562
@aappling-usgs, in reference to feedback in the Lightning Demo, here is a version with smidgen of formatting added to make the section continuous. The image and icons are stationary, the text still scrolls and triggers the changes.
![image](https://user-images.githubusercontent.com/36997804/87187111-3fe28b00-c2b2-11ea-88fe-d9b246702020.png)

[2020-07-10 19:16] aappling-usgs commented on #562
Cool, thanks for sharing the update, Aaron. That does look nicer. Will this be on the test website? (Or if it's already there, could you send me an updated link in a PM?) I think we'll want experiment with the user scrolling experience for this section especially to get it to feel like it goes at the right "speed" relative to common scrolling behaviors. For example, the version I'm currently seein

[2020-07-10 19:34] abriggs-usgs commented on #562
Pull Request - https://github.com/usgs-makerspace/delaware-basin-story/pull/27 This hides the scroll bar and combines the sections.

[2020-07-10 19:50] amrhoades commented on #546
@mwernimont @ellenbechtel  I spoke with Jordan today - we can push the most current version to beta and close this issue.

[2020-07-10 20:35] aappling-usgs commented on #508
Random thought as I'm working on text: should we include Philadelphia as a third major destination for DRB water? Ideally we'd answer this question with data, but for the moment I'm just thinking about how prominently the DR flows through Philly.

[2020-07-10 20:49] abriggs-usgs opened #570 "Monitoring Section - add scroll triggers to control enter and exit of section"
The basic idea we have for viewing the Monitoring section seems plausible (see https://github.com/usgs-makerspace/makerspace-sandbox/issues/562 ), but what happens if the user scrolls too fast and basically jumps over the entire monitoring section? They would miss a good deal of the story. Can we figure out a way to prevent that? Perhaps set a scroll trigger that will set the section height to tha

[2020-07-10 21:10] ellenbechtel commented on #507
Thanks to some super hi-res gis magic we're back in business!!!  Getting dangerously close to being done.  Have a great weekend everybody!

![image](https://user-images.githubusercontent.com/25129074/87203282-44b63780-c2d0-11ea-8c6e-3bd4fa6a7c0f.png)

[2020-07-10 22:22] mhines-usgs commented on #486
first attempt ready for review: https://github.com/usgs-makerspace/wbeep-viz/pull/411

[2020-07-13 15:13] ellenbechtel commented on #507
Some really helpful advice from Hayley about state labelling:

"Typically my preference would be for option 3 - I always prefer to track and curve labels to the area I'm labeling, and I think it works REALLY well here with the watercolor and handwriting-esque font. However, it isn't often seen in web mapping b/c rendering the curved labels for web display doesn't always turn out. But if this map w

[2020-07-13 15:59] mhines-usgs commented on #486
up on test now, http://wbeep-test-website.s3-website-us-west-2.amazonaws.com/estimated-availability/#/water-storage however we may be modifying this a bit so that it only works when on test or when the nav bar is present.

[2020-07-13 16:10] mhines-usgs opened #571 "WBEEP: additional loading screen modifications"
sprouting out of the original task https://github.com/usgs-makerspace/makerspace-sandbox/issues/486

- [x] adjust the splash screen so that it adjusts only when the nav bar shows. otherwise a full screen splash screen is ok.

Aaron shared a few hints as to how this might be achieved:

![image](https://user-images.githubusercontent.com/6920344/87327718-09974c80-c4fa-11ea-8e27-1ce4a96a980c.png)

![i

[2020-07-13 16:11] lindsayplatt commented on #486
Other than the div height issue, this is exactly what I was picturing 👍

Why are the divs for water storage, use, and temperature different sizes? Is there any reason to not make them all the same size?

[2020-07-13 16:28] abriggs-usgs commented on #486
The features for Water Use and Water Temperature are still in the bare bones construction phase, so I don't think we have looked too deeply into the appearance details --usually like to wait on those things until the content is better defined. So soon . . . coming soon :)

[2020-07-13 17:16] lindsayplatt opened #572 "River conditions: callout shapes generated"
For each of the [example callout shape images located here](https://doimspp.sharepoint.com/:f:/r/sites/gs-wma-iidd-makerspace/Shared%20Documents/Project%20-%20River%20Conditions%20Animation/FY20_Q3?csf=1&web=1&e=GmHdEg),

1. Take the example outline and convert into a grey, transparent shape.
1. Remove everything else in the example figure except for this grey blob, but keep the dimensions exactly

[2020-07-13 18:59] abriggs-usgs commented on #561
Pull Request -  https://github.com/usgs-makerspace/delaware-basin-story/pull/28 - this added a very basic image carousel to 'test'. This is mainly a default version as I wanted to see if people felt as if this was the right direction, and that we could reasonably get the images we need. I feel that we would want images with a wide aspect ratio (verses the narrow ones shown). Additionally, this doe

[2020-07-13 20:35] ellenbechtel opened #573 "Make overlapping SVG for monitoring chapter"
Using the csv provided by Megan, create overlapping SVGs that map onto the DRB basemap and which can be hidden/revealed with the hover function in Vue.

[2020-07-13 20:37] ellenbechtel commented on #573
@collnell when you have a minute tomorrow (Tuesday) after you settle in from getting back, could we touch base about making this?  I think your R prowess will come in handy for making an SVG that we can tweak in illustrator.

[2020-07-13 20:49] tworr commented on #460
All redirects are now in place.

[2020-07-13 20:49] #460 closed, assigned to tworr

[2020-07-14 13:35] mwernimont commented on #572
@lindsayplatt callout in that sharpoint area https://doimspp.sharepoint.com/sites/gs-wma-iidd-makerspace/Shared%20Documents/Forms/AllItems.aspx?csf=1&web=1&e=GmHdEg&cid=8f6f0eee%2D2724%2D4142%2Daf03%2Dcb70b155e80c&RootFolder=%2Fsites%2Fgs%2Dwma%2Diidd%2Dmakerspace%2FShared%20Documents%2FProject%20%2D%20River%20Conditions%20Animation%2FFY20%5FQ3&FolderCTID=0x0120007E5845A5DF00934EAC3B8A00E860A7F3

[2020-07-14 13:35] mwernimont commented on #572
@lindsayplatt let me know if they are too small, I can't remember if I export these at 72ppi or 150ppi...

[2020-07-14 14:05] lindsayplatt commented on #572
I tried a couple and they are the right size. I'm going to regenerate the full animation now

[2020-07-14 14:08] mwernimont commented on #572
@mwernimont 72ppi works buddy ^^

[2020-07-14 15:36] mhines-usgs opened #574 "Release Plan for Dashboard"
- [ ] EC Demo (On Nate to organize)
- [ ] Draft WMA Technical Note (Us)
- [x] Get on the WMA Wed Seminar (Nicole scheduled for 9/30)
- [ ] Thursday Management Meeting announcement (Joe)
- [ ] Newsletter (assume Us draft and share with Adrienne/Don)

[2020-07-14 16:25] mhines-usgs commented on #574
@wdwatkins  if this is different based on convos with Joe & Jordan, feel free to update

[2020-07-14 19:07] abriggs-usgs opened #575 "Steps to Public Release - Temperature Prediction"
### Performance testing (when - early and often)

#### during project setup
- [x] Add website banner that says "THIS IS A WORK IN PROGRESS, DO NOT USE, NOT RELEASED" (included in base template)
- [x] Check that the 'robots' meta tag is added to stop indexing of beta (if the base template was used, this is included)
#### after the first major component has been added
- [ ] Push preliminary website

[2020-07-14 22:21] abriggs-usgs opened #576 "Set Project for Temperature Prediction"
Let's get the Temperature Prediction Visualization rolling.

- [x] Set up a repository on Github
- [x] Use the Template Base to create the shell of the new project
- [x] Set up and configure the build/deploy process

[2020-07-14 22:21] abriggs-usgs commented on #576
Github repository: https://github.com/usgs-makerspace/temperature-prediction
Jenkins Job: https://jenkins.wma.chs.usgs.gov/job/MakerSpace/job/temperature-prediction-build-deploy/ (builds to the ‘test’ tier are automatic on a merge with the master branch)
Deployment at ‘test’ tier: http://water-visualizations-test-website.s3-website-us-west-2.amazonaws.com/visualizations/temperature-prediction/#/ (

[2020-07-15 13:25] cnell-usgs commented on #514
Going with a carousel of photos #561

[2020-07-15 13:29] cnell-usgs commented on #529
Update:
"Drones are a very touchy topic within DOI at the moment.  Since October, DOI leadership has effectively prohibited department staff from flying or purchasing drones and has established increasingly stringent policies to prevent either direct use or contracted use of drones.

There is broad agreement amongst DOI, USGS, and WMA scientists that drones are a valuable tool and that the drone g

[2020-07-15 13:32] cnell-usgs commented on #517
Some more photos from Penn's landing:
![P10903890030](https://user-images.githubusercontent.com/17803537/87551218-a6322980-c675-11ea-914e-91d35bf15075.jpg)
![DJI_0007_plview0026](https://user-images.githubusercontent.com/17803537/87551226-a8948380-c675-11ea-8a46-af99a2c5f092.jpg)
![P10903910043](https://user-images.githubusercontent.com/17803537/87551239-b0ecbe80-c675-11ea-9f7b-7654527cbc53.jpg)
!

[2020-07-15 14:59] ellenbechtel commented on #507
Got a bunch of tweaks we can play with at Demo today, especially regarding decisions about what inked annotations are/aren't on the final map (and obviously, title pending).  Here's my favorite version:

Mobile:
![image](https://user-images.githubusercontent.com/25129074/87561021-18146e00-c68a-11ea-81fd-e94402f2b8d6.png)

Desktop:
![image](https://user-images.githubusercontent.com/25129074/8756110

[2020-07-15 16:17] cnell-usgs commented on #507
Looks so good! I like how you used white with the sketches to make them stand out a bit more

[2020-07-15 16:19] abriggs-usgs commented on #563
Preliminary Pull Request - https://github.com/usgs-makerspace/delaware-basin-story/pull/29 This demonstrates an automatic transition of the Sankey diagrams and one launched by scroll triggers.

[2020-07-15 16:25] ellenbechtel commented on #508
The latest for demo!
- clarified color transitions
- clarified the Cannonsville release
- added Philadelphia
- removed "brushing" (fading out one area to focus on others...that can be done in css later and doesn't have to cloud our decisions here)

![image](https://user-images.githubusercontent.com/25129074/87570143-25cff080-c696-11ea-982d-57c71e9fbf64.png)

[2020-07-15 16:27] ellenbechtel commented on #573
closing this issue because it's a duplicate of Issue #533

[2020-07-15 16:27] #573 closed, assigned to ellenbechtel

[2020-07-15 16:30] ellenbechtel commented on #533
Made 'em, want to make sure they look good on the basemap in demo today, screenshots coming soon.

[2020-07-15 18:27] abriggs-usgs commented on #563
Cascading Style Sheet transitions is an art form in and of itself. Investigated using the standard transform property as well as key frames however this just scratches the surface.

[2020-07-15 20:36] amrhoades opened #577 "IPDS Review"
### Version Control!

**NB:** [Always edit this document as the master](https://doimspp-my.sharepoint.com/:w:/r/personal/ebechtel_contractor_usgs_gov/_layouts/15/Doc.aspx?sourcedoc=%7B87f6a2d8-93a2-4312-ae20-d7e74d7e0436%7D&action=edit&wdPid=ff2823b) - the central point of truth.

**Other versions, in chronological order (most recent at bottom)**
[AA and JR original, with notes embedded](https://d

[2020-07-16 15:51] ellenbechtel commented on #533
here they are, all cropped to the same artboard.  the folder includes the original .ai file as well if you need to play with it

[the zip folder!](https://doimspp-my.sharepoint.com/:u:/g/personal/ebechtel_contractor_usgs_gov/EbrCWAKYvPBEj2n3cyBREnABXx6F4eI7h0-_WfKKbN6F3g?e=7co5s6)

@abriggs-usgs

[2020-07-16 16:18] cnell-usgs opened #578 "Scroll trigger sea level rise animation and text reveal"
Set up scroll trigger in sea salinity section to:
- [x] initiate sea level rise inking
- [x] related text appears in view about sea level rise

[2020-07-16 17:04] amrhoades commented on #577
https://ipds.usgs.gov (need to be on VPN) and read the general guidance at https://www.usgs.gov/about/organization/science-support/survey-manual/5023-fundamental-science-practices-peer-review .

[2020-07-16 18:01] abriggs-usgs opened #579 "DRB task hub - 7-16-20 to 7-23-20"
For 7/24/20
So, sake of speed, let’s focus on getting the desktop version working 992px and up
Global
- [x] Rearrange folder structure to match new narrative (AB) Pull Request - https://github.com/usgs-makerspace/delaware-basin-story/pull/31
- [x] Format the entire application following the Gages Through the Ages style and width )(AB) -decided to take a different approach
- [x] Get the font (chant

[2020-07-16 18:54] ellenbechtel commented on #517
- boating
- heron
- industry
- thermoelectric plant
- drinking water intake
- agriculture

[2020-07-16 19:36] ellenbechtel commented on #577
Hi all!  @aappling-usgs (and @jread-usgs) I would love a quick proofreading / tone check on this email to potential reviewers (Jack Eggleston and Megan Shoda, first runner up Daren Carlisle).  Specific questions:

- [x] Am I name dropping NGWOS and/or IWOS appropriately, or should I mention something else?
- [x] Alison, how do you know Jack and Megan again?
- [x] Is this the right tone to strike i

[2020-07-16 19:44] ellenbechtel opened #580 "Background paper texture for DRB"
Here is the background repeating-pattern (if you want it to) and high res (if you just want it to stay fixed in the background) paper texture.

[paper!](https://doimspp-my.sharepoint.com/:i:/g/personal/ebechtel_contractor_usgs_gov/EbUBWMIiPO1JiIRFoGLWmzkBkIN6EW7ZBdDiByA-0oIPmw?e=dp4JVx)

[2020-07-16 20:52] aappling-usgs commented on #577
Yep, tone is great. I think you can call Megan "Meg".

IWOS should be IWAAs (integrated water availability assessments)

ECOMAPPER seems to be capitalized EcoMapper (https://www.ysi.com/ecomapper)

1 week with an update mid-week is a really short timeline - I think 2 weeks is a pretty standard minimum for long-form products except when you're desperate. Could you give them until Wednesday, July 29

[2020-07-16 21:08] lindsayplatt opened #581 "Water temp: Update CSVs of stream temp data for 4 different days"
Modeled data was updated, so we should update what we have one test. Similar to #461, only this data contained -99.8 and -99.9 which represented times in PRMS where stream flow never existed or didn't exist for that day.

[code]

Then, followed steps described here https://github.com/usgs-makerspace/makerspace-sandbox/issues/461#issuecomment-626035592 for where to put them. Next steps are kicking

[2020-07-16 21:59] lindsayplatt commented on #581
4 files updated under `prod-owi-resources` > `resources` > `Application` > `wbeep` > `wtr_model_output_csv`

[2020-07-16 22:05] lindsayplatt opened #582 "Water temp: update tiles with new data"
@lindsayplatt updated the data in #581. Similar to #464, update the tiles that we have on the test site using the October 35 data. This should unblock #468 and #470.

[2020-07-16 22:05] #581 closed, assigned to lindsayplatt

[2020-07-16 22:49] mhines-usgs commented on #571
probably not exactly what Aaron was looking for, but it works? https://github.com/usgs-makerspace/wbeep-viz/pull/416 could be persuaded to change it, but I was struggling to make the suggested examples of the logic work that was hinted from Aaron above with the use case we have to only show when the nav bar is present.

[2020-07-17 14:00] amrhoades commented on #577
I'd suggest sending over a quick "hi, are you interested in and available to participate in a IPDS review for a DRB viz story". If they respond with yes, you can shoot over more detail about the background. Or they may request more info before committing. Either way, a short, pithy request seems like it would be sufficient to kick-off communications on the topic.

[2020-07-17 14:13] ellenbechtel commented on #577
That's all super helpful feedback - especially re: keeping it short and sending over more details later.  Just sent this:

And will follow up with the rest of the details later.  Thank you guys!

[2020-07-17 14:34] ellenbechtel commented on #577
@aappling-usgs @jread-usgs @amrhoades

**Do you think it would be appropriate to send a screenshot of the inked watercolor map of the DRB that we've got for the intro/outro?**

Megan just responded with a yes (woohoo!) but is curious to know more about what kind of story we're talking about.  I'm describing it like this:

but would love to include this screenshot if you think that's not giving too

[2020-07-17 14:42] aappling-usgs commented on #577
Go for it. You can even send a link to the living page if you want.

[2020-07-17 14:44] ellenbechtel commented on #577
Next up, ORCIDs.

Do I include ORCIDs for everyone in MxS who's worked on the project?  Do we have a preference for how we rank the authors, since IPDS requires the ranking?  One option:

1. Jordan
2. Alison
3. Alicia
4. Colleen
5. Aaron
6. Ellen

Should I add anyone else?

[2020-07-17 14:50] aappling-usgs commented on #577
I'd say the more important question than ORCIDs is who should be a coauthor. And then note the ORCID for anybody who has one (I think IPDS makes them optional for non-first authors? but maybe requires for all USGS staff? either way, as you know, it's easy to get one).

But yeah, the coauthor question - maybe we should discuss what the bar is for coauthorship sometime soon. Definitely include the p

[2020-07-17 14:53] mhines-usgs commented on #571
up on test

[2020-07-17 15:32] amrhoades commented on #552
@mwernimont We're ready to cut the final social media content. A few things to ensure that all content has:

- [x] url that has been verified to work

- [x] usgs logo

- [ ] correct aspect for platform

- [ ] sign-off from @lindsayplatt  that the content is sufficient for the USGS account

[2020-07-17 17:10] #546 closed, assigned to jordansread, mwernimont, ellenbechtel

[2020-07-17 17:10] #543 closed, assigned to mwernimont, abriggs-usgs

[2020-07-17 17:11] #551 closed, assigned to mwernimont

[2020-07-17 18:18] ellenbechtel commented on #577
From Jack:

Do we have something like that? @amrhoades, I know you talked about the webform questions you made for Gages - perhaps we can turn those questions into a list of prompts (as a kind of checksheet or template) for what kinds of feedback we're looking for.  What do you think?  Could you paste those questions here, so I can make that checksheet if we decide we want to send one to Jack and

[2020-07-17 20:29] ellenbechtel commented on #564
@aappling-usgs and @jread-usgs just read through the Narrative text you've got - it's looking great!  The tone set early on is really hits a good midpoint of using non-technical language to introduce technical concepts.  I'm hitting a brain wall at the end of the day, so even though the content of the whole thing looks great, I think I'd like to do one last pass of the Monitoring and Outro section

[2020-07-17 21:10] jordansread commented on #564
I think this is a Gages issue :) But sounds good

[2020-07-17 21:19] ellenbechtel commented on #564
oops! it is.

[2020-07-20 15:33] mwernimont commented on #552
@amrhoades and @lindsayplatt new files here https://doimspp.sharepoint.com/sites/gs-wma-iidd-makerspace/Shared%20Documents/Forms/AllItems.aspx?FolderCTID=0x0120007E5845A5DF00934EAC3B8A00E860A7F3&viewid=66bc5c5d%2Daa1c%2D4456%2D9a76%2D1ba08de17cf8&id=%2Fsites%2Fgs%2Dwma%2Diidd%2Dmakerspace%2FShared%20Documents%2FProject%20%2D%20Gages%20Through%20Ages%2Fsocial%5Fmedia%2FRelease%5FFiles

Not a social

[2020-07-20 15:36] amrhoades commented on #552
@mwernimont if you drop `https://` does the url still work?

[2020-07-20 15:38] mwernimont commented on #552
Yep!

[2020-07-20 15:41] amrhoades commented on #552
Ok - a couple other suggestions- the URL - can you make it look a little more seamless for the SVG? similar font and possibly a shade of grey?

[2020-07-20 15:47] mwernimont commented on #552
Anything else?

[2020-07-20 16:10] amrhoades commented on #552
I'd have @jread-usgs and @lindsayplatt provide their feedback.

[2020-07-20 16:17] cnell-usgs commented on #530
Animation added https://github.com/usgs-makerspace/delaware-basin-story/commit/c4efb344903da55295af64a85ae8f6ac9b6fe167

To do:
- [x] scroll trigger to initiate animation

[2020-07-20 16:18] #527 closed, assigned to nobody

[2020-07-20 16:19] ellenbechtel commented on #577
Hi @jread-usgs and @aappling-usgs - I am putting together the document for the reviewers, and wanted to include some guidance on how we're envisioning the review process going.  Jack specifically asked for it, and the IPDS Guidelines say that we need to provide it, but I think it's especially useful for us too.

Could you give it a look-over and see what you think?  Feel free to make any edits.

h

[2020-07-20 17:16] lindsayplatt opened #583 "Water temp: explore historic context maps"
Similar to [WBEEP water storage maps](https://github.com/usgs-makerspace/wbeep-processing/blob/master/src/process_quantiles.R), we want to explore the idea of showing stream temperatures relative to some historic values rather than just on a scale from low to high (0 - 30).

1. Create quantiles of temperature data (see FTP link shared in MS Teams). Could simplify to seasonal rather than rolling av

[2020-07-20 17:25] aappling-usgs commented on #577
I added comments in the doc.

[2020-07-20 17:27] aappling-usgs commented on #577
Oh, but two more things:
1. You'll remove our comments in the draft text before sending, right?
2. You should save a copy of the doc before they add comments, because you need to upload the "final version sent to reviewers" to IPDS.

[2020-07-20 18:07] mwernimont commented on #552
@amrhoades Updated with your suggestions and restructured the folders.

[2020-07-20 20:25] ellenbechtel commented on #577
From teams:
Hi all! Could I ask for eyes from @jread-usgs , @aappling-usgs , and @amrhoades  (and @abriggs-usgs and @collnell if you have time) to look over a Word Doc to send to the IPDS Reviewers?   It includes:

- 	Guidance to reviewers
- 	The most recent text as of 4pm
- 	Screenshots of the visualizations and their final layout (which I will be designing later this week) within the desktop/mob

[2020-07-20 21:10] ellenbechtel commented on #577
Sent the comment-free copies to the reviewers!  I tried to upload it to the IPDS content platform, and am not sure if I did it right.  Could I grab one of the champions (@aappling-usgs or @jread-usgs) tomorrow for 5-10 mins to screenshare and make sure the back end paperwork on the IPDS platform looks right?

[2020-07-20 22:57] lindsayplatt commented on #552
Really awesome and very comprehensive outreach plan. Can't wait to get this out in the wild! A few thoughts below, take 'em or leave 'em.

1. The phrase underneath the animations is awkward to me - "U.S. Geological Survey's active streamgages since 1889 until present day". I think "since" should be replaced with "from". "since" would work better if you didn't have the "until present day" clause.
2

[2020-07-20 23:04] jordansread commented on #552
re

This "start mid-way to loop" is designed for the GIF and I think we should consider starting the movie either at the very beginning or 1920 but def stop at 2019. Agreed.

[2020-07-21 11:24] abriggs-usgs commented on #530
Pull Request: https://github.com/usgs-makerspace/delaware-basin-story/pull/38 adds the trigger to the animation.

[2020-07-21 12:13] mwernimont commented on #552
@lindsayplatt think all the jpgs need to become pngs?

[2020-07-21 13:53] abriggs-usgs commented on #578
Pull Request - https://github.com/usgs-makerspace/delaware-basin-story/pull/39 This provides the basic functionality, but not the final formatting.

[2020-07-21 14:16] lindsayplatt commented on #552
@mwernimont I think they need to have slightly higher quality, so however you want to achieve that

regarding aspect ratios - FB videos cannot have a 2:1 ratio. Highest is 16:9, so just fyi.

[2020-07-21 14:27] mwernimont commented on #552
@lindsayplatt confused by the facebook video comment, only did gifs for facebook and did the same dimensions as the image...saying thats incorrect?

[2020-07-21 14:31] lindsayplatt commented on #552
Just making a general statement. I am having to fix it for River Conditions right now but I couldn't look at the dimensions of your content on Sharepoint to verify dims so just wanted to let you know. And also definitely thought there was a video so you can see where my head is at this morning 🤷‍♀️

[2020-07-21 15:02] mwernimont commented on #552
Messing around with the png idea, but noticing microsoft stretches the crap out of the images, so def gotta hit that view original button

[2020-07-21 15:57] cnell-usgs commented on #552
The gageAge.gif files for twitter and facebook are updated with a longer pause on the 2019 frame. The gageAge.MP4 for instagram now starts in 1889 (instead of 1940) and has the updated USGS logo bar at the bottom.

[2020-07-21 16:15] lindsayplatt commented on #552
Revising my comment about poor resolution on JPGs: Sharepoint stretches the original image making them look really bad. If you click "View original", then they all look good. Oh, Microsoft 🙄

[2020-07-21 16:43] ellenbechtel commented on #508
I think a comment about the blue "release" from cannonsville got lost, so I can't remember what exactly the feedback was, but I knew that I needed to make the release a little more clear.  What do we think of these as the final sankeys?

![image](https://user-images.githubusercontent.com/25129074/88082390-b81d3c00-cb4f-11ea-81da-da17724d6763.png)

[2020-07-21 16:44] jordansread commented on #552
@collnell great work but can you update/push the code too?

[2020-07-21 16:58] aappling-usgs commented on #508
Beautiful! We might get clarity feedback from reviewers who are less familiar with the viz, but I bet that what you have above, in conjunction with the text, will work just fine. I really like how the colors mix all throughout the river.

[2020-07-21 16:58] aappling-usgs commented on #508
One thing I've been thinking about but holding my tongue on is the choice to make the headwaters brown. It makes sense from a brown-means-less-water intuition, and maybe that's how most others will see it. One thing I think of, though, is that water below dams is often artificially clear because the dam inhibits sediment movement, so you could make the case that the colors ought to be flipped: blu

[2020-07-21 16:59] ellenbechtel commented on #508
Thank you Alison!!  That's a super astute observation.  That's definitely easy to change too, so if we do get pushback from reviewers  (or we decide to change it ourselves) then it's not a huge deal.

[2020-07-21 17:45] ellenbechtel commented on #508
Here are the final files, as SVGs and PNGs
[sankeyViews.zip](https://github.com/usgs-makerspace/makerspace-sandbox/files/4955248/sankeyViews.zip)

[2020-07-21 18:15] abriggs-usgs commented on #508
Pull Request -  https://github.com/usgs-makerspace/delaware-basin-story/pull/40 reduced the file to 1080px high, used the Portable Network Graphics format (PNG), and redeployed project

[2020-07-21 19:55] ellenbechtel opened #584 "Re-extract SVGS of monitoring sensors"
Gages extracted from [this spreadsheet](https://doimspp-my.sharepoint.com/:x:/g/personal/bpeller_usgs_gov/ERwwNZ-4yxROiodpLtFtPZsBfdPQg7vtZGpTKoyEu3UvPg?e=VGMJKk) at tab “List of NGWOS funded gages”

Filters should be as follows:

- For all new gages: filter by “Type == new”
- For all enhanced gages: filter by “Type == enhanced”
- For all gages that measure specific conductance: filter by “SC == X

[2020-07-22 01:53] abriggs-usgs commented on #570
Pull Request - https://github.com/usgs-makerspace/delaware-basin-story/pull/41 this adds samples of conditional loading for scroll control to the monitoring and flow sections.

[2020-07-22 19:50] lindsayplatt opened #585 "Water storage: add notice of outage"
The WBEEP site data has not been updated for almost a month. Our visualization is still up and running (👏) but since this has persisted for so long, they are requesting that we add a notification somewhere to let people know.  Place as bold text right above "This is a demonstration" in the  "About this map" pop-up. Suggested text from Web Communications: 

[2020-07-22 20:31] mhines-usgs commented on #585
pr https://github.com/usgs-makerspace/wbeep-viz/pull/418

[2020-07-22 20:48] lindsayplatt opened #586 "Water storage: update to geospatial fabric 1.1"
For now, we are waiting for the calibration to be complete until we can act. Once that is complete, we can do the following. We want to use this GF 1.1 and make a new tier of our visualization that is for model developers to use.

- [x] [get GF 1.1](https://www.sciencebase.gov/catalog/item/5e29d1a0e4b0a79317cf7f63)
- [x] get new historic modeled data (40 years) that used GF 1.1
- [x] create GF 1.1

[2020-07-22 20:54] lindsayplatt commented on #470
Note: data has been updated per #582 and this is no longer blocked.

[2020-07-22 20:54] lindsayplatt commented on #468
Note: data has been updated per #582 and this is no longer blocked.

[2020-07-22 20:57] mhines-usgs commented on #585
@lindsayplatt
up on test http://wbeep-test-website.s3-website-us-west-2.amazonaws.com/estimated-availability/#/water-storage
and beta (for mobile preview) https://labs-beta.waterdata.usgs.gov/estimated-availability/index.html#/water-storage

[2020-07-22 21:15] lindsayplatt commented on #585
So, it looks like the loading screen changes are on beta, too. Will those end up on prod if we push this text change?

[2020-07-22 21:18] mhines-usgs commented on #585
i could push the changes to a new branch altogether, I think, and we could cut a release from there. I agree if you're uncomfortable with that, there are many many changes on test that are not anywhere else :/
https://github.com/usgs-makerspace/wbeep-viz/compare/v0.1.5...master

@abriggs-usgs  do you think that would work? e.g if I pushed this change out to a new branch and we created the release

[2020-07-22 21:20] lindsayplatt commented on #585
I would be uncomfortable throwing these other changes into the wild right now. Btw, text change approved by WBEEP MT. So, if we can get just the text changes deployed, then :shipit:

[2020-07-22 21:21] mhines-usgs commented on #585
ok, ill test my theory with beta

[2020-07-22 21:54] mhines-usgs commented on #585
created new branch on the canonical master called outage-notice2. deployed that to both test and beta for testing https://github.com/usgs-makerspace/wbeep-viz/tree/outage-notice2
up on test http://wbeep-test-website.s3-website-us-west-2.amazonaws.com/estimated-availability/
and beta (for mobile preview) https://labs-beta.waterdata.usgs.gov/estimated-availability/