[2020-07-22 21:55] mhines-usgs commented on #585
weird, just a sec. i don't see the change :head-bash:

[2020-07-22 22:02] mhines-usgs commented on #585
sorry about that, realized after the fact that the conditional code `v-if="currentFeature === 'waterStorage'"` wouldn't work, since the different website components aren't a part of this older version of the site :D updated that and now pushing out again.
https://github.com/usgs-makerspace/wbeep-viz/compare/outage-notice2 😅

[2020-07-22 22:11] mhines-usgs commented on #585
now it's really really on test and beta. had to clear the cache on cloudfront on beta too. :/

[2020-07-22 22:15] lindsayplatt commented on #585
Looks good on beta 👍

[2020-07-22 22:18] lindsayplatt commented on #585
![Screenshot_20200722-171724_Chrome](https://user-images.githubusercontent.com/13220910/88234872-5805c300-cc3f-11ea-8d94-bfe82a1aea1e.jpg)

A little squished on my mobile device with those new lines of text.

[2020-07-23 13:41] ellenbechtel opened #587 "Restructure CSS to be uniform across the Vue components, and be mobile-first"
Goals for first week of August

- [x] Restructure code so that it's got global classes to apply to components to make them uniform
- [x] Restructure use of sticky so that it's mobile first

Ellen's CSS Goals from 7/30

- [x] change scroll triggered Flow and Salinity sections to block display rather than scroll-overflow-y
- [x] flexbox/grid whatnot, make the desktop version look great first, and pr

[2020-07-23 13:59] ellenbechtel commented on #587
**All Mockups!**

Intro

![image](https://user-images.githubusercontent.com/25129074/88295250-2afef200-cccb-11ea-8dcb-41811e4dfe82.png)

![image](https://user-images.githubusercontent.com/25129074/88295267-2fc3a600-cccb-11ea-9613-f28f2553e246.png)

![image](https://user-images.githubusercontent.com/25129074/88295322-45d16680-cccb-11ea-86d7-a592aa1be987.png)

Flow

![image](https://user-images.gith

[2020-07-23 14:24] mhines-usgs commented on #585
desktop with a `<br />`
![image](https://user-images.githubusercontent.com/6920344/88297510-98a81f80-ccc5-11ea-9537-714cd0e3f69f.png)

mobile tools view in firefox in my vm
![image](https://user-images.githubusercontent.com/6920344/88297807-fdfc1080-ccc5-11ea-9137-73445f26ea8a.png)

better?

[2020-07-23 14:25] lindsayplatt commented on #585
So you just wouldn't see the legend until the "About this Map" closed, right? That seems like a good fix to me.

[2020-07-23 14:27] mhines-usgs commented on #585
ah, i see. it doesn't happen in this mobile view i'm looking at. but obviously that's not the same thing. what's your phone type/model? cans of worms, YAY!

[2020-07-23 14:29] mhines-usgs commented on #585
This is how beta looks on my iPhone 11 Pro right now, sigh.
![A7BD45CA-CF2A-4927-8E16-41FC98091603](https://user-images.githubusercontent.com/6920344/88298594-f7ba6400-ccc6-11ea-83d6-cbc9cfd2bbfd.png)

[2020-07-23 14:29] lindsayplatt commented on #585
I've got a Samsung Galaxy S9. Since this is just a temporary fix anyways (and things should go back online once the OEI network fix is in place), let's not go down this rabbit hole. Let's release as-is!

[2020-07-23 14:31] lindsayplatt commented on #585
The good thing is that you can still read all of the text. The boxes just overlap slightly.

[2020-07-23 14:32] mhines-usgs commented on #585
hmm ok. well hopefully they fix the problems soon and we can just drop it. or build in some other way of posting a 'stuff's broken' banner in the future that isn't so device specific...

[2020-07-23 14:34] lindsayplatt commented on #585
We can also push this change to prod and then work on fixing for specific devices after. I just think having the notice up there is top priority and it looking beautiful on every single possible device can be a secondary endeavor. What do you think of that?

[2020-07-23 14:34] mhines-usgs commented on #585
I’m ok with that, on it

[2020-07-23 14:38] lindsayplatt commented on #585
Would you like to continue with that effort, note it here and leave this issue open, or create a new issue?

[2020-07-23 14:39] mhines-usgs commented on #585
ill make a new issue and link it.

[2020-07-23 15:10] mhines-usgs opened #588 "Create an easy configuration method to add an outage notice or banner to websites in the event of a problem."
currently we do not have a way to add a quick note on the website in the event there is some kind of problem.

Similar to how the site dynamically reads in the date value when the tiles are updated, can we create a dynamic component that feeds off a file in s3 or some other location where if there is a file there with a message such as the outage notice we manually added in https://github.com/usgs

[2020-07-23 15:15] mhines-usgs commented on #585
this branch has been deployed out to all the tiers. I checked on cloudfront, and only had to force beta to refresh, prod seemed to do so on its own. 🧙 created the new issue above in the backlog to capture future improvements if we should prioritize that feature.

[2020-07-23 17:28] lindsayplatt commented on #585
Sounds complete!

[2020-07-23 17:28] #585 closed, assigned to mhines-usgs

[2020-07-23 20:35] cnell-usgs commented on #584
[gages.zip](https://github.com/usgs-makerspace/makerspace-sandbox/files/4968602/gages.zip)

There are separate files for each type, including one for 'all' which contains all gages that appear in any category.

A few peculiarities to follow-up on:
-  3 gages tfall just outside of the DRB (01365100, 01365505, 01365550). These coordinates seem correct when cross-referenced with their NWIS pages, and

[2020-07-24 13:54] cnell-usgs commented on #548
initial commit to vue https://github.com/usgs-makerspace/delaware-basin-story/pull/45

[2020-07-24 14:10] lindsayplatt opened #589 "Add caveat text about 1967 national % urban stat"
Need caveat to say why 1967 national % urban is conservative.

For the national count of urban gages in 1967, we did not digitize every urban area in the country. Instead, we used the urban areas from 2018 to get an estimate. It is conservative because there are more urban areas in 2018 than in 1967, so we know we are over estimating the number of urban gages.

[2020-07-24 14:11] lindsayplatt commented on #589
Marty added that text here:

![image](https://user-images.githubusercontent.com/13220910/88400211-a0cb9200-cd8d-11ea-8a48-a0711f37a62a.png)

but Jordan pointed out that it implies that "the 1967 visual" (which is the slider map) did not include the digitization, when it did. And that we need to separate the message here to 1) the national % stats, and 2) the ATL slider.

[2020-07-24 14:12] lindsayplatt commented on #589
My suggestion is to add this new information as a second paragraph:

[2020-07-24 15:07] amrhoades commented on #589
@lindsayplatt Possible **_edits_** to make it even more clear to the reader:

### Determining if a gage is urban or non-urban

**_Interactive map_**
To determine whether a stream gage is in an urban or rural area, we used urban extent spatial data from the U.S. Census Bureau for years closest to our years of interest (1967 and 2019 **_2018?_**). For the spatial extents used in the 1967 visual, we

[2020-07-24 15:20] lindsayplatt commented on #589
Yes, I like that and am adding **_edits_** of my own here

### Determining if a gage is urban or non-urban

**Interactive _slider_ map**

To determine whether a stream gage is in an urban or rural area, we used urban extent spatial data from the U.S. Census Bureau for years closest to our years of interest (1967 and 2018). For the spatial extents used in the 1967 visual, we digitized maps from the

[2020-07-24 15:38] amrhoades commented on #589
Great! I think we're ready to update.

@abriggs-usgs would you be able to do the following 4 tasks:

- [x] 1. replace the methods text for Determining if a gage is urban or non-urban with this text:

Interactive slider map

To determine whether a stream gage is in an urban or rural area, we used urban extent spatial data from the U.S. Census Bureau for years closest to our years of interest (1967

[2020-07-24 15:40] lindsayplatt commented on #589
^ Should we make `see methods details` a link to the "Determining if a gage is urban or non-urban" methods?

[2020-07-24 15:41] abriggs-usgs commented on #589
Looks like there are still a few things to be worked out. I'll check back in a bit.

[2020-07-24 16:57] abriggs-usgs commented on #589
For consistency sake, it seems there should be a link to the 'full cartographic boundary file.' Would this be different than the link to 'cartographic boundary files for 2018 urban areas from the U.S. Census Bureau.'

[2020-07-24 17:07] lindsayplatt commented on #589
Good point. No, not different. It should link to the same data from Census Bureau.

[2020-07-24 17:17] abriggs-usgs commented on #589
Pull Request https://github.com/usgs-makerspace/gages-through-the-ages/pull/141 completes the required changes.

And thanks @amrhoades for the thorough description in the issue.

[2020-07-24 18:31] amrhoades commented on #517
Feedback from demo on 7-24:

- photo selection should be reviewed
- presentation of photos should be reconsidered (size, placement, etc)

[2020-07-25 12:15] jordansread commented on #556
re: "One more ✔ (but from who?)" on the draft list - I think that is turning out to be Adrienne (Chief of Staff) or her proxy, but that may change in the future and we will need to adapt if it does.

[2020-07-26 11:45] abriggs-usgs commented on #556
Okay, thanks. I was meaning to get clarification on topic on Friday since you said 'and yes, I didn't forget that I need to say yes/no regarding prod'. I wasn't sure under which of your three hats you where operating when giving that 'okay' and I wanted to capture the correct titles and procedures in the 'check list'. Would it be something along the lines of this:

- [ ] Final 'push to prod' appro

[2020-07-26 13:44] jordansread commented on #556
Yeah, good clarification there. I was in communication w/ Adrienne's proxy (because Adrienne was on leave) and trying to wrap up several last requests that came out of that interaction. So in that case I was handling the "One more ✔️" and we weren't quite able to get there in that case (on Friday) so I had us stand down.

[2020-07-26 18:32] ellenbechtel commented on #584
https://doimspp-my.sharepoint.com/:u:/g/personal/ebechtel_contractor_usgs_gov/ETtnUBMh_OZOhGVBD6v6sdMBmwquiRdE-FMSg-yPUCSEYQ?e=UvpP8J

^ link to a zip folder with a high-res png basemap and svgs, all cut to the same size / same artboard

[2020-07-26 19:03] ellenbechtel commented on #584
Tinier PNG of basemap (1meg)
![basemap-1meg](https://user-images.githubusercontent.com/25129074/88487216-1d5a9e00-cf51-11ea-83e3-e5c4221f0b08.png)

[2020-07-27 12:44] ellenbechtel commented on #577
Review received from Meg!  Here is her document.  She says:

[DRB-for-IPDS-prereview.MES.docx](https://github.com/usgs-makerspace/makerspace-sandbox/files/4982028/DRB-for-IPDS-prereview.MES.docx)

I'll upload her document to the IPDS platform, and do a quick parse this morning to see if there are any "MUST ADDRESS" things that we can do easily before Tuesday's demo (I'll make a proposal and post i

[2020-07-27 12:48] ellenbechtel commented on #533
Closing this issue, since we have three issues for the same job.  The final issue will be #584 , where we make a pipeline for extracting the data of each type of gage.

[2020-07-27 12:48] #533 closed, assigned to mhines-usgs

[2020-07-27 12:51] ellenbechtel commented on #584
Closing this issue because it's done, but also because it's a repeat of older versions of this issue (#573 and #533 )

[2020-07-27 12:51] #584 closed, assigned to cnell-usgs

[2020-07-27 19:04] ellenbechtel commented on #577
# Four Must-Address Issues

I've made a new copy of Meg's comments where I've responded to the comments and edited some of the things she's pointed out.  Ultimately, we'll polish those responses and upload them to IPDS.

However, there are four issues that I'd like some advice on.  The point in question is in **bold** within each section.

Document is here: [Response to Meg's Comments](https://doi

[2020-07-27 19:20] jordansread commented on #577
### reg
I am 99% sure that the office of the Delaware River Master is the only regulatory body in the USGS, so I think she is wrong there, but it is Kendra's position, so let's make sure she supports whatever language choice is made there.

### temperature context
I'm not super comfortable with this sentence

And would suggest we delete it. Temperature and flow are related, but sometimes higher fl

[2020-07-27 19:39] jordansread commented on #577
For temperature (Brook Trout in particular)

The eggs lay there all winter and physiologically need cold temperatures to develop properly
I am no expert on fish egg physiology, but there is a theory that if they don't get properly exposed to cold temperatures they don't develop right and either don't hatch, hatch at the wrong time etc.

me: and the "wrong time" for hatching means predation and/or

[2020-07-27 20:12] ellenbechtel commented on #577
Cool!  What about this for the trout section:

For example, brook trout are the only native trout species within the Basin. In the fall, trout need a cool temperature to signal the beginning of their reproductive cycle.  Historically, this corresponds with a certain time of year, usually November. With the right temperature cue, the spawning males develop vibrant red colors and pink-and-blue spots

[2020-07-27 20:23] jordansread commented on #577
I like the variety of temperature impacts and more connection to the color change, but wondering what problem we're addressing with the new text. Is it missing a "so what?". I'm inferring here, but I think what you are getting at is that it doesn't fully explain the visual. I would agree with you there, but want to make sure the charge for the edits are clear.

Here is what I see on beta which I d

[2020-07-27 20:35] ellenbechtel commented on #577
Exactly right, I'm trying to explain the visual by explaining the science.  Or the reverse - explain the science with big help from the visual.  Why is the trout changing color in this animation? Why does it wiggle? Why does it have spots?  Why does temperature impact them?  All those are built into the visual, but readers don't know that those parts of the visual are actually reflections of the s

[2020-07-27 20:39] jordansread commented on #577
Totally, it makes sense, yes. And I'm with you - we need to modify that text to fit the visual. But is this related to the IPDS reviews (this issue) or a separate issue/need?

[2020-07-27 20:49] aappling-usgs commented on #577
I just got off an extended call - fortunately, the two of you seem to be making great progress without my help. In fact, I haven't yet spotted any Must-Address issues that you haven't already made progress on...are there any?

One thought on the title is that tomorrow's demo probably isn't the place to workshop words. If Brian et al. really want to iterate on text with us, let's do that via email

[2020-07-27 20:54] ellenbechtel commented on #577
@jread-usgs I see them as intertwined - in that, I agree with the reviewers comments.  So, yes and yes?  With more weight on my own issue/need to make sure our text and visuals support each other.

@aappling-usgs No worries!  The part I still feel the least confident on is the conclusion - I haven't spent a ton of time on it, though I certainly will return tomorrow morning with fresh eyes.  I'd sa

[2020-07-27 21:40] mhines-usgs commented on #470
some ideas, but will drop the NaNs and repost these and a few more
![image](https://user-images.githubusercontent.com/6920344/88595001-d5f31100-d027-11ea-9fdf-ceb4979a637a.png)

[2020-07-28 01:34] aappling-usgs commented on #577
I gave the conclusion a try - see what you think.

[2020-07-28 16:20] mhines-usgs commented on #470
first set
![1](https://user-images.githubusercontent.com/6920344/88692902-3b94db00-d0c4-11ea-9382-75fb2ef5b2a6.png)

second set
![2](https://user-images.githubusercontent.com/6920344/88692925-43547f80-d0c4-11ea-983a-13bd958277cf.png)

![image](https://user-images.githubusercontent.com/6920344/88693946-85ca8c00-d0c5-11ea-9b6c-e5a4af93dfde.png)

![image](https://user-images.githubusercontent.com/692

[2020-07-28 16:21] mhines-usgs commented on #470
@lindsayplatt here's a bunch of ideas now without the NaN values, should I post them into teams for a discussion or any suggestions on how to move forward?

[2020-07-28 16:25] ellenbechtel commented on #577
Looking great. Thank you Alison!

Very excited to hear what the feedback is from demo.  In the meantime, we've received [the review from Jack](https://doimspp-my.sharepoint.com/:w:/g/personal/ebechtel_contractor_usgs_gov/ETSYQxt8rtxDubZSwnTVF3wB3Ff_fiC8koWmyE7d5WsaKg?e=XyOzWy), which I'm pasting here and uploading to all the right places.   Generally his thoughts are:

[2020-07-28 16:27] lindsayplatt commented on #470
mi 👏 ni 👏 crit, mi 👏 ni 👏 crit, mi 👏 ni 👏 crit

let's post something in general about a mini crit for these colors, linking here. First, what is the difference between "first set" and "second set"?

[2020-07-28 16:28] mhines-usgs commented on #470
just two images because github complained about the image size of the full shebang! ok. i have another few i will add to the same post and then share! thx

[2020-07-28 16:32] lindsayplatt commented on #470
As initial feedback, I am wondering if you want to try any combinations where the base layer color is changed, too as a test.

[2020-07-28 16:37] mhines-usgs commented on #470
do you have a recommendation for what makes sense for this visual? or just dropping the hillshade altogether? i wasn't sure how much to get into the background layers here since that was another task in the set https://github.com/usgs-makerspace/makerspace-sandbox/issues/468

[2020-07-28 16:44] lindsayplatt commented on #470
I guess I was thinking this as less of a background layers thing and more of what base color makes the most sense with the temperature colors we pick. We can leave that out for now as a different step.

[2020-07-28 16:45] mhines-usgs commented on #470
ok,another thought is that i can also quickly put these styles into maputnik which would give it to us on a white background? they do some simplification but it should be more of 'just the styles'?

[2020-07-28 16:52] lindsayplatt commented on #470
Yeah, that could work. So we can focus on picking the best color set for the temperature and then work on getting base layer colors/style to work with the temp colors that we like 👍

[2020-07-28 17:11] ellenbechtel commented on #470
Hi!  Love the diverging color scheme -that fits perfectly with the idea of communicating "extremes," and that there's more visual importance to the brighter/heavier colors on the far ends of the color ramp.

Any of the first five seem great to me - any kind of red-blue diverging ramp fits right in with temperature.  The later ones (with pinks, oranges, etc which attract the eye) seem to give more

[2020-07-28 17:12] ellenbechtel commented on #470
Oh one last thought - Emily Read in Web Comms was doing a usability survey with color ramps like these about a month ago.  Her survey was about flow level, not temperature, but she may have discovered some interesting things from that survey that might be helpful!

[2020-07-28 17:16] mhines-usgs commented on #470
if helpful, on white background (except for when the mid color is white, i switched to a grayish tone)
![lightbackgrounds](https://user-images.githubusercontent.com/6920344/88698817-2b80f980-d0cc-11ea-8807-382e5079742d.png)

[2020-07-28 17:52] cnell-usgs commented on #470
Is the color scaled to discrete categories or a continuous variable?

I really like #4, #6 and #7, the greeny-blue is gorg. I think it also looks cool when the mid temps are white (#3, #5) BUT I almost find my eye drawn more to the white than the colors for extreme temperatures in those cases. That being said, when the mid temperatures are grey they don't look as clean and the brighter colors also

[2020-07-28 18:04] mhines-usgs commented on #470
thanks, this is helpful feedback from both of you. i'll look at it and may throw a few more up here.

right now they are discrete steps using natural breaks based on the one dataset for autumn (in the example json you can see the divisions), but I imagine we want to generalize it a bit, i'm not entirely sure what @lindsayplatt had in mind? i figured we wouldn't want a continuous scale, but maybe w

[2020-07-28 18:12] lindsayplatt commented on #470
I _think_ users can understand continuous temperature data pretty easily since it feel fairly familiar. I think if we show the "compared to normal" data view (which is what water storage is currently doing), we would want to categorize those and do a discrete scale.

[2020-07-28 18:14] mhines-usgs commented on #470
ok, i can also look at creating a few continuous examples as well with the same ramps people like for comparison.

[2020-07-28 19:31] mhines-usgs commented on #470
going to use chroma.js on the start/mid/end colors and see if it has better suggestions, but after changing to be linearly interpreted using the start/mid/end colors for the handful people mentioned above:
![linear_interp](https://user-images.githubusercontent.com/6920344/88712120-d4d0eb00-d0de-11ea-9dc3-ebc0541ccdb5.png)
[code]

[2020-07-28 19:38] mhines-usgs commented on #470
on white same colors
![linear_interp_on_white](https://user-images.githubusercontent.com/6920344/88712833-f2eb1b00-d0df-11ea-9553-902d1976b474.png)

[2020-07-28 19:55] mhines-usgs commented on #470
chroma.js suggestions based on inputs of start/mid/end
1 #10305d,#c4c1b6,#730000
2 #10305d,#ffffff,#650015
3 #10305d,#ffffff,#6c0000
4 #10305e,#bcbab1,#6c0000
5 #004238,#ffffff,#6c0000
6 #004238,#bcbab1,#6c0000
7 #002649,#d2dec8,#5b1700
12 #667181,#ebd9d8,#750000
[code]

[2020-07-28 20:20] mhines-usgs commented on #470
after running the likes through chroma js for adjustments:
![linear_chroma_js_fixed3](https://user-images.githubusercontent.com/6920344/88717185-c0442100-d0e5-11ea-8421-4ef0d94a2a72.jpg)

[2020-07-28 22:08] mhines-usgs commented on #470
there are also two other interpretation types available, if the linear interpretation isn't quite right - I'm not quite sure to be honest https://docs.mapbox.com/mapbox-gl-js/style-spec/expressions/#ramps-scales-curves

[2020-07-29 14:14] mhines-usgs commented on #470
if it would help @lindsayplatt I can also try using these same color rules on the 3 other seasonal datasets for comparison as well. we could also bring this to demo or crit next week if you like.

[2020-07-29 14:48] lindsayplatt commented on #470
I like the ones that use blue and red - I think that is just classically "temperature" and people would get it (the teal and tan ones make me think of drought). I like 1 and 4  - they seem to give the blues and reds similar emphasis and look good without the white as the midpoint color. Could you maybe try those with the other data to compare?

[2020-07-29 20:00] mhines-usgs commented on #470
![2015-01-30-style1](https://user-images.githubusercontent.com/6920344/88847128-3612c000-d1ac-11ea-91b6-b79140066f44.png)
![2015-01-30-style4](https://user-images.githubusercontent.com/6920344/88847132-37dc8380-d1ac-11ea-863a-1ab1729658f5.png)

[2020-07-29 22:28] mhines-usgs commented on #470
![2015-01-30-style1](https://user-images.githubusercontent.com/6920344/88860138-c2c77900-d1c0-11ea-8052-66ae66fa678e.png)
![2015-01-30-style4](https://user-images.githubusercontent.com/6920344/88860143-c4913c80-d1c0-11ea-85c9-01109f0ebde1.png)
![2015-04-28-style1](https://user-images.githubusercontent.com/6920344/88860147-c5c26980-d1c0-11ea-9d41-1da592ab5612.png)
![2015-04-28-style4](https://user-

[2020-07-29 22:28] mhines-usgs commented on #470
They're pretty similar (style 1 and 4), but the seasonal views are interesting

[2020-07-30 12:21] cnell-usgs commented on #533
Here is the latest. The formatting is slightly different here with new and enhanced grouped together as "new and enhanced". The format of the svg code is also re-organized such that the symbol for a gage is declared a single time and implemented via `use` at the coordinates, with `<g>` tags for each category.

IMPORTANTLY, the gages align to the fullscreen basemap

[gages-01.zip](https://github.co

[2020-07-30 13:28] cnell-usgs commented on #533
and while I'm still thinking about these svgs - I did change the symbol for each gage to be the same as what they were in the outro, mainly because that is what I had in the file on my computer and not necessarily a style choice. I was able to use what I had that to make a symbol in ai which I then used a replace-all script to substitute them from a generic symbol from the R output. All to say tha

[2020-07-30 13:47] ellenbechtel commented on #533
HELL YEAH.  Knew you'd figure that out to replace-all.  Amazing.  👏👏👏

[2020-07-30 19:22] mhines-usgs opened #590 "Add red-blue interpolated ramp to wbeep-viz for water temp"

[2020-07-30 20:06] #528 closed, assigned to nobody

[2020-07-30 20:07] ellenbechtel commented on #512
Closing this issue. We've decided to just keep road salt as a mention and a small animated truck-on-a-road gif, rather than give it a whole section

[2020-07-30 20:07] #512 closed, assigned to ellenbechtel

[2020-07-30 20:07] #509 closed, assigned to ellenbechtel

[2020-07-30 20:07] #519 closed, assigned to nobody

[2020-07-30 20:10] ellenbechtel commented on #532
decided not to include background paper texture.

[2020-07-30 20:10] #532 closed, assigned to nobody

[2020-07-30 20:10] #561 closed, assigned to abriggs-usgs

[2020-07-30 20:11] ellenbechtel opened #591 "DRB Task Hub for FINAL PUSH"
## Final To Do Before Release!

- [x] Update target-blank of footer code
- [x] fix glitchiness of mussels at bottom of temp section
- [x] fix links to footer visuals
- [x] add v-img to carousel images so they open up
- [x] make active gage highlights in monitoring section bigger
- [x] Final typo edits
- [x] Incorporate Lindsay's typo editing
- [ ] confirm that image loading (srcset, lazy, etc) wor

[2020-07-30 20:17] ellenbechtel commented on #591
@collnell could you fill in the salt front and temperature to-do sections when you get back in?
@abriggs-usgs we'll ping you once we get a response about monitoring structure from JR and AA. Otherwise, have a great weekend!

Did I forget anything else from the huddle? Feel free to edit away!

[2020-07-30 20:28] #517 closed, assigned to nobody

[2020-07-30 20:29] #530 closed, assigned to cnell-usgs

[2020-07-30 20:29] #560 closed, assigned to cnell-usgs, ellenbechtel, abriggs-usgs

[2020-07-30 20:29] #521 closed, assigned to nobody

[2020-07-30 20:30] #510 closed, assigned to nobody

[2020-07-30 20:30] #515 closed, assigned to mwernimont

[2020-07-30 20:34] ellenbechtel opened #592 "Make ink-in video for intro"
- [x] Confirm that that's what we're doing
- [x] Make the video (CN)
- [x] Make the auto-play video div (AB)

[2020-07-30 20:36] ellenbechtel opened #593 "Incorporate feedback into flow section"
### TO DO
- [x] make the container fit in the middle of the screen for small screens

- [ ] Address Brian's comment about data use

### DONE
- [x] make the outputs clearer, more distinct from inputs
- [x] make the inputs even, or scaled, but not both.
- [x] reservoirs are water bodies? or something else to indicate that they are reservoirs
- [x] make it generally cleaner and the changes more disti

[2020-07-30 20:40] ellenbechtel opened #594 "Make quality transition cleaner"
- [x] make the transition between flow and water quality more distinct.  Not sure how to do that exactly, but some combination of typography and graphic design (no extra vis!) should do it.

[2020-07-30 20:41] ellenbechtel opened #595 "Polish road salt gif"
- [x] polish the frame transitions of the road salt gif
- [x] maybe add a background, so that the snow isn't so heavy?
- [x] update whatever the final sketched version of it is by replacing the old road salt sketch in the final map

[2020-07-30 20:43] ellenbechtel opened #596 "Next stage of monitoring edits"
### FIRST!
- [x] write up description of the two approaches for showing monitoring data, send to JR and AA for approval (EB)

### THEN!
- [x] update vue structure
- [x] update text
- [x] update which visuals are being shown when

[2020-07-30 22:13] mhines-usgs commented on #590
PR https://github.com/usgs-makerspace/wbeep-viz/pull/420

[2020-07-30 22:14] mhines-usgs commented on #590
Left a comment in the PR for Aaron, but merged it about possible improvements depending on the direction where we are going with this?

[2020-07-30 22:38] mhines-usgs commented on #590
@lindsayplatt up on test to play with http://wbeep-test-website.s3-website-us-west-2.amazonaws.com/estimated-availability/#/water-temperature
there's a new button 'interpolated ramp' at the bottom that you can click on or off to see the blue to red interpolated color scheme.

you won't see the color ramp one two or three buttons do anything until you 'unclick' the interpolated ramp button if that

[2020-07-30 22:39] mhines-usgs commented on #590
and by the way, I went with style 1!

[2020-07-30 23:36] cnell-usgs opened #597 "Tweak Temperature animations"
### TO DO

- [x] Make trout, mussels, and text side-by-side like sankey

- [ ] Decide whether this comment is worth addressing

Midway To-do:

- [x] align stacked layers of images

- [x] fix <emph> image background by making it transparent

- [x] chunk the text for mobile flow

### DONE

For the temperature section there needs to be a more obvious connection between the animations and text.
- [x]

[2020-07-30 23:39] cnell-usgs opened #598 "Tweak salt front animation"
### TO DO
- [x] add Philly for better context

- [x] research impact of rising sea level on philly drinking water intake

- [x] Make Road Salt section appear without delay

### DONE
- [x] make map bigger
- [x] include some sort of scaling to indicate how many miles the salt front is moving
- [x] add additional view, possibly scroll triggered, that shows the record high of salt fornt to draw connec

[2020-07-30 23:48] cnell-usgs commented on #591
So I just spent some time trying to reduce the file size of the watercolor map. I reduce the dimensions to the typical for web, 1920 x 1080 and then did some compression stuff. Here's what I can get for under 125kb:
![DRB_full-01-min](https://user-images.githubusercontent.com/17803537/88985131-258a4480-d295-11ea-8abd-2dc11ac27457.jpg)

This could look better, I'm not sure the best solution. It sho

[2020-08-03 13:22] abriggs-usgs commented on #591
Not sure if you have tried this already, but Jordan' suggested removing all the names and line-work from the background image and adding them as an SVG layer. We could then use significant JPG compression on the background. A bit of distortion in the watercolor would be less noticeable than in the line-work. Not sure if that would work or not, but throwing out the idea (if you haven't tried it alr

[2020-08-03 15:12] mhines-usgs commented on #468
@lindsayplatt  as I'm looking at different layers here, is there more to the story I can look at to help me understand what might be useful as background layers? Or is that still in the works? just wondering if things like dams or parks or land use or power plants or other kinds of information are what we'd like to see or if this is just supposed to be a consideration of purely appearance and not

[2020-08-05 14:56] lindsayplatt commented on #468
I don't think we have much of a story on this one and the focus is more user orientation. We may have some fish/ecological threshold views (this is still in the works) but I'm not sure if there are additional layers that help with that.

I think the addition of dams, power plants, and population are cool layers to see how anthropogenic influences impact stream temperature. However, I don't think i

[2020-08-05 15:09] mhines-usgs commented on #468
thanks. that's helpful input.

i looked at the hillshade tiles we have and unfortunately they are raster PNGs not actually tiles that we are style. so unless I don't know something (@abriggs-usgs ?) we'll have to work around their appearance. what do you think of the current view on test? http://wbeep-test-website.s3-website-us-west-2.amazonaws.com/estimated-availability/#/water-temperature - does

[2020-08-05 15:20] lindsayplatt commented on #468
I wouldn't say that it pops necessarily. There is also a weird thing where it actually gets harder to tell what color the lines are the more you zoom in.

![image](https://user-images.githubusercontent.com/13220910/89431288-54754000-d705-11ea-93dc-3b37e0affc05.png)

[2020-08-05 15:23] mhines-usgs commented on #468
i agree, i can add some zoom rules that makes the lines get thicker as you zoom in as well. but we may need to reconsider the color swatch on top of the hillshade after that change to see how noticeable/discernable they are. i've got some gcmrc keeping me busy today but can look at the line thickness tomorrow before we review the colors again

[2020-08-05 18:48] abriggs-usgs opened #599 "Create Performance Testing Protocol"
Create Performance Testing Protocol

In order to standardize the process of application performance and usability testing, let's work through an iterative process to develop a generalized protocol

- [x] Contact other Water Mission Area Teams to see if they have a process for performance testing
- [x] Make a list of testing that has been done in the past
- [ ] Decide if we should contact the Feder

[2020-08-05 19:07] abriggs-usgs commented on #599
I contacted members of the Internet of Water and NWIS Modernization teams (Jim Kreft and Carl Schroedl respectively) and asked if they had any procedures or advice related to performance testing.  Jim said that they didn't have an established process for performance testing. Carl indicated the same thing, but he did note they had used and still use JMeter, but they are not fond of it and are looki

[2020-08-05 19:54] abriggs-usgs commented on #599
Past testing/analysis has come in five parts
1)	Browserstack – we have an open source license for five developers. This tool loads our application onto real machines running a wide array of operating systems and browser types. We then connect our local machine to the Browserstack remote and screen share with that device. This process works okay. It is a bit clunky, slow, and lacks the interaction

[2020-08-05 21:20] ellenbechtel opened #600 "Introductory Infographic for Gages"
### Task
Create an infographic that replaces much of the introductory text, and is more user-friendly than the existing pic and text combo.   Lindsay made a sketch, and we can use it as a starting point to hit the main points.

### Linsday's sketch:
![gages_intro_idea](https://user-images.githubusercontent.com/25129074/89465606-632d1880-d740-11ea-9f0a-95dc5c2bb7a0.png)

### Original Text:
The U.S.

[2020-08-05 21:28] ellenbechtel commented on #600
Here's where I'm at by the end of the day on Wed 8/5.  Each "panel" is just my artboard to get a vignette composed that looks good and tells the main point that we need it to say.  Next on my docket is arranging them in a way that makes sense, make sure the text supports the illustrations, compose it so it looks "complete."

Then after that, I need to upload it to Test and make the SVG text access

[2020-08-05 21:41] lindsayplatt commented on #488
Answer: no. It is very boring no matter how it shakes out. Moving on to a totally different approac ... see https://doimspp.sharepoint.com/:v:/r/sites/gs-wma-iidd-makerspace/Shared%20Documents/Project%20-%20WBEEP%20NHM/boring_wu_te_bubblemap.mp4?csf=1&web=1&e=9vshaK

[2020-08-05 21:41] #488 closed, assigned to nobody

[2020-08-05 21:46] lindsayplatt commented on #303
This is resurfacing because they are working on switching the pipeline to using the new geospatial fabric version and we will need to get our tiles built using the new geospatial fabric (see [this SB object](https://www.sciencebase.gov/catalog/item/5e29d1a0e4b0a79317cf7f63)) before moving things out to prod. I believe @wdwatkins has had recent experience with the new GF version.

My suggestion is

[2020-08-05 21:48] lindsayplatt commented on #487
We are abandoning radial bars in favor of regular bar charts below a map and chunking interaction into seasons

[2020-08-05 21:48] #487 closed, assigned to nobody

[2020-08-05 21:48] lindsayplatt commented on #477
Unnecessary since we are now abandoning the radial charts idea and will likely not be animating anything. See #487

[2020-08-05 21:48] #477 closed, assigned to nobody

[2020-08-05 22:24] jordansread commented on #600
This is looking great! My opinions below

Better!

I think one

Last (or at least not first) - we've had a request from Chad/Joel to *not* make the funding the first sentence of the viz (that is a change from the past, where emphasizing the funding was seen as a :+1:). I haven't changed the text yet, but they noted when they loaded beta on a phone, they saw the great initial image but then the fun

[2020-08-06 13:24] cnell-usgs opened #601 "Expandable text for annotated bar chart"
Update annotated bar chart to
- [x] reduce overall text via accordion
- [x] read text to add annotations to lighten text associated with each era
- [x] format with svg for bar chart, html for text

[2020-08-06 14:14] mhines-usgs commented on #468
added that feature!

[2020-08-06 14:41] lindsayplatt commented on #468
So I think the rivers/water bodies layer that we have underneath is also clashing with the ability to tell what color the stream segments are. We might want to turn that off by default, make it grey, make it a color that blends into the background more, or just completely turn it off.

[2020-08-06 16:56] mhines-usgs commented on #468
playing with that option, and there are some oddities like I can't seem to change the color of some of the inland lakes without affecting the oceans, but will keep poking at it. I can always just use a lighter blue or see if i can separate those two features.

[2020-08-06 18:12] ellenbechtel commented on #600
All excellent feedback, thanks.  The only thing I'm still puzzling on is your last point - about compressing the chart.  A full compression would be just a bar chart with two bars - 1889 and 2020 (or rather, 2019).  I have two hesitations about going that far:

1. The scale of the difference (1 vs 8,400) is so large that it would get lost.  It would be like a period and a skyscraper.  That scale d

[2020-08-06 18:32] abriggs-usgs commented on #599
This is a rough list of browsers we should support and the associated operating systems

**Operating Systems | Browsers in order of Priority** (based on percentage of users)

Windows | Chrome, Firefox, Edge
Mac | Safari, Chrome, Firefox, Edge
Android | Chrome, Samsung Internet, Firefox
iOS | Safari, Chrome

[2020-08-06 18:36] cnell-usgs commented on #600
re: bar chart - This is also going to be shown in the following section, so something to think about. I like the ordering here as it tells a story from the map to the cell phone, but after that it is slightly less fluid. In a similar realm, the grey color used here is slightly different than the initial map/chart which looks nice, but may cause the infographic piece to feel mismatched when the sam

[2020-08-06 18:44] cnell-usgs commented on #600
Layout-wise I think the NWIS and congress pieces could go side-by-side although conceptually that might not make sense. Altenatively, what if the NWIS cell phone was made to look like it is getting pinged by the streamgage illustration above? I think the current NWIS graphic can be smaller.

[2020-08-06 18:48] amrhoades commented on #599
How are we going to test Chrome when it's removed from our machines?

[2020-08-06 18:53] abriggs-usgs commented on #599
Department polices do make testing a challenge, which is why we had to resort to 'beta' and hope people are willing to use personal devices.

[2020-08-06 19:01] cnell-usgs commented on #468
Overall I think the color ramp looks good and so does the increasing reach thickness with zoom. For the thickness I might see what it looks like if the lines are the slightest bit thinner around the 5-7 zoom level. As is, it sort of draws out the jaggedness of the lines in a way that I think is partially driven by line thickness interacting with the shape of the reaches:
![image](https://user-imag

[2020-08-06 19:04] cnell-usgs commented on #468
re: overlaying of temp reaches with background layer
I would remove it from the background layer if possible. Might cause confusion or detract from what is communicated in the focal layer

[2020-08-06 19:28] amrhoades commented on #599
**12 different pairings**

1. Windows - Chrome
2. Windows - Firefox
3. Windows - Edge
4. Mac - Safari
5. Mac - Chrome
6. Mac - Firefox
7. Mac - Edge
8. Android - Chrome
9. Android - Samsung Internet
10. Android - Firefox
11. iOS - Safari
12. iOS - Chrome

At a maximum we would need 12 different test users.

[2020-08-06 19:28] amrhoades commented on #599
Here is a [draft template form](https://forms.office.com/Pages/ResponsePage.aspx?id=urWTBhhLe02TQfMvQApUlM8aXy99rx9MnQ70A0VTWn1UQ0JaMlBMSEYwVFROVEtGMEkwMkVJRjVUQi4u) - @abriggs-usgs  looking for feedback/edits

[2020-08-06 19:45] abriggs-usgs commented on #599
The draft form makes sense to me. It is pretty generic at the moment which opens the opportunity to add more directed questions related to features based on specific use cases once those cases are known.

[2020-08-06 19:47] amrhoades commented on #599
My thought process here was to create a template that could be duplicated and tailored to a project. Anything I should update/add/omit to the template?

[2020-08-06 19:54] abriggs-usgs commented on #599
It seems reasonable to me to have the template generic. I can't think of much else to include without it addressing specifics of a particular application/visualization, so I think this is a good starting place. 👍

[2020-08-06 20:05] amrhoades commented on #599
@mhines-usgs could you give this [draft template form](https://forms.office.com/Pages/ResponsePage.aspx?id=urWTBhhLe02TQfMvQApUlM8aXy99rx9MnQ70A0VTWn1UQ0JaMlBMSEYwVFROVEtGMEkwMkVJRjVUQi4u) a look over and provide any feedback that comes to mind?

[2020-08-06 20:06] mhines-usgs commented on #468
re: thickness, sure I can adjust it a bit! re: the jaggedness - i assume we could also do some simplification but it does definitely become more pronounced like you suggested by the thickness. I'll thin it out a little and then push that up to the server!

[2020-08-06 20:18] mhines-usgs commented on #599
i think the form looks ok as far as a generic form goes, you may consider separating out the questions that asks for input that could more easily be a radio button (great, needs improvement) from the free text 'tell me more about this' just for ease of user's use.

thinking more about the usability test i was creating for wbeep, it seems like you could scrape ideas from there if you want https://d

[2020-08-06 20:20] mhines-usgs commented on #599
i'd say JMeter is very useful for non-java applications, as long as there is an endpoint to hit, we use it to test the speed of the response of web services/data for GCMRC. If you want a demo, I can show you sometime. it's basically a list of queries against a database, but you could also set it up to do URL queries too

[2020-08-06 20:25] mhines-usgs commented on #600
this is awesome, I think this is a really nice explanation of how the gages work and I really love all the illustrations. would it be kosher instead of showing congress, showing a USGS logo? like yeah the money comes through congress, but it seems like the topic is USGS USGS (and partners!) ! 🎆  on Colleen's feedback, the cell phone _really_ wouldn't be directly hitting the gage, the data are tech

[2020-08-06 20:27] cnell-usgs commented on #601
<img width="506" alt="Asset 1@2x" src="https://user-images.githubusercontent.com/17803537/89579280-1ce7c000-d7f9-11ea-9c99-1de6c9fc2582.png">
This is the mock-up of the timeline with the accordion for text

[2020-08-06 20:28] jordansread commented on #600
I’m thinking we can skip the bar chart since the first gage is covered in the annotated chart below and the 8400+ number could be added to that chart as well without a stretch. Feels too redundant to see it three times.

Adding onto Colleen’s idea of having the cell integrated with the gage data flow (I like that) would you consider making the overall set of images smaller to fit in a single 1:1 s

[2020-08-06 20:39] ellenbechtel commented on #600
Thanks for the input guys!

K, taking the bar chart out - you're right that it'll be redundant.  And I agree, I think the NWIS vignette can take up less real estate.

@jread-usgs can you clarify what you mean by the 1:1 square view and the connect the cell and gage parts? I'm intrigued and willing to try it out, but also concerned about mobile friendliness (where having the vignettes flow horizont

[2020-08-06 20:57] mhines-usgs commented on #468
less thick lines are up now on test, as well as removed the majority of the waterways, only leaving the water polygons that are styled with a lighter blue with a slightly diff blue outline

[2020-08-06 21:05] jordansread commented on #600
Sure, no prob. That wasn't very clear.

What I mean by the 1:1 is that the current layout is probably like 1:4~5 (so quite tall) and I'm asking whether you think it would be possible to go for a layout where all of the elements of the infographic could be seen on the same screen at the same time (vs scrolling through them, which I think is the design right now). In reality, a 1:1 probably isn't th

[2020-08-07 13:07] abriggs-usgs opened #602 "Restructure HTML/Vue Components and Consolidate CSS for Efficient Layouts"
It would be helpful to create a simple and reusable pattern for CSS and code structure such that the current pattern of sticky images and sliding text within an containing element can be implemented in quickly and consistently.

- [x] created pattern and adjust the visualization to utilize the pattern
- [x] document the pattern such that other developers can implement and improve the established p

[2020-08-07 13:15] abriggs-usgs commented on #602
This is a stage wise process and included the following pull requests
https://github.com/usgs-makerspace/delaware-basin-story/pull/75 -This rewrites the HTML structure to work better with the 'sticky sections' and 'sliding text'. Has many placeholder elements and no triggers are active. Also the 'inking' was not included to keep the newest changes highlighted. But the inking and the related trigge

[2020-08-07 13:20] lindsayplatt opened #603 "Water use: try simplifying the river segments for closer zoom levels to load faster"
We increased line thickness of the river segments to emphasize them more in this visualization, but we might want to try simplifying a bit to speed up loading (it was kind of slow to render on my computer). This came out the conversation that starts here: https://github.com/usgs-makerspace/makerspace-sandbox/issues/468#issuecomment-670137127

Don't want to over simplify and lose too much of the ri

[2020-08-07 13:21] lindsayplatt commented on #468
@mhines-usgs I think this looks great now! Last thing is that we might want to simplify the rivers a bit so that they load faster but they look much nicer now with the line thickness changes you made. 🤘 This is a really pretty map! I made that simplification stuff into a separate task since it is more performance related and less on the styling - https://github.com/usgs-makerspace/makerspace-sandb

[2020-08-07 13:35] lindsayplatt commented on #600
OK first this is the best explanation/graphic of what the heck a gage is that I have seen - love this above water and below water look! SO COOL. Second, the Congress + partners graphic is super cute and makes a really boring sentence into a beautiful image and I think does more justice to the "partners" because they become a mosaic of different places/bldgs rather than just lumped into the word "p

[2020-08-07 14:26] abriggs-usgs commented on #602
Pull Request - https://github.com/usgs-makerspace/delaware-basin-story/pull/83 Another step in the process. This greatly reduces the CSS for the Road Salt section, uses the CSS Grid pattern to standardize code and fixes the sticky position issue that was showing in Android Chrome and Firefox.

[2020-08-07 16:25] ellenbechtel commented on #600
Thanks for the tweaks guys!  Working on the small things such as:

- broom paddle
- making the color palette consistent with the original gages map
- no bar chart
- moving NWIS closer to the top

The one thing I'm struggling with is this aspect ratio question. Don't get me wrong, I'm down to keep trying!  But I have some reservations about a horizontal (~1.2 : 1) or very compressed vertical (where

[2020-08-07 17:06] ellenbechtel commented on #600
Here's the list of takeaways from JR and EB chattin' just now:

- We're okay keeping the flow mostly vertical, but we'll rearrange some individual components to keep them as horizontal as possible to keep them from taking up enormous amounts of white space
- Specifically, make the tiny state agencies flow/fade horizontally
- Okay to nix the following text blocks if needed: "Streamgages are..." "Wo

[2020-08-07 17:47] ellenbechtel commented on #600
Here's a quick shot, which hits everything except getting NWIS close to the good wifi.

Also, I'm wondering...centered text for congress, partners, and USGS?  How's that look?

![intro-infographic-3](https://user-images.githubusercontent.com/25129074/89673491-75c85e80-d8b4-11ea-8e74-2de7b77dd2c9.png)

[2020-08-07 18:37] ellenbechtel commented on #600
- Adjusted the NWIS section
- Adjusted Congress+partners typography
- Made the tiny bottom gage stand out a little more
- Did not include the "why is it spelled gage?" but there's almost certainly room for it somewhere once we implement.

![intro-infographic-4](https://user-images.githubusercontent.com/25129074/89677374-554fd280-d8bb-11ea-8ec8-a7526303050e.png)

[2020-08-07 19:30] jordansread commented on #600
beautiful work

[2020-08-07 22:18] abriggs-usgs commented on #602
Pull Request -  https://github.com/usgs-makerspace/delaware-basin-story/pull/84 - This sets up the CSS grid and mobile CSS, will need the SVG with the background embedded to finish the task.

[2020-08-10 13:54] lindsayplatt opened #604 "SVG tooltip saga"
From @collnell:

[2020-08-10 13:56] lindsayplatt commented on #604
First - what does the top SVG map do? It has working hovers and tooltips. Are those inline?

Second - @jread-usgs and I are working on coding up the SVG to not have a rectangle built for every single bar in every state. That should probably decrease the overall SVG size by a lot and may make it possible to do the inline tooltip approach without performance issues.

[2020-08-10 14:01] jordansread commented on #604
I can help weigh in on this if that would be useful. Perhaps a quick video meeting today?

[2020-08-10 14:07] cnell-usgs commented on #604
Yes, the top svg map uses inline svg as well. While we are able to insert the svg using the separate file we (myself and @abriggs-usgs ) could not get the tooltip to work in that way. To mimic the initial chart we attempted to implement using inline svg which seemed appropriate for the interactivity but this caused performance issues. With a different implementation for the tooltip this may work,

[2020-08-10 14:27] jordansread commented on #604
I assume Lindsay's new file will be _way_ smaller. Instead of each state/terr/DC having 130 `<rect/>`, it will have one. So 6.7k fewer lines in the svg.

[2020-08-10 15:11] mhines-usgs commented on #603
first attempt PR: https://github.com/usgs-makerspace/wbeep-processing/pull/161 - job is running to regenerate the base tiles.

saved a screenshot of the previous tiles for comparison at ~ zoom level 6 which is also applied with this PR modification
![image](https://user-images.githubusercontent.com/6920344/89798411-c4167100-daf1-11ea-975b-b6d42695111b.png)

![image](https://user-images.githubuserc

[2020-08-10 16:33] mhines-usgs commented on #603
changes are now up on test. also limited zoom level to 6 so that should also speed up loading time as well as the simplification. if you feel it's TOO simplified, I can split the difference from where we were and where I set it up now. @lindsayplatt

[2020-08-10 17:08] wdwatkins commented on #303
I have only used the flowlines, not the actual HRUs, but seeing the difference between the flowlines versions I don't think many changes to our codebase should be required, to use the new version, hopefully just changing the field names

[2020-08-10 17:11] mhines-usgs commented on #303
The only things that ring in my ears, are that we eliminated some HRUs because they didn't have data in the tile-join process, not sure if we will need to revisit that.  here is the line that does the exclusion: https://github.com/usgs-makerspace/wbeep-processing/blob/master/jenkins/tippecanoe_tile_join_Jenkinsfile#L48

[2020-08-10 19:40] wdwatkins commented on #303
Yeah, even if those were due to lack of input data rather than the fabric, maybe the HRU ids will have changed?

[2020-08-10 19:47] mhines-usgs commented on #303
Tried to grab the GF*. file to compare and it doesn't appear to work anymore, i end up with an error page
![image](https://user-images.githubusercontent.com/6920344/89824233-68aba980-db18-11ea-8b5a-7b29bff5233e.png)

[2020-08-10 21:18] lindsayplatt commented on #604
Please see https://github.com/usgs-makerspace/gages-through-the-ages/pull/159

[2020-08-10 22:52] lindsayplatt commented on #603
I don't think it is too simplified, but I am wondering if we can make the most zoomed in level lines slightly thinner? I think this level looks super awesome:

![image](https://user-images.githubusercontent.com/13220910/89838914-16778200-db32-11ea-8784-7042e6f367bd.png)

but then the final zoom level is not quite as sharp as the other one and I think it may have to due with the lines being too thi

[2020-08-11 12:57] abriggs-usgs commented on #602
Here is a generic representation of the HTML structure and CSS to create the sticky image with sliding text. This pattern is fairly simple and allows for side by side text/image on desktop and text over image on mobile
![image](https://user-images.githubusercontent.com/36997804/89899894-8fb1bc00-dba8-11ea-9f8a-64b1e7eb6584.png)
![image](https://user-images.githubusercontent.com/36997804/89899956-a

[2020-08-11 14:28] mhines-usgs commented on #603
Sure, I can look at that again later today!

[2020-08-11 15:13] wdwatkins commented on #303
I think the sciencebase item is still private for the new geofabric

[2020-08-11 15:17] lindsayplatt commented on #303
That's normally not the error you get if it is private though

[2020-08-11 15:19] lindsayplatt commented on #303
Can you try again @mhines-usgs? I am not logged in and can see it:

https://www.sciencebase.gov/catalog/item/5e29d1a0e4b0a79317cf7f63

![image](https://user-images.githubusercontent.com/13220910/89915544-1c19aa00-dbbc-11ea-8dd3-f2a741db59d8.png)

[2020-08-11 15:24] mhines-usgs commented on #303
Yeah, I could see that item just fine, it was the 932mb zip file I was trying to download below that was triggering that error. Just now it seems to be working, though!

![image](https://user-images.githubusercontent.com/6920344/89916109-cf829e80-dbbc-11ea-9a72-e567f5a7a6ad.png)

[2020-08-11 15:30] lindsayplatt commented on #303
Oh gotcha. I wondering if they were updating or something? Glad it is working now.

[2020-08-11 18:24] abriggs-usgs opened #605 "Refine Annotated Timeline Tabs for Mobile"
Let's refine the looks

[x]- put dates for drop down boxes on mobile
[x]- put titles inside the drop down
[x]- 508 issues with white text on gray background (switch text of non-selected boxes to be dark blue and background to be light grey like the bars)
[x] - Make the methods section match the styles

[2020-08-11 18:55] abriggs-usgs commented on #605
Pull Request - https://github.com/usgs-makerspace/gages-through-the-ages/pull/166 This covers the changes requested above. It also uses two checks. First, it check the screen width, this works on everything except Android devices. Second, it uses an NPM package to identify if the user device is mobile, this catches the fringe cases that the first check misses.

[2020-08-11 20:45] ellenbechtel commented on #577
I'm jumping back in here to wrap up IPDS.  I've got responses written to Jack, and a list of his recommended/must-have edits that I think are a good idea here.  Below is Joe Nielsen.  Any red flags from project champions?

## Jack Eggleston

**Must-Haves**
- None!

**Nice-to-Haves**
- Add gentle background labels to Atlantic Ocean and Basin, similar to how we've labelled the states
- Labels, maybe

[2020-08-11 20:55] ellenbechtel commented on #577
I'm jumping back in here to wrap up IPDS.  I've got responses written to Jack, and a list of his recommended/must-have edits that I think are a good idea here.  Below that is summary of comments from Joe Nielsen.  Any red flags from project champions?

[Most recent iteration of text, incorporating Jack and Joe's comments](https://doimspp-my.sharepoint.com/:w:/g/personal/ebechtel_contractor_usgs_go

[2020-08-11 21:47] mhines-usgs commented on #603
I made it a slightly thinner width -- let me know what you think of that! it's hard to see but it's a little thinner. If you want it thinner yet, I could try with a half point, like 1.5 instead of 2.

[2020-08-12 10:31] jordansread commented on #604
Seems tips aren't working on the cartogram for Firefox
![image](https://user-images.githubusercontent.com/2349007/90005162-6eaaa300-dc5c-11ea-9dba-66616487b09d.png)

They do work for the top SVG (the animated one). Seems `let translate_elements = window.getComputedStyle(evt.target.parentElement).transform;` isn't working and this gets "none" in FF

A different way of getting style works:
[code]
bu

[2020-08-12 13:35] lindsayplatt commented on #604
Ok, that's a bummer about Firefox. Are you saying that the format of the result of `evt.target.parentElement.getAttribute('transform')` is different from the `getComputedStyle` method? If so, should be easy to change the string handling commands in subsequent lines. I can work on this fix if you would like.

[2020-08-12 14:15] lindsayplatt commented on #603
:shipit: I think this is great! For posterity, here is updated view from the screenshot where I was noting the lines being too thick:

![image](https://user-images.githubusercontent.com/13220910/90025918-4b8feb80-dc7c-11ea-9cac-592327080701.png)

[2020-08-12 14:49] jordansread commented on #604
Yes, the result of the `getAttribute` is (I think) just the exact string in the transform. So it could be something like `translate(1,4)scale(1.5,5)` or `translate(1 4)scale(1.5 5)`, which makes it a little harder to make assumptions for parsing it. But since you are automating the code that creates the transform, there is less worry that those string formats might change...your solution was more

[2020-08-12 14:54] lindsayplatt commented on #604
Right. And a quick Google shows that FF does indeed have a reported bug with getComputedStyle. The reported bug is from 2012, so I don't think we can rely on it being fixed 😉

See the section called "More on getComputedStyle" here: https://stackoverflow.com/a/32296604

[2020-08-12 19:00] lindsayplatt opened #606 "Water temp: remove unneeded color ramp content"
We have made great progress on colors and no longer need all of those color ramp testing features on the bottom. Instead of having to click on "interpolated ramp" to see our chosen color ramp, let's make it the default. Please remove all of that content on the bottom, make the "interpolated ramp" the default, and then push those changes up to QA.

![image](https://user-images.githubusercontent.com

[2020-08-12 20:03] abriggs-usgs commented on #606
Pull Request - https://github.com/usgs-makerspace/wbeep-viz/pull/437
This should complete the code changes.

Since Megan is the resident release expert, I'll hand the push to 'qa' part over, if that is okay.

[2020-08-12 21:20] mhines-usgs commented on #606
the ol' switcheroo for layers visible/off https://github.com/usgs-makerspace/wbeep-viz/pull/438

[2020-08-12 21:59] mhines-usgs commented on #606
forgot to remove a function that flips back to the wrong stream layers when toggling the habitat layer highlights, now disabled: https://github.com/usgs-makerspace/wbeep-viz/pull/439

[2020-08-12 22:17] mhines-usgs commented on #606
now it's up on QA again http://wbeep-qa-website.s3-website-us-west-2.amazonaws.com/estimated-availability/#/water-temperature

[2020-08-13 13:28] lindsayplatt commented on #606
Looks excellent!

[2020-08-13 13:35] lindsayplatt commented on #604
Fixed that last issue in https://github.com/usgs-makerspace/gages-through-the-ages/pull/172

[2020-08-13 13:35] #604 closed, assigned to nobody

[2020-08-14 15:33] abriggs-usgs opened #607 "Transition Items"
I (Aaron) have started to compile a list of tasks/tutorials/demonstrations that might be useful to complete before I move to Internet of Water. Please feel free to add/modify as desired. Also add your name behind the tutorials if you wish to be included.

- [x] AWS S3 hosting  (Ellen, Colleen)
- [x] Browserstack Tutorial (Ellen, Colleen)
- [x] Makerspace Project Setup (part 1) using the base templ

[2020-08-15 15:42] jordansread opened #608 "Gages pre-release issues (many will be wontfix)"
- [x] inconsistent title wrap linespacing for mobile
![image](https://user-images.githubusercontent.com/2349007/90315755-8a73aa80-dee3-11ea-9e70-6da4b4c6590e.png)

- [ ] iOS tap on gage count bar freezes the top map animation and no way to unpause (not an issue on android because tapping elsewhere frees up the mouseout) [see PR](https://github.com/usgs-makerspace/gages-through-the-ages/pull/195)
-

[2020-08-17 13:44] cnell-usgs commented on #596
I've completed a step toward this goal in https://github.com/usgs-makerspace/delaware-basin-story/pull/91

This just sets up the svgs on the map with smaller pile sizes. The next step is to reorder the sequences as is decided

[2020-08-17 13:46] cnell-usgs commented on #591
The new map versions in https://github.com/usgs-makerspace/delaware-basin-story/pull/91 have lines in svg with the basemap embedded.

[2020-08-17 13:51] cnell-usgs commented on #598
Here https://github.com/usgs-makerspace/delaware-basin-story/pull/90 a new view is set up for the salt front animation. This needs more thought, but the idea is to go from:
1. natural movement of the salt front to
2. predicted salt front position  at 1, 2, and 3 ft sea level rise. Sea level rise markers are drawn on, and the salt front movement moves upstream within that range.
3.  The predicted u

[2020-08-17 14:29] jordansread commented on #607
Could you add?
- [ ] different options for templating/injecting svgs into a component (Lindsay/Colleen)

With that, was thinking that we've got tools to build svgs (including using node or R), but then there is a manual copy/pasta step into the `.vue` file that ends up being brittle. It would be great to know a couple of things:
- How to build an SVG inline with code (would this be mustache for th

[2020-08-17 15:11] abriggs-usgs commented on #607
Those are very good questions, and I'm not sure that I have good answers for them. Right now I only know of one way to inject the SVG as a component, which works really well, in that it allows the SVG to be added from a file and placed into a single component tag. However, when we used that, the SVG lost the ability to resize. So, that is a large draw back (that may be related to poor implementati

[2020-08-18 14:07] ellenbechtel commented on #577
# TLDR: Next Steps

### IPDS & Text

- [ ] I'd still like to do one last **screenshare with @aappling-usgs or @jread-usgs on the IPDS platform** to make sure I've submitted everything.
- [ ] @jread-usgs I'd like to hear your thoughts on how to respond to Kendra's comments, both the ones I've posted below and any from [her document](https://doimspp-my.sharepoint.com/:w:/g/personal/ebechtel_contract

[2020-08-18 18:19] abriggs-usgs commented on #607
I'm working through some of the questions asked above, and I am working out some examples. I just want to make note here of things I come across. For the question of can we disable linting on SVG. The answer is definitely yes if we can figure out how to how to make the SVG retain their resizing abilities when loaded as a component.

We can lint ignore entire files by creating a '.eslintignore' fil

[2020-08-18 19:02] jordansread commented on #607
Aaron, not sure if this is helpful or not, but we were able to inject external SVG files into the DOM with svginject in the past which retained the ability to resize. [Here is one example](https://labs.waterdata.usgs.gov/visualizations/hurricane-irma/index.html)

[2020-08-18 19:03] mhines-usgs commented on #607
Added myself to a handful of these, hopefully it's not too late to jump on the bandwagon. I am not sure where I am heading in the future exactly, so hopefully it's worth while for me to participate.

[2020-08-18 19:30] abriggs-usgs commented on #607
Oh Megan, you just missed project setup part one and two, but Ellen had the foresight to record it. I also made a complete write up. Ellen is storing all the related files in her personal OneDrive. I'll send you the link in teams.

[2020-08-19 18:26] cnell-usgs commented on #598
The salt front animation has been modified to use `clip-path` rather than `animationMotion` to be able to use a color fill to represent the salt front, and open up annotation space for the planned changes. The animation movement is based on monthly medians for the salt front position (https://www.state.nj.us/drbc/hydrological/river/salt-front.html). https://github.com/usgs-makerspace/delaware-basi

[2020-08-19 20:02] cnell-usgs commented on #598
This is what it would look like with the gradient animated. Needs some refinement, but wondering what you think @jread-usgs @ellenbechtel @aappling-usgs ?

![saltymvmt_gradient](https://user-images.githubusercontent.com/17803537/90683928-f419ee80-e22c-11ea-9b5c-aa6b056dbc93.gif)

[2020-08-19 20:04] jordansread commented on #598
Looks like a great update to me!

[2020-08-19 20:23] aappling-usgs commented on #598
Yep, love it!

[2020-08-20 15:11] #606 closed, assigned to mhines-usgs, abriggs-usgs

[2020-08-20 15:11] #470 closed, assigned to mhines-usgs

[2020-08-20 15:12] #590 closed, assigned to mhines-usgs

[2020-08-20 15:14] #483 closed, assigned to nobody

[2020-08-20 16:19] lindsayplatt commented on #588
Cut due to new constraints

[2020-08-20 16:19] #588 closed, assigned to nobody

[2020-08-20 16:19] lindsayplatt commented on #418
Cut due to new constraints

[2020-08-20 16:19] #418 closed, assigned to nobody

[2020-08-20 16:20] lindsayplatt commented on #258
Cut due to new constraints

[2020-08-20 16:20] #258 closed

[2020-08-20 16:20] lindsayplatt commented on #255
Cut due to new constraints

[2020-08-20 16:20] #255 closed

[2020-08-20 16:20] lindsayplatt commented on #221
Data is being kept at least! Cut due to new constraints

[2020-08-20 16:20] #221 closed

[2020-08-20 16:21] lindsayplatt commented on #290
Cut due to new constraints

[2020-08-20 16:21] #290 closed

[2020-08-20 16:21] lindsayplatt commented on #213
Cut due to new constraints

[2020-08-20 16:21] #213 closed

[2020-08-20 16:21] lindsayplatt commented on #283
Cut due to new constraints

[2020-08-20 16:21] #283 closed

[2020-08-20 16:21] lindsayplatt commented on #197
Cut due to new constraints

[2020-08-20 16:22] lindsayplatt commented on #197
Actually, wondering if we should just turn them off ... @mhines-usgs ?

[2020-08-20 16:22] lindsayplatt commented on #236
Cut due to new constraints

[2020-08-20 16:22] #236 closed

[2020-08-20 16:22] lindsayplatt commented on #39
Cut due to new constraints

[2020-08-20 16:22] #39 closed

[2020-08-20 16:23] lindsayplatt commented on #495
Lots of water use changes happening anyways in this new strategy. This is no longer needed.

[2020-08-20 16:23] #495 closed, assigned to nobody

[2020-08-20 16:25] lindsayplatt commented on #583
David successfully explored and shared a mock-up. This will be cut due to new constraints but if there is time, we may include a static map version illustrating this ideas as an example. If we go this route, we will be outsourcing the data processing of quantiles to a different team.

@wdwatkins do you have shareable code for how you created the percentiles? Might be good to share that with Steve

[2020-08-20 16:25] #583 closed, assigned to wdwatkins

[2020-08-20 16:28] mhines-usgs commented on #197
i've never used them, and only wonder @wdwatkins if he thinks we would use these at all for any reason? but if the project is going away, probably not?

[2020-08-20 16:29] wdwatkins commented on #583
All in this PR: https://github.com/usgs-makerspace/wbeep-map-images/pull/4

[2020-08-20 16:33] wdwatkins commented on #197
I doubt I would use them, but I wouldn't make turning them off a high priority either, since I don't think files at rest in S3 really cost much (pennies per month per gig).

[2020-08-20 16:52] lindsayplatt commented on #583
Sorry! Must have forgotten about that. Merged :) I will share that PR link with Steve.

[2020-08-20 16:55] lindsayplatt commented on #197
OK, thanks. I am going to close then.

[2020-08-20 16:55] #197 closed

[2020-08-20 17:28] lindsayplatt commented on #177
Cut due to new constraints. Three things leading to this decision: 1) these have very minimal effect on the final output but may be a heavy lift to implement, 2) we do not present exact values in the visualization, only categories, and 3) the ultimate product is a **concept map**, so given our new constraints I think we can accept this small flaw since it is not being used in additional research o

[2020-08-20 17:28] #177 closed

[2020-08-20 17:31] lindsayplatt commented on #268
Cut due to new constraints. The map has fairly good performance as-is, but since it is a concept map and not being used for decision-making at this time, we can accept current performance and revisit should more work be done on this map in the future.

[2020-08-20 17:31] #268 closed

[2020-08-20 17:33] lindsayplatt commented on #468
Hillshade still questionable, but will make a separate issue for that.

[2020-08-20 17:33] #468 closed, assigned to nobody

[2020-08-21 13:55] amrhoades opened #609 "Water temp: static historic context view"
Dave and Pat Lambert are requesting that having a static view example of this would be awesome. If we go this route, we have talked about outsourcing some of the data processing to others, like Steve M. This is a nice-to-have.

Send R script to Steve
Mock up static view
Decide where to put map
Update map when data is processed

[2020-08-21 14:04] amrhoades opened #610 "Water temp: Make legend (0-30 C for now)"

[2020-08-21 14:05] amrhoades opened #611 "Water temp: Layer list toggle"

[2020-08-21 14:06] amrhoades opened #612 "Water temp: delete the Highlight Areas functions/buttons"

[2020-08-21 14:08] amrhoades opened #613 "Water temp: Add date to top of map"

[2020-08-21 14:09] amrhoades opened #614 "Water temp: solutions for hillshade"
Work on solutions for hillshade so that it doesn’t visually compete with stream colors (turn off hillshade on default, ?)

[2020-08-21 14:10] amrhoades opened #615 "Water temp: Update 'about this map'"
Dependency: WBEEP group curating text

[2020-08-21 14:19] amrhoades opened #616 "Water use: Mockup national map of irrigation data"
•	Lindsay get link to data
•	Determine if it is INSANE to look at. (pick July or August date)
•	If not good, regroup and talk about alternatives.
•	Share alternatives with that subset group above (Alicia can connect)

[2020-08-21 14:29] #486 closed, assigned to mhines-usgs

[2020-08-21 14:31] #479 closed, assigned to mhines-usgs

[2020-08-21 14:31] #498 closed, assigned to mhines-usgs

[2020-08-21 14:31] #499 closed, assigned to mhines-usgs

[2020-08-21 14:31] #571 closed, assigned to mhines-usgs

[2020-08-21 14:31] #582 closed, assigned to mhines-usgs

[2020-08-21 14:31] #603 closed, assigned to mhines-usgs

[2020-08-21 14:45] amrhoades opened #617 "Water use: Build out SVG for water component"

[2020-08-21 14:47] amrhoades opened #618 "Water use: Add 'about this map' text"
Add “about this map” element/component

[2020-08-21 14:48] amrhoades opened #619 "Water use: Update 'about this map'"
Update “about this map” with text from WBEEP group (blocked until 9/16)

[2020-08-21 14:51] amrhoades opened #620 "Q/A: setup website pages"
Setup website Q/A pages with the different sections as described at the top of the Q/A template docs

[Water Use document link](https://doimspp.sharepoint.com/:w:/s/gs-wma-iidd-makerspace/EXXUXzn1rClLk0QikTPvRG0BZwBGm4JjDR4G17NnJuDdvA?e=Mm0pRG)

Water Temp document link [https://doimspp.sharepoint.com/:w:/s/gs-wma-iidd-makerspace/Efe2_SOu5KFOl89ZzCj6PFMBxr_06DUJdmt_KOPa32-drQ?e=sDLpOR](url)

[2020-08-21 14:52] amrhoades opened #621 "Q/A: Set up the ? button"
Set up the `?` button to link to the correct section

[2020-08-21 14:53] amrhoades opened #622 "Q/A: Add in the Q/As from the doc"
Dependency: Q/A curation by WBEEP group

[2020-08-24 14:22] mhines-usgs commented on #616
Chose August 15th, appropriately named example here. there are also two others that are just huc 12s and huc 12 centroids for an FYI view
https://doimspp.sharepoint.com/sites/gs-wma-iidd-makerspace/Shared%20Documents/Project%20-%20WBEEP%20NHM/FY20%20March%20to%20Finish%20Line/map_examples

[2020-08-24 14:33] mhines-usgs commented on #616
if there is more to do here let me know.

[2020-08-24 15:46] amrhoades commented on #616
Decision on aug 24th: mock up with huc 8
Megan will take point on this.

[2020-08-24 15:49] mhines-usgs commented on #616
Also size the dots by water use value

[2020-08-25 14:48] mhines-usgs commented on #616
Added several more options with Huc10 and Huc12 yesterday. Not sure if there is more to do here, let me know.

[2020-08-25 20:20] mhines-usgs commented on #303
I think what we'll be doing is replacing the geodatabase that we start our tile generation pipeline with, and then provide a completely separate tier set up where they can look at their dataset on the other end. In order to support that, I think we need to...

**for wbeep processing:**
- [ ] upload the new geodatabase into s3 location where jenkinsfile can grab it
- [ ] create a new version or par

[2020-08-26 13:33] ellenbechtel commented on #593
Did everything except making the Cannonsville release go all the way down.  Not sure about how clear that edit actually would be, but can certainly go back and edit to incorporate that.

[2020-08-26 14:04] abriggs-usgs commented on #607
As a follow up, all of the checkbox topics have been covered. There are step by step write ups for each and most have a recorded screen share that covers the demos, but be warned many of the demos are in the hour to two hour time range, so they are not for the faint of heart :).

Also, I did spend some time investigating the SVG injection issue. It seems that the  NPM package that we have used to

[2020-08-27 19:29] cnell-usgs commented on #595
![snowysalt](https://user-images.githubusercontent.com/17803537/91486258-9e1ef980-e871-11ea-87bb-077d114b9362.gif)

Heyoooo, let it snow!

[2020-08-28 16:20] mhines-usgs commented on #614
turned the hillshade/terrain layer to not be visible on first load. when we implement the layer toggler the user should be able to turn it on as desired. https://github.com/usgs-makerspace/wbeep-viz/pull/445

[2020-08-28 16:20] mhines-usgs commented on #612
removed this div containing the buttons and the functions in the methods section https://github.com/usgs-makerspace/wbeep-viz/pull/445

[2020-08-28 16:22] mhines-usgs commented on #618
I believe this is already present -- http://wbeep-test-website.s3-website-us-west-2.amazonaws.com/estimated-availability/#/water-temperature
the initial load displays an About this Map window that can be closed by clicking anywhere on the map or by clicking the i button by the map title.

[2020-08-28 17:21] cnell-usgs commented on #595
New and improved truck. Now to animate driving around the map...

![Asset 1](https://user-images.githubusercontent.com/17803537/91595265-e3523280-e928-11ea-8e9d-53c1e512c7de.png)

[2020-08-28 18:08] mhines-usgs commented on #613
PR https://github.com/usgs-makerspace/wbeep-viz/pull/446

[2020-08-28 20:06] cnell-usgs commented on #595
![truckin](https://user-images.githubusercontent.com/17803537/91611090-0dfbb580-e940-11ea-801a-46ff3b29936c.gif)

[2020-08-28 20:37] cnell-usgs commented on #595
![roadsalt](https://user-images.githubusercontent.com/17803537/91612935-181fb300-e944-11ea-8580-70e60e09e5e2.gif)

Current status. I'd like for it to drive on the map but this also works. My original idea was to have the snow melting trail behind the truck with a psychedelic melting effect as it washes into the river but this is alright too

[2020-08-28 22:19] cnell-usgs commented on #598
Left to do:
- [ ] fix bug with mobile breakpoint that makes the map disappear on small screens

[2020-08-31 16:19] mwernimont opened #623 "Quick Mobile Wireframes for Water Use Mobile"

[2020-08-31 16:19] mwernimont opened #624 "Initial HTML Layout for Water Use"

[2020-08-31 19:24] mwernimont commented on #624
@lindsayplatt PR: https://github.com/usgs-makerspace/wbeep-viz/pull/447

[2020-08-31 19:44] mhines-usgs commented on #613
Just merged and should be up on test soon

[2020-09-01 14:36] lindsayplatt commented on #624
test looks as I would expect 👍 just so squished on my laptop screen because of the giant headers/footers :(

![image](https://user-images.githubusercontent.com/13220910/91865051-94f9a800-ec36-11ea-91f0-1bc0a302a99a.png)

[2020-09-01 14:40] mwernimont commented on #624
It'll be a bit better when we have real content.

[2020-09-01 14:42] #624 closed, assigned to mwernimont

[2020-09-01 14:42] lindsayplatt commented on #624
Well, that's just how I feel about the other views, too :) Just think it is the reality of my laptop screen + all the headers/footers

[2020-09-01 14:45] mwernimont opened #625 "Water Use: Add 'about this map' component"

[2020-09-01 15:46] mwernimont commented on #625
![Screen Shot 2020-09-01 at 10 45 54 AM](https://user-images.githubusercontent.com/6390096/91874925-6b457e80-ec40-11ea-870c-ed8bff875f28.png)

[2020-09-01 15:47] mwernimont commented on #625
@lindsayplatt Do we want a date involved in this page?

[2020-09-01 16:27] lindsayplatt commented on #625
We are showing data for all of 2015. Maybe it makes sense to use that same "date stamp" component, but communicate that this is for 2015?

[2020-09-01 16:51] mhines-usgs commented on #611
PR https://github.com/usgs-makerspace/wbeep-viz/pull/449

[2020-09-01 17:49] mwernimont commented on #625
![Screen Shot 2020-09-01 at 12 49 24 PM](https://user-images.githubusercontent.com/6390096/91888242-997f8a00-ec51-11ea-8b70-55057d806013.png)

[2020-09-01 17:50] mwernimont commented on #625
Look alright?  @lindsayplatt

[2020-09-01 17:57] lindsayplatt commented on #625
@mwernimont I don't think you were there when we discussed this, but I am handing off these sorts of PO duties and the like to @amrhoades :)

[2020-09-01 18:07] mhines-usgs commented on #610
The colors used to represent the data are here: https://github.com/usgs-makerspace/wbeep-viz/blob/master/src/assets/mapStyles/waterTemperature/mapStyles.js#L283
where there is a high/30 (#730000) low/0 (#10305d) and midpoint (#c4c1b6) color, but it sounds like we only want to label the 0-30 points likely, just have them diverging from the midpoint color to their extremes in a gradient, I think.
i

[2020-09-01 18:41] mwernimont opened #626 "Water Use add Question mark button"

[2020-09-01 20:15] mwernimont commented on #610
Initial legend added
![Screen Shot 2020-09-01 at 3 15 08 PM](https://user-images.githubusercontent.com/6390096/91901530-f71dd180-ec65-11ea-9fd0-48ed1210a987.png)

[2020-09-01 20:19] mwernimont commented on #626
![Screen Shot 2020-09-01 at 3 19 27 PM](https://user-images.githubusercontent.com/6390096/91901956-92af4200-ec66-11ea-8bc5-18bed01084cc.png)

[2020-09-02 15:52] mwernimont opened #627 "Water Use: SVG Interaction Functionality"
Expected Functionality:
- [x] Selected Season is highlighted on the bar chart
- [x] Selected Season perseveres through water use parameter change.
- [x] Clicking a season on the bar chart changes the selected water use map.
- [x] Clicking a new season on the bar chart highlights that season.
- [x] Clicking a new Water Use parameter changes both the map and the barchart

[2020-09-03 18:45] cnell-usgs commented on #592
Making progress! On `intro-paint-in` branch. Working on refining mask placement to give a solid painting look. Looks weird now but with more masks and better placement should be good to go.

![intro masking new](https://user-images.githubusercontent.com/17803537/92154600-a6d07c00-edeb-11ea-8dbf-56b9b2bd55b5.gif)

To mimic the ink bleed effect night be able to use a gif of the ink bleed as a mask i

[2020-09-03 19:16] mhines-usgs opened #628 "WBEEP Temp: Roads layer color options"
Here's a spot to iterate on @amrhoades

some suggestions from marty that won't compete with river temp colors
Dark Gray: #474B4A
Green(Kinda crazy): #61871D
Dark Brown: #40251C
Black: #000

black:
![image](https://user-images.githubusercontent.com/6920344/92157615-47c13600-edf0-11ea-9e8d-a9ac358ea069.png)

green
![image](https://user-images.githubusercontent.com/6920344/92157695-67585e80-edf0-11ea

[2020-09-08 16:13] lindsayplatt commented on #609
~Send R script to Steve~ - _lplatt did this already_
~Mock up static view~ - _David had done this earlier. Will just need to adjust colors if we actually move out on this approach._
Decide where to put map - _we had talked about the Q/A pages._
Update map **when data is processed** - _moving to "blocked" since this is only going to get worked on if we get the processed data._

[2020-09-08 16:16] lindsayplatt commented on #617
Bars and maps are built out. Adjustments may be needed but rebuilding is pretty simple (for an R pipeline user).

In the `wbeep-viz` repo:
[code]

[2020-09-09 01:25] amrhoades commented on #628
Cool! Thanks for mocking these up. I actually like the dark brown. Is there a reason to pick one over the others? A few thoughts: the greys blend in with the streams, green is a little too much of a departure (increases # of colors on map + users generally don't equate green with man made features). What do you think?

[2020-09-09 01:26] amrhoades commented on #610
Approve! Any reason not to close this issue? I think it's simple, intuitive and looks slick.

[2020-09-09 01:28] amrhoades commented on #614
Good solution! I think this is good to go.

[2020-09-09 01:28] #614 closed, assigned to mhines-usgs

[2020-09-09 01:29] amrhoades commented on #612
Does this need review? Seems good to go.

[2020-09-09 01:30] amrhoades commented on #611
Good to close! Thanks Megan.

[2020-09-09 01:30] #611 closed, assigned to mhines-usgs

[2020-09-09 12:48] #610 closed, assigned to mwernimont

[2020-09-09 13:20] mwernimont opened #629 "Water Use: FireFox Bug, SVG clicking doesn't work as expected"
FireFox is acting differently than I remember it acting in earlier development.  Currently when you click the SVG you get the id of the main SVG instead of the path you are clicking, which is breaking my code.

Acceptance Criteria:
- [x] FireFox functionality works similarly as Chrome and Safari.  USA Map should not disappear when you click a season in the bar chart.

[2020-09-09 13:48] mwernimont commented on #629
Oddly FireFox does what I expect functionality wise with my old SVG I created, but instead of a path I have a rect element inside the group element.  Why would it care if it was a rect or path though?  Both are above everything and should be the thing being recognized as the clicked element.  One ponders...

[2020-09-09 14:35] mwernimont commented on #629
Found the issue, Firefox seems to be rendering the path correctly as it shows my CSS being full height of SVG as it should.  Then why the errors when we click the path?  Because in reality FireFox has it only being 18px tall.  When you click the small rectangles everything works as expected.  No clue why it's deciding to do this.

![Artboard 1](https://user-images.githubusercontent.com/6390096/926

[2020-09-09 14:45] #612 closed, assigned to mhines-usgs

[2020-09-09 14:46] #613 closed, assigned to mhines-usgs

[2020-09-09 14:55] mhines-usgs commented on #628
I think dark brown is fine, personally. I think they're all different enough lines that it's obvious they're not rivers, so that's good. But brown does say road more than green. I think using a different color than black will help with any confusion about state outlines too, which I didn't consider much. I'll push brown out to test so we can look at it.

[2020-09-09 14:56] mwernimont commented on #629
Apparently FF hates excessive precision for numeric values, all of our groups for the bar charts have a
scale(2.73972602739726 1.31989158158852e-06) what FF doesn't like is the 1.31989158158852e-06, it would prefer we do 0.131989.  I did this manually and the group became full size like I would expect it to.  Unfortunately FF seems to be much stricter on SVG rules than Chrome and Safari.

[2020-09-09 15:08] mwernimont commented on #628
Agreed, roads aren't what we are highlighting so as long as the user can see them we should be good?

[2020-09-09 15:39] #628 closed, assigned to mwernimont, mhines-usgs

[2020-09-09 17:44] mwernimont commented on #629
Fixed with the PR: https://github.com/usgs-makerspace/wbeep-viz/pull/467

[2020-09-09 17:44] #629 closed, assigned to mwernimont

[2020-09-09 17:45] mwernimont opened #630 "Water Use: Map dots change color based on which water parameter is selected."

[2020-09-10 13:56] #594 closed, assigned to ellenbechtel

[2020-09-10 13:56] #596 closed, assigned to ellenbechtel, abriggs-usgs

[2020-09-10 20:18] mwernimont opened #631 "Water Use: Add Seasons to bottom of Bar Chart SVGs"

[2020-09-10 21:38] #587 closed, assigned to ellenbechtel, abriggs-usgs

[2020-09-10 21:39] #550 closed, assigned to abriggs-usgs

[2020-09-10 21:39] #520 closed, assigned to mhines-usgs

[2020-09-10 21:39] #548 closed, assigned to cnell-usgs

[2020-09-10 21:39] #549 closed, assigned to abriggs-usgs

[2020-09-10 21:39] #562 closed, assigned to abriggs-usgs

[2020-09-10 21:40] #522 closed, assigned to nobody

[2020-09-10 21:40] #563 closed, assigned to ellenbechtel, abriggs-usgs

[2020-09-10 21:40] #602 closed, assigned to abriggs-usgs

[2020-09-10 21:40] #578 closed, assigned to abriggs-usgs

[2020-09-10 21:40] #507 closed, assigned to cnell-usgs, ellenbechtel

[2020-09-10 21:40] #506 closed, assigned to cnell-usgs, ellenbechtel

[2020-09-10 21:40] #524 closed, assigned to cnell-usgs

[2020-09-10 21:40] #595 closed, assigned to ellenbechtel

[2020-09-10 21:41] #570 closed, assigned to abriggs-usgs

[2020-09-10 21:51] #592 closed, assigned to cnell-usgs

[2020-09-10 22:15] ellenbechtel opened #632 "Monitoring Edits"
### TO DO

- [x] Edit animation for "Introducing NGWOS"

- [x] Edit text fade in/out of box

- [x] Fix Numbers in New and Enhanced Gages and Temp

- [x] Should we address the grouping of Cameras in with R&D? And for other technologies?

- [ ] Check with Alison about what she thinks needs to be added

[2020-09-14 14:53] #623 closed, assigned to mwernimont

[2020-09-14 16:22] amrhoades commented on #619
https://doimspp.sharepoint.com/:w:/r/sites/WBEEP/_layouts/15/Doc.aspx?sourcedoc=%7B267502BE-5B3C-42D0-99FC-28E57200467C%7D&file=new_viz_about_and_QnA.docx&action=default&mobileredirect=true

[2020-09-14 16:23] amrhoades commented on #615
https://doimspp.sharepoint.com/:w:/r/sites/WBEEP/_layouts/15/Doc.aspx?sourcedoc=%7B267502BE-5B3C-42D0-99FC-28E57200467C%7D&file=new_viz_about_and_QnA.docx&action=default&mobileredirect=true

[2020-09-14 16:59] mhines-usgs commented on #615
PR https://github.com/usgs-makerspace/wbeep-viz/pull/476

[2020-09-14 16:59] mhines-usgs commented on #619
PR https://github.com/usgs-makerspace/wbeep-viz/pull/476

[2020-09-14 18:42] mhines-usgs commented on #620
PR 1 https://github.com/usgs-makerspace/wbeep-viz/pull/477

[2020-09-14 18:42] mhines-usgs commented on #622
PR 1 https://github.com/usgs-makerspace/wbeep-viz/pull/477

[2020-09-14 20:12] cnell-usgs commented on #632
Should new and enhanced include reactivated gages also?

[2020-09-14 20:12] cnell-usgs commented on #632
Also - we do introduce NGWOS on the map but this seems to get cut off on certain screen sizes. May be best addressed by resolving image re-sizing issues

[2020-09-14 20:56] mwernimont commented on #620
PR 2 https://github.com/usgs-makerspace/wbeep-viz/pull/479

[2020-09-14 21:05] mhines-usgs commented on #621
captured in this PR https://github.com/usgs-makerspace/wbeep-viz/pull/479

[2020-09-14 21:25] mhines-usgs commented on #620
up on test and beta

[2020-09-14 21:28] mhines-usgs commented on #620
up on test and beta

[2020-09-14 21:28] mhines-usgs commented on #622
up on test and beta

[2020-09-14 21:29] mhines-usgs commented on #621
up on test and beta

[2020-09-14 21:29] mhines-usgs commented on #618
up on test and beta

[2020-09-14 21:29] mhines-usgs commented on #615
up on test and beta

[2020-09-14 21:29] mhines-usgs commented on #619
up on test and beta

[2020-09-15 14:17] amrhoades commented on #586
**Teams chat transcript**

_[Yesterday 12:50 PM] Markstrom, Steven L_
The historical prms-nhm run finished over the weekend. I can share these with the vis group now if they want .csv files. It will probably take another hour or so for all 8 files in .nc format.

_​[Yesterday 12:51 PM] Platt, Lindsay R_
    will wait for the nc files

_​[Yesterday 4:46 PM] Markstrom, Steven L_
    Can you download

[2020-09-15 15:05] mwernimont opened #633 "Water Use: BUG MultiSelecting Season bar chart options causes map to disappear."
Acceptance Criteria:  Disallow user from multi-selecting the bar chart options to stop map from glitching out.

[2020-09-15 15:05] mwernimont opened #634 "Water Use: BUG Clicking Y Axis causes map to disappear"
Acceptance Criteria:  Make the Y axis block not clickable.

[2020-09-15 16:05] amrhoades opened #635 "Water use: Design updates"
From Design Mini-crit

Add tick marks to the graph at the bottom- for seasons as well as right side of graph so that we see the entire extent for the seasons since irrigation has an empty area in winter

What about adding start date tick and end date tick

Inserting image...😲

Add labels to the graph at the bottom for seasons (winter/spring/summer/fall/winter)

Make the directions for the user (cl

[2020-09-15 16:11] amrhoades opened #636 "Water use: Bug fixes ID in crit"
- multi -unselect
-  if you click the number on the y-axis, the whole map disappears

[2020-09-15 16:17] amrhoades commented on #635
To implement:

- [x] Add Jan 2015 and Dec 2015 to x-axis label (Lindsay, in pipeline)

- [x] Convert from m3 to mgd to simplify SVG and eliminate need for sci notation in label (Lindsay, pipeline)

- [x] Mock up different color schemes (more muted colors to match other map styles)

- [x] Change Choose to Click

- [x] Add labels to the graph at the bottom for seasons (winter/spring/summer/fall/wint

[2020-09-15 16:18] amrhoades commented on #635
We can add to the checklist above what to implement ^^

[2020-09-15 19:11] mwernimont commented on #633
Was confirmed by @mhines-usgs to seemingly be fixed by https://github.com/usgs-makerspace/wbeep-viz/pull/480#pullrequestreview-488961153

[2020-09-15 19:12] mwernimont commented on #634
Was also fixed by usgs-makerspace/wbeep-viz#480 (review)

[2020-09-15 19:15] mwernimont commented on #635
Change Choose to Click and change the title & navigation bar font to match the rest of the page completed with https://github.com/usgs-makerspace/wbeep-viz/pull/481

[2020-09-15 19:16] mwernimont commented on #631
SVG was mocked up by me, getting the build into the pipeline is currently in Lindsays hands.

[2020-09-15 19:18] mwernimont opened #637 "Water Use: Create some responsiveness for the page to better fit all devices."

[2020-09-15 20:31] amrhoades commented on #303
Update on this issue: I spoke with Jen Rapp about this and we decided it is a nice-to-have for this FY. It is still important to deliver, but does not need to be constrained by the FY end.

[2020-09-16 15:52] #626 closed, assigned to mwernimont

[2020-09-16 16:05] mhines-usgs opened #638 "Mobile experience"
review and make suggested improvements related to

1. navigation on mobile
2. titles (seeing a duplicate title on the water-storage page on beta, but not test)

[2020-09-16 16:41] amrhoades opened #639 "Evolving log of issues to address"
- [x] Cursor changes when hovering over water use/water storage/water temp tabs to show that they are clickable

- [x] Readability of the 'About this Map' for water use is obscured due to text being below it. Play with opacity of about this map box

- [x] About this Map text edit: "These daily estimates of thermoelectric, public supply, and irrigation water **user** are derived from monthly 2015 e

[2020-09-16 17:52] amrhoades opened #640 "Water use: Add legend to each water use view"

[2020-09-16 18:09] mwernimont opened #641 "Water Use: Double check we aren't misrepresenting the data with our scales."
This is a ticket for you to confirm I'm not messing up the how we are showing  SVG data somehow.  Seems concerning irrigation winter seems blank on the chart but indeed has water use data.

[2020-09-16 19:18] mwernimont commented on #639
Jenkins and AWS are in the crapper today, but this is merged: https://github.com/usgs-makerspace/wbeep-viz/pull/485 So it will take care of:

- Cursor changes when hovering over water use/water storage/water temp tabs to show that they are clickable
- Readability of the 'About this Map' for water use is obscured due to text being below it. Play with opacity of about this map box
- About this Map t

[2020-09-16 19:36] amrhoades commented on #639
crap --- user = use**s** (not use)
@mwernimont

[2020-09-16 19:38] mwernimont commented on #639
Too late, can't be changed!  lol

[2020-09-16 19:40] mwernimont commented on #639
Fixed with: https://github.com/usgs-makerspace/wbeep-viz/pull/487

[2020-09-16 19:52] mwernimont commented on #640
@lindsayplatt was thinking two dots, Biggest up top of the legend and below that the smallest dot.  Each dot would also have a value of to the right of it.

In your knowledge of the data would that be a good enough legend to explain the dots or do we need a larger range of dots represented?

I wouldn't need exact numbers from you right away to implement this, so no rush on that front, but do want

[2020-09-16 20:15] lindsayplatt commented on #640
No, I think just the two would be great!

[2020-09-17 19:32] amrhoades commented on #639
Feedback from water use group

- [x] Suggest adding words in red below.  Also, is the second-to-last sentence accurate for all of the categories of use?

“This is a demonstration map and is not for decision making. It shows an estimate of **average** daily water withdrawals for **four seasons** in approximately 85,000 watershed units across the lower forty-eight states. These daily estimates of th

[2020-09-17 19:49] mwernimont commented on #639
https://github.com/usgs-makerspace/wbeep-viz/pull/488/commits/dbad4511b11bec8e385ab467f71afff148b1a403 takes care of Suggest adding words in red below. Also, is the second-to-last sentence accurate for all of the categories of use?

[2020-09-21 18:00] cnell-usgs commented on #598
Following up on data source for sea lvel rise predictions. This info is sourced from here:
https://www.state.nj.us/drbc/library/documents/shallcross_saltfront_CDRWforum_oct2019.pdf

The original source is unclear, following up with DRBC contact on that

[2020-09-21 18:22] mhines-usgs commented on #586
in generating new historic percentiles:

- on yeti, load modules at command line
[code]
- install all required libraries mentioned in [readme](https://github.com/usgs-makerspace/wbeep-processing/commit/d738c8775bb69485390b5061e3d32243464c2eca#diff-04c6e90faac2675aa89e2176d2eec7d8R37)
- update [n_days](https://github.com/usgs-makerspace/wbeep-processing/search?q=12783&unscoped_q=12783) and [n_hrus]

[2020-09-21 18:56] mhines-usgs commented on #586
process_quantiles.slurm took 12 minutes

[2020-09-22 18:59] ellenbechtel commented on #577
Last thing, we need a confirmed authorship list.  How about this, in order (which is also listed in the index.html of the viz page):

 "contributor": [
          {
            "@type": "Person",
            "name": "Jordan Read",
            "email": "jread@usgs.gov",
            "affiliation": {
              "@type": "Organization",
              "legalName": "U.S. Geological Survey"

[2020-09-22 19:29] mhines-usgs commented on #586
hitting an error here: https://github.com/usgs-makerspace/wbeep-processing/blob/d05be71c91099a86d312219256e97fd018d79ba0/src/validate_historic_quantile_data.R#L9

during the step #7 here: https://github.com/usgs-makerspace/wbeep-processing/blob/d05be71c91099a86d312219256e97fd018d79ba0/README.md#building-the-percentiles

the log says:
[code]
you can see the edits I've made to the files to reflect t

[2020-09-22 19:49] mhines-usgs commented on #586
David astutely noticed [I hadn't update the # of hrus in the process_quantiles.slurm](https://github.com/usgs-makerspace/wbeep-processing/pull/163/commits/f02fa06c7bf66eeb618afc77c18e4c2012970cf9) to encapsulate the # of tasks needed, so that had to be updated. re-running after making that change!

[2020-09-22 19:56] mhines-usgs commented on #586
now looking into next issue:
[code]

[2020-09-23 14:22] mhines-usgs commented on #586
as of yesterday afternoon, i need to take a break from this, not sure if @lindsayplatt can pick it up. I've got to prep for a seminar next week with slides due asap and practice later today, and revisit work again on the waterwatch maps that's a quick turnaround as well.

i've been running all the things from the shared area where david put the nc files on yeti `/cxfs/projects/usgs/water/iidd/data

[2020-09-23 15:46] lindsayplatt commented on #639
Label the seasons in the bar chart - still needs styling but this adds the labels and x axis https://github.com/usgs-makerspace/wbeep-viz/pull/489

[2020-09-23 15:48] lindsayplatt commented on #631
SVG components added: https://github.com/usgs-makerspace/wbeep-viz/pull/489

[2020-09-23 15:50] lindsayplatt opened #642 "Water use: switch to from ft3/s to mgd"

[2020-09-23 15:54] mhines-usgs opened #643 "Water Use: Color schemes for WBEEP water use"
yellow is hard to read, come up with other suggestions to try out.

[2020-09-23 15:59] mhines-usgs opened #644 "Water Temp: Label legend with both F/C"
30 C = 86 F
0 C = 32 F

[2020-09-23 16:01] mhines-usgs opened #645 "Water Use: Add "instructions""
See notes here
https://doimspp.sharepoint.com/:w:/r/sites/gs-wma-iidd-makerspace/_layouts/15/Doc.aspx?sourcedoc=%7BDC4BA320-AC92-47B7-8A4E-7E84445692FF%7D&file=WBEEP_FY20_Completion_Strategy.docx&wdOrigin=OFFICECOM-WEB.MAIN.MRU&ct=1600875302921&action=default&mobileredirect=true&cid=592d510f-82fc-48c8-b2fa-e05465570f8b

[2020-09-28 15:13] mhines-usgs commented on #643
just some ideas from colorbrewer
states fill is C3BEB9
outline is ebe6df
1)
![color_option2](https://user-images.githubusercontent.com/6920344/94450705-3232f800-0173-11eb-9038-bd7306da71f4.png)
2)

![color_option1](https://user-images.githubusercontent.com/6920344/94450709-33642500-0173-11eb-8170-da776c3d9ae7.png)

[2020-09-28 15:24] mhines-usgs commented on #639
i put some suggestions for possible colors here: https://github.com/usgs-makerspace/makerspace-sandbox/issues/643

[2020-09-28 15:46] amrhoades commented on #643
Feedback from Monday

- lighter grey background
- What are users going to think when they see these colors?
- Change the opacity of thermoelectric
- For thermoelectric try: gold, deep orange, change opacity

@lindsayplatt @mwernimont

[2020-09-28 16:29] mwernimont commented on #643
burnt orange:
![burntOrange](https://user-images.githubusercontent.com/6390096/94460066-cefa9300-017d-11eb-99c8-e1f428df6082.png)

Gold:
![gold](https://user-images.githubusercontent.com/6390096/94460077-d457dd80-017d-11eb-8517-b99a95e3d07e.png)

Peacho at various opacities, .6, .7 and .8
![opacity06](https://user-images.githubusercontent.com/6390096/94460117-e33e9000-017d-11eb-8744-5462271eb243.p

[2020-09-28 17:41] mwernimont opened #646 "Water Use: Provide the high/low numbers needed for each Water Use legend."
- [x] Thermo high/low
- [x] Irrigation high/low
- [x] Public Supply high/low

[2020-09-28 17:48] lindsayplatt commented on #646
All of the lows are 0.

Thermo max: 6,583,430
Irrigation max: 5,117,086
Public supply max: 996,981

One caveat is that these are all cfs and I am in the process of converting to mgd. I also have an open question about how big these numbers are for the modeling team. For now, this will work. I will update this with new numbers if/when either of those other ones are done.

[2020-09-28 17:50] mwernimont commented on #631
With manual tweaking of the view box
![Screen Shot 2020-09-28 at 12 46 20 PM](https://user-images.githubusercontent.com/6390096/94467794-0c185280-0189-11eb-870c-89064b56067b.png)

proposed viewbox size viewBox="-120 -5 1305 300"

[2020-09-28 18:09] mwernimont commented on #646
Will probably just wait for the real numbers until we hit a crunch time.  I think the placeholder we have currently does its job of showing out vision

[2020-09-28 18:15] lindsayplatt commented on #643
I like burnt orange the best - I think it makes the tiny ones pop the most

[2020-09-28 19:11] mhines-usgs commented on #643
I agree, even with the tiny spec/dots they are visible!

[2020-09-28 19:56] mwernimont commented on #644
PR here: https://github.com/usgs-makerspace/wbeep-viz/pull/497

[2020-09-28 21:25] lindsayplatt commented on #646
Updated values:

Thermo max: 2,692 MGD
Irrigation max: 2,092 MGD
Public supply max: 408 MGD

Technically, there are minimums other than zero that pertain to that smallest dot, but they are also super super tiny. Might be worth just writing a small, non-zero value here. @amrhoades what do you think? Would it be OK to write `0.1`, `~0` or something super small like that? It indicates it is greater t

[2020-09-29 13:17] mwernimont commented on #631
Current Version in Review:
![Screen Shot 2020-09-29 at 8 13 14 AM](https://user-images.githubusercontent.com/6390096/94563345-38d17600-022c-11eb-9f58-72997bea1dc6.png)

[2020-09-29 13:21] mwernimont commented on #631
PR: https://github.com/usgs-makerspace/wbeep-viz/pull/499

[2020-09-29 13:49] mwernimont commented on #645
Desktop:
![Screen Shot 2020-09-29 at 8 44 59 AM](https://user-images.githubusercontent.com/6390096/94566990-9d8ecf80-0230-11eb-9391-e2cf1f23928c.png)

Mobile:
![Screenshot_20200929-084425](https://user-images.githubusercontent.com/6390096/94567055-abdceb80-0230-11eb-853c-42d3feeca9f7.png)

[2020-09-29 13:49] mwernimont commented on #645
Current PR: https://github.com/usgs-makerspace/wbeep-viz/pull/500

[2020-09-29 14:36] mwernimont commented on #640
Current PR: https://github.com/usgs-makerspace/wbeep-viz/pull/501

[2020-09-29 16:03] mwernimont commented on #640
On test:
![Screen Shot 2020-09-29 at 11 03 01 AM](https://user-images.githubusercontent.com/6390096/94583703-60800880-0243-11eb-9923-9c0db827d705.png)

[2020-09-29 16:04] mwernimont commented on #631
On Test: http://wbeep-test-website.s3-website-us-west-2.amazonaws.com/estimated-availability/#/water-use

[2020-09-29 16:04] mwernimont commented on #645
On Test: http://wbeep-test-website.s3-website-us-west-2.amazonaws.com/estimated-availability/#/water-use

[2020-09-29 16:24] mhines-usgs opened #647 "Water Use: public language explaining a million gallons/day"
the legend on water use includes million gallons/day language but that seems difficult to visualize. what about including a q & a page question about it that includes [a visual or something](https://www.usgs.gov/special-topic/water-science-school/science/a-million-gallons-water-how-much-it?qt-science_center_objects=0#qt-science_center_objects)?
alternatively could carry over the information icon i

[2020-09-29 19:41] mwernimont commented on #640
Was Megans idea for the unit explanation in the legend btw

[2020-09-29 20:07] mhines-usgs commented on #586
related to updating water-temp with new segment data, https://github.com/usgs-makerspace/wbeep-processing/pull/164
I've manually put (aws s3 cp . s3://prod-owi-resources/resources/Application/wbeep/test/segsAllConus/ --recursive) the new shapefile in s3 for the /test/ path mentioned here https://github.com/usgs-makerspace/wbeep-processing/blob/master/jenkins/convert_segsAllConus_shp_geojson_Jenkin

[2020-09-30 14:24] lindsayplatt commented on #641
The data itself is good. A follow up to this ticket (@amrhoades) would be to include some supplemental information or use styling to draw attention to the fact that the maximum circle size represents a different value for each category. We did this in the [early water use visualization](https://labs.waterdata.usgs.gov/visualizations/water-use/index.html) - the value next to the box changed with th

[2020-09-30 14:26] lindsayplatt commented on #642
To clarify - the underlying data was actually in m3/d

[2020-09-30 15:58] mwernimont opened #648 "Water Use: Write out “million gallons per day” not “/day“"
Water Use Legend unit explanation needs to be completely spelled out.

[2020-09-30 16:07] mwernimont commented on #648
![Screen Shot 2020-09-30 at 11 07 18 AM](https://user-images.githubusercontent.com/6390096/94710999-25e2a280-030d-11eb-9bac-42fbd08d64ea.png)

[2020-09-30 16:08] mwernimont commented on #648
PR here: https://github.com/usgs-makerspace/wbeep-viz/pull/515

[2020-09-30 16:18] mwernimont commented on #648
On test

[2020-09-30 16:25] #648 closed, assigned to mwernimont

[2020-09-30 16:25] #645 closed, assigned to mwernimont

[2020-09-30 16:25] #637 closed, assigned to mwernimont

[2020-09-30 16:25] #644 closed, assigned to mwernimont

[2020-09-30 16:25] #640 closed, assigned to mwernimont

[2020-09-30 16:26] #631 closed, assigned to mwernimont

[2020-09-30 16:30] lindsayplatt commented on #635
Instead of marking the start date and end date, I added each month along the bottom in https://github.com/usgs-makerspace/wbeep-viz/pull/516. Marty doing some styling magic now.

[2020-10-01 13:57] #636 closed, assigned to mwernimont

[2020-10-01 13:57] #617 closed, assigned to lindsayplatt

[2020-10-01 13:58] #633 closed, assigned to mwernimont

[2020-10-01 13:58] #634 closed, assigned to mwernimont

[2020-10-01 13:58] #630 closed, assigned to mwernimont

[2020-10-01 13:58] #627 closed, assigned to mwernimont

[2020-10-01 13:58] #622 closed, assigned to mhines-usgs

[2020-10-01 13:58] #621 closed, assigned to mwernimont

[2020-10-01 13:58] #620 closed, assigned to mwernimont, mhines-usgs

[2020-10-01 13:58] #625 closed, assigned to mwernimont

[2020-10-01 13:59] #619 closed, assigned to mhines-usgs

[2020-10-01 13:59] #618 closed, assigned to nobody

[2020-10-01 13:59] #615 closed, assigned to mhines-usgs

[2020-10-01 13:59] #616 closed, assigned to mhines-usgs

[2020-10-01 16:47] jenniferRapp opened #649 "Water Use legend updates"

[2020-10-01 17:06] jenniferRapp opened #650 "Legend updates for Water Use mapper"
The modelers confirmed that they approve of the idea of having 4-5 legend entries for water use.  We want to get a sense for the range of values that are represented by each symbol size.  Are you using a linear scale? Log scale? Quantiles to create the categories?

- [ ] evaluate the range of values for the water use gradients in each water use type.

- [ ] select an appropriate let of legend cate

[2020-10-01 17:37] jenniferRapp commented on #642
I think these values look good.  Do we need to run these by Rich N? or others to finalize or are we good?

[2020-10-01 17:51] jenniferRapp commented on #635
In the "2 next select season" the white space below the words is obscuring the legend max label.

[2020-10-02 18:55] mwernimont commented on #635
I saw the issue when you were screen sharing today (10/2/20), but oddly isn't showing on any of my version, local, test, and beta.  So will have to do some researching to figure what could be going on.

![Screen Shot 2020-10-02 at 1 53 09 PM](https://user-images.githubusercontent.com/6390096/94959480-e5bf2380-04b6-11eb-8429-1af792e5c04c.png)

[2020-10-02 19:08] mwernimont commented on #635
@lindsayplatt & @mhines-usgs could I get a double check on both test and beta to see if you guys are also having the bar chart y axis maximum number being cut off?

[2020-10-02 19:20] lindsayplatt commented on #635
I am on test and see it

![image](https://user-images.githubusercontent.com/13220910/94961532-6d5a6180-04ba-11eb-8b4a-59134525ca92.png)

[2020-10-02 19:21] mhines-usgs commented on #635
ahh.. i see it cut off on my big monitor, but on my laptop monitor it doesn't appear :/
big monitor
![image](https://user-images.githubusercontent.com/6920344/94961596-8f53e400-04ba-11eb-8557-012363ef2c82.png)
laptop
![image](https://user-images.githubusercontent.com/6920344/94961626-9e3a9680-04ba-11eb-8e36-7dafa6bb8fa7.png)

[2020-10-02 19:26] mwernimont commented on #635
Hmmm...inconsistencies.  I don't get it on either my laptop or my giant screen....windows difference?  These are always fun. lol

[2020-10-02 19:26] mwernimont commented on #635
But will look into trying to reproduce on my end further.  Thanks for the quick help!

[2020-10-02 20:17] mhines-usgs commented on #635
looks like i can get it to trigger by changing between browser sizes, like just by opening and closing devtools in Chrome https://web.microsoftstream.com/video/cb2dc61b-0f9e-4fb6-b1e9-3f768437b270

[2020-10-02 21:57] mhines-usgs commented on #586
- Lindsay's script for converting nc data into csv https://github.com/usgs-makerspace/wbeep-processing/pull/166/

- Jenkinsfile to run that script and convert the nc data into csv and push the csv data into a tier-specific spot for tile join and to a folder to keep a copy of the csv data for long term rainy day projects ;) https://github.com/usgs-makerspace/wbeep-processing/pull/167

- new jenkins

[2020-10-04 16:51] mhines-usgs commented on #586
for segments still need to:
- [x] get jenkinsfile running successfully to process model data output
- [x] rerun naked tile creation to recreate naked tiles
- [x] run tile join jenkinsfile and make sure data are successfully included

for new hrus/water storage gf updates
- [x] upload new geospatial framework file to s3 location https://github.com/usgs-makerspace/wbeep-processing/blob/eaf876d750911

[2020-10-05 12:27] jenniferRapp commented on #635
Could it be browser issues?  I was viewing in Chrome.

From: Marty Wernimont <notifications@github.com>
Sent: Friday, October 2, 2020 3:27 PM
To: usgs-makerspace/makerspace-sandbox <makerspace-sandbox@noreply.github.com>
Cc: Rapp, Jennifer L <jrapp@usgs.gov>; Comment <comment@noreply.github.com>
Subject: [EXTERNAL] Re: [usgs-makerspace/makerspace-sandbox] Water use: Design updates (#635)

 This em

[2020-10-05 12:43] jenniferRapp commented on #650
Friday we discussed adding only one more category within the existing circles.  issues related to the legend covering up the map.

- consider making the legend horizontal and labeling below each circle.

- determine whether the diameter is set by the water use category.

[2020-10-05 12:44] jenniferRapp opened #651 "Temperature S3Bucket - triggers to our pipeline/map updates"
Need another processing state in S3bucket.
 To connect to live version need a way to trigger the processing step.  Had been Jenkins job processing to put data in S3.  Starts a script like Lindsay's for water storage.  Need to know who the right person to connect to.  **Lindsay to add Megan to the Chat pipeline.**  Jeffrey Allen. ?  Cloud person for Jenkins Job.  S3  location confirmed.

- When fil

[2020-10-05 12:44] jenniferRapp opened #652 "Water use bar chart updates to make Winter Irrigation visible"
- Could bump up the thickness of the Winter line.

- Highlight the whole space including the gray… indicate that it is selected.  Marty.

- Could you make it log scale? Lindsay will prototype log scale for the bar chart and we can see if it improves the display of the irrigation water use before re-coding the viz.

[2020-10-05 12:44] jenniferRapp opened #653 "Info section text updates"
- [x] Jen will fact check and fill in the content for the questions.

- [x] Ask Modelers to get this content created by next Tuesday

- [x] Could we make larger font section headings? Marty Water Use, Stream Temperature, Water Storage

- [x] Change button labels to say “Return to Water Use” ”Return to Water Storage” “Return to Temperature”.  If you start at Temperature but scroll through the docum

[2020-10-05 12:45] jenniferRapp opened #654 "Water storage GF new map tiles"

[2020-10-05 12:45] jenniferRapp opened #655 "update quantiles for water storage GF"

[2020-10-05 12:58] jenniferRapp opened #656 "Download data from Denali"
•	David says, “It's just a single rsync command to copy data from Denali to Yeti, I can leave an example.  Since Megan and Lindsay already have Yeti accounts they can probably just email the HPC help list serv to be added to Denali.”
o	Do we have the example, who wants to try it? Ask for an account today?

[2020-10-05 13:00] jenniferRapp opened #657 "Investigate different means to create legend with MapBox"
Is there a menu or dropdown option that could be added, so that perhaps the legend is only displayed when the user wants to see it?   spend a little time digging around to find out if there are other existing tools or examples others have used that we could employ.

[2020-10-05 13:03] jenniferRapp opened #658 "WU directions"
Water Use directions fleshed out.  Everyone show your partners, parents, or friends.

Determine if any additional directions are necessary.

[2020-10-05 13:05] #635 closed, assigned to mwernimont

[2020-10-05 13:09] jenniferRapp commented on #647
I think it belongs in questions.   What comes to mind is milk gallons.  1 million milk gallons.  we could also include a typical house hold usage of water to put it into perspective.  I'll look for some references.  It would be really great for individuals to begin to think about their impact on water use in the country.

[2020-10-05 13:17] #642 closed, assigned to lindsayplatt

[2020-10-05 13:21] jenniferRapp commented on #303
Let's review this issue and determine if it should be on the current task list or if the one I started works instead.

[2020-10-05 13:23] #646 closed, assigned to lindsayplatt

[2020-10-05 13:24] jenniferRapp opened #659 "Confirming Temperature data accuracy"
Work with modelers once we get the pipeline created so we are certain that the correct stream temperature data is joined to the correct streams.

[2020-10-05 14:36] mwernimont commented on #657
@jenniferRapp currently the legend does have a minimize function when you click the chevron to the right of the legend, we could have it collapsed to begin with and the user would have to open it up.  But does this minimization ability hit this tickets target, or were you thinking of having the entire legend go away some how?

![Screen Shot 2020-10-05 at 9 34 36 AM](https://user-images.githubuserc

[2020-10-05 14:36] mhines-usgs commented on #656
I've got an account now set up with Denali, I'm just not sure we need to do this step again, but if we do, I'm ready!

[2020-10-05 14:38] lindsayplatt commented on #659
Is this a concern that we have with how it is currently done? Just wondering if I need to be debugging something right now that you noticed.

[2020-10-05 14:40] lindsayplatt commented on #651
[Code shared and uploaded Friday](https://github.com/usgs-makerspace/wbeep-processing/pull/166). Can be included in pipeline and Jenkins build when everything else is ready to go. Modelers are currently working on fixing a bug that makes temp values in the NC file crazy high.

[2020-10-05 14:48] mhines-usgs commented on #651
I've almost got the pipeline working, even if it's with bad data. :)

[2020-10-05 14:57] mhines-usgs commented on #654
I've uploaded the new geodatabase to s3 and prepared for this to happen on test (https://github.com/usgs-makerspace/wbeep-processing/pull/168/files) but I haven't merged that in or run the jobs because I don't think we want to override the test view until we know we have the new data coming our way for this geospatial layer. What does that cutover look like? Will they just let us know one day that

[2020-10-05 15:04] #643 closed, assigned to nobody

[2020-10-05 15:06] #641 closed, assigned to lindsayplatt

[2020-10-05 15:08] mhines-usgs commented on #651
the process model output temp job ran with the 2020-09-30 data and pumped out the csv output and the date file needed for the tile join. i will test the tile join locally with this rather than run it on test so I don't wipe out the tiles that are there on test now.

[2020-10-05 15:24] jenniferRapp opened #660 "update QA before the review/release email"
push the master code to QA
Cut a release before the link is sent out.

[2020-10-05 15:27] jenniferRapp commented on #659
in process.  bug fit to correct the 2 million degree temps.

[2020-10-05 15:43] mhines-usgs commented on #660
QA URL http://wbeep-qa-website.s3-website-us-west-2.amazonaws.com/estimated-availability/

[2020-10-05 15:49] jenniferRapp commented on #659
Just in general.

From: Lindsay (Carr) Platt <notifications@github.com>
Sent: Monday, October 5, 2020 10:39 AM
To: usgs-makerspace/makerspace-sandbox <makerspace-sandbox@noreply.github.com>
Cc: Rapp, Jennifer L <jrapp@usgs.gov>; Author <author@noreply.github.com>
Subject: [EXTERNAL] Re: [usgs-makerspace/makerspace-sandbox] Confirming Temperature data accuracy (#659)

 This email has been received

[2020-10-05 15:51] jenniferRapp commented on #654
I don’t think we discussed this today.  Do you expect an updated GF for streams too?  Question for Steve?

From: Megan Hines <notifications@github.com>
Sent: Monday, October 5, 2020 10:58 AM
To: usgs-makerspace/makerspace-sandbox <makerspace-sandbox@noreply.github.com>
Cc: Rapp, Jennifer L <jrapp@usgs.gov>; Author <author@noreply.github.com>
Subject: [EXTERNAL] Re: [usgs-makerspace/makerspace-sand

[2020-10-05 16:05] mhines-usgs commented on #654
For water temperature, I do have the correct streams/water temp geospatial layer, it is also bundled together with this new geospatial framework but I exported it from the geodatabase into a shapefile and put it on the server for us to use at this point since that's how the original data came. I verified that new dataset (even if there are temperature data issues in it) are also using all 58489 ne

[2020-10-05 16:17] mwernimont commented on #653
section headings & Change button labels in PR: https://github.com/usgs-makerspace/wbeep-viz/pull/521

Merged and on test

[2020-10-05 16:18] #639 closed, assigned to mwernimont, amrhoades

[2020-10-05 18:03] jenniferRapp commented on #654
That’s Good news. Thank you.

Jennifer Rapp
Sent from my mobile device
804-615-6868

On Oct 5, 2020, at 12:05 PM, Megan Hines <notifications@github.com> wrote:

﻿

 This email has been received from outside of DOI - Use caution before clicking on links, opening attachments, or responding.

For water temperature, I do have the correct streams/water temp geospatial layer, it is also bundled together

[2020-10-05 20:52] lindsayplatt commented on #650
TIL that for SVGs, `stroke-width` == circle diameter, so radius of an SVG circle is 1/2 the stroke-width of the "trick" path circle.

![image](https://user-images.githubusercontent.com/13220910/95130931-e78d1f00-0722-11eb-9541-b2b6b6d19347.png)

[code]

@mwernimont we just need to take into account the `transform` applied to the map "circles" in order to have your legend sizes match better. I thin

[2020-10-05 21:20] lindsayplatt opened #661 "Switch to scaling water use by dot area"
This is a better way to scale dots and I didn't think I could do it before because of how we were drawing them as paths with round line-endings, but [my discovery today about stroke-width == circle diameter](https://github.com/usgs-makerspace/makerspace-sandbox/issues/650#issuecomment-703882213) made me realize it is possible.

[2020-10-05 21:27] lindsayplatt commented on #661
Left == scaled by diameter (on test now), right = scaled by area (local only)

Spring, irrigation.

![image](https://user-images.githubusercontent.com/13220910/95133343-caf2e600-0726-11eb-85e9-8f43055c997d.png)

Winter, thermoelectric.

![image](https://user-images.githubusercontent.com/13220910/95133688-53718680-0727-11eb-86c8-df60fa3e5c7a.png)

Summer, public supply

![image](https://user-images

[2020-10-05 21:34] lindsayplatt commented on #661
Should also consider applying Flannery's compensation https://makingmaps.net/2007/08/28/perceptual-scaling-of-map-symbols/. Equation outside of Arc can be found at https://gis.stackexchange.com/questions/97902/flannery-compensation-in-leaflet-js

[2020-10-05 21:40] lindsayplatt commented on #661
Wondering if we should decrease max stroke-width from 60 to 40 along with this?

![image](https://user-images.githubusercontent.com/13220910/95135039-78ff8f80-0729-11eb-9506-3e0e9e01a96d.png)

[2020-10-05 21:48] lindsayplatt commented on #650
@mwernimont I am actually reversing the way I feel about that last sentence. If you could tell me the 3 circle sizes you would like to use in the legend, I can get you the corresponding water use values. We can plan to use the max stroke-width of 60 (which is the same as `r=30`) and then you just tell me what the other two should be. The only other thing I think we need to discuss is that the map

[2020-10-06 13:04] mwernimont commented on #650
@lindsayplatt Yeah I am not sure how on my end I would make map accurate sizes with out you just telling me the numbers we need.  Also how do we keep accuracy in size but keep the smallest circle visible?  I am around for a discussion anytime.

[2020-10-06 13:27] mwernimont commented on #661
It does allow the smaller circles to be seen more as less overlap between the large circles leaves transparency.  So I am digging that about the 40.

[2020-10-06 14:25] mhines-usgs commented on #661
yeah, i like the transparency with 40!! i think seeing the individual circles feels more meaningful representing this data rather than blobs.

[2020-10-06 14:42] lindsayplatt commented on #661
okie dokie, 40 it is!

[2020-10-06 14:58] #661 closed, assigned to lindsayplatt

[2020-10-06 16:22] lindsayplatt commented on #650
New vals to try:

[code]

[2020-10-06 16:27] mwernimont commented on #650
@lindsayplatt are the ones with a . but no decimals after words missing numbers?  Hmm...how does one decide which to use between rounded and 2 significant digits?

[2020-10-06 16:29] lindsayplatt commented on #650
Ignore the `.`. That was just the way R printed those when I copied them. Not sure what the best way to pick is, other than that we don't need much detail and the signif digits will look cleaner while still showing the differences between categories.

[2020-10-06 17:00] lindsayplatt commented on #652
The log scale really dramatically changes the pattern IMO

![image](https://user-images.githubusercontent.com/13220910/95235607-6d64a500-07cb-11eb-81b8-54e459c00dcd.png)

![image](https://user-images.githubusercontent.com/13220910/95235654-7b1a2a80-07cb-11eb-8db7-ce2f72f84e9a.png)

[2020-10-06 17:00] jenniferRapp commented on #650
where are you trying out these sizes?  beta? test?  how many small categories will we miss if we don't go down to .01 mgd?

[2020-10-06 17:15] jenniferRapp commented on #652
https://onlinelibrary.wiley.com/cms/asset/1de3b634-5eb7-456b-b0ae-05a5b48a7ef0/jawr12877-fig-0002-m.jpg   In the X axis here the spacing for low volumes are almost equally represented as the space between 1000 and 10,000. So it emphasizes those small values nicely.  I suppose since we have such a wide range up to 400,000 that it is not going to make much of a difference.  Seems like we should focu

[2020-10-06 17:39] lindsayplatt commented on #652
Hmmm I guess the idea here is that we want to emphasize that those are much smaller in comparison to the big values (at least that is my understanding).

The hovers over each season are on test if you want to see that! I will work on getting the line to show up a little better.

[2020-10-06 17:45] jenniferRapp commented on #652
That looks great.  Can you make all winter highlight regardless of where the person clicks or Hovers?
JEn

From: Lindsay (Carr) Platt <notifications@github.com>
Sent: Tuesday, October 6, 2020 1:40 PM
To: usgs-makerspace/makerspace-sandbox <makerspace-sandbox@noreply.github.com>
Cc: Rapp, Jennifer L <jrapp@usgs.gov>; Author <author@noreply.github.com>
Subject: [EXTERNAL] Re: [usgs-makerspace/makers

[2020-10-06 18:12] mwernimont commented on #650
@jenniferRapp Currently working on the legend now.  Will throw up screen shots in the WBEEP teams channels when I have something in place.  The categories question is best left up to Lindsay to answer.

[2020-10-06 18:21] jenniferRapp commented on #661
These look good.  I think Public supply is still a little hard to see because the points are so regular across the country.  Is it possible that they look a little blurry?  How do the legend categories that you are working on relate to the number of categories of circles shown on the map?  are the smallest dots less than or equal to 160?

[2020-10-06 18:34] lindsayplatt commented on #652
I know what I need to do now to get the irrigation data to be seen (now I just need to do it). It is currently being hidden by the axis because the line has a stroke-width of 5. I can shift the line up or down based on the known stroke-width we want so that it doesn't cover up our data.

Example: data is black. current implementation is red, shift up half of width is blue, shift down half of width

[2020-10-06 19:08] mwernimont commented on #652
@jenniferRapp RE: Can you make all winter highlight regardless of where the person clicks or Hovers?

As in when you hover over 1 winter both are highlighted?

[2020-10-06 20:12] jenniferRapp commented on #652
that is correct.

[2020-10-06 20:26] jenniferRapp commented on #650
The legend is coming along.  Can you please verify that the largest circle in the legend does show up on the map for at least one season for each WU type?  Perhaps the circle in the legend looks larger because of the thick black border?  Reduce the stroke of the legend circles please.  Basically I want to be able to find the same size circle in the map for the categories in the legend...

Also, th

[2020-10-06 20:44] mhines-usgs opened #662 "Updates to email list membership? gs-w_onhm@usgs.gov"
here's the current membership from https://ecomputing.usgs.gov/apps/groupinfo/
![image](https://user-images.githubusercontent.com/6920344/95258206-07881580-07eb-11eb-902f-6c56ffce375d.png)
@jenniferRapp if you want to suggest changes, I can follow up to have changes made to the group. I'm guessing we might also want to change the group manager if Jess Driscoll is no longer involved?

[2020-10-06 20:55] lindsayplatt commented on #650
The biggest difficulty with the categories is that they are on a continuous scale. So there are tons and tons of unique circle sizes. In summer, irrigation has 233 unique circle sizes. I guess I was thinking that we are more trying to give people a sense of tiny-medium-big and then how tiny-medium-big change between categories. We've also discovered an issue with how the legend box itself scales t

[2020-10-07 12:58] jenniferRapp commented on #662
I can ask the group this afternoon.  I would remove Emily and consider removing the entire Makerspace team.  Perhaps add me and  Megan so we have a manger and one of the development team.  I'll find out which modelers to keep.

[2020-10-07 13:09] jenniferRapp opened #663 "question document and review forms"
Remember to ask a question during the review process that allows reviewers to suggest questions that should be included in the "more info" section.

[2020-10-07 13:11] jenniferRapp opened #664 "create a share point survey for the review."
created a draft form here, no questions yet, but we can brainstorm and add to there separately before Tuesday and meet up then or Wednesday to finalize
https://forms.office.com/Pages/DesignPage.aspx?fragment=FormId%3DurWTBhhLe02TQfMvQApUlMHuMFI5JtxPiayXAoxlLa9UQTZPS1QzS1NUUjE5WEhCT1lLRFE2VFNMMC4u%26Token%3D9b2804bbd2e343fc9c366c7020a7ad65

[2020-10-07 15:14] lindsayplatt commented on #652
Changing color & line width of the axis helps to show that data exists in Winter a little bit better, but it still isn't great

![image](https://user-images.githubusercontent.com/13220910/95350550-e4f70a80-0885-11eb-8687-cca3802087e3.png)

[2020-10-07 15:50] ellenbechtel opened #665 "Fire Hydrology Task Hub"
# Task Hub for the Fire Hydro Viz Page

### Incorporate Reviews (Issue #669)

Update as of 10/13:

_Done_
- Chad (EC) has reviewed
- Mindi (EC) has reviewed
- Sheila has reviewed
- Adrienne has reviewed
_Waiting_
- Jen Bruce has agreed to IPDS review, will do this week
- Waiting for Sheila to select a second reviewer

### Infrastructure

- [ ] add quirky safari fix for photos/svgs
- [ ] check perf

[2020-10-07 17:24] jenniferRapp commented on #652
Seems a bit better.  Can you make the axis colors match? Y &X.

[2020-10-07 17:27] lindsayplatt commented on #652
Hmmm they do match ...

[2020-10-07 17:28] lindsayplatt commented on #652
maybe because the winter is highlighted, it is making it look like the y-axis is darker?

[2020-10-07 19:42] mwernimont commented on #652
@jenniferRapp Double winter highlighting is on test

[2020-10-07 19:44] jenniferRapp commented on #652
Nice.  Thank you.

From: Marty Wernimont <notifications@github.com>
Sent: Wednesday, October 7, 2020 3:42 PM
To: usgs-makerspace/makerspace-sandbox <makerspace-sandbox@noreply.github.com>
Cc: Rapp, Jennifer L <jrapp@usgs.gov>; Mention <mention@noreply.github.com>
Subject: [EXTERNAL] Re: [usgs-makerspace/makerspace-sandbox] Water use bar chart updates to make Winter Irrigation visible (#652)

 This

[2020-10-07 19:46] jenniferRapp commented on #652
I was looking at git hub image on my phone.  I see that the axis color are the same now.

From: Lindsay (Carr) Platt <notifications@github.com>
Sent: Wednesday, October 7, 2020 1:28 PM
To: usgs-makerspace/makerspace-sandbox <makerspace-sandbox@noreply.github.com>
Cc: Rapp, Jennifer L <jrapp@usgs.gov>; Mention <mention@noreply.github.com>
Subject: [EXTERNAL] Re: [usgs-makerspace/makerspace-sandbox]

[2020-10-08 13:10] jenniferRapp commented on #650
I like the small dot there and Jacob LaFontaine does too.  He thought there should be an upper bound to it.  Maybe we simply say <1 ?  or <.1?  need to provide a semi-accurate value for the small points.  @mwernimont

[2020-10-08 13:11] jenniferRapp commented on #650
@lindsayplatt  how is the mock up of the legend within the viz coming?  Do you think we should move in that direction before the release, or hold off until after the review?

[2020-10-08 13:16] jenniferRapp opened #666 "add a disclaimer banner over the mappers"
Similar to Jordan's new viz can we add a banner before the mappers go out for review?

https://labs-beta.waterdata.usgs.gov/visualizations/fire-hydro/index.html#/

[2020-10-08 13:21] mwernimont commented on #650
@jenniferRapp I'm not usually the data guy so whichever you guys feel is best, do we like < 1 or > .1 any better than the other?

[2020-10-08 13:28] mwernimont commented on #666
@jenniferRapp Are we also talking the storage mapper?  Thats already released, so don't think it needs the banner, but maybe  it can be added if needed.

[2020-10-08 13:44] jenniferRapp commented on #666
No. Not the storage mapper.  Thanks for checking.

Jennifer Rapp
Sent from my mobile device
804-615-6868

On Oct 8, 2020, at 9:30 AM, Marty Wernimont <notifications@github.com> wrote:

﻿

 This email has been received from outside of DOI - Use caution before clicking on links, opening attachments, or responding.

@jenniferRapp<https://github.com/jenniferRapp> Are we also talking the storage mapper

[2020-10-08 14:35] lindsayplatt commented on #650
I think this is the way to go. As I change the window size the dot in the legend scales with the map.

![image](https://user-images.githubusercontent.com/13220910/95473120-65cb0a80-0949-11eb-8c3d-9a08cf425656.png)

![image](https://user-images.githubusercontent.com/13220910/95473322-9a3ec680-0949-11eb-897d-900d0211f8a4.png)

[2020-10-08 14:52] mwernimont commented on #666
PR created: https://github.com/usgs-makerspace/wbeep-viz/pull/534

[2020-10-08 15:15] lindsayplatt commented on #650
@mwernimont let's talk CSS. What classes/ids would you like me to add to make it useful for you? I will remove the styling that was manually inserted to get the colors here when I go to commit.

![image](https://user-images.githubusercontent.com/13220910/95478303-fce69100-094e-11eb-8a7a-c4610ce5610c.png)

Here's what I've got:
![image](https://user-images.githubusercontent.com/13220910/95478442-23

[2020-10-08 15:17] mwernimont commented on #650
@lindsayplatt  Whats the plan?  Three SVGs or one?

[2020-10-08 15:18] lindsayplatt commented on #650
There are 12 total SVGs (1 per wu type, per season) and this will be in each of them.

[2020-10-08 15:22] jenniferRapp commented on #650
I think that the legend looks good.  Is this doable in the next few days?
I like the <1 small dot.

[2020-10-08 15:24] mwernimont commented on #650
@lindsayplatt Then a class for the circle colors like teLegend, irLegend, psLegend so I could just handle that via CSS, as it is just a part of the Map SVG's.  If I am imagining this correctly, thats all that will really need to change as the text will be hardcoded etc...right?

[2020-10-08 15:25] mwernimont commented on #650
@jenniferRapp Well I thumbs up it on my end, not speaking for Lindsay. lol

[2020-10-08 15:26] lindsayplatt commented on #650
Yes, absolutely doable. I already built it :)

[2020-10-08 15:26] lindsayplatt commented on #650
@mwernimont yes, I hardcoded the text. Will you be able to style the text without having specific classes for those?

[2020-10-08 15:28] lindsayplatt commented on #650
oh wait ... I would be giving the whole group a class so you could use that to do text, circles, etc.

[2020-10-08 15:29] lindsayplatt commented on #650
How about this?
![image](https://user-images.githubusercontent.com/13220910/95480175-36b89700-0951-11eb-9d8b-323191e5d543.png)

[2020-10-08 15:31] mwernimont commented on #650
Actually could you give the parent SVG a class?  Like waterUseLegend so I could just have it control all the CSS for the text for all of them and then add the specific teLegend to the group soI can separate the circle colors easily?  That make sense?

[2020-10-08 15:31] mwernimont commented on #650
I want to do something like `.waterUseLegend text{ fancy CSS }`

[2020-10-08 15:33] mwernimont commented on #650
Crap, nevermind. lol Forgot its just a group inside the Map SVG.  So what you have is great

[2020-10-08 15:50] lindsayplatt commented on #650
Can you do `#waterUseLegend text {fancy CSS}` using the id I am giving each of those groups?

[2020-10-08 15:51] lindsayplatt commented on #650
I would like to request that for the text labels next to the lines, you add `dominant-baseline: middle` :)

[2020-10-08 15:52] mwernimont commented on #650
Yeah I can do that.  I am over thinking this morning.  And I based on morality cannot make that request happen Lindsay.  lol. Of course, does that just line the text up with the lines better?

[2020-10-08 15:53] jenniferRapp commented on #662
Remove: Jess D., Makerspace

Add: Megan Hines and Jen Rapp, Molly Maupin, Rich Niswonger

Add me as the owner of the list.  Emily wants to remain part of the list.
@mhines-usgs  I think we are good to go with the list of people.

[2020-10-08 15:53] lindsayplatt commented on #650
Yeah, centers them!

[2020-10-08 15:54] mwernimont commented on #650
Love me some centering

[2020-10-08 16:37] mwernimont commented on #650
@lindsayplatt as per usual I have to ask for things afterwards...I need more psychic abilities.  Could I get a class on the title text to separate it from the other text legendTitle.  Could I also get a class on the small dot?  smallDot?

Also how did you style the text in that screen shot?  I do a fill and its oddly ghostly.

![Screen Shot 2020-10-08 at 11 36 45 AM](https://user-images.githubuser

[2020-10-08 16:50] lindsayplatt commented on #650
I didn't style it at all in the screen shot :(

[2020-10-08 16:51] mwernimont commented on #650
Huh...it shows up white for me with out the fill.  Must have outside forces on it then.  Will research

[2020-10-08 16:51] mwernimont commented on #650
And I have it figured it out!

[2020-10-08 17:22] mhines-usgs commented on #662
thanks! I made this task for WSI, and hopefully they're the right group to ask for help.
https://internal.cida.usgs.gov/jira/browse/WSIOPS-1464

[2020-10-08 17:27] jenniferRapp commented on #650
One thing to note is that by moving down the viz to fix the problem with the directions overlapping the y-axis label, now the white space overlaps with text at the bottom of the page... It covers up the 'p' in spring a little.

[2020-10-08 17:33] jenniferRapp commented on #662
Megan, thank you.  Do you think they will get to it quickly?  Compared to reaching out to a person directly?

Jen

From: Megan Hines <notifications@github.com>
Sent: Thursday, October 8, 2020 1:23 PM
To: usgs-makerspace/makerspace-sandbox <makerspace-sandbox@noreply.github.com>
Cc: Rapp, Jennifer L <jrapp@usgs.gov>; Assign <assign@noreply.github.com>
Subject: [EXTERNAL] Re: [usgs-makerspace/makers

[2020-10-08 18:05] mhines-usgs commented on #662
Did you know a person specifically to ask? Or do you mean me reaching out to someone in WSI directly? Usually we're asked to use the ticketing process and not badger someone unless it's a production emergency, but if there is urgency in the request I can follow up and poke someone in Teams if no one responds to the ticket by tomorrow?

[2020-10-08 18:21] mwernimont commented on #666
Merged and on test.  Some weird legend stuff going on test currently, but will be cleaned up in my next PR for another ticket.

[2020-10-08 18:21] mhines-usgs commented on #569
I connected our test pipeline to be triggered when their Jenkins job that copies their model output data to S3 runs successfully. The other tiers (QA, Beta and Prod) have a job set up but disabled currently until we are ready to set those up to run as well.

[2020-10-08 18:26] jenniferRapp commented on #662
Megan,
Sounds good to me.  Lets follow protocols and wait for them to respond.  Hopefully they can make the change by Wednesday or Thursday next week.
Jen

From: Megan Hines <notifications@github.com>
Sent: Thursday, October 8, 2020 2:06 PM
To: usgs-makerspace/makerspace-sandbox <makerspace-sandbox@noreply.github.com>
Cc: Rapp, Jennifer L <jrapp@usgs.gov>; Assign <assign@noreply.github.com>
Subjec

[2020-10-09 01:06] jenniferRapp commented on #666
You did what I asked. I tend to think that it's a bit extreme to say "Do not use for ANY purpose".  Then why bother creating this map? Can we update as edited below?

ATTENTION! - You are viewing a prototype application that is in active development. Contents seen here are preliminary visualizations of model output.  DO NOT CITE or use information contained in this application until review and fin

[2020-10-09 01:08] #652 closed, assigned to mwernimont, lindsayplatt

[2020-10-09 01:15] jenniferRapp commented on #650
For the legend labels can we align all values to the right so that the 'tens' place is the same for each value?  It's most obvious when there is '25' as a category.
1000
  400
  100
    25
   <1

[2020-10-09 01:24] jenniferRapp opened #667 "Stream Temperature additional layers:"
Consider updating the 'terrain' to cover the whole of North America like is shown in the Water Storage mapper.  I think it would help emphasize the display.  Exaggerate the terrain with more of a hillshade effect if possible.  Compared to the Water Storage I think it looks a little blurry.  Is that the rivers over top?

I also noticed that the terrain does cover all NA, but there is a light yellow

[2020-10-09 13:45] lindsayplatt commented on #650
I'm about to open a PR that does this and adds new class for you to add `text-anchor: end` to @mwernimont

[2020-10-09 13:57] jenniferRapp commented on #650
My post didn't save the formatting I wanted.  Right alignment please. ping me if it doesn't make sense.

[2020-10-09 14:01] mwernimont commented on #666
Merged and being pushed to test
![Screen Shot 2020-10-09 at 8 59 42 AM](https://user-images.githubusercontent.com/6390096/95592254-fe2ac300-0a0d-11eb-887d-2cafc98d9bba.png)

[2020-10-09 14:11] mwernimont commented on #666
on Test

[2020-10-09 14:21] mhines-usgs commented on #667
one thing quickly i'll look at, I was adjusting the layer order and i think i put the terrain under the countries layer, so i can adjust that.

as the makerspace team, we had hashed through background and stream segment color options before on previous tickets that are now closed, i can link to those past tickets for water temp when i get a chance later, but i personally would be hesitant to resta

[2020-10-09 14:24] jenniferRapp commented on #666
Looks great

[2020-10-09 14:27] jenniferRapp commented on #650
@Marty Wernimont<mailto:notifications@github.com> so you may not be finished with the legend text alignment.  Apologies if you are still working.  In GitHub it didn’t save formatting like I wished.

1000
  400
  100
    25
    <1

What wat I was looking for.

From: Lindsay (Carr) Platt <notifications@github.com>
Sent: Friday, October 9, 2020 9:45 AM
To: usgs-makerspace/makerspace-sandbox <makerspa

[2020-10-09 14:28] jenniferRapp commented on #667
I hear you.  I don't think we should make big changes to color prior to review.  I do appreciate you looking at the order so that the rest of Canada and Mexico are visible like they are in Water Storage.

[2020-10-09 14:32] mwernimont commented on #650
![Screen Shot 2020-10-09 at 9 32 04 AM](https://user-images.githubusercontent.com/6390096/95595895-5237a680-0a12-11eb-8dac-becc4a579907.png)

Lindsay and I knew what you meant 👍 , getting a PR for it as we speak.

[2020-10-09 15:58] mhines-usgs commented on #667
that change is up on test and should get out to beta soon too.

[2020-10-09 16:36] mwernimont commented on #650
On test and Beta

[2020-10-09 17:14] jenniferRapp commented on #658
I think we leave it as is for the review.

[2020-10-09 17:14] #658 closed, assigned to jenniferRapp

[2020-10-09 17:28] jenniferRapp commented on #653
Temperature
https://doimspp.sharepoint.com/:w:/r/sites/WBEEP/_layouts/15/Doc.aspx?sourcedoc=%7B537078E3-66BF-4410-993C-2A4E760E2E02%7D&file=QA_additions_temperature.docx&action=edit&mobileredirect=true&wdPreviousSession=b3dccb2f-baff-4cd0-94d7-feb87fdd36de&wdOrigin=TEAMS-ELECTRON.teams.undefined

Water Use
https://doimspp.sharepoint.com/:w:/r/sites/WBEEP/_layouts/15/Doc.aspx?sourcedoc=%7BA5AAAEDF-

[2020-10-09 19:50] mhines-usgs commented on #662
two other folks (Cris Marsh and Yvonne Jenkins) can also make mailing list changes but both are out of the office today. I'll follow up with Cris first Tuesday to see if she can help me out. Shirley is out of office for WSI until Wednesday. But I've got good leads on getting this changed!

[2020-10-09 20:40] mhines-usgs commented on #662
Shirley was around until 3:30 today and opted to do this even though I mentioned it could wait 👍

![image](https://user-images.githubusercontent.com/6920344/95629518-b1fb7500-0a45-11eb-89d5-0b5ed954f0ce.png)

[2020-10-09 21:02] jenniferRapp commented on #662
Thank you!  I don't see Emily.  She wants to remain part of the list.  But that can wait until next week.

Jen

[2020-10-09 21:06] mhines-usgs commented on #662
Oh crud, I had her removed because I guess I missed your edit. I'll follow up with someone else next week.

[2020-10-09 22:13] lindsayplatt opened #668 "Water use: add text to clarify what the dots are showing"
I think we are still missing an explanation of what the dots on the map represent. I think an easy fix could be adding "Seasonal average" to the legend. We may want to address this before we send out the questionnaire because we are probably going to get a ton of comments about that.

[2020-10-12 17:21] jenniferRapp commented on #668
"Typical daily withdrawal" for the selected season.
"Seasonal average daily withdrawal"

Are these average daily conditions or one day during the season that was selected for visualization?  This can be further refined in the info section.

[2020-10-13 14:50] lindsayplatt commented on #668
It used to be one day during the season, but we switched to a seasonal average of daily withdrawal. What do you think of the  legend title, "Seasonal average daily water use"? I was thinking that we should still use "water use" instead of "withdrawal" to keep this simple, but explain the "withdrawal" part in the Q&A page. What do you think of that?

[2020-10-13 14:54] jenniferRapp commented on #668
“Seasonal-average daily water use”
Sounds good with the hyphen.

Jennifer L. Rapp, Physical Scientist
Chief, Decision Support Branch
USGS Water Mission Area
Richmond, VA 23228
804-615-6868 (mobile and home office)
jrapp@usgs.gov<mailto:jrapp@usgs.gov>

From: Lindsay (Carr) Platt <notifications@github.com>
Sent: Tuesday, October 13, 2020 10:51 AM
To: usgs-makerspace/makerspace-sandbox <makerspace-s

[2020-10-13 16:06] ellenbechtel opened #669 "Review Hub for Fire Hydro"
# Section by Section

## Subheading
- [x] Add USGS full name to subheading

- [x] Update the name of Water RESOURCES mission area (oops!)

## Timeline

- [x] Align x-axis label with points on line graph

- [x] Annotate with current events as lead-in to general text

- [x] Clarify axis name for the data

## Intro Section

- [x] Address date clarification from Adrienne

- [x] add sentence about CO W

[2020-10-13 17:24] #666 closed, assigned to mwernimont

[2020-10-13 17:34] jenniferRapp opened #670 "Push all updates to QA before the newsletter is sent out."
please ensure QA is up to date with Test and Beta.

[2020-10-13 18:02] mhines-usgs commented on #670
@jenniferRapp are we ready to "cut a release" of the wbeep-viz work at this point? Or do we want to wait to wrap up any in flight work on the Questions and Answers page first (or any other changes we want to do before the email goes out?)?

[2020-10-13 18:04] lindsayplatt commented on #670
I still need to make an edit to the legend.

[2020-10-13 18:16] jenniferRapp commented on #670
I think the viz is good, but the Info will need to be updated.  Do you want to push what we have and then update Info tomorrow?

Jennifer L. Rapp, Physical Scientist
Chief, Decision Support Branch
USGS Water Mission Area
Richmond, VA 23228
804-615-6868 (mobile and home office)
jrapp@usgs.gov<mailto:jrapp@usgs.gov>

From: Megan Hines <notifications@github.com>
Sent: Tuesday, October 13, 2020 2:03 P

[2020-10-13 18:49] mhines-usgs commented on #670
OK, I pushed the master branch out to QA just to catch it up in the meantime, ran the tile creation jobs and it should be the same as test and beta.

[2020-10-13 18:58] mhines-usgs commented on #660
duplicate now with https://github.com/usgs-makerspace/makerspace-sandbox/issues/670

[2020-10-13 18:58] #660 closed, assigned to mhines-usgs

[2020-10-13 19:00] mhines-usgs commented on #651
This ran successfully yesterday, it was triggered by their upstream job running. The results seem acceptable and we have caught up beta and QA with the same output. I enabled the nightly jobs for beta and QA as well so they will continue to update with future water-temp output updates.

[2020-10-13 19:00] mhines-usgs commented on #569
Enabled the QA & Beta jobs now as well.

[2020-10-13 19:03] mhines-usgs commented on #670
To do when we finish edits:

- [ ] cut viz and processing releases and update [nightly job](https://jenkins.wma.chs.usgs.gov/job/MakerSpace/view/Water%20Temp/job/qa_nightly_build_temperature/) to use specific release version for QA

[2020-10-13 19:12] jenniferRapp commented on #660
I removed the card.  Thanks.

Jennifer L. Rapp, Physical Scientist
Chief, Decision Support Branch
USGS Water Mission Area
Richmond, VA 23228
804-615-6868 (mobile and home office)
jrapp@usgs.gov<mailto:jrapp@usgs.gov>

From: Megan Hines <notifications@github.com>
Sent: Tuesday, October 13, 2020 2:59 PM
To: usgs-makerspace/makerspace-sandbox <makerspace-sandbox@noreply.github.com>
Cc: Rapp, Jennifer

[2020-10-13 21:07] lindsayplatt commented on #668
Up on test:

![image](https://user-images.githubusercontent.com/13220910/95916367-21d36d80-0d6e-11eb-91fb-f21bd6a198bb.png)

[2020-10-14 01:38] jenniferRapp commented on #668
I like it.

Jennifer L. Rapp, Physical Scientist
Chief, Decision Support Branch
USGS Water Mission Area
Richmond, VA 23228
804-615-6868 (mobile and home office)
jrapp@usgs.gov<mailto:jrapp@usgs.gov>

From: Lindsay (Carr) Platt <notifications@github.com>
Sent: Tuesday, October 13, 2020 5:07 PM
To: usgs-makerspace/makerspace-sandbox <makerspace-sandbox@noreply.github.com>
Cc: Rapp, Jennifer L <jrapp

[2020-10-14 02:09] jenniferRapp commented on #653
The info answers to questions in the links above are good to go.  There may be some last minute changes that come in tomorrow, but I would be happy if @mwernimont wants to work on adding them to the INFO section tomorrow.  Are they hard to adjust? Jen

[2020-10-14 13:10] mwernimont commented on #653
@jenniferRapp  They are not, basically changing a json file. Easy Peasy

[2020-10-14 13:27] mwernimont commented on #653
Leaving out the last Deep Science Question since it has no answer.  Reference Do stream temperature data reflect impacts of in-stream lakes and dams?

[2020-10-14 13:36] mwernimont commented on #653
@jenniferRapp Question about Water Use Reference #2 that has this as the URL ftp://rockyftp.cr.usgs.gov/vdelivery/Datasets/Staged/WBD/FileGDB101/WBD_National.zip

I can't get that to load, or download or whatever is supposed to happen when you go straight to a zip file.  We sure this is the correct thing to use?

[2020-10-14 13:39] jenniferRapp commented on #653
It is old, so they may have changed their data delivery mechanism.  I'll check.  leave that link out for now.

[2020-10-14 13:42] mwernimont commented on #653
PR: https://github.com/usgs-makerspace/wbeep-viz/pull/549 Merged, pushing to test

[2020-10-14 13:43] jenniferRapp commented on #653
https://www.usgs.gov/core-science-systems/ngp/national-hydrography/access-national-hydrography-products   The WBD products are merged with the national hydrography dataset.  I think this link should be adequate.

[2020-10-14 13:45] mwernimont commented on #653
It works at least! 👍

[2020-10-14 13:58] mwernimont commented on #653
@jenniferRapp Updates on test for review

[2020-10-14 14:25] mhines-usgs commented on #662
Cris Marsh just helped me add Emily Read back on the list, she suggested it might take 30 mins or so to show up but this should be all set!

[2020-10-14 14:30] jenniferRapp commented on #653
Thanks Marty.  It looks like the info section was updated accurately.  Molly Maupin is providing edits now, so there will be changes coming a bit later today, at least for water use.

When a section first opens can you make sure that the large font header is shown at the top of the section?  "Stream Temperature" is not shown but "about the water temperature map" is the header that is shown.

[2020-10-14 14:42] mwernimont commented on #653
Functionality merged and being pushed to test

[2020-10-14 14:54] mwernimont commented on #653
Headers now appear when clicking either water use or temp question marks

[2020-10-14 16:48] lindsayplatt opened #671 "Investigate floating lake points"
There are still some points off the coast of CONUS. Likely caused by calculating the centroids of HUC10s from HUC12s.

Please see two functions that do that here: https://github.com/usgs-makerspace/wbeep-viz/blob/master/wu_pipeline/2_process/src/read_prep_files.R#L1-L14

[code]

[2020-10-14 16:56] #659 closed, assigned to mhines-usgs, lindsayplatt

[2020-10-14 16:56] #662 closed, assigned to mhines-usgs, jenniferRapp

[2020-10-14 16:56] #651 closed, assigned to mhines-usgs, lindsayplatt

[2020-10-14 16:57] #569 closed, assigned to nobody

[2020-10-14 16:57] #668 closed, assigned to lindsayplatt, jenniferRapp

[2020-10-14 16:58] #664 closed, assigned to mhines-usgs, jenniferRapp

[2020-10-14 16:58] #650 closed, assigned to mwernimont, lindsayplatt

[2020-10-14 17:03] jenniferRapp commented on #638
Share with IIDD on phones to get mobile feedback.

[2020-10-14 17:29] lindsayplatt commented on #652
@mwernimont I had PR'd my code changes, but the additional changes to get the bottom of the bars to be seen need to be done using CSS.

https://github.com/usgs-makerspace/makerspace-sandbox/issues/652#issuecomment-705005165

[2020-10-14 18:29] jenniferRapp commented on #653
@mwernimont I think the edits can be added.  Esp those for Water Use.  Temperature has maybe one change to omit the name 'concept'.  I may get more feedback later this afternoon, but I think Molly's should stand for WU.  Thank you.

[2020-10-14 19:03] mhines-usgs commented on #671
@lindsayplatt any chance you could post the files somewhere in Teams or sharepoint? It seems like the access to read them is unavailable even if i log in (unless I'm you or the other person listed in the 'readable by').

[2020-10-14 19:08] lindsayplatt commented on #671
posted in Teams

[2020-10-14 19:11] mwernimont commented on #653
Changes merged, getting it up on test

[2020-10-14 19:23] mwernimont commented on #653
CHS is having issues, so build is on hold until CHS is back up running

[2020-10-14 19:42] mwernimont commented on #653
@jenniferRapp Changes on test thankfully

[2020-10-14 19:45] mwernimont commented on #653
Fixing Water Use about this map double within error.

[2020-10-14 21:14] jenniferRapp commented on #653
I met with the oNHM team and there are 1-2 updates highlighted in yellow in both documents. The rest can remain the same.

[2020-10-14 23:22] mwernimont commented on #653
Merged and up on test!

[2020-10-15 15:23] jenniferRapp commented on #653
I think these look good on Test.  Please push to Beta and QA

[2020-10-15 18:58] mwernimont commented on #653
@jenniferRapp on both Beta and QA

[2020-10-19 15:18] #653 closed, assigned to mwernimont, jenniferRapp

[2020-10-19 20:36] mhines-usgs commented on #663
I did add a question to the form section for the Q&A page that specifically asks this.

[2020-10-19 20:39] mhines-usgs commented on #671
I got the GeoJSON file from Lindsay, we confirmed it is the latest version from ScienceBase, and there are still points that seem to disagree with their comment that they have eliminated those points. There are points in the original file that represent hucs that include islands/great lakes shorelines or the great lakes themselves still appearing in the GeoJSON before we begin manipulating it for

[2020-10-19 21:19] mhines-usgs commented on #660
Releases are tagged:
wbeep-processing v0.1.1
wbeep-viz v0.1.8

Will get the viz release pushed out to QA and make sure QA processing job is updated to use the tagged wbeep-processing version.

[2020-10-21 17:12] jenniferRapp commented on #609
@mhines-usgs  The file from Steve M with quantiles  is named  **seg_tave_water_quantiles.csv.gz** the makerspace WBEEP files area:

https://doimspp.sharepoint.com/sites/gs-wma-iidd-makerspace/Shared%20Documents/Project%20-%20WBEEP%20NHM/seg_tave_water_quantiles.csv.gz

[2020-10-23 18:21] cnell-usgs commented on #669
#Round 2 reviews:

## Performance

- [ ] fix quirky placement of timeline annotation in Safari

- [ ] do careful page testing on mobile devices (esp IPhones with Safari) and all browsers

- [ ] use lazy loading and responsive sizes for all images

## Diagrams

- [x] modify placement of "minimal absorption" annotation on post-fire diagram

- [x] tweak colors and labels?

## Text

Comments from Shei

[2020-10-26 15:19] lindsayplatt commented on #671
Given a new centroid file that is HUC10 instead of HUC12:

1. Switch out [`fetch` steps](https://github.com/usgs-makerspace/wbeep-viz/blob/master/wu_pipeline/1_fetch_wu.yml#L59-L71) to pull down the HUC10 file instead. If it isn't a zip file, we will need to skip that first step and edit the second.
2. Delete [this function](https://github.com/usgs-makerspace/wbeep-viz/blob/master/wu_pipeline/2_pr

[2020-10-26 15:26] mhines-usgs commented on #671
@lindsayplatt just confirming (making sure @jenniferRapp knows too) that we don't need the data resummarized, just the geospatial data?

[2020-10-26 15:33] jenniferRapp commented on #671
If the HUC12 points represent the total ag use for each HUC12 and they go to a HUC10 spatial GF then they need to summarize the ag water use in the HUC 10.  No?

[2020-10-26 15:38] mhines-usgs commented on #671
It sounds like from how Lindsay described it, she was already calculating in her pipeline the summary from huc12-huc10, so we wouldn't have to alter that end of it at all, I think

[2020-10-26 15:45] lindsayplatt commented on #671
Yep, we were already going from HUC12 to HUC10 for water use data and then joining to HUC10 spatial data. Shouldn't need to reaggregate, just rejoin, but even if we did, that is all handled automatically in the pipeline. Thinking an illustration of pipeline steps might help explain here:

![image](https://user-images.githubusercontent.com/13220910/97194616-5b49a700-1778-11eb-9052-c35a2e3d8fa1.png)

[2020-10-26 16:15] jenniferRapp commented on #671
Thank you.  I figured the WU data were coincident with the Centroids file in the attribute table.

Jen

Jennifer L. Rapp, Physical Scientist
Chief, Decision Support Branch
USGS Water Mission Area
Richmond, VA 23228
804-615-6868 (mobile and home office)
jrapp@usgs.gov<mailto:jrapp@usgs.gov>

From: Lindsay (Carr) Platt <notifications@github.com>
Sent: Monday, October 26, 2020 11:46 AM
To: usgs-maker

[2020-11-10 17:22] mhines-usgs commented on #655
reached out to Steve after logging into Denali, I do see a pkwater_equiv.csv file in the location that David suggested we look, but it's updated since that time, so I'm not sure the files are still there ?

From David:
[code]

On Denali today I see the following when limited to the file names with pk in them:
[code]
I messaged him on teams this morning after looking around again. No reply yet.

[2020-11-10 17:31] mhines-usgs opened #672 "water use: prepare chart with dashed/dotted lines between seasons"
from review feedback: https://doimspp.sharepoint.com/sites/gs-wma-iidd-makerspace/_layouts/15/Doc.aspx?OR=teams&action=edit&sourcedoc={B00F1C5B-8EC8-41A6-B11C-34D0250F1F32}

[2020-11-10 17:33] mhines-usgs opened #673 "water use/water temp/water storage: create about page and "tab""
to address a lot of the [feedback](https://doimspp.sharepoint.com/sites/gs-wma-iidd-makerspace/_layouts/15/Doc.aspx?OR=teams&action=edit&sourcedoc=%7BB00F1C5B-8EC8-41A6-B11C-34D0250F1F32%7D) related to the desire to zoom in, click for more details, etc etc. we decided we need an about page. this should exist as a new tab/link in front of water storage | water use | water temperature

the content w

[2020-11-10 17:43] mhines-usgs commented on #673
here was our "Technologies in the maps" word document writeup: https://doimspp.sharepoint.com/sites/gs-wma-iidd-makerspace/_layouts/15/Doc.aspx?OR=teams&action=edit&sourcedoc={B67338A3-1424-401E-87C1-685B71B440AC}

Lindsay also pointed out this blog post which has some details: https://waterdata.usgs.gov/blog/25-years-of-water-data-on-the-web/

[2020-11-10 17:44] mhines-usgs opened #674 "water use: make the map bigger on desktop/laptop view"
currently we made it so that on a laptop, the map and the barchart below with seasons both appear, but we got a lot of feedback that the map was too small and people wanted to zoom in.

So we've decided that it should be bigger at least on non-mobile devices.

Can we make the map bigger even if it cuts off the entire view of the US on the page? Lindsay suggests that if the map is cut off, you're m

[2020-11-10 17:51] mhines-usgs opened #675 "water use: make sure q & a page text talks about how we are processing the data"
A [reviewer recommended](https://doimspp.sharepoint.com/sites/gs-wma-iidd-makerspace/_layouts/15/Doc.aspx?OR=teams&action=edit&sourcedoc=%7BB00F1C5B-8EC8-41A6-B11C-34D0250F1F32%7D) we link out to a map of the hucs or include a map of the watershed units, so that people understand where our centroids are coming from and the actual areas they represent. In our discussion we decided to adjust the ? p

[2020-11-10 17:57] mhines-usgs opened #676 "water use/water temp/water storage: review detailed comments with modelers to determine what to update"
There is a lot of feedback from one of the reviewers about the text within the website. Please review this with the modeler group and finalize what changes should be made from those suggestions.

The word documents are loaded into Teams here: https://doimspp.sharepoint.com/sites/gs-wma-iidd-makerspace/Shared%20Documents/Forms/AllItems.aspx?RootFolder=%2Fsites%2Fgs%2Dwma%2Diidd%2Dmakerspace%2FShare

[2020-11-10 18:00] mhines-usgs opened #677 "water temperature: Examine and verify reviewer feedback about upstream/downstream temperatures in Wisconsin"
from [feedback cell 27E](https://doimspp.sharepoint.com/:x:/r/sites/gs-wma-iidd-makerspace/Shared%20Documents/Project%20-%20WBEEP%20NHM/FY20%20March%20to%20Finish%20Line/Review%20Feedback%20Form%20-%20National%20IWAAs%20Concept%20Map%20Internal%20Review(1-7).xlsx?d=wb00f1c5b8ec841a6b11c34d0250f1f32&csf=1&web=1&e=87fwPp)..." However when I zoom into Wisconsin, it almost seems that upstream segments

[2020-11-10 18:04] mhines-usgs opened #678 "water use: change wording on step 1"
change the wording in parens by step 1 to "Spring season is the default view"

[2020-11-10 18:06] mhines-usgs opened #679 "water use: change wording in ? page to be clearer"
suggestion that _seasonal-average daily water withdrawals_ is clunky, and that we might change it to something like 'maps show daily average water withdrawals for 4 seasons'

also definition for irrigation withdrawals: "Definition for irrigation withdrawals - not mentioning golf courses? Suggest changing "Where does the national water use map get the data" to "what is the source of data presented

[2020-11-10 19:06] mhines-usgs opened #680 "water temperature: filter out all inland lakes"
someone pointed out the 'aqua color' was making it hard to determine the exact color or were confused by them. revisit filtering for that layer and try to remove all non-great lakes inland water

- [x] review filtering for water layer in map and try to eliminate all but great lakes

[2020-11-10 19:09] mhines-usgs opened #681 "water temperature: remove the roads layer"
feedback suggests that this layer isn't very helpful.

[2020-11-10 19:12] mhines-usgs opened #682 "water temp/water storage: verify there isn't a bug in the layer list function"
verify that the layer list is correctly showing what layers are on and off. someone suggested that " when you select a layer not visible beyond a certain scale (e.g., roads) and zoom out, the layer turns off when you zoom out, then turns back on when you zoom in. However, the layer is no longer highlighted in the layer list as being turned on when you zoom back in although it is visible in the map

[2020-11-10 19:17] mhines-usgs opened #683 "water temp: label midpoint on the legend graphic"
reviewer feedback suggests that it is difficult to determine with only a high and low value the gray area temperatures where they change from blue to red. without being able to let them click on the map and get the details, they suggest labeling a midpoint on the legend.

[2020-11-10 19:23] mhines-usgs opened #684 "water temp: explore adding locations layer to map"
in response to people wanting to get more details about actual temperatures, explore how complicated it would be to add station locations in a new layer that links to the actual water temperature for stations either through an api request to some external station data we can leverage, or even populate a pop up with 7 day water temp graph from the WDFN graph api?

Perhaps show Calibration gages? St

[2020-11-10 19:52] mhines-usgs opened #685 "water temp: ask modelers if we can zoom in more/further"
Is there a good reason we cannot zoom in further on the map view?
- [x] inquire with Steve [Jen]
- [x] adjust max zoom level if allowable.

[2020-11-10 19:54] mhines-usgs opened #686 "water temp: add to ? page to explain how modeled temperatures are calculated"
a reviewer noted that we don't explain in the description of this whether models use measured water temperature values.

- [ ] get accurate description of how modeled temperatures are calculated [Jen]
- [ ] update/add to ? page to include this information

[2020-11-10 19:57] mhines-usgs opened #687 "water temperature: suggestions to add to ? page"
- [ ] whether maps from previous days might be available upon contacting USGS
- [x]  In the deep science section, suggest replacing 'hot water temperatures' with 'warmer than typical water temperatures...'.

[2020-11-10 19:59] mhines-usgs opened #688 "water storage: update legend info button text"
feedback from reviewer: "Also, on the Q&A section of the legend, the answer of "Yes and no" isn't really upheld by the rest of the answer. No part of the answer supports the 'yes' part of the answer."

- [x] reword and remove the yes part of the answer if we aren't even answering the yes part.

[2020-11-10 20:03] mhines-usgs commented on #673
One reviewer suggested defining IWAAs more clearly in the water storage section of the ? page, but perhaps this feedback is more appropriately moved to the about page? "These pages show one product, a near real-time census, of the USGS IWAAs at various spatial scales for human and ecological uses. An additional IWAA product is seasonal predictions of water availability.""

[2020-11-10 20:06] mhines-usgs opened #689 "water use/water temp/water storage ? page: adjust references so they are in the same order"
move the water temperature reference section below the water use section, so we're consistently offering things in the same order, water storage, water use, water temperature in order for each of the sections (about this section/deep in science section/references section)

[2020-11-10 20:08] mhines-usgs opened #690 "water use/water temp/water storage ? page: link references in the inline page text"
rather than force the users to look down into the reference section to locate the reference and the link, link the references where they are mentioned directly.

[2020-11-10 20:24] mhines-usgs commented on #671
the current status of this is that we don't have the new data just yet. waiting on Kristen to help us fix the issues with the sciencebase item.

[2020-11-10 20:25] lindsayplatt commented on #672
### First, here are some options. Do we want the lines @jenniferRapp / @mhines-usgs ?

Basic grey dashed lines.

![image](https://user-images.githubusercontent.com/13220910/98729152-191b8a80-2360-11eb-8b47-3dfa930c1a48.png)

Use the color that corresponds to each:

![image](https://user-images.githubusercontent.com/13220910/98729382-70b9f600-2360-11eb-87e8-e3e2a695ecf3.png)

### Second, if we deci

[2020-11-10 20:28] lindsayplatt commented on #655
I think we want just the updated pkwater_equiv, right? That's the one that has been fixed since we ran this before and there were unrealistic values?

[2020-11-10 20:30] mhines-usgs commented on #655
Does the date matter though from when it was put on Denali? I'm confused because I thought David said that before it was a file named 2019-12-31 or something, these don't have any particular dates in the name, and looks like all the output is from November 6, so I don't even know if this is the correct file?

[2020-11-10 20:33] mhines-usgs commented on #655
here's a full directory listing, I am not sure what I'm looking for at this point, I understand I need pkwater but not sure how to verify if this is still the same file he mentioned was ready on Oct 1. Steve hasn't responded to my teams chat which is frustrating.

[code]

[2020-11-10 20:35] mhines-usgs commented on #672
i love the lines and i think they look really nice as the same color as the season!

[2020-11-10 20:37] lindsayplatt commented on #655
Oh sorry! I missed that subtle, but key point - the file **name** is not what you would expect. We are looking for a pkwater_equiv.csv that has the historical dataset, so one that is just Nov 6 wouldn't work. It looks like that location may contain data from each day's model run, too. Yeah, seems like hearing from Steve would be best.

[2020-11-10 20:40] mhines-usgs commented on #655
Ok, thanks for your eyes! :) sooner or later, argh. I may have missed getting the file, I didn't realize he would remove it.

[2020-11-10 20:58] mhines-usgs commented on #689
PR https://github.com/usgs-makerspace/wbeep-viz/pull/567

[2020-11-10 23:24] mhines-usgs commented on #690
PR https://github.com/usgs-makerspace/wbeep-viz/pull/568

[2020-11-12 18:32] mwernimont commented on #674
Are we not concerned about having to scroll up and down to switch between the Water Use Parameter and then the seasons?

[2020-11-12 18:40] mhines-usgs commented on #674
correct, we are conceding that fact at this point and trying to better fill the screen with something bigger..

[2020-11-12 19:15] mwernimont commented on #674
Another question, is it just the map we are enlarging?  Bar chart stays the same?

[2020-11-12 19:18] mwernimont commented on #673
About Page and Tab created in this PR: https://github.com/usgs-makerspace/wbeep-viz/pull/571

[2020-11-12 19:18] mhines-usgs commented on #674
we really only talked about enlarging the map view on desktop mode, but if you feel like after you adjust the map, if that it seems weird along with the existing smaller bar chart, I'd say make that bigger too? Any opinion @lindsayplatt ?

[2020-11-12 19:23] lindsayplatt commented on #674
No opinion right now. I'd agree that it may be more about what it looks like visually.

[2020-11-12 19:52] mwernimont commented on #674
Initial playing around with bigger map PR: https://github.com/usgs-makerspace/wbeep-viz/pull/573

[2020-11-12 20:51] mhines-usgs commented on #655
wrote steve an email and he replied right away! yay. he's going to get the data back up again on denali (or parker is) and it should be there by tomorrow.

[2020-11-12 21:24] mhines-usgs commented on #688
My first attempt at updating this text: https://github.com/usgs-makerspace/wbeep-viz/pull/575

[2020-11-12 21:47] mhines-usgs commented on #681
PR https://github.com/usgs-makerspace/wbeep-viz/pull/576

[2020-11-12 23:15] mhines-usgs commented on #674
i like it (up on test now http://wbeep-test-website.s3-website-us-west-2.amazonaws.com/estimated-availability/#/water-use) but now i kinda want the chart bigger. why am i squinting for that tiny font on the x-axis 😆

[2020-11-13 18:04] mhines-usgs commented on #680
didn't end up filtering the water layer but instead creating our own great lakes tileset and replacing the various water layers we were using with this new layer.

[2020-11-13 18:11] mhines-usgs commented on #680
PR for wbeep-viz changes: https://github.com/usgs-makerspace/wbeep-viz/pull/579
PR for wbeep-processing pipeline addition: https://github.com/usgs-makerspace/wbeep-processing/pull/178
Jenkins job to create great lakes tiles and push to s3 https://jenkins.wma.chs.usgs.gov/job/MakerSpace/job/create_greatlakes_tiles/

[2020-11-13 22:41] mhines-usgs commented on #687
@jenniferRapp do you think we should offer to support providing previous days' maps if someone contacts us? I think we could offer that feature, but it would depend on if we have the data for that date, of course. this was a suggestion from a reviewer to add to the ? page for stream temperature, but before I added it, I wanted to see if you thought it would be something we could offer.

Technicall

[2020-11-13 22:45] mhines-usgs commented on #687
the second checkbox: https://github.com/usgs-makerspace/wbeep-viz/pull/581/files

[2020-11-16 13:07] mwernimont commented on #683
PR: https://github.com/usgs-makerspace/wbeep-viz/pull/582

![Screen Shot 2020-11-16 at 7 04 51 AM](https://user-images.githubusercontent.com/6390096/99256051-6d988d00-27da-11eb-84d0-f5bd6c1fea5f.png)

[2020-11-16 16:41] jenniferRapp commented on #680
I think it looks much cleaner without the light-colored lakes.  There is no question about where we are predicting water temperatures.

[2020-11-16 16:41] #680 closed, assigned to mhines-usgs

[2020-11-16 16:42] jenniferRapp commented on #672
Looks great.  I like the matching colors.

[2020-11-16 16:42] #672 closed, assigned to lindsayplatt

[2020-11-16 16:44] #678 closed, assigned to mwernimont

[2020-11-16 16:46] jenniferRapp commented on #689
Lets chat about this.  Joe had an idea to make separate tabs or pages for the info pages for each map.  I think it might be nice to only see Water Storage information when you click on that link.

[2020-11-16 16:47] jenniferRapp commented on #690
I think these look good having them within the text and listed below.

[2020-11-16 17:26] jenniferRapp commented on #689
Multiple tabs of a page that user could go between.

[2020-11-16 20:01] mhines-usgs commented on #679
I wasn't sure about calling out golf courses specifically here, so didn't include that suggestion. If that is valuable/correct to include and we know that the irrigation category includes it, I can update it. I just wasn't completely sure if that was an assumption or is known to be correct.

[2020-11-17 23:23] mhines-usgs commented on #682
i can see it behaving oddly but I haven't been able to figure out how to fix it yet.

here's how to describe it..
when you first load the water storage map, open the layer list. you'll see all the layers gray/unavailable with the exception of terrain which is blue/on.

leave the layer list open, and zoom in until other layers are white/available. the problem is that roads doesn't correct its state

[2020-11-17 23:29] mhines-usgs commented on #682
@mwernimont not sure how slammed you are, but i'm wondering if you could take this on if it's possible to fix. i am not sure if we ever noticed this before or if it was known as an issue we couldn't figure out.

[2020-11-18 00:37] mwernimont commented on #682
@mhines-usgs I can look into it.

[2020-11-18 01:05] mwernimont commented on #682
PR: https://github.com/usgs-makerspace/wbeep-viz/pull/587

[2020-11-18 01:10] #663 closed, assigned to nobody

[2020-11-18 03:33] jenniferRapp commented on #675
One other area to update in Temperature info:
Why is the latest available Stream Temperature not for today?
The latest model run requires a summary of the weather (precipitation and temperature) for a complete day. A sequence of operations begin at midnight starting with collecting observed weather data and ending several hours later with estimates of natural water [storage] **temperature** and an

[2020-11-18 04:17] #683 closed, assigned to mwernimont

[2020-11-18 04:17] #681 closed, assigned to mhines-usgs

[2020-11-18 04:17] #674 closed, assigned to mwernimont

[2020-11-18 04:21] jenniferRapp commented on #673
Here is a suggested text for the About Page.  Please input to the page so I can show the modelers Wednesday afternoon.  I'll send along to Jen Bruce for her comments/suggestions too.  Feel free to suggest changes/enhancements.  Do we need an IWAAS definition here?  I didn't include a lot about the pipeline or the cloud portions.  I may sleep on it and do some editing in the morning.
[About_WBEEP_M

[2020-11-18 13:51] mwernimont commented on #673
PR: https://github.com/usgs-makerspace/wbeep-viz/pull/588

[2020-11-18 14:35] jenniferRapp commented on #684
[QW2019_national_GIS.zip](https://github.com/usgs-makerspace/makerspace-sandbox/files/5560698/QW2019_national_GIS.zip)
I pulled these by HUC 02 with a python script to loop through the waterservices URL generation tool and the It uses the USGS Egistoolbox to make the ULR into a gdb layer.  It should give us a perspective for all places where continuous temperature is collected.  It was early 2019,

[2020-11-18 14:41] jenniferRapp commented on #684
Using https://github.com/usgs/wdfn-graph-server  it would: Returns a png containing a hydrograph for parameterCode(xxxxxx) for the NWIS site(siteid) for the last seven days. P00011 or P00010 would give us temperature.

[2020-11-18 14:58] jenniferRapp commented on #684
![image](https://user-images.githubusercontent.com/33693189/99546572-8b095a80-2984-11eb-80d9-0d1e9b2fb6b6.png)

[2020-11-18 15:24] #688 closed, assigned to mhines-usgs

[2020-11-18 15:24] #690 closed, assigned to mhines-usgs

[2020-11-18 15:37] jenniferRapp commented on #687
Document process for where the CSV data are located.  as there is time work on adapting the water storage code to work with temps for single data request.  Potentially use as an animation for a blog in Jan 2021

[2020-11-18 15:51] jenniferRapp commented on #673
Add info about why data are not downloadable, zoom level not detailed, and more about technologies used.  Is there a visual of the pipeline to viz?

[2020-11-18 19:00] mhines-usgs commented on #687
after the processing step on our end to convert the nc data into csv, we push a copy here in s3 for safekeeping: s3://prod-owi-resources/resources/Application/wbeep/wtr_model_output/

currently we have 13 csv files there for the following dates:
2020-01-02
2020-01-05
2020-09-30
2020-10-08
2020-10-10
2020-10-19
2020-10-25
2020-11-09
2020-11-10
2020-11-11
2020-11-13
2020-11-14
2020-11-15

[2020-11-18 19:24] jenniferRapp commented on #687
Thanks Megan,
I think it makes sense to maintain this, document the location and process, and if we have time to set up a mechanism to grab existing data for selected dates to share out the images/tiles.

Jen

Jennifer L. Rapp, Physical Scientist
Chief, Decision Support Branch
USGS Water Mission Area
Richmond, VA 23228
804-615-6868 (mobile and home office)
jrapp@usgs.gov<mailto:jrapp@usgs.gov>

Fr

[2020-11-18 21:37] cnell-usgs commented on #591
ahhhh, the satisfaction of checking all the boxes!

these two PRs wrap up the edits noted here. time to push to beta, do thorough mobile and browser testing, and prep for social media release

https://github.com/usgs-makerspace/delaware-basin-story/pull/145
https://github.com/usgs-makerspace/delaware-basin-story/pull/146

[2020-11-19 02:37] jenniferRapp commented on #684
I spoke with modelers and Pat tonight.  They like the idea of adding the temp locations on the map.  Steve Markstrom suggested plotting Mean Daily Value from Water Watch (or NWIS) with symbology to match the modeled values for QW points. Would provide some validation verification.. Get a sense for uncertainty.   Essentially grabbing the previous daily value and symbolizing it.  No popups etc.  Tha

[2020-11-19 02:43] jenniferRapp commented on #677
Steve would like to know the specific segments that Jana was asking about.  He wondered if the center of the color ramp being lightest gray with similar colors on either side would confuse people about temperatures?  Jen Bruce reminded us that we were trying to give a general impression of the temperature with the ramp.

Without knowing exactly which streams she meant, Steve could not comment.

[2020-11-19 02:52] jenniferRapp commented on #685
I think they were most interested in trying to add layers that might provide context like large rivers with names labeled.  Steve thought GF did have stream names, but we discussed a layer like the TX 1:1 million scale rivers that could be an optional background layer that can be visible when zoomed in farther. I think that is what is in https://txpub.usgs.gov/DSS/streamer/web/

They were also int

[2020-11-19 03:01] jenniferRapp commented on #655
I discussed the Pipeline Failures.  Do they need to get fixed before we switch to the new GF?  - No  What Rich MacDonald said was that the viz team should pull from the **development pipeline** rather than the old pipeline.  Once we have our GF quantile updates then we should pull from dev.  Essentially they updated the dev pipeline that we are currently using for Temp to work for the updated Wate

[2020-11-19 03:02] #657 closed, assigned to mwernimont

[2020-11-19 15:31] mhines-usgs commented on #685
My personal opinion: there isn't any technical reason we can't add more layers to the map, but I would pose the question if adding these other layers addresses the original problem/request that our reviewers were requesting, which seemed to center on wanting to zoom in to the segments and get more details about the water temperature.

direct feedback copied and pasted here as a refresher:

[2020-11-19 15:49] mhines-usgs commented on #655
it seems odd to me that they would break the current production pipeline for some reason. I can try and do a hotfix so we can get that updating again once I figure out where the new data are going. I was operating under the impression that we would coordinate the switch at the same time once everything was ready, not that the current one would just be abandoned for a new version. i don't think iva

[2020-11-19 21:37] lindsayplatt commented on #655
Last year going from dev to prod was just on our end, so when they said "yes it is approved", we hit build on prod. It is different this go-around because prod is already up and running and we need to switch out the data that it is using. So, it sounds like they stopped or changed the pipeline where we were grabbing data from on prod out for the new GF version. I was under the impression that both

[2020-11-19 21:57] aappling-usgs commented on #591
- [x] "anindicator" in the "Brook Trout and Cold Water" paragraph (just saw that Lindsay caught this, too)

[2020-11-20 02:27] jenniferRapp commented on #655
Makes sense to me.  We are not actively developing after we put this to ‘production’ so maintaining both dev and prod might just be overkill.

Jennifer L. Rapp, Physical Scientist
Chief, Decision Support Branch
USGS Water Mission Area
Richmond, VA 23228
804-615-6868 (mobile and home office)
jrapp@usgs.gov<mailto:jrapp@usgs.gov>

From: Lindsay (Carr) Platt <notifications@github.com>
Sent: Thursday,

[2020-11-20 20:11] jenniferRapp commented on #676
I went through Jana's comments.  Updated in the attached sheet.  I highlighted changes I made in Red.  You should be able to copy and paste into the sections and just 'replace' what was there before.

Please update to water temperature in all areas of the application.  A few places in the Q&A I chose to rephrase stream water temperature. those are fine.
[Updates_Q&A.docx](https://github.com/usgs-m

[2020-11-20 20:13] jenniferRapp commented on #687
Now I understand more of the full question and comment from the reviewer.  What would it look like to display the last 3-7 days of stream temperature tiles?  or a slider bar changing from earliest temp to most recent temp?  Probably outside of scope?  :)

[2020-11-20 20:29] jenniferRapp commented on #684
I think trying out what this looks like and whether we can color based on the previous day's temperature would be a nice addition if you have some time to work on it after the Q&A.  @mwernimont

[2020-11-20 20:45] #689 closed, assigned to mhines-usgs

[2020-11-20 20:47] jenniferRapp commented on #673
I don't know the right place to put this, @mwernimont but I updated the Stream Temp page text for the spash screen when the app first opens.  https://doimspp.sharepoint.com/:w:/r/sites/gs-wma-iidd-makerspace/_layouts/15/Doc.aspx?sourcedoc=%7B7A3EBA1D-2711-4267-BD60-653FAA2F2A07%7D&file=Water_tempAbout%20This%20Map_jss.docx&action=default&mobileredirect=true

[2020-11-20 21:01] jenniferRapp commented on #673
Water Storage spash screen text pasted here:
This is a demonstration map and is not for decision making. It shows the latest available modeled daily estimates of natural water storage for approximately 110,000 regions or Hydrologic Response Units across the lower forty-eight U.S. states. Natural water storage includes water present on the landscape such as standing water (ponds, lakes, and wetland

[2020-11-20 21:09] mwernimont commented on #673
@jenniferRapp Splash screen as in the white box blurb right?  Not the loading screen.

[2020-11-20 21:10] jenniferRapp commented on #673
Water Use spash screen text pasted here:
This is a demonstration map and is not for decision making. The maps contains modeled estimates of each season's average daily water use rate-of-withdrawal for approximately 85,000 watersheds during 2015. These daily estimates of thermoelectric, public supply, and irrigation water uses are derived from monthly 2015 estimates of water withdrawals from surfac

[2020-11-20 21:13] jenniferRapp commented on #673
@mwernimont yes spash screen is the white box blurb that shows up before the user can access the data behind it. About this map:
![image](https://user-images.githubusercontent.com/33693189/99850394-4976dc00-2b4b-11eb-91f4-64edb7ec6591.png)

[2020-11-23 14:55] mwernimont commented on #676
@jenniferRapp Changes on QA, but we are working on getting some links back due to overwriting changes.

[2020-11-23 15:13] mwernimont commented on #676
Fixes are merged and being sent to test

[2020-11-24 20:13] mhines-usgs commented on #684
I converted the shapefile of stations with temperature sensors locations to geojson and uploaded it to http://maptiles-prod-website.s3-us-west-2.amazonaws.com/geojson/QW_Temp_2019.json to play with

just plotting those locally, here is what it looks like with some questionable style choices, for example:
![image](https://user-images.githubusercontent.com/6920344/100146003-d5944680-2e5e-11eb-95e5-a

[2020-11-25 18:31] mhines-usgs commented on #684
thanks to some Marty help ™️ this morning, we got this up on test. the style isn't really well thought out at the moment (dot color and pop up itself), but this was the 'low cost' idea i was babbling about monday.

![image](https://user-images.githubusercontent.com/6920344/100268305-67ad5500-2f1a-11eb-8874-2c54742d9a02.png)

we might want to decide if this is useful to bring some additional detail

[2020-12-01 15:24] #655 closed, assigned to mhines-usgs

[2020-12-01 15:24] #656 closed, assigned to mhines-usgs

[2020-12-01 15:24] #682 closed, assigned to mwernimont

[2020-12-01 16:33] #679 closed, assigned to mhines-usgs

[2020-12-01 16:33] #586 closed, assigned to mhines-usgs

[2020-12-01 16:33] #654 closed, assigned to nobody

[2020-12-01 17:30] mhines-usgs commented on #687
linking the code base which was Lindsay set up for getting desired daily images from the water storage data: https://github.com/usgs-makerspace/wbeep-map-images

[2020-12-01 18:23] jenniferRapp commented on #684
@mhines-usgs  Casey Lee pointed me to a national app where I downloaded the Temp sites they say are continuous for 2018 -2020. http://kswsc.cr.usgs.gov:3838/cjlee/qw_inventory/
[Continuous_2018-2020.txt](https://github.com/usgs-makerspace/makerspace-sandbox/files/5624607/Continuous_2018-2020.txt)

We can take a look and compare the sites that we have with what they have.  I agree that many of the

[2020-12-01 18:24] jenniferRapp commented on #684
A second option would be to highlight the water quality monitoring Network of 110 sites across the Nation.  https://nrtwq.usgs.gov/nwqn/#/

[2020-12-01 18:47] jenniferRapp commented on #684
Third option which I'm leaning toward is a download from QW watch.  I extracted only those that are Site Type Stream.
[currentQW.xlsx](https://github.com/usgs-makerspace/makerspace-sandbox/files/5624721/currentQW.xlsx)

[2020-12-01 22:24] jenniferRapp commented on #687
I think we need to change the name of this task, or have a copy of it somewhere that is easy to find....

[2020-12-01 22:28] mhines-usgs commented on #684
Ok, Working now on exchanging the GeoJSON for this last suggested one instead so we can see how that looks.

[2020-12-01 22:55] jenniferRapp commented on #684
Thanks Megan.  I think it should be Alright.  The sites in that list should only be streams, no canals, ditches, or groundwater sites.  Since they are reported in QW Watch real-time page they should be live.  Even the waterwatch site has disclaimers for missing data:  "_Site operated on a seasonal basis or currently is not operating. No values are available for the last 6 hours_." Which we could a

[2020-12-01 23:06] jenniferRapp opened #691 "Review Responses written up"
Respond to reviewer responses and share with Joe for his approval.

[2020-12-01 23:07] jenniferRapp commented on #691
https://doimspp-my.sharepoint.com/:w:/g/personal/jrapp_usgs_gov/EUyY26IqcMRPoYtUq9vodY4BvksZkw06Mx119BihDQ9MXA?e=7Eks0y

Feel free to take a look and suggest changes.

[2020-12-01 23:51] mhines-usgs commented on #684
sounds good. I loaded the new data in and updated the test tier now with that data. I need to take a closer look tomorrow and make sure the data are correct, initially when I converted from xlsx->csv, the site_no field converted to numeric and dropped the leading zeroes, hopefully I got them all back where needed and did not add any where I didn't need, but will take another gander tomorrow and re

[2020-12-02 01:16] jenniferRapp commented on #684
I think these look good. I found a few that don't have data pulls for 00010 in Montana.   I think we should increase the zoom level 1-2 times more to allow people to see what is going on in the dense city areas like Washington DC or Philly, PA.
 We can do it and then demo it for the modeling group tomorrow.    Def need to try on Mobile.

[2020-12-02 01:25] jenniferRapp commented on #684
I'm getting errors like this: I checked this site and it has continuous data but it didn't have any since mid-day on Dec 1.  but Nov 24 - 30 it had data....
![image](https://user-images.githubusercontent.com/33693189/100816051-4913f600-3413-11eb-83a2-5e35ebda0e51.png)

I got an error for 11312685 that "site/Parameter-code combination not found.  But there are two forms of temperature there, YSI an

[2020-12-02 01:43] jenniferRapp opened #692 "Water Temp Symbology updates"
Updates to the Water Temperature map

- [x] Finalize size and color for water temp monitoring stations

- [x] add to legend label: "USGS monitoring station"

- [x] add to layer list "USGS temperature monitoring stations"

- [x] Increase zoom levels by 2 (or a reasonable zoom for dense urban areas)

- [x] update text for About this map.

[2020-12-02 01:48] jenniferRapp commented on #692
@mwernimont  About this map suggestion insert the second sentence into the existing text: It shows the latest available daily estimates of natural water temperature for approximately 58,000 stream reaches across the lower forty-eight states. The real-time temperature monitoring sites are visible at finer zoom levels, and clicking will open a graph of the past 7 days of temperature monitoring data

[2020-12-02 02:22] jenniferRapp commented on #676
Looks very good, Marty.  I found just a couple changes for the questions:  See blue highlighted text updates.
[Updates_Q&A_Dec2.docx](https://github.com/usgs-makerspace/makerspace-sandbox/files/5626580/Updates_Q.A_Dec2.docx)
@mwernimont

[2020-12-02 15:04] mwernimont commented on #676
PR: https://github.com/usgs-makerspace/wbeep-viz/pull/603

[2020-12-02 15:09] mwernimont commented on #692
@jenniferRapp look right?
![Screen Shot 2020-12-02 at 9 08 05 AM](https://user-images.githubusercontent.com/6390096/100890502-f15ea480-347d-11eb-92a9-0bbb31fa70cb.png)

[2020-12-02 15:12] mhines-usgs commented on #684
Yeah, I saw that too and that's why I want to revisit what I did and make sure that the site numbers are actually correct, too.

[2020-12-02 15:26] jenniferRapp commented on #692
I would like to retain the text that followed the "58,000 stream reach' sentence too, just insert the one new sentence about the real-time monitoring sites... @mwernimont

[2020-12-02 15:27] jenniferRapp commented on #684
The ones I checked in NWIS were all correct station numbers. I could not see a reason except for one site that didn't have data for yesterday.  The rest all seemed to have data.

[2020-12-02 15:36] mwernimont commented on #692
Readded: Water temperature is one factor of overall water quality due to its impact on aquatic habitat. Streams naturally have different temperatures depending on how big they are, where they are located, and the time of year. However, there are also external forces such as thermoelectric power plants that may change a stream's temperature and impact aquatic life or the usability of the stream for

[2020-12-02 16:24] mwernimont commented on #692
add to legend label: "USGS monitoring station"

 add to layer list "USGS temperature monitoring stations"

 Increase zoom levels by 2 (or a reasonable zoom for dense urban areas)

 update text for About this map.

On test for review

[2020-12-02 16:24] mwernimont commented on #676
Merged and on test

[2020-12-02 17:21] mhines-usgs commented on #692
bumped these few up to circle radius 5 (current wbeep-test is size 4)

original USGS green! :usgs-usgs: with white outline
[code]
![image](https://user-images.githubusercontent.com/6920344/100903979-1fe37c00-348c-11eb-9a2e-79d0d7c14deb.png)
![image](https://user-images.githubusercontent.com/6920344/100904041-338ee280-348c-11eb-8d82-2a7cae5574a0.png)

same USGS green with dark green outline instead

[2020-12-02 17:24] mhines-usgs commented on #692
any thoughts on any of those? I really don't have much of a preference, but am thinking we might consider turning them on when the user is slightly more zoomed in now that we give them more zooms to go through. if you want to see any other color ideas, let me know. i tried brighter colors like orange and yellow and they are too crazy at the national level. we should steer clear of red or blue, whi

[2020-12-02 17:29] mwernimont commented on #692
Guess I'm torn, as we aren't really trying to highlight the sites as the main focus on this app right?  Its more just of a hey look extra stuff!  So I don't really want them blocking the stream color views, which makes me more preferable to the ones where they don't show up as much.  Or I could be wrong on the understanding of what we are trying to accomplish and we need the sites to be bold and e

[2020-12-02 17:32] mhines-usgs commented on #692
yeah, it's bonus material, so shouldn't be too dominant or distracting from the stream segments.

[2020-12-02 17:41] jenniferRapp commented on #692
Sweet.  Thanks for all the updates.   I like the USGS Green circles.  I like the size too.  can I demo this for the oNHM team tonight?  My second favorite is the solid black circle.  Third would be triangles pointing downward that are not filled.  I think that is what Water Quality Watch uses.

I like the zoom level.

I like that we can turn on and off.

[2020-12-02 17:46] mhines-usgs commented on #692
@jenniferRapp  -- sure, do you mean the original green or green with green outline? and size 5 or 4? I'll make the changes and get them out to test if you want to demo for feedback tonight! thanks.

[2020-12-02 18:35] jenniferRapp commented on #673
[Updates_Q&A_Dec2.docx](https://github.com/usgs-makerspace/makerspace-sandbox/files/5631339/Updates_Q.A_Dec2.docx)
I would like to see this on the app.  I would really like a read through from you all to verify that the text and the image/diagram is correct.  I think I'd like to add a 'cloud' icon around each cloud step instead of the "(1)" parentheses.  Comments welcome.   @mhines-usgs @mwernimon

[2020-12-02 18:37] jenniferRapp commented on #692
Green with dark green outline.  I think maybe keep them at 4.  @mhines-usgs

[2020-12-02 19:04] mhines-usgs commented on #673
@jenniferRapp i'm happy to read through it! I don't see a diagram or image show up in there though? Marty also doesn't see it

[2020-12-02 19:17] jenniferRapp commented on #673
The word doc was the wrong file.   see this link or attached Word.
https://doimspp-my.sharepoint.com/:w:/g/personal/jrapp_usgs_gov/EaJC63t0LnFLiKIacV5e2xwBqv6BW4hIr1pKvxFF0eZ_jg?e=6NsEQU
[About_WBEEP_Mappertext_Dec2clean.docx](https://github.com/usgs-makerspace/makerspace-sandbox/files/5631528/About_WBEEP_Mappertext_Dec2clean.docx)
I have an illustrator file that I could share with anyone who is m

[2020-12-02 19:23] jenniferRapp commented on #692
@mwernimont  When I move around the map, I only have the "hand" panning functionality.  As I hover over a Monitoring Site the hand does not switch to a pointed finger or arrow.  Is that something we can add in the App?

[2020-12-02 19:24] mwernimont commented on #673
I'll bow out for the diagram truthfulness, I have never really stepped into that process.  So my full trust is in Megan and Lindsay.

[2020-12-02 19:25] mwernimont commented on #692
Sure can.

[2020-12-02 20:07] mwernimont commented on #692
PR: https://github.com/usgs-makerspace/wbeep-viz/pull/608

[2020-12-02 20:43] jenniferRapp opened #693 "Google Analytics added to the sites?"
Please verify whether we have added Google Analytics to the sites.

Please help me understand the kinds of reporting we will get.

- [x] Add GA to Water Temp sites.
- [x] Add GA to Water Use season bar chart
- [x] Add GA to Water Use parameter buttons

[2020-12-02 20:55] mwernimont commented on #693
@jenniferRapp I am assuming you mean having GA connected to a user clicking on of the sites on the temp map.

Currently it is not connected, but we have an easy function we can add to the click function we have setup for the sites.

The function currently allows us to name the event, what the user did like click, and we can give it a more specific label including something like what site id the us

[2020-12-02 20:57] mwernimont commented on #693
As for what else we could do with the GA setup currently I am unsure as Aaron Briggs did all the leg work of getting GA into our Vue framework.  But I do feel what we have now is fully capable of keeping track of if a user is interacting with the sites on the map

[2020-12-02 21:26] mwernimont commented on #692
on Test

[2020-12-02 21:55] jenniferRapp commented on #667
I'm going to highjack this issue for a similar but different topic.  Pat would like to have large river names on the map.  We discussed adding the names of Rivers or a separate layer that could be turned on/off so that users could navigate the country better.

Thoughts about how we might do this?
@mhines-usgs  @mwernimont

[2020-12-02 21:55] jenniferRapp commented on #685
They liked the zoom level today.  Dec 2.