[2020-12-02 21:59] jenniferRapp commented on #692
The modelers really liked the addition of the stream temp monitoring sites.  There was discussion about symbology.  We ended on the solid black dot so that it doesn't take away from the rivers as much.  I wonder if we need a white circle around the black dot to make them seem discrete?  Molly really liked the tiny black dot example above.

@mhines-usgs  @mwernimont

[2020-12-02 22:01] jenniferRapp commented on #671
@lindsayplatt @mhines-usgs @mwernimont The WU folks are re-mapping all the data to the new WBD HUCs.  They hope to be done this week, but it may be early next week before they send the data to Lindsay.  The want to wait to release the mappers until these updates are made and implemented in our workflow.

[2020-12-02 22:03] #676 closed, assigned to jenniferRapp

[2020-12-02 22:05] #647 closed, assigned to mwernimont, jenniferRapp

[2020-12-02 22:21] jenniferRapp opened #694 "Create viz (animation) of multiple days of Water Temperature or seasonal view of Water Use for a product release by February."
Can we use Lindsay's Scripts and animate a number of stream temperature days?

Can we create an animation of switching between seasons for one or more Water Use categories?

Goal is to have a release similar to last year https://www.usgs.gov/center-news/new-usgs-iwaas-product-national-integrated-water-availability-assessments-concept-map?qt-news_science_products=1#qt-news_science_products

[2020-12-02 22:25] lindsayplatt commented on #694
Cool! Just so I understand, this would be needed in February? Or sooner?

[2020-12-02 22:25] jenniferRapp commented on #693
I wanted to make sure we have GA on all our mappers and that we are monitoring as much as we can.  Clicking in the Temp map makes sense.  Changing seasons in the WU map might too.  Mostly want to verify that you all were already doing this.

Jen

Jennifer L. Rapp, Physical Scientist
Chief, Decision Support Branch
USGS Water Mission Area
Richmond, VA 23228
804-615-6868 (mobile and home office)
jrap

[2020-12-02 22:31] jenniferRapp opened #695 "Visual things"
Place for final updates to interface.  Titles, colors, layout tweaks, and disclaimers.

[2020-12-02 22:32] jenniferRapp commented on #695
White space at the bottom of stream temp- could we reduce it?  get rid of zoom level details?

[2020-12-02 22:35] jenniferRapp commented on #695
I think the learn more disclaimers are OK as is.

[2020-12-02 22:35] mhines-usgs commented on #695
the white space with the zoom level is only on the test tier for us to use for development purposes! you won't see it on qa or beta or prod

[2020-12-02 22:37] jenniferRapp commented on #695
National Integrated Water Availability Assessments-Concept Map -test build-
 Change to: **National Integrated Water Availability Assessments: Water Availability Mapper**

[2020-12-02 22:49] mhines-usgs commented on #692
tiny black dot with white outline at a more national view
![image](https://user-images.githubusercontent.com/6920344/100940682-06f3be80-34be-11eb-84d9-ac744df9e863.png)
all the way zoomed in
![image](https://user-images.githubusercontent.com/6920344/100940819-44f0e280-34be-11eb-8b44-e644c5fed873.png)
![image](https://user-images.githubusercontent.com/6920344/100940849-50440e00-34be-11eb-8523-21cb1

[2020-12-03 14:15] mwernimont commented on #693
We are not currently, but will get it hooked up today.

[2020-12-03 14:21] mwernimont commented on #695
So I can change the text to National Integrated Water Availability Assessments: Water Availability Mapper, but when on test its probably best to leave the -test build- and on. beta -beta build- its just another way to be aware of which version of the app you are on, and when it goes to prod that little tag will fall off and just be National Integrated Water Availability Assessments: Water Availabi

[2020-12-03 15:11] mhines-usgs commented on #673
logging an updated diagram link here, it's stored in the WBEEP NHM makespace Team files. i created it in powerpoint and we can export it (save as) an SVG or PNG or something and embed that in the About page
https://doimspp.sharepoint.com/:p:/s/gs-wma-iidd-makerspace/EToGZLuQWKpJvAcbK4WeS7AB1G4koYMRr7PChrUfJFiLVg?e=grPdRn

[2020-12-03 15:11] jenniferRapp commented on #695
Sounds good to me, @mwernimont.  Let's do what you suggest.

[2020-12-03 15:15] jenniferRapp commented on #694
The animations should be finished by February.  We could plan to work on it during January if that seems like a reasonable amount of time.   We should discuss your hours and availability too.

[2020-12-03 15:17] mwernimont commented on #693
Water Temp site clicks setup and being tracked, onto water use.
![Screen Shot 2020-12-03 at 9 16 33 AM](https://user-images.githubusercontent.com/6390096/101048485-4666ed00-3548-11eb-929e-695d6414e5c5.png)

[2020-12-03 15:38] mwernimont commented on #693
I corrected the parameter misspelling, but water use now has the bar chart and button interaction being tracked.
![Screen Shot 2020-12-03 at 9 37 19 AM](https://user-images.githubusercontent.com/6390096/101051472-2a187f80-354b-11eb-9491-8817e4ec75e5.png)

[2020-12-03 15:38] mwernimont commented on #693
PR here: https://github.com/usgs-makerspace/wbeep-viz/pull/610

[2020-12-03 15:42] jenniferRapp commented on #693
Is there a role for me when you send a PR?

Jen

Jennifer L. Rapp, Physical Scientist
Chief, Decision Support Branch
USGS Water Mission Area
Richmond, VA 23228
804-615-6868 (mobile and home office)
jrapp@usgs.gov<mailto:jrapp@usgs.gov>

From: Marty Wernimont <notifications@github.com>
Sent: Thursday, December 3, 2020 10:39 AM
To: usgs-makerspace/makerspace-sandbox <makerspace-sandbox@noreply.githu

[2020-12-03 15:42] mwernimont commented on #693
@jenniferRapp no, just keeping track of things all in the ticket.  In case questions arise later, like did Marty even make a PR? That fool! lol.

[2020-12-03 15:50] mwernimont commented on #695
PR for title change: https://github.com/usgs-makerspace/wbeep-viz/pull/611

[2020-12-03 16:27] mwernimont commented on #693
Merged and on test

[2020-12-03 16:31] mwernimont commented on #667
I'll double check if our open layers tiles have the stream names in them.  If they do this would be pretty easy, if we don't currently have the stream names, more work obviously.

[2020-12-03 16:33] mhines-usgs commented on #667
We could always create our own geojson layer with the titles we wanted to include if filtering the open layers tiles ends up being messy, just another idea..

[2020-12-03 16:35] mwernimont commented on #667
Yeah, thats what I meant by the more work. lol. But rather just use existing resources if we can!

[2020-12-03 16:47] mhines-usgs commented on #667
another fallback, I do also have a few local shapefile of major rivers we could convert to GeoJSON and use. here is what they look like

'MajorRivers.shp'
![image](https://user-images.githubusercontent.com/6920344/101060150-af546200-3554-11eb-8872-8e5c232670e1.png)

U.S.Rivers from ESRI
![image](https://user-images.githubusercontent.com/6920344/101060325-ee82b300-3554-11eb-889a-3f29f2eaec5b.png)

[2020-12-03 17:12] jenniferRapp commented on #667
Thanks so much for taking this on.  I'm sorry it is a late request.  I think the uS Rivers from ESRI looks pretty good.  If Marty finds tiles that are already labeled and public we can use them too...

[2020-12-03 17:18] jenniferRapp commented on #692
Thank you, @mhines-usgs   The black dots look good at national and regional scales.  They are quite small when we zoom in to the reach scale.  They are difficult to click too.  I think we might need to bump it up a little in size.  I like the white outline.  Tough, I liked the green better, but this does create a view that focuses on the river colors.... I think when zoomed in the dot should be wi

[2020-12-03 17:19] mwernimont commented on #667
So openmaptiles does have the names and I can get them to display, but you can't get that tileset aspect to kick in until after zoom level 8, which is our cap.  So @mhines-usgs if you think you got this would say go for it. 👍

[2020-12-03 17:27] mhines-usgs commented on #667
sure, it'll be later today though, have to wrap up some work for MEA and GCMRC until then, then can tackle this!

[2020-12-03 18:23] jenniferRapp commented on #667
So are we using Marty's tiles or Megan's?  Should we just increase the zoom level?

[2020-12-03 18:55] mhines-usgs commented on #692
ok, I can see about having the dot change size when further zoomed in.

[2020-12-03 19:00] mhines-usgs commented on #667
i'm not sure we want to add more zooms, but we can. just have to update a bunch of the other tilesets if so. i'm happy to make the river names on a new layer, that way we can keep more control of the display.

[2020-12-03 19:01] mwernimont commented on #667
We will use Megans.  They already okayed this level of zoom, so why go through another round?  And like Megan said we have the ability to make tiles easily and then we have full control over them.

[2020-12-03 19:57] mhines-usgs commented on #692
The station sizes now grow slightly with each zoom level increase -- up on test tier to check out.

If you think they're still too hard to click on, I can bump them up another level.

[2020-12-03 20:23] jenniferRapp commented on #692
I think these look great.  Should try on Mobile though!

[2020-12-03 20:25] mhines-usgs commented on #692
I did also push this out to beta, (https://labs-beta.waterdata.usgs.gov/estimated-availability/index.html#/water-temperature) if you can try from your phone and see what you think. it's tight overall with all the headers/warnings/banners .. not sure if we need to consider shrinking the size of the pop up on mobile.

[2020-12-03 20:37] mwernimont commented on #692
Example of popups with a 240px and 300px max width on my phone

![240](https://user-images.githubusercontent.com/6390096/101085465-13871e00-3575-11eb-84a0-4906ca1ca219.png)
![300](https://user-images.githubusercontent.com/6390096/101085466-141fb480-3575-11eb-8fe9-85ba191f3148.png)

[2020-12-03 20:38] mwernimont commented on #692
Then we could just have the popups bigger on desktop like normal.  Feel like 240px would fit most mobile screens pretty easily.

[2020-12-03 21:07] mhines-usgs commented on #692
I think that's a good idea

[2020-12-03 23:02] mhines-usgs commented on #667
I took a stab at this but I would want to spend a little more time on it to improve it slightly because it's not quite what I wanted. (Or if Marty beats me to it, I welcome you to play with it, too 🌅 🏃‍♂️ ⚡ )

I ended up converting the river line layer into geojson and putting on s3, and am using the mapbox 'symbol' type of symbol that lets you label a feature. (but no features are actually displa

[2020-12-03 23:13] mhines-usgs commented on #667
Now that it's out on test, it actually seems to be labeling more how I wanted, so I guess just go check it out and let me know what you think when you have time.

[2020-12-03 23:15] mhines-usgs commented on #667
you're looking for blue words with a white halo --
![image](https://user-images.githubusercontent.com/6920344/101099814-142aaf00-358b-11eb-8f7d-16db010f2934.png)

[2020-12-04 01:43] jenniferRapp commented on #673
Attached is a Word doc that has the changes for the About page.  You should be able to copy and paste the text in and not worry about the 'track changes' in the sharepoint version.  I'll attach an updated figure for the pipeline too.
[About_WBEEP_Mappertext_Dec4clean.docx](https://github.com/usgs-makerspace/makerspace-sandbox/files/5640050/About_WBEEP_Mappertext_Dec4clean.docx)

the zip file has a

[2020-12-04 02:56] jenniferRapp commented on #667
Megan, thank you for pushing to get this moving.  I like the approach you took since it doesn't require making tons of label points.

As I dig through Rivers that I am familiar with, there are problems when we zoom in too far with this generalized National River layer.  The labels are generalized too and sometimes that makes them wrong.
ex:
Potomac labels are not correct in the southern-most branc

[2020-12-04 03:31] jenniferRapp commented on #692
240 looks good.

[2020-12-04 15:36] mwernimont commented on #673
PR: https://github.com/usgs-makerspace/wbeep-viz/pull/612/

[2020-12-04 15:36] mwernimont commented on #673
Diagram looks good
![Screen Shot 2020-12-04 at 9 36 23 AM](https://user-images.githubusercontent.com/6390096/101182805-374d7100-3614-11eb-8f3b-7dd3f3a2d088.png)

[2020-12-04 15:40] mwernimont commented on #673
On mobile using my secret fancy testing ways
![Screenshot_20201204-093902](https://user-images.githubusercontent.com/6390096/101183158-bb9ff400-3614-11eb-9c34-db2c82ae46b8.png)

[2020-12-04 16:07] jenniferRapp commented on #673
It appears that the font on Mobile is too small to read at first? The letters seem to be too close together in the figure.  The 't's in 'store' look a little funny. do you see that?

[2020-12-04 16:38] mwernimont commented on #673
Yep Megans eagle eyes caught the text oddness.  I redid the diagram quickly so we could avoid the text display errors.
![Screenshot_20201204-103718](https://user-images.githubusercontent.com/6390096/101189518-ca8aa480-361c-11eb-9803-b689685a5236.png)

[2020-12-04 16:42] jenniferRapp commented on #673
looks good
:)

[2020-12-04 17:30] mwernimont commented on #673
On Test

[2020-12-04 18:28] jenniferRapp commented on #667
@mwernimont @mhines-usgs  Marty, Megan is pulled off in other directions today.  Are you able to look at theses options today for the river labels?

[2020-12-04 19:08] jenniferRapp commented on #684
I have one more option for us.  Jordan pointed me to the next-gen graphs.  How hard would it be to switch to these graph renderings?  https://labs.waterdata.usgs.gov/about-graph-image-api/index.html
@lindsayplatt @mhines-usgs @mwernimont

[2020-12-04 19:26] mwernimont commented on #684
I'll give it a look

[2020-12-04 19:40] mwernimont commented on #684
So its possible
![Screen Shot 2020-12-04 at 1 37 39 PM](https://user-images.githubusercontent.com/6390096/101207222-ef3f4600-3635-11eb-8a1d-e0b7189a6c13.png)

A couple caveats I am seeing though:
When a site does not meet the parameters instead of just sending a quick image saying the data does not exist it waits for the timeout to cut off the call.  One call lasted for 3 minutes, which is forever

[2020-12-04 19:51] mwernimont commented on #684
Nevermind, Megan pointed out the F is on the right.  My eyes are horrible apparently

[2020-12-04 19:56] mwernimont commented on #684
I am also just getting lots and lots of failed calls even on sites that had worked previously.  Even on their own api call testing area it failed.
![Screen Shot 2020-12-04 at 1 31 36 PM](https://user-images.githubusercontent.com/6390096/101208826-5b22ae00-3638-11eb-956b-40d0c853b5d0.png)

So not sure if we want to put this in or bring someone in to help figure out why so many fails would be happen

[2020-12-04 20:28] mwernimont commented on #667
I haven't looked into this yet, but off the top of my head:
Adding a thicker layer underneath the modeled streams is possible, but adding another color will really distract from what we are trying to represent here I believe.  When trying to convey a specific message via color like we are here simplicity is the best option, the less color to look at the less chance of being confused.

I can look a

[2020-12-04 20:36] jenniferRapp commented on #684
The old figure is working well, then I don't think we should try something new, esp if it's not working well.
Thanks for trying it.

[2020-12-04 20:38] jenniferRapp commented on #684
Well, are there more errors in the new service?  We certainly could ask.  Still, if the old one works, let's leave it.

[2020-12-04 20:42] mwernimont commented on #684
All I can really say for certainty is I adjusted our call parameters to the old service to call to the new one and was get timeout errors on most every call.  Maybe the way we call the old service isn't the best for the new service etc etc.  So it is nice to have currently working option, but maybe in the future if we want the new service for sure in the app we bring in outside help to make sure w

[2020-12-04 20:42] jenniferRapp commented on #667
Makes sense, Marty.  They are an ESRI shop, yes.

The thick layer is not likely to work, but some way to show the major rivers and show them would be nice.  It's just difficult to get these various layers to overlay..

[2020-12-04 20:54] mwernimont commented on #667
Will see if I can find some meta data for the tiles we have.  If the streams are broken up into stream order we can do some fancy filtering to make some orders thicker.  But we may not have done that as it wasn't on our radar of wants when we initially created this.  Shall find out if I can!

[2020-12-04 21:09] jenniferRapp commented on #667
no, It's OK Marty. I guess we need to determine if the names are going to work with the layer we added from Megan's National data. The Modelers thought there were names associated with the GF.  I'd be intrigued to see if that was a source we could use.

[2020-12-07 16:24] mwernimont commented on #667
@jenniferRapp @mhines-usgs  I was able to get the Texas Streamer tiles into our app, but it seems to be a raster service which does not let me do much to their tiles.  Colors, font size, clarity of images, and what is shown(waterways, waterway, city and state names) is basically in their hands as its images being served.  I've only really gotten pngs to load, they do say svgs can be served which h

[2020-12-07 17:40] lindsayplatt commented on #694
A month seems like plenty of time to complete this.

[2020-12-07 18:31] jenniferRapp commented on #667
@mwernimont  Could this layer of streams with names be something that could be turned on and off as a layer?  The user could turn it on and off to navigate better?  or, can the names be displayed alone from the streamer app over top of the water temp streams?

[2020-12-07 18:59] #675 closed, assigned to jenniferRapp

[2020-12-07 19:02] #685 closed, assigned to jenniferRapp

[2020-12-07 19:16] mwernimont commented on #667
@jenniferRapp
**Could this layer of streams with names be something that could be turned on and off as a layer?** - Yes

**or, can the names be displayed alone from the streamer app over top of the water temp streams?** - From what I can tell from their service no.  They are serving raster images and whats in the image is what you get.  I've been looking to see if they have just a service query fo

[2020-12-07 19:17] jenniferRapp commented on #673
Final tweaks: @mwernimont
first sentence in Water Temp section:  change 'stream' temp to **water** temp application.

Period at end of Water Temp paragraph

move comma or delete space in operational pipeline sentence after (Bock et al 2020), "geospatial data sets (Bock et. al, 2020) , re-format them"

[2020-12-07 19:29] jenniferRapp commented on #684
let's keep the old graphs.

I like them.

[2020-12-07 19:33] #692 closed, assigned to mwernimont, mhines-usgs, jenniferRapp

[2020-12-07 20:59] jenniferRapp commented on #673
Two last updates in the name of each application. per the modeling team...
Change Water Use to Estimated Water Use
Change Water Temperature to Estimated Water Temperature
@mwernimont

[2020-12-07 21:17] mwernimont commented on #673
@jenniferRapp does this include nav links?  We are already facing a space issue on mobile with current text.  If it is a must a rethink of mobile navigation is probably needed.

Actually is this a change just for the about page or the entire site?  Such as the QA page.

[2020-12-07 22:10] jenniferRapp commented on #673
![image](https://user-images.githubusercontent.com/33693189/101411499-13598c00-38af-11eb-9f04-a4072216c4d9.png)

I forgot to put in this image.  Only here in both apps

[2020-12-07 22:11] jenniferRapp commented on #673
Also the consensus is that "Concept Map" should be retained.

[2020-12-07 23:31] mhines-usgs commented on #667
I dug up the GF metadata for the POI layer in their release and put some details in the notes from our call earlier about the different fields and what they represent or provide. But even though it's interesting, I don't think there is anything there that will help us to filter the data though, unfortunately.

I also tried to join those POI data into the stream layer from ESRI to see what that loo

[2020-12-08 13:30] jenniferRapp commented on #667
Is the “NHDPlusID: attribute name from NHDPlus HR “ a name or an ID?  If it linked us to the NHDPlus HR tables then we could connect with a bunch of attributes.
Basically, I thinking that we either use the Streamer layer that makes the app very busy, or no stream names at all.

What do you guys think?

Jen

Jennifer L. Rapp, Physical Scientist
Chief, Decision Support Branch
USGS Water Mission Area

[2020-12-08 14:51] mwernimont commented on #673
@jenniferRapp  The Estimated text is on test.  For the concept map, that is in the title it is needed?

[2020-12-08 16:03] mhines-usgs commented on #667
That's an ID

I think at this point we might want to just pass on the layer names, and possibly work on a solution we can include in the future. I don't think the Streamer solution is an attractive one but seems distracting. Maybe when there is less pressure from other projects we can create your vision for some kind of national level layer with river system names/hydro regions or something to add

[2020-12-08 16:10] jenniferRapp commented on #673
@mwernimont
Estimate placement looks great.

Concept Map belongs in the Title.  If you need to remove the "Water Availability Mapper"  for space, that is fine.

[2020-12-08 16:13] jenniferRapp commented on #667
OK.  @mhines-usgs @mwernimont @lindsayplatt

Let's hold of from adding any river names or additional layers to the app for now.  Thank you very much for trying multiple avenues to solving this request. I think we can re-visit this in the New Year if we can identify a good source of river names or means to reduce the number from GF.

Jen

[2020-12-08 16:20] mwernimont commented on #673
@jenniferRapp is this okay or did we want the -Concept Map- like we did before?
![Screen Shot 2020-12-08 at 10 19 26 AM](https://user-images.githubusercontent.com/6390096/101509907-de951580-393e-11eb-859c-773706964b0e.png)

[2020-12-08 17:16] jenniferRapp commented on #673
Marty,
I think regress to “Concept Map” please.

Jen

Jennifer L. Rapp, Physical Scientist
Chief, Decision Support Branch
USGS Water Mission Area
Richmond, VA 23228
804-615-6868 (mobile and home office)
jrapp@usgs.gov<mailto:jrapp@usgs.gov>

From: Marty Wernimont <notifications@github.com>
Sent: Tuesday, December 8, 2020 11:20 AM
To: usgs-makerspace/makerspace-sandbox <makerspace-sandbox@noreply.g

[2020-12-08 19:12] mwernimont commented on #673
on test

[2020-12-09 16:06] lindsayplatt commented on #75
Putting this here because Slack is gone :(

![pheasantbranchaugust2018_upgraded](https://user-images.githubusercontent.com/13220910/101654475-30ed3980-3a06-11eb-99c4-b2be7d63f2ec.gif)

[2020-12-09 18:01] #671 closed, assigned to mhines-usgs, lindsayplatt

[2020-12-15 14:06] jenniferRapp commented on #684
@mwernimont @mhines-usgs @lindsayplatt  From Joe Nielsen's review:
•	in the application itself, I am getting some oddities when I look at the monitoring sites. Many come up with errors, and most of the pop-up boxes are so large as to run off the screen. See these screen shots:

![error2](https://user-images.githubusercontent.com/33693189/102224908-89b04c80-3eb4-11eb-98c1-e6d3f0aee9d5.png)
![error]

[2020-12-15 14:06] #691 closed, assigned to jenniferRapp

[2020-12-15 14:18] mwernimont commented on #684
Hi Jen,

The sizing is adjustable, but the pop up is designated to be where the mouse click is as that is where the site is.  If you want the pop-up center you could make the site center of the screen and it should work, but I don't really like the idea of having the pop up not right where the site is as it creates detachment in my mind.

For the new sites of course, we can use that service, but a

[2020-12-15 14:43] jenniferRapp commented on #684
@mwernimont Thanks Marty.  Let's keep it with the original graphs.  I agree, we want the graph pointing at the site and mouse click.  Could the map data move, shift or pan so that the graph is centered?   I think we could shift to 4 days to make the graphs smaller.  Looks like they do 4 full days, plus today in the graphs as they are now.  They actually plot 8 days.  Hopefully we will have model p

[2020-12-15 14:45] jenniferRapp commented on #684
@mwernimont
I need to think about the best way to tes

t all the sites to see if they have data.  These are water watch sites, so we should be able to create a request to their service and extract the values for a certain day or range of days.  Clicking to see which sites have data is not a good option.  Many sites will have ice, but others I couldn't tell why they were not reporting.

@lindsaypla

[2020-12-15 14:51] mwernimont commented on #684
@jenniferRapp I'll look to see if there is a way to get the popup to avoid being cutoff.  Outside of the sizing adjustment.

[2020-12-15 14:53] jenniferRapp commented on #673
@mwernimont I have an update to about page and Q&A that will be coming.  I created a page for Joe and John Brakebill to edit.  I'll let you know when those are finalized.  I will try to update them so that the entire paragraph can be replaced.  We are adding one new question to both water temp and water storage.

I think this is pretty good, but there could be some updates later today.  https://do

[2020-12-15 14:55] #687 closed, assigned to mhines-usgs

[2020-12-15 15:13] jenniferRapp commented on #684
I looked at the QW Watch page and can pull up a list of all sites and what data they are displaying right now.  There are a few more remarks than I saw when I created the list of stations to use.  I'll send an updated list if I find any that are discontinued, or only seasonally monitored.

Do we know if there must be degress C monitored for the graphs to plot?

[2020-12-15 15:22] mwernimont commented on #684
That is unknown to me.

[2020-12-15 15:36] jenniferRapp commented on #684
There are 1895 sites now.  I learned that some a discontinued, some are only seasonal, and while it would be nice to include them, it will give us problems most of the year.  Also numerous were internal only.  Please use this updated list as the set of stations for the monitoring graphs.  Let me know if you rather have a list of those that I deleted.
[CurrentQW_Dec15_2020.xlsx](https://github.com/

[2020-12-15 15:40] mwernimont commented on #684
@jenniferRapp a list of deleted would be nice!

[2020-12-15 15:49] jenniferRapp commented on #684
[QWwatch_toDELETE.xlsx](https://github.com/usgs-makerspace/makerspace-sandbox/files/5696971/QWwatch_toDELETE.xlsx)
here you go

[2020-12-15 15:52] jenniferRapp commented on #684
I'll be in meetings most of the day now.  Feel free to teams chat me if necessary

[2020-12-15 17:14] mwernimont commented on #684
I'll retest the new service when the sites are updated.

[2020-12-15 18:13] mhines-usgs commented on #684
the stations are updated in the s3 geojson file!

[2020-12-15 19:19] mwernimont commented on #673
@jenniferRapp do you think there are still updates coming or should I move out on this?

[2020-12-15 19:26] jenniferRapp commented on #673
I think there may still be updates coming, but If you wanted to move it out we could make final tweeks later.
Green text or Tracked changes should be updated.

Jen

Jennifer L. Rapp, Physical Scientist
Chief, Decision Support Branch
USGS Water Mission Area
Richmond, VA 23228
804-615-6868 (mobile and home office)
jrapp@usgs.gov<mailto:jrapp@usgs.gov>

From: Marty Wernimont <notifications@github.com

[2020-12-15 19:27] mwernimont commented on #684
Map panning when adjusting to the popups is up on test.  There are easing functions to play with if anyone thinks its too abrupt of a pan.  Thought it was alright as is, but let me know! This lets us keep larger graphs without them being cut off during the dynamic content switch that happens when we receive our graph request image.

[2020-12-15 19:29] mwernimont commented on #673
I'm more of a fan large chunk changes over several small ones, less chance of something being missed, so if its okay will wait for final updates to come in.

[2020-12-15 19:30] mhines-usgs commented on #684
fyi we still see those 'site/param-code combination not found' errors even with this updated list. (CurrentQW_Dec15_2020.xlsx)

here's an example where we still see a 400 response instead of 200 response
request: https://waterdata.usgs.gov/nwisweb/graph?agency_cd=USGS&site_no=05457000&parm_cd=00010&period=7
response image: ![image](https://user-images.githubusercontent.com/6920344/102261665-9a25ee

[2020-12-15 20:14] jenniferRapp commented on #684
The panning is a little abrupt, but keeps them centered. Joe was having difficulty getting the map display to move at all when the graph was half all the page.   The graph quality looks fuzzy now???

I'll finalize the text and let you know for the About and Q&A..

@mhines-usgs  I think we should share the error code issues we are having with the graph maintainers to get their take...

[2020-12-15 20:17] mwernimont commented on #684
Idk my eyes are sorta bad, but it doesn't look fuzzy to me?
![Screen Shot 2020-12-15 at 2 16 14 PM](https://user-images.githubusercontent.com/6390096/102267890-250ae700-3ee0-11eb-88a7-998c0dc4bd10.png)

[2020-12-15 20:22] jenniferRapp commented on #673
OK.. Everything that is in GREEN text should be updated/replaced.  We are good to go now.  The links for the publications will need to be maintained wherever they are in the text.  Thanks @mwernimont

[2020-12-15 20:26] mwernimont commented on #673
@jenniferRapp I apparently don't have permission to this https://doimspp-my.sharepoint.com/:w:/r/personal/jrapp_usgs_gov/_layouts/15/Doc.aspx?sourcedoc=%7B980AEF31-FB04-40E5-BFE1-1EB993BECDA1%7D&file=IWAAS_Text_Review12_12_2020.docx&wdLOR=cBEE6C040-BEC3-418D-A600-91089D9E184F&nav=eyJjIjoxMjQwMDI3NDY1fQ&action=default&mobileredirect=true

Think I could get some?

[2020-12-15 22:19] jenniferRapp commented on #684
![image](https://user-images.githubusercontent.com/33693189/102279571-9efb9a00-3ef9-11eb-95a3-bd9eaa971042.png)
Yours looks good. Mine I can't read the names well.
might depend on the monitor?

[2020-12-16 14:41] mwernimont commented on #673
@jenniferRapp just making sure you have seen this, I want to get the task done, but currently don't have access to the document you linked to.

[2020-12-16 18:00] mwernimont commented on #673
@jenniferRapp text updates on test

[2020-12-16 18:08] mwernimont commented on #684
@jenniferRapp Megan and I did our best to team work a less fuzzy graph, we think we hit a compromise?  I am still looking into a possible more constant solution, but what we have now is on test.

[2020-12-16 18:28] jenniferRapp commented on #684
Ok. I think the graphs look less fuzzy. Thank you.  The panning is good too.  Any luck with figuring out the reason for so many errors IF there is data?

[2020-12-16 18:29] jenniferRapp commented on #684
@mhines-usgs @mwernimont @lindsayplatt   I think we can move to Production.  What implications would that have IF we are still tweaking the station list for the Graphs some?   Otherwise I think we are good to go.

[2020-12-16 18:47] mhines-usgs commented on #684
as long as we replace the json file in s3 with a file by the same name, we can update that anytime even after the prod release.

[2020-12-16 18:47] mhines-usgs commented on #684
the errors are not anything we are able to fix, unfortunately. it should be something that team can look into and addresses when they decide it is a priority.

[2020-12-16 20:43] jenniferRapp commented on #684
ok

[2020-12-16 20:46] jenniferRapp commented on #673
The text look good.  I think we are ready to go to production.

Jen

Jennifer L. Rapp, Physical Scientist
Chief, Decision Support Branch
USGS Water Mission Area
Richmond, VA 23228
804-615-6868 (mobile and home office)
jrapp@usgs.gov<mailto:jrapp@usgs.gov>

From: Marty Wernimont <notifications@github.com>
Sent: Wednesday, December 16, 2020 1:00 PM
To: usgs-makerspace/makerspace-sandbox <makerspace-

[2020-12-17 14:37] jenniferRapp commented on #684
@mhines-usgs @mwernimont   Joe plans to approve at lunch.  Could you do a final check of our sites against the sites in Water Watch QW page?  There were a couple in WI that Joe found in our mapper but they don't have water temperature at the site at all. [9:23 AM] Nielsen, Joseph P

USGS Current Conditions for USGS 05429700 YAHARA RIVER @ FORTON STREET BRIDGE @ STOUGHTON,WI  USGS Current Condition

[2020-12-17 15:07] mwernimont commented on #684
@jenniferRapp we are on it and will report back!

[2020-12-17 15:25] mwernimont commented on #684
Downloaded the xslt file you gave us and the sites in question by Joe are in there.  So they are in our json data as well.  So a little recheck of the QW lists and data creation is probably needed as we don't know how many sites we don't want ended up in our data. Looking into it.
<img width="960" alt="Screen Shot 2020-12-17 at 9 23 58 AM" src="https://user-images.githubusercontent.com/6390096/102

[2020-12-17 16:32] mhines-usgs commented on #684
Ok, here are the steps I used, I have never used this site before to retrieve station info so I'd like you to review it:

1. from https://waterdata.usgs.gov/nwis/current?type=qw&PARAmeter_cds=STATION_NM,DATETIME,00010,00011 click on _Customize table to display other current-condition parameters_ link
2. find water temp F and water temp C in list and put 3, 4 in their boxes
3. scroll down to output

[2020-12-17 17:03] jenniferRapp commented on #684
I would just join the two tables together to see which sites are common to both.  Most of those site types have to come out.  Lake, ditch, es.. nothing but streams.

[2020-12-17 17:05] mhines-usgs commented on #684
Sorry, I'm not understanding the first comment? Join which tables?

So only leave stations that are ST?

[2020-12-17 17:08] jenniferRapp commented on #684
The one I pulled and is the excel file, or the file that is IN the mapper now, to the sites you pulled today that show the temperature data on the website should be joined together.

I think I only kept ST last time.

Jen

[2020-12-17 18:37] mhines-usgs commented on #684
for posterity, sent jen the csv to review, here is the csv version and the geojson version that is ready to replace the file in s3
[csv_geojson.zip](https://github.com/usgs-makerspace/makerspace-sandbox/files/5711475/csv_geojson.zip)

[2020-12-17 21:47] jenniferRapp commented on #684
I used the file Megan shared that represents the current sites in the Mapper "common_temp" and checked against a pull of data straight from the webpage displaying current conditions for Temperature water watch sites.  Any sites that had old temp data (Sept, May) were omitted.  Any sites that were not listed on that website I deleted too.  New file to delete from our current QW monitoring points =

[2020-12-17 22:05] mhines-usgs commented on #684
ok, I removed those 274 locations from the common_temp.csv and recreated the geojson and uploaded to s3! 🚀

[2020-12-17 23:25] jenniferRapp commented on #684
I'm checking them and there are almost no sites that respond with no data in WI or in the Northeast (NY north).  I did find a few that need zeros up front which were missing.  Would it be crazy for us to split up the country and click on each site to make sure it has data or it says "no data were available for specified period"?  I think the ones that come up with a mismatch in parameter code migh

[2020-12-17 23:35] jenniferRapp commented on #684
@mhines-usgs   Could we check the station numbers based on their lat longs?  IF they are east of ~Wyoming they should have a zero in front.  Can you think of a good way to verify? I'm finding a lot that are off.

[2020-12-17 23:59] mhines-usgs commented on #684
yes, I'll double check. Sorry if I goofed that up.

[2020-12-18 15:25] jenniferRapp commented on #684
This is a real challenge when working with National lists of stations. I want to suggest to Emily and wdfn that they distribute data with USGS016023000 format because it would do wonders for people trying to keep the station IDs as text and not lose the zeros.  Sorry I didn't do a better job maintaining them for you when I provided the lists.  Hopefully we can get these verified and updated in a s

[2020-12-18 15:33] mhines-usgs commented on #684
i have a meeting soon and will fix them up afterwards, fyi.

[2020-12-18 16:14] jenniferRapp commented on #684
Don may want a demo this afternoon, so as soon as you are able to fix the better.

Jen

Jennifer L. Rapp, Physical Scientist
Chief, Decision Support Branch
USGS Water Mission Area
Richmond, VA 23228
804-615-6868 (mobile and home office)
jrapp@usgs.gov<mailto:jrapp@usgs.gov>

From: Megan Hines <notifications@github.com>
Sent: Friday, December 18, 2020 10:33 AM
To: usgs-makerspace/makerspace-sandbox

[2020-12-18 16:58] mhines-usgs commented on #684
pushed an update, clicking around now to feel somewhat confident... i found one so far that is still not working, but it appears to be an equipment malfunction
040871476, https://waterdata.usgs.gov/monitoring-location/040871476/#parameterCode=00010
i'll keep doing some clicking before feeling good.

[2020-12-18 17:00] mhines-usgs commented on #684
still found a few :hair-pulling: so will keep fixing.

[2020-12-18 17:04] mhines-usgs commented on #684
another malfunction: 01120790

[2020-12-18 17:10] jenniferRapp commented on #684
Sorry about the hair pulling.  I intentionally left in the Equp malfunction sites because I assume teh WSC are fixing them.  There are only a few.  As long as the station IDs are good, we should be fine, @mhines-usgs

[2020-12-18 17:17] mhines-usgs commented on #684
that's cool. the popups just look the same, so it's not immediately obvious! thanks for confirming :) I hope Don like it!! 🤞

[2020-12-18 17:22] jenniferRapp commented on #684
I hope he likes it too.  No indication from Pat either way.  :| But I like it and I think we have done a great job building it.  Is it pushed to Production now?

Thanks, sorry about the last minute requests.  Started with Joe after he looked at the prod cite yesterday am...

[2020-12-18 17:40] mhines-usgs commented on #684
yep, the latest updates are visible on prod. it's ok, i just am a bit distracted with other work but am around if you notice any other issues. im doing one more scan on the list.

[2020-12-18 17:50] jenniferRapp commented on #684
Thanks Megan,
My checks show me that the updates you made worked well.  THANK YOU again.

[2020-12-30 19:07] lindsayplatt commented on #695
Some weirdness on test: I see a really large map, but really tiny bars. I am on TEST on my laptop screen only right now using Chrome. The map is huge but the bar chart looks teeny tiny. Since the map is so big, I can't see it all in one view. Passing this along in case we want to fix.

![image](https://user-images.githubusercontent.com/13220910/103375340-a09f9300-4a9f-11eb-89e1-6a53e8fb5cc3.png)

[2021-01-04 15:37] jenniferRapp commented on #695
Looking today, @lindsayplatt  I don't see any issues.  Is this still happening for you?

[2021-01-04 15:43] lindsayplatt commented on #695
Yes, this is still happening for me

[2021-01-04 15:48] jenniferRapp commented on #695
@mwernimont Can you take a look at this issue that Lindsay is having?  The bar chart at the bottom of her screen is tiny for Water Use.  I don't believe it's happening for me.

[2021-01-04 15:53] mwernimont commented on #695
Sure, will see if I can replicate.  @lindsayplatt you have a windows machine right?

[2021-01-04 15:56] lindsayplatt commented on #695
Yep - I am in a Chrome browser on a machine running Windows 10

[2021-01-04 18:58] mwernimont commented on #695
Looks like we solved this specific issue: https://github.com/usgs-makerspace/wbeep-viz/pull/640

Will be on test soon

[2021-02-02 17:14] #686 closed, assigned to jenniferRapp

[2021-02-02 17:15] #695 closed, assigned to mwernimont, mhines-usgs, lindsayplatt, jenniferRapp

[2021-02-02 17:21] jenniferRapp opened #696 "Water Temperature color scheme is representative of accuracy of model through binning/discrete categories. Color selection is colorblind compliant."
This new issue is in response to Don Cline's comments regarding the Water Temperature mapper.  When we receive his slides we will develop a plan for updating the colors scheme and determining the most appropriate way to bin the temperatures or to leave continuous data.  At present (Feb 2, 2021) the work is not extremely pressing because Pat may wish for the documentation of the national water temp

[2021-02-02 17:21] jenniferRapp opened #697 "QAQC implementation for Water Storage"
Use the code that Lindsay and others have developed as a starting point to provide QAQC of the modeled variables that contribute to the water storage mapper.  Brainstorm ways that we could simply provide a visual interface for modelers to see the values of individual parameters and highlight HRUs that are 'out of bounds' in some way.  Make comparisons with authoritative datasets from other sources

[2021-02-02 17:28] jenniferRapp commented on #696
- [ ] Color Blind or 508 compliant - research general guidelines for gov websites.
- [x] Cartography advice.  Jen Bruce and Hayley Corson-Dosch   (Lindsay will reach out, but want the slide in hand)
- [ ] Use color to show accuracy of the model results. - how could we bin temps appropriately? Issues with this when you get close to the edge of a bin.  Make the bins the size of the accuracy? +-3 = 3

[2021-02-02 17:42] jenniferRapp commented on #697
QAQC of the modeled variables that contribute to the water storage mapper.

- [x] Brainstorm ways that we could simply provide a visual interface for modelers to see the values of individual parameters and highlight HRUs that are 'out of bounds' in some way.  % change from the previous model run?

- [ ] Provide written report of HRUs and variables that are out of bounds in relation to the quantile

[2021-02-02 17:45] jenniferRapp opened #698 "Re-deploy the Water Storage Mapper (only)"
When the modelers are happy with the Pipeline 2 updates and the data are correct, re-deploy the Water Storage pipeline.  I don't think we will deploy Water Temperature for a long time (months to year) and I don't know about wateruse.  What are some options for removing the Temperature and Use tabs from the Prod server?  The About page content could be updated to represent only water storage and co

[2021-02-03 16:52] jenniferRapp commented on #697
@mhines-usgs  @mwernimont  @lindsayplatt Can you all do a little brainstorming to help me understand what you think would be possible for these diagnostic tools?

[2021-02-03 17:00] mhines-usgs commented on #697
initial thoughts on what we would need to understand to create a tool to look at the data beyond the simple threshold checks or known bad hru validations we currently have:
can the modelers identify/provide us with information on where 1) which values 'might go wrong?' and 2) provide us easy to implement guard rail values for every/or known potential problem data type for us to compare with incomi

[2021-02-03 17:46] lindsayplatt commented on #697
In addition to Megan's comments above, I would offer the following:

1. What are the expected "real-world" limits that can be applied to each data type (temperature, snowpack, soil moisture, etc)? We have a rough check of 10,000 mm but that is just a "we know this means something is REALLY wrong" check,
2. How do they troubleshoot issues? I imagine that they would want to know the HRU ID or the se

[2021-02-03 20:29] jenniferRapp commented on #697
Thank you.  I combined your responses and created a draft for the modelers to respond to.  Feel free to add or suggest updates.

https://teams.microsoft.com/l/file/656A36B4-A8A4-4FD3-8B67-66DDFBC9F04E?tenantId=0693b5ba-4b18-4d7b-9341-f32f400a5494&fileType=docx&objectUrl=https%3A%2F%2Fdoimspp.sharepoint.com%2Fsites%2FWBEEP%2FShared%20Documents%2FOperationalization%20NHM%2Fcomms%2FDiagnostics.docx&b

[2021-02-05 18:34] mhines-usgs commented on #696
even though we haven't heard anything from our expert inquiries yet, I thought I would look at this for a little while this morning

created tiles locally styled with 3 degree categorical bins, using this color swatch on a white background (the site says it should be colorblind safe) https://colorbrewer2.org/#type=diverging&scheme=RdBu&n=10
![image](https://user-images.githubusercontent.com/692034

[2021-02-05 21:15] cnell-usgs commented on #575
this is being tracked elsewhere: https://github.com/usgs-makerspace/temperature-prediction/issues/166

[2021-02-05 21:15] #575 closed, assigned to nobody

[2021-02-09 16:14] mhines-usgs commented on #698
http://wbeep-test-website.s3-website-us-west-2.amazonaws.com/estimated-availability/#/water-storage
Marty and I worked to figure out a clean way to remove the water temp and storage content. Please let us know if you think the About page looks OK, we just commented out the entire sections for water temp and use, and adjusted a few sentences where they were tied together. You can see the code diff

[2021-02-10 14:27] jenniferRapp commented on #696
[Monday 5:23 PM] Platt, Lindsay R

Reporting out from the Vizlab meeting about colors Rapp, Jennifer L Hines, Megan K Wernimont, Martin (Contractor) R

I shared the slide that critiqued the color ramp. We had a really great discussion that wove its way through user needs/experiences, designer instinct, and color theory. Below were some of the main points/conclusions.

- Color is hard; especially f

[2021-02-10 14:27] jenniferRapp commented on #696
**Lets try to implement the color ramp that we have but using 4-5 colors.  Try to stay away from colors that look like the background, and see if you can identify a tool to ensure they are each distinguishable from each other and the background.**

[2021-02-10 16:36] mhines-usgs commented on #696
I made some adjustments to the above PR to use fewer bins, and played with the legend a little and at least got some map-legend-like swatches instead of the gradient but not quite there yet as I had a hard time aligning the labels to the color swatches. I asked Marty to check out the legend sometime if he has time. I think the background color that provides the most contrast is white.

I plan to s

[2021-02-10 18:45] jenniferRapp commented on #697
A few comments from Rich McDonald: I think the key here is to have a modern (in format and accessibility)  archive of historical and daily operational output that is easily available through an api. This would enable easy development of various dashboards as well as aid the development of tools to compare simulated and measured data.

Regarding input data checks.  For both input and output, it wou

[2021-02-10 18:57] jenniferRapp commented on #697
Thinking about maintaining an archive of the full modeled data sounds like it should happen in Threads or similar.  What do you think about working with data coming out of threads?

[2021-02-10 19:04] jenniferRapp commented on #698
I think it looks very nice.  Thank you Megan and Marty.  I think your edits to the About page work.  We may need to get the modelers to update the Q&A section for more clear wording of things.   The only thing I saw was one place where there is a space before a period at the end of the first sentence in the About page.

There was discussion about the Water Use going back into prod.  They are talki

[2021-02-10 19:15] mhines-usgs commented on #698
sure, I don't see why we can't share Test out with them.

I'll make a quick fix for that extraneous space, thanks for noticing it!

[2021-02-12 16:43] mhines-usgs commented on #696
for the merge we just pushed, putting this contrast test results here, doesn't seem great in the mid range so will look at more options soon. https://contrastchecker.com/ (granted this is for text so reading more here about non-text contrast ratios) https://webaim.org/articles/contrast/#ratio
![image](https://user-images.githubusercontent.com/6920344/107796124-1cd3fa00-6d1f-11eb-9725-fa0d3e3ceec7.

[2021-02-12 17:03] mhines-usgs commented on #697
It sounds like the data modelers are in need of data management tools and processes more than data validation, doesn't it? Is that something we want to be involved in? I personally feel like data management is something to stay away from (like GCMRC AHHHHHH, RUNNNN)

If they want their model data to go into a THREDDS server, that definitely seems possible (I'm fairly sure Tim Kern had asked Ivan t

[2021-02-16 22:09] jenniferRapp commented on #697
I think that the modelers are working with HiTest to get the data into THREDDS.  I would just suggest that we work with the output and develop an interface that would highlight useful characteristics of the data, recent or historical.

[2021-02-22 17:02] jenniferRapp commented on #696
Discussed today (Megan SL) Pick three different color ramps from Megan's PPT and show why they are good options. Write up a _brief_ explanation for how we tested and selected these three, using the contrast checker and other tools.   Then we will have this in our back pocket for the next release.  I def would consider sharing with Pat and modelers to help them see how we addressed Don's questions.

[2021-02-26 22:40] mhines-usgs commented on #696
I've been looking at this on and off since Jen and I met last week and took a look at some of the examples I was working with, and it's super challenging to get appropriate levels of contrast with a background color, for the kind of ramp we are looking at using. I can explain more Monday but just wanted to throw this in there in case you all have time to think about that before we meet again.

[2021-03-01 15:26] jenniferRapp commented on #696
We can def take some time to look with you, Megan.  I don't have the PPT you were showing me last time you and I spoke.

[2021-03-01 16:13] mhines-usgs commented on #696
Sorry about that, I just put it up on Teams in the Filespace here:
https://teams.microsoft.com/l/file/D05CF58C-D511-47C3-8C97-7C7C0134FD49?tenantId=0693b5ba-4b18-4d7b-9341-f32f400a5494&fileType=pptx&objectUrl=https%3A%2F%2Fdoimspp.sharepoint.com%2Fsites%2Fgs-wma-iidd-makerspace%2FShared%20Documents%2FProject%20-%20WBEEP%20NHM%2Fcontrast%20color%20schemes%20investigation.pptx&baseUrl=https%3A%2F%2F

[2021-03-11 13:26] jenniferRapp commented on #697
@mhines-usgs @lindsayplatt
I'm hoping Megan can work on the quantile evaluations.  Nicole said she could free up some of your time from the SD project if needed.

Refine the numeric values that our processes use to check against the model output. Alert folks about the 6 variable individual values.

- [ ]  The output of those checks provides tables of the values and HRUs in question that Steve coul

[2021-03-11 13:27] jenniferRapp commented on #684
@mwernimont would you let me know the status of the pop-ups and whether the 'newer' plots are going to work?  I think that my preference is to set the display back to the original 'old' water temp plots.

[2021-03-11 15:12] mhines-usgs commented on #697
I'm happy to try, I may beg for some Lindsay help if I get stuck, I'm not a big data whiz like her team!

[2021-03-11 15:20] mhines-usgs opened #699 "Update data processing pipeline test output behavior"
write errors into email if possible, or else post file to s3 with a link

[2021-03-11 16:05] lindsayplatt commented on #697
Happy to help as needed and do peer code reviews, too

[2021-03-12 23:03] mhines-usgs commented on #697
I've generated quantiles for each variable using the historic data from Steve that we had used to generate the latest set of total storage quantiles + the same scripts and slurm files on yeti to generate them, but only operating on one of the variables at a time. The quantile outputs are pretty large overall (6 rds files between 80MB and 3.6GB) and are being uploaded into s3, but I am not sure if

[2021-03-15 14:55] mhines-usgs commented on #697
@lindsayplatt  does that seem like a "legal use" of the existing scripts to generate quantiles for each variable?

[2021-03-15 15:17] lindsayplatt commented on #697
Yes, I think so. These are adding additional "validation" steps, so it makes sense to me

[2021-03-15 19:54] mhines-usgs commented on #697
@jenniferRapp can you confirm the comparisons you're looking for? I may be interpreting it wrong right now, but it won't be hard to fix.

using the scripts we have calculated quantile values for each variable, for each hru, between 0-100, at each 5% increment. i then took the 90th% value you mentioned and multiplied it by 150% to get a new max value, which I compare the daily value to, in order to

[2021-03-15 20:12] jenniferRapp commented on #697
Megan, you are doing it the way I imagined.  I was just also curious if the 'raw' max values were very different from the 90th percentile.  I tend to think the 150% of the 90th will be sufficient.

[2021-03-15 20:35] mhines-usgs commented on #697
here are outputs from my current comparisons using the newly calculated quantiles for each variable + calculated max values (1.5*90th) for what we know was a bad day on 2020-12-20

[2020-12-20_daily_vs_historic_comparison.zip](https://github.com/usgs-makerspace/makerspace-sandbox/files/6144278/2020-12-20_daily_vs_historic_comparison.zip)

each variable gets a csv output with the following data: hr

[2021-03-15 20:39] jenniferRapp commented on #697
Thanks, Megan.  I'll take a look, but it may be later this evening or tomorrow AM

Jen

Jennifer L. Rapp, Physical Scientist
Chief, Decision Support Branch
USGS Water Mission Area
Richmond, VA 23228
804-615-6868 (mobile and home office)
***@***.******@***.***>

From: Megan Hines ***@***.***>
Sent: Monday, March 15, 2021 4:36 PM
To: usgs-makerspace/makerspace-sandbox ***@***.***>
Cc: Rapp, Jennifer

[2021-03-15 20:58] mhines-usgs commented on #697
no rush on my part! i have other work to fall back on.

(presuming this is after they fixed the bug) I grabbed the most recent data that went through the pipeline for 2021-03-13 and here are those outputs as well. I don't think we can get much more seasonal variation given that this version of the model has only been running since December - today (with a fix pushed out somewhere in there but I'm

[2021-03-16 15:26] jenniferRapp commented on #697
Really interesting.  The HRUs that are > max_value are different for each variable for the Dec 12th date.  I think we might need some check for zero values.  I'm still poking around

[2021-03-16 16:02] jenniferRapp commented on #697
There are quite a few HRUs that seem above the max_value today.  Many of the daily values are close to the max_value though.  Since I don't know what the actual maximum values are for each day it's hard to say whether these might be reasonable predictions and just a little higher than the long term data.  I'm leaning toward **running this with the 95th quantile to see if we get a lot fewer HRUs re

[2021-03-16 16:10] mhines-usgs commented on #697
I can do a comparison against the max HRU value (regardless of day of year), and separately modify and post results for 95th quantile. in that case, do we just compare the value of 95th with today's value? (No multiplier like 90th*1.5?)

[2021-03-16 17:27] jenniferRapp commented on #697
I would still use the multiplier 1.5 with the 95th percentile.

[2021-03-16 19:03] mhines-usgs commented on #697
Here are comparisons for the two dates using the 95th instead of 90th
[2020-12-20_daily_vs_historic_comparison_95th.zip](https://github.com/usgs-makerspace/makerspace-sandbox/files/6151595/2020-12-20_daily_vs_historic_comparison_95th.zip)
[2021-03-13_daily_vs_historic_comparison_95th.zip](https://github.com/usgs-makerspace/makerspace-sandbox/files/6151615/2021-03-13_daily_vs_historic_comparison_95

[2021-03-16 19:41] mhines-usgs commented on #697
comparisons for those two dates against the max value for each variable for each HRU

maxes calculated using: [this script on yeti](https://github.com/usgs-makerspace/wbeep-processing/blob/b9e7681ffef1ceb49485ffd550e1d1b0aec48d11/src/calc_max.R)
the maxes:
[max_variables_hru.zip](https://github.com/usgs-makerspace/makerspace-sandbox/files/6151796/max_variables_hru.zip)

[2021-03-13_daily_vs_max_co

[2021-03-16 19:44] mhines-usgs commented on #697
summarizing what I see running the comparisons for daily values against max with some on-screen logging:

for 2020-12-20
There were 84 values above their highest max for soil_moist_tot.
There were 2 values above their highest max for hru_intcpstor.
There were 9 values above their highest max for pkwater_equiv.
There were 1 values above their highest max for hru_impervstor.
There were 2 values abov

[2021-03-17 18:48] mhines-usgs commented on #697
i haven't merged it yet, but I added additional comparisons against each variable's calculated max value (of all time/regardless of day of year) to the current daily data validations, adjusted the final text log output so its more complete for all the comparisons performed, and also have adjusted the pipeline to push all the output from the comparisons (csvs and the text log) up to s3 into a tier-

[2021-03-17 19:09] jenniferRapp commented on #697
are you retaining the 90th or 95th comparisons?  am going to look at the 95th now.

[2021-03-17 19:12] mhines-usgs commented on #697
currently it's set in this pull request with the 95th! that and anything else can change!!

[2021-03-17 19:23] jenniferRapp commented on #697
I think that sounds good, Megan.  It will be interesting to have Jacob take a look and give us some feedback.  Could we name the max_value "max_value150x95Q"  or something like that?  or even max_value150xQ.  I am looking for a way to express units and be explicit for what the columns contain.

[2021-03-17 19:45] mhines-usgs commented on #697
sure, I went with max_value150x95Q to be most explicit, and updated the language in the text log too.

[2021-03-18 13:44] jenniferRapp commented on #697
Can we run it for December and March and I will share with Jacob.  Or you can direct him to the files? What is the best way to get a review of the output and proposed process?

[2021-03-18 14:08] mhines-usgs commented on #697
sure I can re-run it for him with the updated column names and post those files to where they would be going if we were running it and pushing out to s3. once we merge it i could share the email example too.

[2021-03-18 14:42] mhines-usgs commented on #697
here are the output file in s3 for 2020-12-20:

Test result summary:
https://wbeep-test-website.s3-us-west-2.amazonaws.com/estimated-availability/date/test_results/order_of_magnitude_test_2020-12-20.txt

Review model output comparison outputs:
Daily values exceeding historical quantiles 95th%x1.5:
https://wbeep-test-website.s3-us-west-2.amazonaws.com/estimated-availability/date/test_results/dprst_

[2021-03-18 15:20] jenniferRapp commented on #697
@mhines-usgs  I don't have access to those links.

[2021-03-18 15:21] mhines-usgs commented on #697
are you on VPN? the wbeep-test site is internal only

[2021-03-18 15:30] jenniferRapp commented on #697
works now.

[2021-03-18 15:51] jenniferRapp commented on #697
Why do you think that soil moisture has more values greater than the max value ever (84) than the number of HRUs that were greater than 150X95Q (36)?   The Max value ever for soils has the HRU column in the second column instead of first.

the max value ever is defined as the maximum 'soil moisture' value measured across all days and years for a given HRU?  or
maximum 'soil moisture' value measure

[2021-03-18 16:24] mhines-usgs commented on #697
i think if you look closely at the number in the csv for higher than ever, they are almost identical values but slightly higher to make it say its greater?
![image](https://user-images.githubusercontent.com/6920344/111660822-762abf80-87dc-11eb-8eec-c39ecd000ab9.png)
the max value ever is the maximum soil moisture value for any day and year for a given HRU. It is HRU specific, just the maximum valu

[2021-03-26 22:31] mhines-usgs commented on #697
Jacob liked the idea, but also wanted to see the data on maps, here's a quick and dirty first attempt
https://github.com/usgs-makerspace/wbeep-processing/pull/186
with the output that I ran locally here in s3 for 2021-03-13 as an example
https://wbeep-test-website.s3-us-west-2.amazonaws.com/estimated-availability/date/test_results/order_of_magnitude_test_2021-03-13.html

[2021-06-08 18:51] mhines-usgs opened #700 "Snowtel"
- [ ] where does snowtel data exist
- [ ] overlay with HRU layer to show where they overlap
- [ ] compare results for given day

[2021-06-08 19:05] mhines-usgs commented on #700
seems they have a daily data dump appearing here, which includes site metadata like lat/long i can use to map the data. https://www.wcc.nrcs.usda.gov/ftpref/data/water/wcs/gis/data/sntl_data.csv
they also have 'normals' for last 30 years https://www.wcc.nrcs.usda.gov/ftpref/data/snow/snotel_normals/1971-2000/
can use sitenum param to also find this page and perhaps scrape if needed. they provide s

[2021-06-08 21:11] mhines-usgs commented on #700
![image](https://user-images.githubusercontent.com/6920344/121249055-c492ac00-c869-11eb-970a-bf015832cfae.png)

seems like it should be easy on a daily basis to be able to grab the snotel data from that csv link above.

the metadata explaining the columns is here https://www.wcc.nrcs.usda.gov/ftpref/data/water/wcs/gis/data/sntl_data.readme

this simple bash command could be used daily to grab it a

[2021-08-18 18:29] mhines-usgs commented on #700
met with @jenniferRapp 8/18 and discussed moving this comparison forward along with some other possible inclusions in the report
- [ ] fix report URLs for beta and prod and move all test results into public s3 space
- [ ] create a snotel data comparison for sites that overlap our HRUs ([what variable](https://www.wcc.nrcs.usda.gov/ftpref/data/water/wcs/gis/data/sntl_data.readme) should we use for

[2021-08-18 18:36] jenniferRapp commented on #700
[iwaas_mapper_comparison_20210815.pptx](https://github.com/usgs-makerspace/makerspace-sandbox/files/7009379/iwaas_mapper_comparison_20210815.pptx)
 Jacob's comparisons for examples.

[2021-08-18 18:50] jenniferRapp commented on #700
https://weather.msfc.nasa.gov/sport/case_studies/lis_CONUS.html   I found this experimental map from NOAA.  I'm thinking we want soil moisture in 0-10 cm depth.  I'll send it along to Jacob and see what he thinks   These are not as nice as the GRACE based soil moisture maps that we might try to just plot against a map of our soil moisture maps.
https://nasagrace.unl.edu/data/20210816/GRACE_SFSM_20

[2021-08-18 19:10] mhines-usgs commented on #700
nice
saving these for later megan - example soil moisture map request from the first link mentioned: https://weather.msfc.nasa.gov/cgi-bin/basicLooper.pl?category=lis_CONUS&initialize=first&regex=vsm0-10percent_20210818

looks like you can just get the image that page displays along with a legend with this request: https://weather.msfc.nasa.gov/sport/dynamic/lis_CONUS//vsm0-10percent_20210818_00z_

[2021-08-25 18:22] jenniferRapp commented on #700
I heard back from Jacob about our plans.  He likes the **SnoTel** comparisons and confirmed that the data in Concept Map is SWE.  The comparison of depth first makes sense.  convert inches to mm.

The general comparison of **60-day precip** to the image of our concept map will give qualitative comparisons of what is publicly served by other agencies and our work.

For **soils** his preference woul